{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block content %}
<h2>Berkeley Phylogenomics Group Affiliations and Collaborations</h2>

<ul>
  <li><a href="http://qb3.berkeley.edu/ccb/">Center for Computational Biology,</a> University of California at Berkeley</li>
  <li><a href="http://globalhealth.berkeley.edu/cend/">Center for Emerging and Neglected Diseases,</a> University of California at Berkeley</li>
  <li><a href="http://microbe.berkeley.edu/idgroup/">The Graduate Group in Infectious Disease and Immunity,</a> University of California at Berkeley</li>
</ul>
{% endblock %}
