{% extends "common/base.html" %}
{% block extrastyle %} {% endblock %}

{% block title %}Courses{% endblock %}

{% block content %}
  <h2>Courses</h2> 
  
  <p> <a href="http://makana-static.berkeley.edu/BIOE144/">Bioengineering 144/244 - Introduction to Protein Informatics</a> </p> 

  <hr />

  <h3 style="color:#074987">Courses offered in previous years</h3>
  <p> 
    <a href="http://makana-static.berkeley.edu/PythonCourse/">Unix and Python for Bioinformatics - Fall 2011</a><br />
    <a href="http://makana-static.berkeley.edu/BIOE240/">Bioengineering 240 - Topics in Computational Biology and Evolution</a><br />
    <a href="http://makana-static.berkeley.edu/PMB200/">Plant and Microbial Biology 200B/220B - Genomics and Computational Biology</a>
  </p> 
{% endblock %}
