
{% extends "common/base.html" %}
{% block extrastyle %}<style type="text/css">
  .bold-name {font-style: bold; font-weight: bold;}
  .journal {font-style: italic;}
  .comment {font-style: italic;}
  .author {}
  .pub_title {}
</style>
{% endblock %}

{% block title %}Berkeley Phylogenomics Group Funding Acknowledgments{% endblock %}

{% block content %}

  <div class="content" id="content"> 
   
   
    <div class="large_inset"> 
      <h2>Current Grants</h2> 
   
      <ul> 
        <li> 
          Funding Agency: Department of Energy<br /> 
          Division: Biological and Environmental Research<br /> 
          Title: Phylogenomic tools and web resources for the Systems Biology Knowledgebase<br /> 
          
          Grant number: DE-SC0004916<br /> 
          Project duration: 2010-2013<br /> 
          PI: Kimmen Sj&ouml;lander<br /> 
        </li> 
   
        <br /> 
        <li> 
          Funding Agency: National Science Foundation<br /> 
          Division: Division of Molecular and Cellular Biosciences<br /> 
          Title: EAGER: Towards a self-organizing map and hyper-dimensional information network for the human genome<br /> 
          
          Grant number: <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=1355632">1355632</a><br /> 
          Project duration: 2013-2015<br /> 
          PI: Kimmen Sj&ouml;lander<br /> 
        </li>
      </ul> 
   
      <h2>Prior Grants</h2> 
   
      <ul> 
        <li> 
          Funding Agency: National Science Foundation<br /> 
          Division: Division of Molecular and Cellular Biosciences<br /> 
          Title: The PhyloFacts Phylogenomic Encyclopedia of Microbial Protein Families<br /> 
          
          Grant number: <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0732065">0732065</a><br /> 
          Project duration: 2007-2010<br /> 
          PI: Kimmen Sj&ouml;lander<br /> 
          Co-PIs: Andrej &#352;ali (UCSF),  Jo&atilde;o Carlos Setubal (Virginia Tech.)
        </li>
        <li> 
          Funding Agency: National Science Foundation<br /> 
          Division: Division of Molecular and Cellular Biosciences<br /> 
          Title: The Berkeley-TIGR Phylogenomic Encyclopedia of Microbial Protein Families.<br /> 
          Grant number: <a href="http://www.nsf.gov/awardsearch/showAward.do?AwardNumber=0626651">0626651</a><br /> 
          Project Duration: 2006-2007<br /> 
          PI: Kimmen Sj&ouml;lander<br /> 
          Co-PI: Owen White (TIGR)<br /> 
        </li> 
   
        <br /> 
        <li> 
            Funding Agency: National Institutes of Health<br /> 
            Division: National Human Genome Research Institute.<br /> 
            Title: High throughput phylogenomic analysis of animal proteins.<br /> 
            Grant number: R01 HG002769<br /> 
            Project Duration: 2004-2009<br /> 
            PI: Kimmen Sj&ouml;lander
        </li> 
         
        <br /> 
         
        <li> 
            Funding Agency: National Science Foundation<br /> 
            Presidential Early Career Award in Science and Engineering (PECASE).<br /> 
            Division: Division of Biological Infrastructure<br /> 
            Title: PECASE: Investigation of Disease-Resistance Proteins in Flowering Plants.<br /> 
            Grant number: <a href="http://www.fastlane.nsf.gov/servlet/showaward?award=0238311"> 0238311</a><br /> 
            Project Duration: 2003-2008<br /> 
            PI: Kimmen Sj&ouml;lander<br /> 
        </li> 
      </ul> 
    </div> 
  </div> 
{% endblock %}
  
