{% extends "common/legacy_base.html" %}

{% block extrastyle %}{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}


{% block content %}
<h2>Bioinformatics Seminar</h2>
<h4>An occasional seminar series on bioinformatics, at Berkeley and beyond!</h4>

<hr>
<h2>
  <b>Title:</b>
  <a href="http://phylogenomics.berkeley.edu/seminar/current/20100128.php">Computing Big Trees: Hardware, Parallelism, and Algorithms</a>
</h2>
<p>
  <b>Speaker:</b>
  <a href="http://wwwkramer.in.tum.de/exelixis/people.html">Dr. Alexandros Stamatakis</a>,
  <a href="http://wwwkramer.in.tum.de/exelixis/">The Exelixis Lab</a>,
  <a href="http://portal.mytum.de/welcome">Technical University of Munich</a>
</p>

<p><b>Time:</b> 2:00-3:00pm, Thursday, January 28th, 2010</p>
<p>
  <b>Place:</b> 221
  <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20100128.php">Abstract</a></b>
</p>



<hr>
<h2>
  <b>Title:</b>
  <a href="http://phylogenomics.berkeley.edu/seminar/current/20090609.php">Large-Scale Clustering of Protein Sequences - Detection of Functionally Related Proteins with Transitivity Clustering</a>
</h2>

<p>
  <b>Speaker:</b>
  <a href="http://www.icsi.berkeley.edu/~jbaumbac/">Dr. Jan Baumbach</a>,
  <a href="http://www.icsi.berkeley.edu">International Computer Science Institute</a>,
  <a href="http://www.berkeley.edu">University of California at Berkeley</a>
</p>

<p><b>Time:</b> 12:00-1:00pm, Tuesday, June 9th, 2009</p>

<p>
  <b>Place:</b> 321
  <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20090609.php">Abstract</a></b>
</p>



<hr>
<h2>
  <b>Title:</b>
  <a href="http://phylogenomics.berkeley.edu/seminar/current/20090603.php">
    <i>Trichomonas vaginalis</i> genome annotation validation via
proteomics and phylogenetics</a>
</h2>

<p>
  <b>Speaker:</b> Dr. Richard D. Hayes,
  <a href="http://www.mbi.ucla.edu">Molecular Biology Institute</a>,
  <a href="http://www.ucla.edu">University of California at Los Angeles</a>
</p>

<p><b>Time:</b> 1:00-2:00pm, Wednesday, June 3rd, 2009</p>

<p>
  <b>Place:</b> 321
  <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20090603.php">Abstract</a></b>
</p>


<hr>
<h2>
  <b>Title:</b> <a href="http://phylogenomics.berkeley.edu/seminar/current/20090519.php">SAT&eacute;: Simultaneous Alignment
and Tree Estimation</a>
</h2>

<p>
  <b>Speaker:</b>
  <a href="http://www.cs.utexas.edu/~tandy">Dr. Tandy Warnow</a>,
  <a href="http://www.cs.utexas.edu">Department of Computer Science</a>,
  <a href="http://www.utexas.edu">University of Texas at Austin</a>
</p>

<p><b>Time:</b> 4:00-5:00pm, Tuesday, May 19th, 2009</p>

<p>
  <b>Place:</b> 321
  <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20090519.php">Abstract</a></b>
</p>


<hr>
<h2>
  <b>Title:</b>
  <a href="http://phylogenomics.berkeley.edu/seminar/current/20090317.php">Mitochondrial &beta;-Barrel Proteins, an Exclusive Club?</a>
</h2>

<p>
  <b>Speaker:</b>
  <a href="http://seq.cbrc.jp/personal/horton">Dr. Paul Horton</a>,
  <a href="http://www.cbrc.jp/index.eng.html">Computational Biology Research Center</a>,
  <a href="http://www.aist.go.jp/index_en.html">Advanced Industrial Science and
Technology (AIST)</a>,
  <a href="http://www.tourism.metro.tokyo.jp/english/">Tokyo</a>,
  <a href="http://www.jnto.go.jp">Japan</a>
</p>

<p><b>Time:</b> 1:00-2:00pm, Tuesday, March 17th, 2009</p>

<p>
  <b>Place:</b>
  321 <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20090317.php">Abstract</a></b>
</p>


<hr>
<h2>
  <b>Title:</b>
  <a href="http://phylogenomics.berkeley.edu/seminar/current/20090202.php">Theoretical and Practical Results on the Aligning Alignments Problem</a>
</h2>


<p>
  <b>Speaker:</b>
  <a href="http://www.DeanStarrett.com/">Dr. Dean Starrett</a>,
  <a href="http://www.cs.arizona.edu">Dept. of Computer Science</a>,
  <a href="http://www.arizona.edu/">University of Arizona</a>
</p>

<p><b>Time:</b> 1:00-2:00pm, Monday, February 2nd, 2009</p>

<p>
  <b>Place:</b>
  321 <a href="http://www.berkeley.edu/map/maps/BC56.html">Stanley Hall</a>
</p>

<p>
  <b><a href="http://phylogenomics.berkeley.edu/seminar/current/20090202.php">Abstract</a></b>
</p>

<hr>

<br>
<p>Previous Seminars:
  <a href="http://phylogenomics.berkeley.edu/seminar/2008/">2008</a>,
  <a href="http://phylogenomics.berkeley.edu/seminar/2007/">2007</a>
</p>

<hr>
<br>
<p>
  To receive announcements of future seminars in this series, please subscribe
  to the
  <a href="https://calmail.berkeley.edu/manage/list/listinfo/bioinformatics@lists.berkeley.edu">bioinformatics mailing list</a>
  at
  <a href="https://calmail.berkeley.edu">https://calmail.berkeley.edu</a>.
</p>

<p>
  <a href="http://phylogenomics.berkeley.edu/">Return to the Berkeley Phylogenomics Group homepage</a>
</p>
{% endblock %}
