{% extends "common/base.html" %}

{% block content %}
<div class="missing-webserver-message">
We are in the process of moving to a new compute cluster. In the interim, web servers for INTREPID, PhyloBuilder and FlowerPower will be offline. 
<br><br>
We anticipate bringing each back online over the next months, as we port each to the new environment.
<br><br>
If you would like to be put on a mailing list to be informed of their availability, please send an email to phylo at phylogenomics dot berkeley dot edu.
<br><br>
Note that web servers for SATCHMO-JS and PHOG are available for use from our homepage at <a href="/">http://phylogenomics.berkeley.edu</a>.
</div>
{% endblock %}
