<span class='acronym'>SATCHMO-JS</span>:<br /> <span class='acronym'>S</span>imultaneous
             <span class='acronym'>A</span>lignment and
             <span class='acronym'>T</span>ree
             <span class='acronym'>C</span>onstruction using
             <span class='acronym'>H</span>idden
             <span class='acronym'>M</span>arkov
             M<span class='acronym'>o</span>dels -
             <span class='acronym'>J</span>ump
             <span class='acronym'>S</span>tart<br />
             <span class='subtitle'>"SATCHMO-JS: a webserver for simultaneous protein multiple sequence alignment and phylogenetic tree construction," Hagopian et al, <a href='http://nar.oxfordjournals.org/cgi/content/short/gkq298v1'><i>Nucleic Acids Research</i> 2010</a></span>
