{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
   <h2> 
     Grant Shoffner
   </h2> 
 
   <table border=0> 
      <tr> 
         <td> 
         </td> 
      </tr> 
   </table> 
 
   <h3> 
      Research Interests
   </h3> 
   <p> 
   </p> 
   <h3> 
      Research Summary
   </h3> 
   <p> 
   </p> 
   <h3> 
      Selected Publications
   </h3> 
   <p> 
   </p> 

{% endblock %}

