{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
   <h2> 
      Kimmen Sj&ouml;lander
   </h2> 
 
   <table border=0> 
      <tr> 
         <td> 
            <img src="/static/img/members/kimmen_campanile_200.jpg" border="0" /> 
         </td> 
         <td valign="middle" style="padding-left: 12px;"> 
            <p> 
               <b>Professor, Bioengineering</b> 
            </p> 
            <p> 
               308C Stanley Hall
               <br /> 
               mailcode: MC 1762
               <br /> 
               (510) 642-9932
               <br /> 
               fax: (510) 642-5835
               <br /> 
               
               Lab home page: <a href="/">Berkeley Phylogenomics Group</a> 
            </p> 
         </td> 
      </tr> 
   </table> 
 
   <h3> 
      Research Interests
   </h3> 
   <p> 
      My research focus is the development of novel computational methods for
      biological discovery.
   </p> 
   <h3> 
      Research Summary
   </h3> 
   <p> 
   I am primarily interested in phylogenetic tree reconstruction, remote homolog recognition, protein structure prediction, subfamily classification, prediction of critical positions in molecules, multiple sequence alignment, protein-protein interaction, pathway inference, computational prediction of protein domain structure, and other aspects of protein function and structure. The medical applications of genomics and bioinformatics, for the detection of genes involved in disease, or conferring virulence to microbes, and similar problems, is a particular area of interest. My experience in industry, prior to re-joining academia, made me aware of many of the issues confronting scientists working on target and drug discovery, and I have various research interests in these areas as well.
   </p> 
   <h3> 
      Selected Publications
   </h3> 
   <p> 
      Brown DP,&#160;Krishnamurthy N,&#160;Sj&#246;lander K, 
      "Automated Protein Subfamily Identification and Classification," 
      <a href="http://dx.doi.org/10.1371/journal.pcbi.0030160"> 
         PLoS Computational Biology 2007, 3(8): e160 
         doi:10.1371/journal.pcbi.0030160</a>.&nbsp;
      <a href="http://compbiol.plosjournals.org/archive/1553-7358/3/8/pdf/10.1371_journal.pcbi.0030160-L.pdf"> 
         PDF</a>.
   </p> 
   <p> 
      Jake Gunn Glanville, Dan Kirshner, Nandini Krishnamurthy and Kimmen 
      Sj&ouml;lander, 
      "Berkeley Phylogenomics Group web servers: resources for structural 
      phylogenomic analysis," 
      <a href="http://nar.oxfordjournals.org/cgi/content/full/gkm325?ijkey=aO7i3BIaubALiyA&keytype=ref"> 
         Nucleic Acids Research 2007; doi:10.1093/nar/gkm325</a>.&nbsp;
      <a href="http://nar.oxfordjournals.org/cgi/reprint/gkm325?ijkey=aO7i3BIaubALiyA&keytype=ref"> 
         PDF</a>.
   </p> 
   <p> 
      Nandini Krishnamurthy, Duncan Brown and Kimmen Sj&ouml;lander, 
      "FlowerPower: clustering proteins into domain architecture classes for 
      phylogenomic inference of protein function",  
      <a href="http://www.biomedcentral.com/1471-2148/7/S1/S12/abstract"> 
         BMC Evolutionary Biology</a> 
      2007, 7 Suppl 1:S12 doi:10.1186/1471-2148-7-S1-S12.
   </p> 
   <p> 
      Nandini Krishnamurthy, Duncan Brown, Dan Kirshner 
      and Kimmen Sj&ouml;lander, 
      "PhyloFacts: An online structural phylogenomic encyclopedia for protein 
      functional and structural classification",
      <a href="http://genomebiology.com/2006/7/9/R83"> 
         Genome Biology 2006, 7:R83</a> 
   </p> 
   <p> 
      Sj&ouml;lander, K., "Phylogenomic inference of protein molecular 
      function: advances and challenges," 
      <i>Bioinformatics</i> 2004 (20)2:170-179. 
      <a href="http://bioinformatics.oupjournals.org/cgi/content/abstract/20/2/170?ijkey=84tG5hgIcudTA&keytype=ref"> 
         Oxford University Press access</a>. 
      <a href="phylogenomics.review.bioinformatics.2004.pdf"> 
         PDF</a>.
   </p> 
   <p> 
      Edgar, R., and Sj&ouml;lander, K., 
      "SATCHMO: Sequence Alignment and Tree Construction using Hidden Markov 
      models," <i>Bioinformatics</i>. 2003 Jul 22;19(11):1404-11. 
      <a href="http://bioinformatics.oupjournals.org/cgi/content/abstract/19/11/1404?maxtoshow=&HITS=10&hits=10&RESULTFORMAT=&author1=Sjolander&andorexacttitle=and&andorexacttitleabs=and&andorexactfulltext=and&searchid=1074798462276_1761&stored_search=&FIRSTINDEX=0&sortspec"> 
         Oxford University Press access</a>. 
      <i>Selected by the Faculty of 1000 as a "Must Read" for Technological 
      Advance (rating 6.0).</i> 
   </p> 
   <p> 
      Venter, C. <i>et al</i>., 
      "The sequence of the human genome," 
      <i>Science</i>, 2001 Feb 16;291(5507):1304-51. 
      (My contributions: the algorithms used for the Panther HMM library 
      construction and functional classification of the human genome. 
      (1) FlowerPower clustering and alignment of homologs; 
      (2) Bayesian Evolutionary Tree Estimation and subfamily identification; 
      (3) Subfamily HMM construction.) 
      <a href="http://www.sciencemag.org/content/vol291/issue5507/"> 
         Science Online access</a>.
   </p> 

   <h3> 
     Personal Home Page
   </h3>
   <p> 
      My personal home page is <a href="personal.html">here</a>
   </p> 

{% endblock %}

