{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_1_____instance_0
    { position: absolute;
      left: 253px; top: 109px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_____instance_1
    { position: absolute;
      left: 270px; top: 271px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_2_1_3_instance_0
    { position: absolute;
      left: 304px; top: 410px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99_23_instance_0
    { position: absolute;
      left: 127px; top: 200px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_135_instance_0
    { position: absolute;
      left: 200px; top: 330px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_135_instance_1
    { position: absolute;
      left: 200px; top: 532px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_17_instance_0
    { position: absolute;
      left: 594px; top: 364px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1___instance_0
    { position: absolute;
      left: 253px; top: 130px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1___instance_1
    { position: absolute;
      left: 222px; top: 271px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1___instance_2
    { position: absolute;
      left: 246px; top: 469px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_0
    { position: absolute;
      left: 619px; top: 210px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_1
    { position: absolute;
      left: 594px; top: 325px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_2
    { position: absolute;
      left: 570px; top: 274px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_3
    { position: absolute;
      left: 781px; top: 210px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_4
    { position: absolute;
      left: 594px; top: 304px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_5
    { position: absolute;
      left: 570px; top: 253px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_6
    { position: absolute;
      left: 571px; top: 210px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_7
    { position: absolute;
      left: 781px; top: 189px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_8
    { position: absolute;
      left: 733px; top: 210px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_9
    { position: absolute;
      left: 619px; top: 189px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14_1_instance_10
    { position: absolute;
      left: 618px; top: 253px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_36_instance_0
    { position: absolute;
      left: 444px; top: 130px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_36_instance_1
    { position: absolute;
      left: 444px; top: 209px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_21_instance_0
    { position: absolute;
      left: 92px; top: 309px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_99_36_instance_0
    { position: absolute;
      left: 337px; top: 224px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_63_instance_0
    { position: absolute;
      left: 91px; top: 510px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_2_1_7_instance_0
    { position: absolute;
      left: 53px; top: 410px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_1_instance_0
    { position: absolute;
      left: 246px; top: 250px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_64_instance_0
    { position: absolute;
      left: 142px; top: 309px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_64_instance_1
    { position: absolute;
      left: 141px; top: 510px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_3_11_instance_0
    { position: absolute;
      left: 444px; top: 188px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_3_11_instance_1
    { position: absolute;
      left: 444px; top: 109px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15_3_instance_0
    { position: absolute;
      left: 618px; top: 274px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1___instance_0
    { position: absolute;
      left: 115px; top: 290px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_76_instance_0
    { position: absolute;
      left: 150px; top: 532px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_76_instance_1
    { position: absolute;
      left: 150px; top: 330px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=359,373,4	href="/dbget-bin/www_bget?C05917"	title="C05917 (Iodopsin)" />
<area shape=circle	coords=198,272,4	href="/dbget-bin/www_bget?C00473"	title="C00473 (Retinol)" />
<area shape=circle	coords=359,272,4	href="/dbget-bin/www_bget?C00376"	title="C00376 (Retinal)" />
<area shape=circle	coords=359,208,4	href="/dbget-bin/www_bget?C02094"	title="C02094 (beta-Carotene)" />
<area shape=circle	coords=551,208,4	href="/dbget-bin/www_bget?C00777"	title="C00777 (Retinoate)" />
<area shape=circle	coords=198,373,4	href="/dbget-bin/www_bget?C02075+C02588"	title="C02075 (Retinyl ester), C02588 (Retinyl palmitate)" />
<area shape=circle	coords=198,474,4	href="/dbget-bin/www_bget?C00899"	title="C00899 (11-cis-Retinol)" />
<area shape=circle	coords=359,474,4	href="/dbget-bin/www_bget?C02110"	title="C02110 (11-cis-Retinal)" />
<area shape=circle	coords=198,128,4	href="/dbget-bin/www_bget?C16682"	title="C16682 (9-cis-Retinol)" />
<area shape=circle	coords=360,128,4	href="/dbget-bin/www_bget?C16681"	title="C16681 (9-cis-Retinal)" />
<area shape=circle	coords=551,128,4	href="/dbget-bin/www_bget?C15493"	title="C15493 (9-cis-Retinoic acid)" />
<area shape=circle	coords=100,208,4	href="/dbget-bin/www_bget?C15492"	title="C15492 (all-trans-13,14-Dihydroretinol)" />
<area shape=circle	coords=410,474,4	href="/dbget-bin/www_bget?C00778"	title="C00778 (Rhodopsin)" />
<area shape=circle	coords=410,423,4	href="/dbget-bin/www_bget?C05914"	title="C05914 (Bathorhodopsin)" />
<area shape=circle	coords=410,373,4	href="/dbget-bin/www_bget?C05915"	title="C05915 (Lumirhodopsin)" />
<area shape=circle	coords=410,323,4	href="/dbget-bin/www_bget?C05916"	title="C05916 (Metarhodopsin)" />
<area shape=circle	coords=198,575,4	href="/dbget-bin/www_bget?C03455"	title="C03455 (11-cis-Retinyl palmitate)" />
<area shape=circle	coords=410,272,4	href="/dbget-bin/www_bget?C05916"	title="C05916 (Metarhodopsin)" />
<area shape=circle	coords=699,373,4	href="/dbget-bin/www_bget?C11061"	title="C11061 (all-trans-Retinoyl-beta-glucuronide)" />
<area shape=circle	coords=699,208,4	href="/dbget-bin/www_bget?C16677"	title="C16677 (all-trans-4-Hydroxyretinoic acid)" />
<area shape=circle	coords=848,208,4	href="/dbget-bin/www_bget?C16678"	title="C16678 (all-trans-4-Oxoretinoic acid)" />
<area shape=circle	coords=301,208,4	href="/dbget-bin/www_bget?C16683"	title="C16683 (4-Oxoretinol)" />
<area shape=circle	coords=699,323,4	href="/dbget-bin/www_bget?C16680"	title="C16680 (all-trans-5,6-Epoxyretinoic acid)" />
<area shape=circle	coords=699,272,4	href="/dbget-bin/www_bget?C16679"	title="C16679 (all-trans-18-Hydroxyretinoic acid)" />
<area shape=poly	coords=357,467,357,379,361,379,361,467	href="/dbget-bin/www_bget?R03836"	title="R03836" />
<area shape=poly	coords=359,379,363,387,355,387	href="/dbget-bin/www_bget?R03836"	title="R03836" />
<area shape=poly	coords=357,367,357,280,361,280,361,367	href="/dbget-bin/www_bget?R02128"	title="R02128" />
<area shape=poly	coords=359,280,363,288,355,288	href="/dbget-bin/www_bget?R02128"	title="R02128" />
<area shape=rect	coords=246,250,292,267	href="/dbget-bin/www_bget?K00001+K00121+1.1.1.1+R02124"	title="K00001 (E1.1.1.1), K00121 (frmA), 1.1.1.1, R02124" />
<area shape=rect	coords=337,224,383,241	href="/dbget-bin/www_bget?K00515+1.14.99.36+R00032"	title="K00515 (BCMO1), 1.14.99.36, R00032" />
<area shape=rect	coords=444,209,490,226	href="/dbget-bin/www_bget?K07249+1.2.1.36+R02123"	title="K07249 (E1.2.1.36), 1.2.1.36, R02123" />
<area shape=rect	coords=444,188,490,205	href="/dbget-bin/www_bget?1.2.3.11+R02125"	title="1.2.3.11, 1.2.3.11, R02125" />
<area shape=rect	coords=200,330,246,347	href="/dbget-bin/www_bget?K00678+2.3.1.135+R08387"	title="K00678 (LRAT), 2.3.1.135, R08387" />
<area shape=rect	coords=246,469,292,486	href="/dbget-bin/www_bget?K11152+K00061+1.1.1.-+R03048+R08380"	title="K11152 (RDH11), K00061 (RDH5), 1.1.1.-, R03048, R08380" />
<area shape=rect	coords=53,410,99,427	href="/dbget-bin/www_bget?5.2.1.7+R02369"	title="5.2.1.7, 5.2.1.7, R02369" />
<area shape=rect	coords=142,309,188,326	href="/dbget-bin/www_bget?3.1.1.64+R02368"	title="3.1.1.64, 3.1.1.64, R02368" />
<area shape=rect	coords=127,200,173,217	href="/dbget-bin/www_bget?K09516+1.3.99.23+R07163"	title="K09516 (RETSAT), 1.3.99.23, R07163" />
<area shape=rect	coords=175,410,221,427	href="/dbget-bin/www_bget?K11158+R08388"	title="K11158 (RPE65), R08388" />
<area shape=rect	coords=253,130,299,147	href="/dbget-bin/www_bget?K00061+K11152+K11153+1.1.1.-+R08382+R08383"	title="K00061 (RDH5), K11152 (RDH11), K11153 (RDH12), 1.1.1.-, R08382, R08383" />
<area shape=poly	coords=366,472,404,472,404,476,366,476	href="/dbget-bin/www_bget?R02904"	title="R02904" />
<area shape=poly	coords=404,474,396,478,396,470	href="/dbget-bin/www_bget?R02904"	title="R02904" />
<area shape=poly	coords=408,419,408,379,412,379,412,419	href="/dbget-bin/www_bget?R05041"	title="R05041" />
<area shape=poly	coords=410,379,414,387,406,387	href="/dbget-bin/www_bget?R05041"	title="R05041" />
<area shape=poly	coords=408,469,408,429,412,429,412,469	href="/dbget-bin/www_bget?R02905"	title="R02905" />
<area shape=poly	coords=410,429,414,437,406,437	href="/dbget-bin/www_bget?R02905"	title="R02905" />
<area shape=poly	coords=408,328,408,369,412,369,412,328	href="/dbget-bin/www_bget?R06194"	title="R06194" />
<area shape=poly	coords=410,328,414,336,406,336	href="/dbget-bin/www_bget?R06194"	title="R06194" />
<area shape=poly	coords=404,270,367,270,367,274,404,274	href="/dbget-bin/www_bget?R02127"	title="R02127" />
<area shape=poly	coords=367,272,375,268,375,276	href="/dbget-bin/www_bget?R02127"	title="R02127" />
<area shape=rect	coords=150,532,196,549	href="/dbget-bin/www_bget?K11155+K11160+K11156+2.3.1.76+R08381"	title="K11155 (DGAT1), K11160 (DGAT2), K11156 (DGAT2L4), 2.3.1.76, R08381" />
<area shape=rect	coords=200,532,246,549	href="/dbget-bin/www_bget?K00678+2.3.1.135+R08389"	title="K00678 (LRAT), 2.3.1.135, R08389" />
<area shape=rect	coords=150,330,196,347	href="/dbget-bin/www_bget?K11155+K11160+K11156+2.3.1.76+R02366+R02367"	title="K11155 (DGAT1), K11160 (DGAT2), K11156 (DGAT2L4), 2.3.1.76, R02366, R02367" />
<area shape=rect	coords=571,189,617,206	href="/dbget-bin/www_bget?K07437+K12664+K12665+R08392"	title="K07437 (CYP26A), K12664 (CYP26B), K12665 (CYP26C), R08392" />
<area shape=rect	coords=619,210,665,227	href="/dbget-bin/www_bget?K07424+1.14.14.1+R08392"	title="K07424 (CYP3A), 1.14.14.1, R08392" />
<area shape=rect	coords=619,189,665,206	href="/dbget-bin/www_bget?K07408+K07409+1.14.14.1+R08392"	title="K07408 (CYP1A1), K07409 (CYP1A2), 1.14.14.1, R08392" />
<area shape=rect	coords=92,309,138,326	href="/dbget-bin/www_bget?3.1.1.21+R02368"	title="3.1.1.21, 3.1.1.21, R02368" />
<area shape=rect	coords=733,189,779,206	href="/dbget-bin/www_bget?K07437+K12664+K12665"	title="K07437 (CYP26A), K12664 (CYP26B), K12665 (CYP26C)" />
<area shape=rect	coords=222,200,268,217	href="/dbget-bin/www_bget?K07437"	title="K07437 (CYP26A)" />
<area shape=rect	coords=222,271,268,288	href="/dbget-bin/www_bget?K11150+K11151+K11152+K11153+K11154+1.1.1.-+R02124+R08379"	title="K11150 (RDH8), K11151 (RDH10), K11152 (RDH11), K11153 (RDH12), K11154 (RDH16), 1.1.1.-, R02124, R08379" />
<area shape=rect	coords=270,271,316,288	href="/dbget-bin/www_bget?K11146+K11147+K11148+K11149+1.1.-.-+R02124+R08379"	title="K11146 (DHRS3), K11147 (DHRS4), K11148 (DHRS4L2), K11149 (DHRS9), 1.1.-.-, R02124, R08379" />
<area shape=rect	coords=594,234,640,251	href="/dbget-bin/www_bget?K07437+K12664+K12665+R08390"	title="K07437 (CYP26A), K12664 (CYP26B), K12665 (CYP26C), R08390" />
<area shape=rect	coords=594,304,640,321	href="/dbget-bin/www_bget?K07411+K07412+1.14.14.1+R08391"	title="K07411 (CYP2A), K07412 (CYP2B), 1.14.14.1, R08391" />
<area shape=rect	coords=594,325,640,342	href="/dbget-bin/www_bget?K07424+1.14.14.1+R08391"	title="K07424 (CYP3A), 1.14.14.1, R08391" />
<area shape=rect	coords=570,274,616,291	href="/dbget-bin/www_bget?K07424+1.14.14.1+R08390"	title="K07424 (CYP3A), 1.14.14.1, R08390" />
<area shape=rect	coords=570,253,616,270	href="/dbget-bin/www_bget?K07408+1.14.14.1+R08390"	title="K07408 (CYP1A1), 1.14.14.1, R08390" />
<area shape=rect	coords=618,274,664,291	href="/dbget-bin/www_bget?K07425+1.14.15.3+R08390"	title="K07425 (CYP4A), 1.14.15.3, R08390" />
<area shape=rect	coords=618,253,664,270	href="/dbget-bin/www_bget?K07411+K07412+K07413+1.14.14.1+R08390"	title="K07411 (CYP2A), K07412 (CYP2B), K07413 (CYP2C), 1.14.14.1, R08390" />
<area shape=rect	coords=781,189,827,206	href="/dbget-bin/www_bget?K07408+K07409+1.14.14.1"	title="K07408 (CYP1A1), K07409 (CYP1A2), 1.14.14.1" />
<area shape=rect	coords=781,210,827,227	href="/dbget-bin/www_bget?K07424+1.14.14.1"	title="K07424 (CYP3A), 1.14.14.1" />
<area shape=rect	coords=304,410,350,427	href="/dbget-bin/www_bget?5.2.1.3+R02126"	title="5.2.1.3, 5.2.1.3, R02126" />
<area shape=rect	coords=571,210,617,227	href="/dbget-bin/www_bget?K07411+K07412+K07413+1.14.14.1+R08392"	title="K07411 (CYP2A), K07412 (CYP2B), K07413 (CYP2C), 1.14.14.1, R08392" />
<area shape=rect	coords=733,210,779,227	href="/dbget-bin/www_bget?K07411+K07412+K07413+1.14.14.1"	title="K07411 (CYP2A), K07412 (CYP2B), K07413 (CYP2C), 1.14.14.1" />
<area shape=rect	coords=253,109,299,126	href="/dbget-bin/www_bget?K11147+K11148+1.1.-.-+R08383"	title="K11147 (DHRS4), K11148 (DHRS4L2), 1.1.-.-, R08383" />
<area shape=rect	coords=444,109,490,126	href="/dbget-bin/www_bget?1.2.3.11+R08384"	title="1.2.3.11, 1.2.3.11, R08384" />
<area shape=rect	coords=444,130,490,147	href="/dbget-bin/www_bget?K07249+1.2.1.36+R08385"	title="K07249 (E1.2.1.36), 1.2.1.36, R08385" />
<area shape=rect	coords=594,364,640,381	href="/dbget-bin/www_bget?K00699+2.4.1.17+R02902"	title="K00699 (UGT), 2.4.1.17, R02902" />
<area shape=rect	coords=115,290,161,307	href="/dbget-bin/www_bget?K11157+3.1.1.-+R02368"	title="K11157 (PNPLA4), 3.1.1.-, R02368" />
<area shape=rect	coords=91,510,137,527	href="/dbget-bin/www_bget?3.1.1.63+R03049"	title="3.1.1.63, 3.1.1.63, R03049" />
<area shape=rect	coords=141,510,187,527	href="/dbget-bin/www_bget?3.1.1.64+R03049"	title="3.1.1.64, 3.1.1.64, R03049" />
<area shape=rect	coords=40,45,312,71	href="/dbget-bin/www_bget?map00830"	title="map00830: Retinol metabolism" />
<area shape=rect	coords=352,145,428,180	href="/kegg-bin/show_pathway?map00906"	title="map00906: Carotenoid biosynthesis" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_1____ %}
    <div class="node_1_1_____instance_0"></div>
    <div class="node_1_1_____instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_2_1_3 %}
    <div class="node_5_2_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99_23 %}
    <div class="node_1_3_99_23_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_135 %}
    <div class="node_2_3_1_135_instance_0"></div>
    <div class="node_2_3_1_135_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_17 %}
    <div class="node_2_4_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1__ %}
    <div class="node_1_1_1___instance_0"></div>
    <div class="node_1_1_1___instance_1"></div>
    <div class="node_1_1_1___instance_2"></div>
  {% endif %}
  {% if nodes_to_color.1_14_14_1 %}
    <div class="node_1_14_14_1_instance_0"></div>
    <div class="node_1_14_14_1_instance_1"></div>
    <div class="node_1_14_14_1_instance_2"></div>
    <div class="node_1_14_14_1_instance_3"></div>
    <div class="node_1_14_14_1_instance_4"></div>
    <div class="node_1_14_14_1_instance_5"></div>
    <div class="node_1_14_14_1_instance_6"></div>
    <div class="node_1_14_14_1_instance_7"></div>
    <div class="node_1_14_14_1_instance_8"></div>
    <div class="node_1_14_14_1_instance_9"></div>
    <div class="node_1_14_14_1_instance_10"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_36 %}
    <div class="node_1_2_1_36_instance_0"></div>
    <div class="node_1_2_1_36_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1_21 %}
    <div class="node_3_1_1_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_99_36 %}
    <div class="node_1_14_99_36_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1_63 %}
    <div class="node_3_1_1_63_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_2_1_7 %}
    <div class="node_5_2_1_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_1 %}
    <div class="node_1_1_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1_64 %}
    <div class="node_3_1_1_64_instance_0"></div>
    <div class="node_3_1_1_64_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_2_3_11 %}
    <div class="node_1_2_3_11_instance_0"></div>
    <div class="node_1_2_3_11_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_14_15_3 %}
    <div class="node_1_14_15_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1__ %}
    <div class="node_3_1_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_76 %}
    <div class="node_2_3_1_76_instance_0"></div>
    <div class="node_2_3_1_76_instance_1"></div>
  {% endif %}
{% endblock %}
