{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_4_3_3_instance_0
    { position: absolute;
      left: 219px; top: 299px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_3_instance_1
    { position: absolute;
      left: 367px; top: 338px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_1_9_instance_0
    { position: absolute;
      left: 438px; top: 249px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_1_9_instance_1
    { position: absolute;
      left: 288px; top: 241px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_21_instance_0
    { position: absolute;
      left: 219px; top: 333px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_21_instance_1
    { position: absolute;
      left: 367px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_4_3_5_instance_0
    { position: absolute;
      left: 200px; top: 240px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_3_10_instance_0
    { position: absolute;
      left: 367px; top: 299px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_1_12_instance_0
    { position: absolute;
      left: 313px; top: 260px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_1_10_instance_0
    { position: absolute;
      left: 263px; top: 260px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_1_12_instance_0
    { position: absolute;
      left: 200px; top: 167px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=62,307,4	href="/dbget-bin/www_bget?C03564"	title="C03564 (1-Pyrroline-2-carboxylate)" />
<area shape=circle	coords=170,307,4	href="/dbget-bin/www_bget?C01110"	title="C01110 (5-Amino-2-oxopentanoic acid)" />
<area shape=circle	coords=222,140,4	href="/dbget-bin/www_bget?C03341"	title="C03341 (2-Amino-4-oxopentanoic acid)" />
<area shape=circle	coords=222,210,4	href="/dbget-bin/www_bget?C03943"	title="C03943 ((2R,4S)-2,4-Diaminopentanoate)" />
<area shape=circle	coords=311,390,4	href="/dbget-bin/www_bget?C03771"	title="C03771 (5-Guanidino-2-oxopentanoate)" />
<area shape=circle	coords=311,210,4	href="/dbget-bin/www_bget?C00077"	title="C00077 (L-Ornithine)" />
<area shape=circle	coords=311,307,4	href="/dbget-bin/www_bget?C00515"	title="C00515 (D-Ornithine)" />
<area shape=circle	coords=401,210,4	href="/dbget-bin/www_bget?C01667"	title="C01667 (Bacitracin)" />
<area shape=circle	coords=460,210,4	href="/dbget-bin/www_bget?C00062"	title="C00062 (L-Arginine)" />
<area shape=circle	coords=460,307,4	href="/dbget-bin/www_bget?C00792"	title="C00792 (D-Arginine)" />
<area shape=rect	coords=200,167,246,184	href="/dbget-bin/www_bget?1.4.1.12+R04200+R04201"	title="1.4.1.12, 1.4.1.12, R04200, R04201" />
<area shape=rect	coords=200,240,246,257	href="/dbget-bin/www_bget?5.4.3.5+R02461"	title="5.4.3.5, 5.4.3.5, R02461" />
<area shape=rect	coords=219,299,265,316	href="/dbget-bin/www_bget?K00273+1.4.3.3+R02457"	title="K00273 (E1.4.3.3), 1.4.3.3, R02457" />
<area shape=rect	coords=219,333,265,350	href="/dbget-bin/www_bget?K00824+2.6.1.21+R02459"	title="K00824 (dat), 2.6.1.21, R02459" />
<area shape=rect	coords=263,260,309,277	href="/dbget-bin/www_bget?5.1.1.10+R00672"	title="5.1.1.10, 5.1.1.10, R00672" />
<area shape=rect	coords=288,241,334,258	href="/dbget-bin/www_bget?5.1.1.9+R00672"	title="5.1.1.9, 5.1.1.9, R00672" />
<area shape=rect	coords=313,260,359,277	href="/dbget-bin/www_bget?5.1.1.12+R00672"	title="5.1.1.12, 5.1.1.12, R00672" />
<area shape=rect	coords=367,338,413,355	href="/dbget-bin/www_bget?K00273+1.4.3.3+R02923"	title="K00273 (E1.4.3.3), 1.4.3.3, R02923" />
<area shape=rect	coords=367,299,413,316	href="/dbget-bin/www_bget?3.5.3.10+R02458"	title="3.5.3.10, 3.5.3.10, R02458" />
<area shape=rect	coords=367,382,413,399	href="/dbget-bin/www_bget?K00824+2.6.1.21+R02924"	title="K00824 (dat), 2.6.1.21, R02924" />
<area shape=rect	coords=438,249,484,266	href="/dbget-bin/www_bget?5.1.1.9+R00567"	title="5.1.1.9, 5.1.1.9, R00567" />
<area shape=rect	coords=40,45,378,71	href="/dbget-bin/www_bget?map00472"	title="map00472: D-Arginine and D-ornithine metabolism" />
<area shape=rect	coords=294,134,482,160	href="/kegg-bin/show_pathway?map00330"	title="map00330: Arginine and proline metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_4_3_3 %}
    <div class="node_1_4_3_3_instance_0"></div>
    <div class="node_1_4_3_3_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_1_1_9 %}
    <div class="node_5_1_1_9_instance_0"></div>
    <div class="node_5_1_1_9_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_21 %}
    <div class="node_2_6_1_21_instance_0"></div>
    <div class="node_2_6_1_21_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_4_3_5 %}
    <div class="node_5_4_3_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_3_10 %}
    <div class="node_3_5_3_10_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_1_1_12 %}
    <div class="node_5_1_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_1_1_10 %}
    <div class="node_5_1_1_10_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_1_12 %}
    <div class="node_1_4_1_12_instance_0"></div>
  {% endif %}
{% endblock %}
