{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_5_3_1_9_instance_0
    { position: absolute;
      left: 565px; top: 748px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_34_instance_0
    { position: absolute;
      left: 445px; top: 389px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_22_instance_0
    { position: absolute;
      left: 552px; top: 239px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_12_instance_0
    { position: absolute;
      left: 427px; top: 455px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_24_instance_0
    { position: absolute;
      left: 351px; top: 277px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_54_instance_0
    { position: absolute;
      left: 856px; top: 431px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_7_9_instance_0
    { position: absolute;
      left: 552px; top: 356px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_35_instance_0
    { position: absolute;
      left: 427px; top: 434px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_6_1_21_instance_0
    { position: absolute;
      left: 644px; top: 462px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_6_1_21_instance_1
    { position: absolute;
      left: 480px; top: 528px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_25_instance_0
    { position: absolute;
      left: 1012px; top: 524px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_106_instance_0
    { position: absolute;
      left: 471px; top: 668px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_0
    { position: absolute;
      left: 1133px; top: 447px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_1
    { position: absolute;
      left: 799px; top: 727px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_2
    { position: absolute;
      left: 717px; top: 727px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_3
    { position: absolute;
      left: 963px; top: 727px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_4
    { position: absolute;
      left: 881px; top: 727px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_74_instance_5
    { position: absolute;
      left: 1045px; top: 727px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_15_instance_0
    { position: absolute;
      left: 628px; top: 71px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_3_6_instance_0
    { position: absolute;
      left: 551px; top: 132px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_15_instance_0
    { position: absolute;
      left: 696px; top: 286px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_33_instance_0
    { position: absolute;
      left: 772px; top: 604px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_7_34_instance_0
    { position: absolute;
      left: 480px; top: 499px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_31_instance_0
    { position: absolute;
      left: 716px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_67_instance_0
    { position: absolute;
      left: 678px; top: 71px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_37_instance_0
    { position: absolute;
      left: 287px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_7_33_instance_0
    { position: absolute;
      left: 515px; top: 574px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_64_instance_0
    { position: absolute;
      left: 945px; top: 198px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_1_instance_0
    { position: absolute;
      left: 899px; top: 517px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_7_instance_0
    { position: absolute;
      left: 610px; top: 405px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_39_instance_0
    { position: absolute;
      left: 321px; top: 389px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_17_instance_0
    { position: absolute;
      left: 604px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_1_instance_0
    { position: absolute;
      left: 786px; top: 493px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_91_instance_0
    { position: absolute;
      left: 311px; top: 509px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_93_instance_0
    { position: absolute;
      left: 897px; top: 296px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_4_instance_0
    { position: absolute;
      left: 325px; top: 334px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_11_instance_0
    { position: absolute;
      left: 599px; top: 48px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_8_instance_0
    { position: absolute;
      left: 1034px; top: 318px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_10_instance_0
    { position: absolute;
      left: 193px; top: 205px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_10_instance_1
    { position: absolute;
      left: 258px; top: 350px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_11_instance_0
    { position: absolute;
      left: 650px; top: 314px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_122_instance_0
    { position: absolute;
      left: 960px; top: 318px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_122_instance_1
    { position: absolute;
      left: 897px; top: 275px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_13_instance_0
    { position: absolute;
      left: 440px; top: 314px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_14_instance_0
    { position: absolute;
      left: 441px; top: 247px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_21_instance_0
    { position: absolute;
      left: 214px; top: 513px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_10_instance_0
    { position: absolute;
      left: 471px; top: 647px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_18_instance_0
    { position: absolute;
      left: 772px; top: 575px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_4_instance_0
    { position: absolute;
      left: 311px; top: 488px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_4_2_2_instance_0
    { position: absolute;
      left: 563px; top: 671px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_12_instance_0
    { position: absolute;
      left: 840px; top: 242px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_3_instance_0
    { position: absolute;
      left: 900px; top: 575px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_3_instance_1
    { position: absolute;
      left: 930px; top: 544px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_2_instance_0
    { position: absolute;
      left: 899px; top: 489px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_5_instance_0
    { position: absolute;
      left: 375px; top: 334px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_65_instance_0
    { position: absolute;
      left: 98px; top: 205px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_48_instance_0
    { position: absolute;
      left: 210px; top: 333px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_41_instance_0
    { position: absolute;
      left: 418px; top: 635px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_10_instance_0
    { position: absolute;
      left: 980px; top: 544px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_10_instance_1
    { position: absolute;
      left: 959px; top: 654px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_9_instance_0
    { position: absolute;
      left: 422px; top: 702px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_58_instance_0
    { position: absolute;
      left: 285px; top: 409px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_20_instance_0
    { position: absolute;
      left: 210px; top: 295px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_20_instance_1
    { position: absolute;
      left: 1062px; top: 524px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_21_instance_0
    { position: absolute;
      left: 262px; top: 433px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_21_instance_1
    { position: absolute;
      left: 214px; top: 486px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_4_99_16_instance_0
    { position: absolute;
      left: 907px; top: 385px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_4_2_6_instance_0
    { position: absolute;
      left: 945px; top: 235px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_7_27_instance_0
    { position: absolute;
      left: 596px; top: 439px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_26_instance_0
    { position: absolute;
      left: 210px; top: 314px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_26_instance_1
    { position: absolute;
      left: 208px; top: 247px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_2_24_instance_0
    { position: absolute;
      left: 399px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_6_1_9_instance_0
    { position: absolute;
      left: 507px; top: 473px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_69_instance_0
    { position: absolute;
      left: 283px; top: 205px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_69_instance_1
    { position: absolute;
      left: 841px; top: 320px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_69_instance_2
    { position: absolute;
      left: 960px; top: 385px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_29_instance_0
    { position: absolute;
      left: 394px; top: 499px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_4_instance_0
    { position: absolute;
      left: 123px; top: 470px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_1_instance_0
    { position: absolute;
      left: 73px; top: 470px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_1_instance_1
    { position: absolute;
      left: 422px; top: 725px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_28_instance_0
    { position: absolute;
      left: 945px; top: 167px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_35_instance_0
    { position: absolute;
      left: 505px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_2_instance_0
    { position: absolute;
      left: 422px; top: 746px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_21_instance_0
    { position: absolute;
      left: 682px; top: 439px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_20_instance_0
    { position: absolute;
      left: 1091px; top: 654px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_43_instance_0
    { position: absolute;
      left: 551px; top: 81px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_99_13_instance_0
    { position: absolute;
      left: 264px; top: 273px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=982,294,4	href="/dbget-bin/www_bget?C00092"	title="C00092 (D-Glucose 6-phosphate)" />
<area shape=circle	coords=75,255,4	href="/dbget-bin/www_bget?C00668"	title="C00668 (alpha-D-Glucose 6-phosphate)" />
<area shape=circle	coords=121,322,4	href="/dbget-bin/www_bget?C02336"	title="C02336 (beta-D-Fructose)" />
<area shape=circle	coords=249,169,4	href="/dbget-bin/www_bget?C00181"	title="C00181 (D-Xylose)" />
<area shape=circle	coords=366,169,4	href="/dbget-bin/www_bget?C02352"	title="C02352 (1,4-beta-D-Xylan)" />
<area shape=circle	coords=472,169,4	href="/dbget-bin/www_bget?C00190"	title="C00190 (UDP-D-xylose)" />
<area shape=circle	coords=574,56,4	href="/dbget-bin/www_bget?C00714"	title="C00714 (Pectin)" />
<area shape=circle	coords=676,56,4	href="/dbget-bin/www_bget?C00470"	title="C00470 (Pectate)" />
<area shape=circle	coords=676,112,4	href="/dbget-bin/www_bget?C00333"	title="C00333 (D-Galacturonate)" />
<area shape=circle	coords=574,110,4	href="/dbget-bin/www_bget?C00617"	title="C00617 (UDP-D-galacturonate)" />
<area shape=circle	coords=231,281,4	href="/dbget-bin/www_bget?C05731"	title="C05731 (3-Ketosucrose)" />
<area shape=circle	coords=373,255,4	href="/dbget-bin/www_bget?C02591"	title="C02591 (Sucrose 6-phosphate)" />
<area shape=circle	coords=373,324,4	href="/dbget-bin/www_bget?C00089"	title="C00089 (Sucrose)" />
<area shape=circle	coords=574,169,4	href="/dbget-bin/www_bget?C00167"	title="C00167 (UDP-glucuronate)" />
<area shape=circle	coords=688,169,4	href="/dbget-bin/www_bget?C03033"	title="C03033 (beta-D-Glucuronoside)" />
<area shape=circle	coords=802,169,4	href="/dbget-bin/www_bget?C00191"	title="C00191 (D-Glucuronate)" />
<area shape=circle	coords=574,322,4	href="/dbget-bin/www_bget?C00029"	title="C00029 (UDP-glucose)" />
<area shape=circle	coords=199,442,4	href="/dbget-bin/www_bget?C00267"	title="C00267 (alpha-D-Glucose)" />
<area shape=circle	coords=281,397,4	href="/dbget-bin/www_bget?C00031"	title="C00031 (D-Glucose)" />
<area shape=circle	coords=191,521,4	href="/dbget-bin/www_bget?C00221"	title="C00221 (beta-D-Glucose)" />
<area shape=circle	coords=589,787,4	href="/dbget-bin/www_bget?C05345"	title="C05345 (beta-D-Fructose 6-phosphate)" />
<area shape=circle	coords=586,710,4	href="/dbget-bin/www_bget?C00668"	title="C00668 (alpha-D-Glucose 6-phosphate)" />
<area shape=circle	coords=314,744,4	href="/dbget-bin/www_bget?C00267"	title="C00267 (alpha-D-Glucose)" />
<area shape=circle	coords=396,666,4	href="/dbget-bin/www_bget?C01231"	title="C01231 (alpha-D-Glucose 1,6-bisphosphate)" />
<area shape=circle	coords=480,583,4	href="/dbget-bin/www_bget?C00501"	title="C00501 (CDP-glucose)" />
<area shape=circle	coords=579,506,4	href="/dbget-bin/www_bget?C00103"	title="C00103 (D-Glucose 1-phosphate)" />
<area shape=circle	coords=456,507,4	href="/dbget-bin/www_bget?C00394"	title="C00394 (GDP-glucose)" />
<area shape=circle	coords=398,397,4	href="/dbget-bin/www_bget?C00965"	title="C00965 (1,3-beta-D-Glucan)" />
<area shape=circle	coords=667,447,4	href="/dbget-bin/www_bget?C00498"	title="C00498 (ADP-glucose)" />
<area shape=circle	coords=1060,499,4	href="/dbget-bin/www_bget?C00208"	title="C00208 (Maltose)" />
<area shape=circle	coords=978,525,4	href="/dbget-bin/www_bget?C00721"	title="C00721 (Dextrin)" />
<area shape=circle	coords=878,473,4	href="/dbget-bin/www_bget?C01935"	title="C01935 (Maltodextrin)" />
<area shape=circle	coords=878,415,4	href="/dbget-bin/www_bget?C00973"	title="C00973 (Cyclomaltodextrin)" />
<area shape=circle	coords=923,243,4	href="/dbget-bin/www_bget?C01172"	title="C01172 (beta-D-Glucose 6-phosphate)" />
<area shape=circle	coords=863,294,4	href="/dbget-bin/www_bget?C00689"	title="C00689 (alpha,alpha'-Trehalose 6-phosphate)" />
<area shape=circle	coords=863,206,4	href="/dbget-bin/www_bget?C01083"	title="C01083 (alpha,alpha-Trehalose)" />
<area shape=circle	coords=1014,243,4	href="/dbget-bin/www_bget?C00663"	title="C00663 (beta-D-Glucose 1-phosphate)" />
<area shape=circle	coords=1060,206,4	href="/dbget-bin/www_bget?C00031"	title="C00031 (D-Glucose)" />
<area shape=circle	coords=982,359,4	href="/dbget-bin/www_bget?C02995"	title="C02995 (Maltose 6'-phosphate)" />
<area shape=circle	coords=264,213,4	href="/dbget-bin/www_bget?C00089"	title="C00089 (Sucrose)" />
<area shape=circle	coords=863,356,4	href="/dbget-bin/www_bget?C01083"	title="C01083 (alpha,alpha-Trehalose)" />
<area shape=circle	coords=356,442,4	href="/dbget-bin/www_bget?C01798"	title="C01798 (D-Glucoside)" />
<area shape=circle	coords=744,543,4	href="/dbget-bin/www_bget?C00718"	title="C00718 (Amylose)" />
<area shape=circle	coords=847,501,4	href="/dbget-bin/www_bget?C00369"	title="C00369 (Starch)" />
<area shape=circle	coords=978,583,4	href="/dbget-bin/www_bget?C00267"	title="C00267 (alpha-D-Glucose)" />
<area shape=circle	coords=1114,735,4	href="/dbget-bin/www_bget?C00185"	title="C00185 (Cellobiose)" />
<area shape=circle	coords=590,384,4	href="/dbget-bin/www_bget?C00095"	title="C00095 (D-Fructose)" />
<area shape=circle	coords=686,413,4	href="/dbget-bin/www_bget?C00089"	title="C00089 (Sucrose)" />
<area shape=circle	coords=373,372,4	href="/dbget-bin/www_bget?C00095"	title="C00095 (D-Fructose)" />
<area shape=circle	coords=273,494,4	href="/dbget-bin/www_bget?C00185"	title="C00185 (Cellobiose)" />
<area shape=circle	coords=273,521,4	href="/dbget-bin/www_bget?C00760"	title="C00760 (Cellulose)" />
<area shape=circle	coords=75,213,4	href="/dbget-bin/www_bget?C06215"	title="C06215 (Levan)" />
<area shape=circle	coords=168,213,4	href="/dbget-bin/www_bget?C06215"	title="C06215 (Levan)" />
<area shape=circle	coords=950,735,4	href="/dbget-bin/www_bget?C02013"	title="C02013 (Cellotetraose)" />
<area shape=circle	coords=1032,735,4	href="/dbget-bin/www_bget?C06219"	title="C06219 (Cellotriose)" />
<area shape=circle	coords=868,735,4	href="/dbget-bin/www_bget?C06218"	title="C06218 (Cellopentaose)" />
<area shape=circle	coords=786,735,4	href="/dbget-bin/www_bget?C06217"	title="C06217 (Cellohexaose)" />
<area shape=circle	coords=705,735,4	href="/dbget-bin/www_bget?C06216"	title="C06216 (Celloheptaose)" />
<area shape=circle	coords=982,421,4	href="/dbget-bin/www_bget?C00208"	title="C00208 (Maltose)" />
<area shape=circle	coords=982,691,4	href="/dbget-bin/www_bget?C00252"	title="C00252 (Isomaltose)" />
<area shape=circle	coords=355,213,4	href="/dbget-bin/www_bget?C16688"	title="C16688 (Sucrose-6-phosphate)" />
<area shape=circle	coords=371,507,4	href="/dbget-bin/www_bget?C00760"	title="C00760 (Cellulose)" />
<area shape=rect	coords=480,528,526,545	href="/dbget-bin/www_bget?3.6.1.21+R01233"	title="3.6.1.21, 3.6.1.21, R01233" />
<area shape=rect	coords=214,513,260,530	href="/dbget-bin/www_bget?K01188+K05349+K05350+3.1.2.21+R02887"	title="K01188 (E3.2.1.21), K05349 (bglX), K05350 (bglB), 3.1.2.21, R02887" />
<area shape=rect	coords=214,486,260,503	href="/dbget-bin/www_bget?K01188+K05349+K05350+3.2.1.21+R00026"	title="K01188 (E3.2.1.21), K05349 (bglX), K05350 (bglB), 3.2.1.21, R00026" />
<area shape=rect	coords=73,470,119,487	href="/dbget-bin/www_bget?K00844+2.7.1.1+R03920"	title="K00844 (HK), 2.7.1.1, R03920" />
<area shape=rect	coords=897,275,943,292	href="/dbget-bin/www_bget?K01232+3.2.1.122+R00837"	title="K01232 (E3.2.1.122), 3.2.1.122, R00837" />
<area shape=rect	coords=287,161,333,178	href="/dbget-bin/www_bget?K01198+3.2.1.37+R01433"	title="K01198 (E3.2.1.37), 3.2.1.37, R01433" />
<area shape=rect	coords=208,247,254,264	href="/dbget-bin/www_bget?K01193+3.2.1.26+R03921"	title="K01193 (E3.2.1.26), 3.2.1.26, R03921" />
<area shape=rect	coords=123,470,169,487	href="/dbget-bin/www_bget?K00847+2.7.1.4+R03920"	title="K00847 (E2.7.1.4), 2.7.1.4, R03920" />
<area shape=rect	coords=264,273,310,290	href="/dbget-bin/www_bget?1.1.99.13+R00807"	title="1.1.99.13, 1.1.99.13, R00807" />
<area shape=rect	coords=210,295,256,312	href="/dbget-bin/www_bget?K12047+K01187+K12316+K12317+3.2.1.20+R00802"	title="K12047 (MGAM), K01187 (E3.2.1.20), K12316 (GAA), K12317 (GANC), 3.2.1.20, R00802" />
<area shape=rect	coords=210,314,256,331	href="/dbget-bin/www_bget?K01193+3.2.1.26+R00802"	title="K01193 (E3.2.1.26), 3.2.1.26, R00802" />
<area shape=rect	coords=210,333,256,350	href="/dbget-bin/www_bget?K01203+3.2.1.48+R00802"	title="K01203 (SI), 3.2.1.48, R00802" />
<area shape=rect	coords=262,433,309,451	href="/dbget-bin/www_bget?K01188+K05349+K05350+3.2.1.21+R03527"	title="K01188 (E3.2.1.21), K05349 (bglX), K05350 (bglB), 3.2.1.21, R03527" />
<area shape=rect	coords=321,389,367,406	href="/dbget-bin/www_bget?K01199+3.2.1.39+R00308"	title="K01199 (E3.2.1.39), 3.2.1.39, R00308" />
<area shape=rect	coords=311,488,357,505	href="/dbget-bin/www_bget?K01179+3.2.1.4+R02886"	title="K01179 (E3.2.1.4), 3.2.1.4, R02886" />
<area shape=rect	coords=399,161,445,178	href="/dbget-bin/www_bget?K00770+2.4.2.24+R03928"	title="K00770 (E2.4.2.24), 2.4.2.24, R03928" />
<area shape=rect	coords=351,277,397,294	href="/dbget-bin/www_bget?3.1.3.24+R00805"	title="3.1.3.24, 3.1.3.24, R00805" />
<area shape=rect	coords=394,499,440,516	href="/dbget-bin/www_bget?2.4.1.29+R02890"	title="2.4.1.29, 2.4.1.29, R02890" />
<area shape=rect	coords=505,161,551,178	href="/dbget-bin/www_bget?K08678+4.1.1.35+R01384"	title="K08678 (UXS1), 4.1.1.35, R01384" />
<area shape=rect	coords=283,205,329,222	href="/dbget-bin/www_bget?K02808+K02809+K02810+2.7.1.69+R00811"	title="K02808 (PTS-Scr-EIIA), K02809 (PTS-Scr-EIIB), K02810 (PTS-Scr-EIIC), 2.7.1.69, R00811" />
<area shape=rect	coords=440,314,486,331	href="/dbget-bin/www_bget?K00695+2.4.1.13+R00806"	title="K00695 (E2.4.1.13), 2.4.1.13, R00806" />
<area shape=rect	coords=427,434,473,451	href="/dbget-bin/www_bget?2.4.1.35+R03526"	title="2.4.1.35, 2.4.1.35, R03526" />
<area shape=rect	coords=445,389,491,406	href="/dbget-bin/www_bget?K00706+2.4.1.34+R03118"	title="K00706 (E2.4.1.34), 2.4.1.34, R03118" />
<area shape=rect	coords=427,455,473,472	href="/dbget-bin/www_bget?K00694+2.4.1.12+R02889"	title="K00694 (bcsA), 2.4.1.12, R02889" />
<area shape=rect	coords=441,247,487,264	href="/dbget-bin/www_bget?K00696+2.4.1.14+R00766"	title="K00696 (E2.4.1.14), 2.4.1.14, R00766" />
<area shape=rect	coords=507,473,553,490	href="/dbget-bin/www_bget?K01513+3.6.1.9+R00287"	title="K01513 (E3.6.1.9), 3.6.1.9, R00287" />
<area shape=rect	coords=480,499,526,516	href="/dbget-bin/www_bget?2.7.7.34+R00954"	title="2.7.7.34, 2.7.7.34, R00954" />
<area shape=rect	coords=515,574,561,591	href="/dbget-bin/www_bget?K00978+2.7.7.33+R00956"	title="K00978 (rfbF), 2.7.7.33, R00956" />
<area shape=rect	coords=418,635,464,652	href="/dbget-bin/www_bget?K05344+2.7.1.41+R00960"	title="K05344 (E2.7.1.41), 2.7.1.41, R00960" />
<area shape=rect	coords=471,647,517,664	href="/dbget-bin/www_bget?2.7.1.10+R00949"	title="2.7.1.10, 2.7.1.10, R00949" />
<area shape=rect	coords=471,668,517,685	href="/dbget-bin/www_bget?K11809+2.7.1.106+R01660"	title="K11809 (PGM2L1), 2.7.1.106, R01660" />
<area shape=rect	coords=551,81,597,98	href="/dbget-bin/www_bget?K13648+2.4.1.43+R05191"	title="K13648 (GAUT), 2.4.1.43, R05191" />
<area shape=rect	coords=551,132,597,149	href="/dbget-bin/www_bget?K08679+5.1.3.6+R01385"	title="K08679 (E5.1.3.6), 5.1.3.6, R01385" />
<area shape=rect	coords=552,239,598,256	href="/dbget-bin/www_bget?K00012+1.1.1.22+R00286"	title="K00012 (E1.1.1.22), 1.1.1.22, R00286" />
<area shape=rect	coords=552,356,598,373	href="/dbget-bin/www_bget?K00963+2.7.7.9+R00289"	title="K00963 (E2.7.7.9), 2.7.7.9, R00289" />
<area shape=rect	coords=599,48,645,65	href="/dbget-bin/www_bget?K01051+3.1.1.11+R02362"	title="K01051 (E3.1.1.11), 3.1.1.11, R02362" />
<area shape=rect	coords=604,161,650,178	href="/dbget-bin/www_bget?K00699+2.4.1.17+R01383"	title="K00699 (UGT), 2.4.1.17, R01383" />
<area shape=rect	coords=716,161,762,178	href="/dbget-bin/www_bget?K01195+3.2.1.31+R01478"	title="K01195 (E3.2.1.31), 3.2.1.31, R01478" />
<area shape=rect	coords=696,286,742,303	href="/dbget-bin/www_bget?K00697+2.4.1.15+R02737"	title="K00697 (E2.4.1.15), 2.4.1.15, R02737" />
<area shape=rect	coords=650,314,696,331	href="/dbget-bin/www_bget?K00693+2.4.1.11+R00292"	title="K00693 (GYS), 2.4.1.11, R00292" />
<area shape=rect	coords=596,439,642,456	href="/dbget-bin/www_bget?K00975+2.7.7.27+R00948"	title="K00975 (glgC), 2.7.7.27, R00948" />
<area shape=rect	coords=563,671,609,688	href="/dbget-bin/www_bget?K01835+5.4.2.2+R00959"	title="K01835 (E5.4.2.2), 5.4.2.2, R00959" />
<area shape=rect	coords=422,702,468,719	href="/dbget-bin/www_bget?K01084+3.1.3.9+R01788"	title="K01084 (G6PC), 3.1.3.9, R01788" />
<area shape=rect	coords=422,725,468,742	href="/dbget-bin/www_bget?K00844+2.7.1.1+R01786"	title="K00844 (HK), 2.7.1.1, R01786" />
<area shape=rect	coords=422,746,468,763	href="/dbget-bin/www_bget?K12407+K00845+2.7.1.2+R01786"	title="K12407 (GCK), K00845 (glk), 2.7.1.2, R01786" />
<area shape=rect	coords=565,748,611,765	href="/dbget-bin/www_bget?K01810+K06859+K13810+5.3.1.9+R02740"	title="K01810 (GPI), K06859 (pgi1), K13810 (tal-pgi), 5.3.1.9, R02740" />
<area shape=rect	coords=772,604,818,621	href="/dbget-bin/www_bget?K01196+3.2.1.33+R02109"	title="K01196 (AGL), 3.2.1.33, R02109" />
<area shape=rect	coords=772,575,818,592	href="/dbget-bin/www_bget?K00700+2.4.1.18+R02110"	title="K00700 (E2.4.1.18), 2.4.1.18, R02110" />
<area shape=rect	coords=840,242,886,259	href="/dbget-bin/www_bget?K01087+3.1.3.12+R02778"	title="K01087 (E3.1.3.12), 3.1.3.12, R02778" />
<area shape=rect	coords=856,431,902,448	href="/dbget-bin/www_bget?K01208+3.2.1.54+R03122"	title="K01208 (E3.2.1.54), 3.2.1.54, R03122" />
<area shape=rect	coords=945,167,991,184	href="/dbget-bin/www_bget?K01194+3.2.1.28+R00010"	title="K01194 (E3.2.1.28), 3.2.1.28, R00010" />
<area shape=rect	coords=945,198,991,215	href="/dbget-bin/www_bget?K05342+2.4.1.64+R02727"	title="K05342 (E2.4.1.64), 2.4.1.64, R02727" />
<area shape=rect	coords=897,296,943,313	href="/dbget-bin/www_bget?K01226+3.2.1.93+R00837"	title="K01226 (E3.2.1.93), 3.2.1.93, R00837" />
<area shape=rect	coords=945,235,991,252	href="/dbget-bin/www_bget?K01838+5.4.2.6+R02728"	title="K01838 (E5.4.2.6), 5.4.2.6, R02728" />
<area shape=rect	coords=960,318,1006,335	href="/dbget-bin/www_bget?K01232+3.2.1.122+R00838"	title="K01232 (E3.2.1.122), 3.2.1.122, R00838" />
<area shape=rect	coords=1034,318,1080,335	href="/dbget-bin/www_bget?K00691+2.4.1.8+R01555"	title="K00691 (E2.4.1.8), 2.4.1.8, R01555" />
<area shape=rect	coords=899,489,945,506	href="/dbget-bin/www_bget?K01177+3.2.1.2+R02112"	title="K01177 (E3.2.1.2), 3.2.1.2, R02112" />
<area shape=rect	coords=899,517,945,534	href="/dbget-bin/www_bget?K01176+K07405+3.2.1.1+R02108"	title="K01176 (E3.2.1.1), K07405 (E3.2.1.1A), 3.2.1.1, R02108" />
<area shape=rect	coords=900,575,946,592	href="/dbget-bin/www_bget?K12047+K01178+3.2.1.3+R01790"	title="K12047 (MGAM), K01178 (E3.2.1.3), 3.2.1.3, R01790" />
<area shape=rect	coords=1062,524,1108,541	href="/dbget-bin/www_bget?K12047+K01187+K12316+K12317+3.2.1.20+R00028"	title="K12047 (MGAM), K01187 (E3.2.1.20), K12316 (GAA), K12317 (GANC), 3.2.1.20, R00028" />
<area shape=rect	coords=678,71,724,88	href="/dbget-bin/www_bget?K01213+3.2.1.67+R01982"	title="K01213 (E3.2.1.67), 3.2.1.67, R01982" />
<area shape=rect	coords=628,71,674,88	href="/dbget-bin/www_bget?K01184+3.2.1.15+R01982"	title="K01184 (E3.2.1.15), 3.2.1.15, R01982" />
<area shape=rect	coords=786,493,832,510	href="/dbget-bin/www_bget?K00688+2.4.1.1+R02111"	title="K00688 (E2.4.1.1), 2.4.1.1, R02111" />
<area shape=rect	coords=1012,524,1058,541	href="/dbget-bin/www_bget?K01196+K00705+2.4.1.25+R05196"	title="K01196 (AGL), K00705 (malQ), 2.4.1.25, R05196" />
<area shape=rect	coords=325,334,371,351	href="/dbget-bin/www_bget?K05341+2.4.1.4+R01823"	title="K05341 (E2.4.1.4), 2.4.1.4, R01823" />
<area shape=rect	coords=375,334,421,351	href="/dbget-bin/www_bget?K00689+2.4.1.5+R02120"	title="K00689 (E2.4.1.5), 2.4.1.5, R02120" />
<area shape=rect	coords=258,350,304,367	href="/dbget-bin/www_bget?K00692+2.4.1.10+R05140"	title="K00692 (E2.4.1.10), 2.4.1.10, R05140" />
<area shape=rect	coords=682,439,728,456	href="/dbget-bin/www_bget?K00703+2.4.1.21+R02421"	title="K00703 (E2.4.1.21), 2.4.1.21, R02421" />
<area shape=rect	coords=1091,654,1137,671	href="/dbget-bin/www_bget?K00702+2.4.1.20+R00952"	title="K00702 (E2.4.1.20), 2.4.1.20, R00952" />
<area shape=rect	coords=311,509,357,526	href="/dbget-bin/www_bget?K01225+3.2.1.91+R02886"	title="K01225 (E3.2.1.91), 3.2.1.91, R02886" />
<area shape=rect	coords=285,409,331,426	href="/dbget-bin/www_bget?K01210+3.2.1.58+R03115"	title="K01210 (E3.2.1.58), 3.2.1.58, R03115" />
<area shape=rect	coords=193,205,239,222	href="/dbget-bin/www_bget?K00692+2.4.1.10+R05140"	title="K00692 (E2.4.1.10), 2.4.1.10, R05140" />
<area shape=rect	coords=98,205,144,222	href="/dbget-bin/www_bget?K01212+3.2.1.65+R05624"	title="K01212 (E3.2.1.65), 3.2.1.65, R05624" />
<area shape=rect	coords=1133,447,1179,464	href="/dbget-bin/www_bget?3.2.1.74+R00306"	title="3.2.1.74, 3.2.1.74, R00306" />
<area shape=rect	coords=1045,727,1091,744	href="/dbget-bin/www_bget?3.2.1.74+R01444"	title="3.2.1.74, 3.2.1.74, R01444" />
<area shape=rect	coords=963,727,1009,744	href="/dbget-bin/www_bget?3.2.1.74+R03801"	title="3.2.1.74, 3.2.1.74, R03801" />
<area shape=rect	coords=881,727,927,744	href="/dbget-bin/www_bget?3.2.1.74+R03802"	title="3.2.1.74, 3.2.1.74, R03802" />
<area shape=rect	coords=799,727,845,744	href="/dbget-bin/www_bget?3.2.1.74+R05142"	title="3.2.1.74, 3.2.1.74, R05142" />
<area shape=rect	coords=717,727,763,744	href="/dbget-bin/www_bget?3.2.1.74+R05141"	title="3.2.1.74, 3.2.1.74, R05141" />
<area shape=rect	coords=610,405,656,422	href="/dbget-bin/www_bget?K00690+2.4.1.7+R00803"	title="K00690 (E2.4.1.7), 2.4.1.7, R00803" />
<area shape=rect	coords=644,462,690,479	href="/dbget-bin/www_bget?3.6.1.21+R00951"	title="3.6.1.21, 3.6.1.21, R00951" />
<area shape=rect	coords=980,544,1026,561	href="/dbget-bin/www_bget?K01203+K01182+3.2.1.10+R01791"	title="K01203 (SI), K01182 (E3.2.1.10), 3.2.1.10, R01791" />
<area shape=rect	coords=930,544,976,561	href="/dbget-bin/www_bget?K12047+K01178+3.2.1.3+R01791"	title="K12047 (MGAM), K01178 (E3.2.1.3), 3.2.1.3, R01791" />
<area shape=rect	coords=959,654,1005,671	href="/dbget-bin/www_bget?K01203+K01182+3.2.1.10+R01718"	title="K01203 (SI), K01182 (E3.2.1.10), 3.2.1.10, R01718" />
<area shape=rect	coords=841,320,887,337	href="/dbget-bin/www_bget?K02777+K02817+K02818+K02819+2.7.1.69+R02780"	title="K02777 (PTS-Glc-EIIA), K02817 (PTS-Tre-EIIA), K02818 (PTS-Tre-EIIB), K02819 (PTS-Tre-EIIC), 2.7.1.69, R02780" />
<area shape=rect	coords=960,385,1006,402	href="/dbget-bin/www_bget?K02777+K02790+K02791+2.7.1.69+R04111"	title="K02777 (PTS-Glc-EIIA), K02790 (PTS-Mal-EIIB), K02791 (PTS-Mal-EIIC), 2.7.1.69, R04111" />
<area shape=rect	coords=907,385,953,402	href="/dbget-bin/www_bget?K05343+5.4.99.16+R01557"	title="K05343 (E5.4.99.16), 5.4.99.16, R01557" />
<area shape=rect	coords=40,45,327,71	href="/dbget-bin/www_bget?map00500"	title="map00500: Starch and sucrose metabolism" />
<area shape=rect	coords=722,665,823,700	href="/kegg-bin/show_pathway?map00010"	title="map00010: Glycolysis / Gluconeogenesis" />
<area shape=rect	coords=736,99,871,125	href="/kegg-bin/show_pathway?map00053"	title="map00053: Ascorbate and aldarate metabolism" />
<area shape=rect	coords=50,151,186,186	href="/kegg-bin/show_pathway?map00040"	title="map00040: Pentose and glucuronate interconversions" />
<area shape=rect	coords=652,213,728,248	href="/kegg-bin/show_pathway?map00830"	title="map00830: Retinol metabolism" />
<area shape=rect	coords=265,567,419,602	href="/kegg-bin/show_pathway?map00520"	title="map00520: Amino sugar and nucleotide sugar metabolism" />
<area shape=rect	coords=355,93,509,128	href="/kegg-bin/show_pathway?map00520"	title="map00520: Amino sugar and nucleotide sugar metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.5_3_1_9 %}
    <div class="node_5_3_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_34 %}
    <div class="node_2_4_1_34_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_22 %}
    <div class="node_1_1_1_22_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_12 %}
    <div class="node_2_4_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3_24 %}
    <div class="node_3_1_3_24_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_54 %}
    <div class="node_3_2_1_54_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_7_9 %}
    <div class="node_2_7_7_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_35 %}
    <div class="node_2_4_1_35_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_6_1_21 %}
    <div class="node_3_6_1_21_instance_0"></div>
    <div class="node_3_6_1_21_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_25 %}
    <div class="node_2_4_1_25_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_106 %}
    <div class="node_2_7_1_106_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_74 %}
    <div class="node_3_2_1_74_instance_0"></div>
    <div class="node_3_2_1_74_instance_1"></div>
    <div class="node_3_2_1_74_instance_2"></div>
    <div class="node_3_2_1_74_instance_3"></div>
    <div class="node_3_2_1_74_instance_4"></div>
    <div class="node_3_2_1_74_instance_5"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_15 %}
    <div class="node_3_2_1_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_1_3_6 %}
    <div class="node_5_1_3_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_15 %}
    <div class="node_2_4_1_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_33 %}
    <div class="node_3_2_1_33_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_7_34 %}
    <div class="node_2_7_7_34_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_31 %}
    <div class="node_3_2_1_31_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_67 %}
    <div class="node_3_2_1_67_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_37 %}
    <div class="node_3_2_1_37_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_7_33 %}
    <div class="node_2_7_7_33_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_64 %}
    <div class="node_2_4_1_64_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_1 %}
    <div class="node_3_2_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_7 %}
    <div class="node_2_4_1_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_39 %}
    <div class="node_3_2_1_39_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_17 %}
    <div class="node_2_4_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_1 %}
    <div class="node_2_4_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_91 %}
    <div class="node_3_2_1_91_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_93 %}
    <div class="node_3_2_1_93_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_4 %}
    <div class="node_2_4_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1_11 %}
    <div class="node_3_1_1_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_8 %}
    <div class="node_2_4_1_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_10 %}
    <div class="node_2_4_1_10_instance_0"></div>
    <div class="node_2_4_1_10_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_11 %}
    <div class="node_2_4_1_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_122 %}
    <div class="node_3_2_1_122_instance_0"></div>
    <div class="node_3_2_1_122_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_13 %}
    <div class="node_2_4_1_13_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_14 %}
    <div class="node_2_4_1_14_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_21 %}
    <div class="node_3_1_2_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_10 %}
    <div class="node_2_7_1_10_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_18 %}
    <div class="node_2_4_1_18_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_4 %}
    <div class="node_3_2_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_4_2_2 %}
    <div class="node_5_4_2_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3_12 %}
    <div class="node_3_1_3_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_3 %}
    <div class="node_3_2_1_3_instance_0"></div>
    <div class="node_3_2_1_3_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_2 %}
    <div class="node_3_2_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_5 %}
    <div class="node_2_4_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_65 %}
    <div class="node_3_2_1_65_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_48 %}
    <div class="node_3_2_1_48_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_41 %}
    <div class="node_2_7_1_41_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_10 %}
    <div class="node_3_2_1_10_instance_0"></div>
    <div class="node_3_2_1_10_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3_9 %}
    <div class="node_3_1_3_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_58 %}
    <div class="node_3_2_1_58_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_20 %}
    <div class="node_3_2_1_20_instance_0"></div>
    <div class="node_3_2_1_20_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_21 %}
    <div class="node_3_2_1_21_instance_0"></div>
    <div class="node_3_2_1_21_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_4_99_16 %}
    <div class="node_5_4_99_16_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_4_2_6 %}
    <div class="node_5_4_2_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_7_27 %}
    <div class="node_2_7_7_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_26 %}
    <div class="node_3_2_1_26_instance_0"></div>
    <div class="node_3_2_1_26_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_2_24 %}
    <div class="node_2_4_2_24_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_6_1_9 %}
    <div class="node_3_6_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_69 %}
    <div class="node_2_7_1_69_instance_0"></div>
    <div class="node_2_7_1_69_instance_1"></div>
    <div class="node_2_7_1_69_instance_2"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_29 %}
    <div class="node_2_4_1_29_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_4 %}
    <div class="node_2_7_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_1 %}
    <div class="node_2_7_1_1_instance_0"></div>
    <div class="node_2_7_1_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_28 %}
    <div class="node_3_2_1_28_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_35 %}
    <div class="node_4_1_1_35_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_2 %}
    <div class="node_2_7_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_21 %}
    <div class="node_2_4_1_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_20 %}
    <div class="node_2_4_1_20_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_43 %}
    <div class="node_2_4_1_43_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_99_13 %}
    <div class="node_1_1_99_13_instance_0"></div>
  {% endif %}
{% endblock %}
