{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_4_1_201_instance_0
    { position: absolute;
      left: 456px; top: 676px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_113_instance_0
    { position: absolute;
      left: 547px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_114_instance_0
    { position: absolute;
      left: 695px; top: 524px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_83_instance_0
    { position: absolute;
      left: 390px; top: 230px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_130_instance_0
    { position: absolute;
      left: 695px; top: 265px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_130_instance_1
    { position: absolute;
      left: 547px; top: 309px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_130_instance_2
    { position: absolute;
      left: 639px; top: 309px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_130_instance_3
    { position: absolute;
      left: 456px; top: 308px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_131_instance_0
    { position: absolute;
      left: 639px; top: 113px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_131_instance_1
    { position: absolute;
      left: 695px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_132_instance_0
    { position: absolute;
      left: 456px; top: 113px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_155_instance_0
    { position: absolute;
      left: 547px; top: 676px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_6_1_43_instance_0
    { position: absolute;
      left: 137px; top: 400px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_117_instance_0
    { position: absolute;
      left: 229px; top: 337px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_119_instance_0
    { position: absolute;
      left: 196px; top: 446px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_0
    { position: absolute;
      left: 411px; top: 359px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_1
    { position: absolute;
      left: 365px; top: 400px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_2
    { position: absolute;
      left: 263px; top: 400px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_3
    { position: absolute;
      left: 547px; top: 113px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_1_instance_0
    { position: absolute;
      left: 456px; top: 723px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_51_instance_0
    { position: absolute;
      left: 73px; top: 337px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_108_instance_0
    { position: absolute;
      left: 73px; top: 318px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_106_instance_0
    { position: absolute;
      left: 263px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_38_instance_0
    { position: absolute;
      left: 547px; top: 723px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_4_48_instance_0
    { position: absolute;
      left: 229px; top: 318px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_145_instance_0
    { position: absolute;
      left: 639px; top: 676px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_144_instance_0
    { position: absolute;
      left: 639px; top: 631px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_141_instance_0
    { position: absolute;
      left: 263px; top: 121px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_141_instance_1
    { position: absolute;
      left: 263px; top: 104px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_143_instance_0
    { position: absolute;
      left: 695px; top: 594px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_142_instance_0
    { position: absolute;
      left: 365px; top: 113px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_101_instance_0
    { position: absolute;
      left: 639px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_84_instance_0
    { position: absolute;
      left: 456px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_84_instance_1
    { position: absolute;
      left: 365px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_68_instance_0
    { position: absolute;
      left: 639px; top: 722px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_8_15_instance_0
    { position: absolute;
      left: 171px; top: 113px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=618,317,4	href="/dbget-bin/www_bget?G10596"	title="G10596" />
<area shape=circle	coords=434,685,4	href="/dbget-bin/www_bget?G00022"	title="G00022" />
<area shape=circle	coords=526,685,4	href="/dbget-bin/www_bget?G00021"	title="G00021" />
<area shape=circle	coords=618,685,4	href="/dbget-bin/www_bget?G00020"	title="G00020" />
<area shape=circle	coords=618,638,4	href="/dbget-bin/www_bget?G00019"	title="G00019" />
<area shape=circle	coords=434,731,4	href="/dbget-bin/www_bget?G00018"	title="G00018 (DS 3)" />
<area shape=circle	coords=526,731,4	href="/dbget-bin/www_bget?G00017"	title="G00017" />
<area shape=circle	coords=618,731,4	href="/dbget-bin/www_bget?G00016"	title="G00016" />
<area shape=circle	coords=717,638,4	href="/dbget-bin/www_bget?G00015"	title="G00015" />
<area shape=circle	coords=717,571,4	href="/dbget-bin/www_bget?G00014"	title="G00014" />
<area shape=circle	coords=717,501,4	href="/dbget-bin/www_bget?G00013"	title="G00013" />
<area shape=circle	coords=618,501,4	href="/dbget-bin/www_bget?G00012"	title="G00012" />
<area shape=circle	coords=526,501,4	href="/dbget-bin/www_bget?G00011"	title="G00011" />
<area shape=circle	coords=343,501,4	href="/dbget-bin/www_bget?G00171"	title="G00171" />
<area shape=circle	coords=242,501,4	href="/dbget-bin/www_bget?G00009"	title="G00009" />
<area shape=circle	coords=242,409,4	href="/dbget-bin/www_bget?G00008"	title="G00008" />
<area shape=circle	coords=434,317,4	href="/dbget-bin/www_bget?G00007"	title="G00007" />
<area shape=circle	coords=717,226,4	href="/dbget-bin/www_bget?G00006"	title="G00006" />
<area shape=circle	coords=618,121,4	href="/dbget-bin/www_bget?G00005"	title="G00005" />
<area shape=circle	coords=526,121,4	href="/dbget-bin/www_bget?G00004"	title="G00004" />
<area shape=circle	coords=434,121,4	href="/dbget-bin/www_bget?G00003"	title="G00003" />
<area shape=circle	coords=343,121,4	href="/dbget-bin/www_bget?G00002"	title="G00002 (N,N'-Chitobiosyldiphosphodolichol)" />
<area shape=circle	coords=242,121,4	href="/dbget-bin/www_bget?G00001"	title="G00001 (N-Acetyl-D-glucosaminyldiphosphodolichol)" />
<area shape=circle	coords=283,431,4	href="/dbget-bin/www_bget?C03021"	title="C03021 (Protein asparagine)" />
<area shape=circle	coords=343,336,4	href="/dbget-bin/www_bget?C01246"	title="C01246 (Dolichyl beta-D-glucosyl phosphate)" />
<area shape=circle	coords=618,247,4	href="/dbget-bin/www_bget?C03862"	title="C03862 (Dolichyl phosphate D-mannose)" />
<area shape=circle	coords=161,474,4	href="/dbget-bin/www_bget?C00621"	title="C00621 (Dolichyl diphosphate)" />
<area shape=circle	coords=48,335,4	href="/dbget-bin/www_bget?C00381"	title="C00381 (Dolichol)" />
<area shape=circle	coords=161,336,4	href="/dbget-bin/www_bget?C00110"	title="C00110 (Dolichyl phosphate)" />
<area shape=circle	coords=717,121,4	href="/dbget-bin/www_bget?G10526"	title="G10526" />
<area shape=circle	coords=717,317,4	href="/dbget-bin/www_bget?G10595"	title="G10595" />
<area shape=circle	coords=526,317,4	href="/dbget-bin/www_bget?G10597"	title="G10597" />
<area shape=circle	coords=434,409,4	href="/dbget-bin/www_bget?G10598"	title="G10598" />
<area shape=circle	coords=343,409,4	href="/dbget-bin/www_bget?G10599"	title="G10599" />
<area shape=circle	coords=353,177,4	href="/dbget-bin/www_bget?C00096"	title="C00096 (GDP-mannose)" />
<area shape=circle	coords=434,502,4	href="/dbget-bin/www_bget?G00010"	title="G00010" />
<area shape=rect	coords=263,121,309,138	href="/dbget-bin/www_bget?K07441+2.4.1.141+R05970"	title="K07441 (ALG14), 2.4.1.141, R05970" />
<area shape=rect	coords=410,247,456,264	href="/dbget-bin/www_bget?K09659+R01009"	title="K09659 (DPM3), R01009" />
<area shape=rect	coords=365,247,411,264	href="/dbget-bin/www_bget?K09658+R01009"	title="K09658 (DPM2), R01009" />
<area shape=rect	coords=755,213,801,230	href="/dbget-bin/www_bget?K06316"	title="K06316 (RFT1)" />
<area shape=rect	coords=411,359,457,376	href="/dbget-bin/www_bget?K03848+2.4.1.-+R06262"	title="K03848 (ALG6), 2.4.1.-, R06262" />
<area shape=rect	coords=547,309,593,326	href="/dbget-bin/www_bget?K03847+2.4.1.130+R06260"	title="K03847 (ALG12), 2.4.1.130, R06260" />
<area shape=rect	coords=639,309,685,326	href="/dbget-bin/www_bget?K03846+2.4.1.130+R06259"	title="K03846 (ALG9), 2.4.1.130, R06259" />
<area shape=rect	coords=695,265,741,282	href="/dbget-bin/www_bget?K03845+2.4.1.130+R06258"	title="K03845 (ALG3), 2.4.1.130, R06258" />
<area shape=rect	coords=547,676,593,693	href="/dbget-bin/www_bget?K00744+K09661+2.4.1.155+R05991"	title="K00744 (MGAT5), K09661 (MGAT5B), 2.4.1.155, R05991" />
<area shape=rect	coords=137,400,183,417	href="/dbget-bin/www_bget?K07252+3.6.1.43+R01004"	title="K07252 (E3.6.1.43), 3.6.1.43, R01004" />
<area shape=rect	coords=639,722,685,739	href="/dbget-bin/www_bget?K00717+2.4.1.68+R05988"	title="K00717 (FUT8), 2.4.1.68, R05988" />
<area shape=rect	coords=456,676,502,693	href="/dbget-bin/www_bget?K13748+2.4.1.201+R05992"	title="K13748 (MGAT4C), 2.4.1.201, R05992" />
<area shape=rect	coords=547,723,593,740	href="/dbget-bin/www_bget?K07966+K07967+K07968+2.4.1.38+R05989"	title="K07966 (B4GALT1), K07967 (B4GALT2), K07968 (B4GALT3), 2.4.1.38, R05989" />
<area shape=rect	coords=456,723,502,740	href="/dbget-bin/www_bget?K00778+2.4.99.1+R05990"	title="K00778 (SIAT1), 2.4.99.1, R05990" />
<area shape=rect	coords=639,631,685,648	href="/dbget-bin/www_bget?K00737+2.4.1.144+R05986"	title="K00737 (MGAT3), 2.4.1.144, R05986" />
<area shape=rect	coords=695,594,741,611	href="/dbget-bin/www_bget?K00736+2.4.1.143+R05985"	title="K00736 (MGAT2), 2.4.1.143, R05985" />
<area shape=rect	coords=695,524,741,541	href="/dbget-bin/www_bget?K01231+3.2.1.114+R05984"	title="K01231 (MAN2), 3.2.1.114, R05984" />
<area shape=rect	coords=547,492,593,509	href="/dbget-bin/www_bget?K01230+3.2.1.113+R05982"	title="K01230 (MAN1), 3.2.1.113, R05982" />
<area shape=rect	coords=639,676,685,693	href="/dbget-bin/www_bget?K00738+2.4.1.145+R05987"	title="K00738 (MGAT4A_B), 2.4.1.145, R05987" />
<area shape=rect	coords=365,492,411,509	href="/dbget-bin/www_bget?K05546+3.2.1.84+R05980"	title="K05546 (GANAB), 3.2.1.84, R05980" />
<area shape=rect	coords=263,492,309,509	href="/dbget-bin/www_bget?K01228+3.2.1.106+R05979"	title="K01228 (GCS1), 3.2.1.106, R05979" />
<area shape=rect	coords=695,181,741,198	href="/dbget-bin/www_bget?K03844+2.4.1.131+R06128"	title="K03844 (ALG11), 2.4.1.131, R06128" />
<area shape=rect	coords=196,446,242,463	href="/dbget-bin/www_bget?K07151+2.4.1.119+R05976"	title="K07151 (STT3), 2.4.1.119, R05976" />
<area shape=rect	coords=229,337,275,354	href="/dbget-bin/www_bget?K00729+2.4.1.117+R01005"	title="K00729 (ALG5), 2.4.1.117, R01005" />
<area shape=rect	coords=229,318,275,335	href="/dbget-bin/www_bget?3.1.4.48+R01006"	title="3.1.4.48, 3.1.4.48, R01006" />
<area shape=rect	coords=456,113,502,130	href="/dbget-bin/www_bget?K03843+2.4.1.132+R05973"	title="K03843 (ALG2), 2.4.1.132, R05973" />
<area shape=rect	coords=365,113,411,130	href="/dbget-bin/www_bget?K03842+2.4.1.142+R05972"	title="K03842 (ALG1), 2.4.1.142, R05972" />
<area shape=rect	coords=263,104,309,121	href="/dbget-bin/www_bget?K07432+2.4.1.141+R05970"	title="K07432 (ALG13), 2.4.1.141, R05970" />
<area shape=rect	coords=390,230,436,247	href="/dbget-bin/www_bget?K00721+2.4.1.83+R01009"	title="K00721 (DPM1), 2.4.1.83, R01009" />
<area shape=rect	coords=171,113,217,130	href="/dbget-bin/www_bget?K01001+2.7.8.15+R05969"	title="K01001 (ALG7), 2.7.8.15, R05969" />
<area shape=rect	coords=73,337,119,354	href="/dbget-bin/www_bget?3.1.3.51+R01003"	title="3.1.3.51, 3.1.3.51, R01003" />
<area shape=rect	coords=73,318,119,335	href="/dbget-bin/www_bget?K00902+2.7.1.108+R01018"	title="K00902 (E2.7.1.108), 2.7.1.108, R01018" />
<area shape=poly	coords=138,905,158,905,158,909,138,909	href="/dbget-bin/www_bget?K03850+2.4.1.-+R06264"	title="K03850 (ALG10), 2.4.1.-, R06264" />
<area shape=poly	coords=394,819,409,834,413,834,398,819	href="/dbget-bin/www_bget?K03847+2.4.1.130+R06260"	title="K03847 (ALG12), 2.4.1.130, R06260" />
<area shape=poly	coords=198,905,218,905,218,909,198,909	href="/dbget-bin/www_bget?K03849+2.4.1.-+R06263"	title="K03849 (ALG8), 2.4.1.-, R06263" />
<area shape=poly	coords=259,905,279,905,279,909,259,909	href="/dbget-bin/www_bget?K03848+2.4.1.-+R06262"	title="K03848 (ALG6), 2.4.1.-, R06262" />
<area shape=poly	coords=323,905,343,905,343,909,323,909	href="/dbget-bin/www_bget?K03844+2.4.1.131+R06128"	title="K03844 (ALG11), 2.4.1.131, R06128" />
<area shape=poly	coords=388,905,408,905,408,909,388,909	href="/dbget-bin/www_bget?K03844+2.4.1.131+R06127"	title="K03844 (ALG11), 2.4.1.131, R06127" />
<area shape=poly	coords=330,863,350,863,350,867,330,867	href="/dbget-bin/www_bget?K03846+2.4.1.130+R06259"	title="K03846 (ALG9), 2.4.1.130, R06259" />
<area shape=poly	coords=330,814,350,814,350,818,330,818	href="/dbget-bin/www_bget?K03846+2.4.1.130+R06261"	title="K03846 (ALG9), 2.4.1.130, R06261" />
<area shape=poly	coords=392,865,407,850,411,850,396,865	href="/dbget-bin/www_bget?K03845+2.4.1.130+R06258"	title="K03845 (ALG3), 2.4.1.130, R06258" />
<area shape=poly	coords=453,845,473,865,477,865,457,845	href="/dbget-bin/www_bget?K03843+2.4.1.-+R06238"	title="K03843 (ALG2), 2.4.1.-, R06238" />
<area shape=poly	coords=452,905,472,885,476,885,456,905	href="/dbget-bin/www_bget?K03843+2.4.1.132+R05973"	title="K03843 (ALG2), 2.4.1.132, R05973" />
<area shape=poly	coords=515,873,535,873,535,877,515,877	href="/dbget-bin/www_bget?K03842+2.4.1.142+R05972"	title="K03842 (ALG1), 2.4.1.142, R05972" />
<area shape=poly	coords=593,873,613,873,613,877,593,877	href="/dbget-bin/www_bget?K07432+K07441+2.4.1.141+R05970"	title="K07432 (ALG13), K07441 (ALG14), 2.4.1.141, R05970" />
<area shape=poly	coords=671,873,691,873,691,877,671,877	href="/dbget-bin/www_bget?K01001+2.7.8.15+R05969"	title="K01001 (ALG7), 2.7.8.15, R05969" />
<area shape=poly	coords=136,1048,156,1048,156,1052,136,1052	href="/dbget-bin/www_bget?K01228+3.2.1.106+R05979"	title="K01228 (GCS1), 3.2.1.106, R05979" />
<area shape=poly	coords=392,962,407,977,411,977,396,962	href="/dbget-bin/www_bget?K01231+3.2.1.114+R05984"	title="K01231 (MAN2), 3.2.1.114, R05984" />
<area shape=poly	coords=196,1048,216,1048,216,1052,196,1052	href="/dbget-bin/www_bget?K05546+3.2.1.84+R05980"	title="K05546 (GANAB), 3.2.1.84, R05980" />
<area shape=poly	coords=257,1048,277,1048,277,1052,257,1052	href="/dbget-bin/www_bget?K05546+3.2.1.84+R05981"	title="K05546 (GANAB), 3.2.1.84, R05981" />
<area shape=poly	coords=321,1048,341,1048,341,1052,321,1052	href="/dbget-bin/www_bget?K01230+3.2.1.113+R05982"	title="K01230 (MAN1), 3.2.1.113, R05982" />
<area shape=poly	coords=386,1048,406,1048,406,1052,386,1052	href="/dbget-bin/www_bget?K01230+3.2.1.113+R05982"	title="K01230 (MAN1), 3.2.1.113, R05982" />
<area shape=poly	coords=328,1006,348,1006,348,1010,328,1010	href="/dbget-bin/www_bget?K01230+3.2.1.113+R05982"	title="K01230 (MAN1), 3.2.1.113, R05982" />
<area shape=poly	coords=328,957,348,957,348,961,328,961	href="/dbget-bin/www_bget?K01230+3.2.1.113+R05982"	title="K01230 (MAN1), 3.2.1.113, R05982" />
<area shape=poly	coords=390,1008,405,993,409,993,394,1008	href="/dbget-bin/www_bget?K01231+3.2.1.114+R05984"	title="K01231 (MAN2), 3.2.1.114, R05984" />
<area shape=poly	coords=669,1016,689,1016,689,1020,669,1020	href="/dbget-bin/www_bget?K00730+2.4.1.119+R05976"	title="K00730 (OST4), 2.4.1.119, R05976" />
<area shape=poly	coords=296,1103,311,1118,315,1118,300,1103	href="/dbget-bin/www_bget?K00744+K09661+2.4.1.155+R05991"	title="K00744 (MGAT5), K09661 (MGAT5B), 2.4.1.155, R05991" />
<area shape=poly	coords=296,1206,311,1221,315,1221,300,1206	href="/dbget-bin/www_bget?K00738+2.4.1.145+R05987"	title="K00738 (MGAT4A_B), 2.4.1.145, R05987" />
<area shape=poly	coords=159,1158,179,1158,179,1162,159,1162	href="/dbget-bin/www_bget?K00778+2.4.99.1+R05990"	title="K00778 (SIAT1), 2.4.99.1, R05990" />
<area shape=poly	coords=295,1159,310,1144,314,1144,299,1159	href="/dbget-bin/www_bget?K00736+2.4.1.143+R05985"	title="K00736 (MGAT2), 2.4.1.143, R05985" />
<area shape=poly	coords=500,1146,520,1166,524,1166,504,1146	href="/dbget-bin/www_bget?K00717+2.4.1.68+R05988"	title="K00717 (FUT8), 2.4.1.68, R05988" />
<area shape=poly	coords=499,1211,519,1191,523,1191,503,1211	href="/dbget-bin/www_bget?K00753+2.4.1.214+R06015"	title="K00753 (E2.4.1.214), 2.4.1.214, R06015" />
<area shape=poly	coords=290,1128,310,1128,310,1132,290,1132	href="/dbget-bin/www_bget?K13748+2.4.1.201+R05992"	title="K13748 (MGAT4C), 2.4.1.201, R05992" />
<area shape=poly	coords=219,1158,239,1158,239,1162,219,1162	href="/dbget-bin/www_bget?K00708+2.4.1.38+R05989"	title="K00708 (E2.4.1.38), 2.4.1.38, R05989" />
<area shape=poly	coords=360,1178,380,1178,380,1182,360,1182	href="/dbget-bin/www_bget?K00737+2.4.1.144+R05986"	title="K00737 (MGAT3), 2.4.1.144, R05986" />
<area shape=poly	coords=158,1254,178,1254,178,1258,158,1258	href="/dbget-bin/www_bget?K00778+2.4.99.1+R05990"	title="K00778 (SIAT1), 2.4.99.1, R05990" />
<area shape=poly	coords=218,1254,238,1254,238,1258,218,1258	href="/dbget-bin/www_bget?K00708+2.4.1.38+R05989"	title="K00708 (E2.4.1.38), 2.4.1.38, R05989" />
<area shape=poly	coords=295,1253,310,1238,314,1238,299,1253	href="/dbget-bin/www_bget?K00726+2.4.1.101+R05983"	title="K00726 (MGAT1), 2.4.1.101, R05983" />
<area shape=poly	coords=401,1216,401,1196,405,1196,405,1216	href="/dbget-bin/www_bget?K03714+2.4.2.38+R06016"	title="K03714 (E2.4.2.38), 2.4.2.38, R06016" />
<area shape=rect	coords=242,446,288,463	href="/dbget-bin/www_bget?K12666+K12667+K12668+K12669+K12670+K00730+K12691+R05976"	title="K12666 (OST1), K12667 (SWP1), K12668 (OST2), K12669 (OST3), K12670 (WBP1), K00730 (OST4), K12691 (OST5), R05976" />
<area shape=rect	coords=547,113,593,130	href="/dbget-bin/www_bget?K03843+2.4.1.-+R06238"	title="K03843 (ALG2), 2.4.1.-, R06238" />
<area shape=rect	coords=639,113,685,130	href="/dbget-bin/www_bget?K03844+2.4.1.131+R06127"	title="K03844 (ALG11), 2.4.1.131, R06127" />
<area shape=rect	coords=456,308,502,325	href="/dbget-bin/www_bget?K03846+2.4.1.130+R06261"	title="K03846 (ALG9), 2.4.1.130, R06261" />
<area shape=rect	coords=365,400,411,417	href="/dbget-bin/www_bget?K03849+2.4.1.-+R06263"	title="K03849 (ALG8), 2.4.1.-, R06263" />
<area shape=rect	coords=263,400,309,417	href="/dbget-bin/www_bget?K03850+2.4.1.-+R06264"	title="K03850 (ALG10), 2.4.1.-, R06264" />
<area shape=rect	coords=456,492,502,509	href="/dbget-bin/www_bget?K05546+3.2.1.84+R05981"	title="K05546 (GANAB), 3.2.1.84, R05981" />
<area shape=rect	coords=639,492,685,509	href="/dbget-bin/www_bget?K00726+2.4.1.101+R05983"	title="K00726 (MGAT1), 2.4.1.101, R05983" />
<area shape=rect	coords=467,419,590,454	href="/kegg-bin/show_pathway?map00513"	title="map00513: High-mannose type N-glycan biosynthesis" />
<area shape=rect	coords=353,621,431,656	href="/kegg-bin/show_pathway?map00511"	title="map00511: Other glycan degradation" />
<area shape=rect	coords=780,621,866,656	href="/kegg-bin/show_pathway?map00533"	title="map00533: Glycosaminoglycan biosynthesis - keratan sulfate" />
<area shape=rect	coords=558,159,682,205	href="/kegg-bin/show_pathway?map00563"	title="map00563: Glycosylphosphatidylinositol(GPI)-anchor biosynthesis" />
<area shape=rect	coords=180,160,305,195	href="/kegg-bin/show_pathway?map00051"	title="map00051: Fructose and mannose metabolism" />
<area shape=rect	coords=40,45,235,71	href="/dbget-bin/www_bget?map00510"	title="map00510: N-Glycan biosynthesis" />
<area shape=rect	coords=101,536,225,571	href="/kegg-bin/show_pathway?map00900"	title="map00900: Terpenoid backbone biosynthesis" />
<area shape=rect	coords=37,147,133,193	href="/kegg-bin/show_pathway?map00520"	title="map00520: Amino sugar and nucleotide sugar metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_4_1_201 %}
    <div class="node_2_4_1_201_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_113 %}
    <div class="node_3_2_1_113_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_114 %}
    <div class="node_3_2_1_114_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_83 %}
    <div class="node_2_4_1_83_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_130 %}
    <div class="node_2_4_1_130_instance_0"></div>
    <div class="node_2_4_1_130_instance_1"></div>
    <div class="node_2_4_1_130_instance_2"></div>
    <div class="node_2_4_1_130_instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_131 %}
    <div class="node_2_4_1_131_instance_0"></div>
    <div class="node_2_4_1_131_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_132 %}
    <div class="node_2_4_1_132_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_155 %}
    <div class="node_2_4_1_155_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_6_1_43 %}
    <div class="node_3_6_1_43_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_117 %}
    <div class="node_2_4_1_117_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_119 %}
    <div class="node_2_4_1_119_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1__ %}
    <div class="node_2_4_1___instance_0"></div>
    <div class="node_2_4_1___instance_1"></div>
    <div class="node_2_4_1___instance_2"></div>
    <div class="node_2_4_1___instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_1 %}
    <div class="node_2_4_99_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3_51 %}
    <div class="node_3_1_3_51_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_108 %}
    <div class="node_2_7_1_108_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_106 %}
    <div class="node_3_2_1_106_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_38 %}
    <div class="node_2_4_1_38_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_4_48 %}
    <div class="node_3_1_4_48_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_145 %}
    <div class="node_2_4_1_145_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_144 %}
    <div class="node_2_4_1_144_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_141 %}
    <div class="node_2_4_1_141_instance_0"></div>
    <div class="node_2_4_1_141_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_143 %}
    <div class="node_2_4_1_143_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_142 %}
    <div class="node_2_4_1_142_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_101 %}
    <div class="node_2_4_1_101_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_84 %}
    <div class="node_3_2_1_84_instance_0"></div>
    <div class="node_3_2_1_84_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_68 %}
    <div class="node_2_4_1_68_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_8_15 %}
    <div class="node_2_7_8_15_instance_0"></div>
  {% endif %}
{% endblock %}
