{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_1_2_3_instance_0
    { position: absolute;
      left: 593px; top: 354px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_7_1_instance_0
    { position: absolute;
      left: 488px; top: 481px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_28_instance_0
    { position: absolute;
      left: 594px; top: 304px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_49_instance_0
    { position: absolute;
      left: 692px; top: 154px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_49_instance_1
    { position: absolute;
      left: 474px; top: 176px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_2_1_instance_0
    { position: absolute;
      left: 748px; top: 342px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_2_4_instance_0
    { position: absolute;
      left: 525px; top: 318px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3_1_instance_0
    { position: absolute;
      left: 691px; top: 587px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_21_instance_0
    { position: absolute;
      left: 692px; top: 73px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_21_instance_1
    { position: absolute;
      left: 644px; top: 114px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_14_instance_0
    { position: absolute;
      left: 468px; top: 746px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_27_instance_0
    { position: absolute;
      left: 641px; top: 366px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_4_1_5_instance_0
    { position: absolute;
      left: 693px; top: 255px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_22_instance_0
    { position: absolute;
      left: 863px; top: 260px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_22_instance_1
    { position: absolute;
      left: 474px; top: 138px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_23_instance_0
    { position: absolute;
      left: 474px; top: 157px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_23_instance_1
    { position: absolute;
      left: 832px; top: 227px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_99_3_instance_0
    { position: absolute;
      left: 779px; top: 595px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_9_1_instance_0
    { position: absolute;
      left: 293px; top: 267px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_3_6_instance_0
    { position: absolute;
      left: 520px; top: 502px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_9_2_instance_0
    { position: absolute;
      left: 343px; top: 267px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_8_1_4_instance_0
    { position: absolute;
      left: 370px; top: 520px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_2_2_instance_0
    { position: absolute;
      left: 642px; top: 417px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_99_7_instance_0
    { position: absolute;
      left: 641px; top: 387px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_13_12_4_instance_0
    { position: absolute;
      left: 747px; top: 403px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_2_5_instance_0
    { position: absolute;
      left: 525px; top: 339px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_49_instance_0
    { position: absolute;
      left: 224px; top: 264px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_9_instance_0
    { position: absolute;
      left: 289px; top: 676px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_3_3_instance_0
    { position: absolute;
      left: 589px; top: 454px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_13_instance_0
    { position: absolute;
      left: 691px; top: 608px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_5_4_instance_0
    { position: absolute;
      left: 164px; top: 603px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_1_instance_0
    { position: absolute;
      left: 409px; top: 482px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_1_instance_1
    { position: absolute;
      left: 408px; top: 422px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_2_36_instance_0
    { position: absolute;
      left: 863px; top: 475px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_99_6_instance_0
    { position: absolute;
      left: 829px; top: 595px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_3_instance_0
    { position: absolute;
      left: 804px; top: 576px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_54_instance_0
    { position: absolute;
      left: 299px; top: 505px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_2_1_instance_0
    { position: absolute;
      left: 691px; top: 471px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_38_instance_0
    { position: absolute;
      left: 194px; top: 465px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_39_instance_0
    { position: absolute;
      left: 244px; top: 465px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_77_instance_0
    { position: absolute;
      left: 747px; top: 114px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_3___instance_0
    { position: absolute;
      left: 351px; top: 775px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_13_instance_0
    { position: absolute;
      left: 468px; top: 709px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_12_instance_0
    { position: absolute;
      left: 409px; top: 554px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_78_instance_0
    { position: absolute;
      left: 692px; top: 186px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_79_instance_0
    { position: absolute;
      left: 692px; top: 207px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_2_12_instance_0
    { position: absolute;
      left: 691px; top: 450px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_37_instance_0
    { position: absolute;
      left: 139px; top: 584px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_1_instance_0
    { position: absolute;
      left: 691px; top: 547px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_10_instance_0
    { position: absolute;
      left: 590px; top: 644px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_6_instance_0
    { position: absolute;
      left: 748px; top: 275px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_40_instance_0
    { position: absolute;
      left: 389px; top: 311px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_3_3_instance_0
    { position: absolute;
      left: 111px; top: 603px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_3_instance_0
    { position: absolute;
      left: 135px; top: 423px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_9_instance_0
    { position: absolute;
      left: 351px; top: 736px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_8_instance_0
    { position: absolute;
      left: 577px; top: 502px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_1_instance_0
    { position: absolute;
      left: 163px; top: 442px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_1_instance_0
    { position: absolute;
      left: 518px; top: 627px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_1_instance_1
    { position: absolute;
      left: 691px; top: 627px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_6_1_7_instance_0
    { position: absolute;
      left: 691px; top: 499px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_3_3_instance_0
    { position: absolute;
      left: 552px; top: 126px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_78_instance_0
    { position: absolute;
      left: 474px; top: 209px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_78_instance_1
    { position: absolute;
      left: 544px; top: 237px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1___instance_0
    { position: absolute;
      left: 473px; top: 266px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_6_instance_0
    { position: absolute;
      left: 351px; top: 709px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_32_instance_0
    { position: absolute;
      left: 224px; top: 226px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_31_instance_0
    { position: absolute;
      left: 224px; top: 205px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_82_instance_0
    { position: absolute;
      left: 189px; top: 584px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_2_instance_0
    { position: absolute;
      left: 468px; top: 775px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_38_instance_0
    { position: absolute;
      left: 224px; top: 245px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_40_instance_0
    { position: absolute;
      left: 220px; top: 484px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=394,560,4	href="/dbget-bin/www_bget?C15973"	title="C15973 (Enzyme N6-(dihydrolipoyl)lysine)" />
<area shape=circle	coords=394,497,4	href="/dbget-bin/www_bget?C15972"	title="C15972 (Enzyme N6-(lipoyl)lysine)" />
<area shape=circle	coords=432,526,4	href="/dbget-bin/www_bget?C16255"	title="C16255 ([Dihydrolipoyllysine-residue acetyltransferase] S-acetyldihydrolipoyllysine)" />
<area shape=circle	coords=432,465,4	href="/dbget-bin/www_bget?C05125"	title="C05125 (2-(alpha-Hydroxyethyl)thiamine diphosphate)" />
<area shape=circle	coords=498,110,4	href="/dbget-bin/www_bget?C00111"	title="C00111 (Glycerone phosphate)" />
<area shape=circle	coords=665,82,4	href="/dbget-bin/www_bget?C05999"	title="C05999 (Lactaldehyde)" />
<area shape=circle	coords=770,82,4	href="/dbget-bin/www_bget?C00583"	title="C00583 (Propane-1,2-diol)" />
<area shape=circle	coords=567,216,4	href="/dbget-bin/www_bget?C03248"	title="C03248 (Acetylenedicarboxylate)" />
<area shape=circle	coords=429,257,4	href="/dbget-bin/www_bget?C00074"	title="C00074 (Phosphoenolpyruvate)" />
<area shape=circle	coords=567,274,4	href="/dbget-bin/www_bget?C03981"	title="C03981 (2-Hydroxyethylenedicarboxylate)" />
<area shape=circle	coords=432,388,4	href="/dbget-bin/www_bget?C00022"	title="C00022 (Pyruvate)" />
<area shape=circle	coords=278,538,4	href="/dbget-bin/www_bget?C00058"	title="C00058 (Formate)" />
<area shape=circle	coords=187,533,4	href="/dbget-bin/www_bget?C00036"	title="C00036 (Oxaloacetate)" />
<area shape=circle	coords=187,680,4	href="/dbget-bin/www_bget?C00149"	title="C00149 ((S)-Malate)" />
<area shape=circle	coords=300,744,4	href="/dbget-bin/www_bget?C00332"	title="C00332 (Acetoacetyl-CoA)" />
<area shape=circle	coords=432,599,4	href="/dbget-bin/www_bget?C00024"	title="C00024 (Acetyl-CoA)" />
<area shape=circle	coords=664,469,4	href="/dbget-bin/www_bget?C00227"	title="C00227 (Acetyl phosphate)" />
<area shape=circle	coords=642,635,4	href="/dbget-bin/www_bget?C05993"	title="C05993 (Acetyl adenylate)" />
<area shape=circle	coords=569,717,4	href="/dbget-bin/www_bget?C02504"	title="C02504 ((2S)-2-Isopropylmalate)" />
<area shape=circle	coords=300,717,4	href="/dbget-bin/www_bget?C02488"	title="C02488 ((R)-2-Ethylmalate)" />
<area shape=circle	coords=300,783,4	href="/dbget-bin/www_bget?C05994"	title="C05994 (2-Propylmalate)" />
<area shape=circle	coords=569,754,4	href="/dbget-bin/www_bget?C01251"	title="C01251 ((R)-2-Hydroxybutane-1,2,4-tricarboxylate)" />
<area shape=circle	coords=569,783,4	href="/dbget-bin/www_bget?C00083"	title="C00083 (Malonyl-CoA)" />
<area shape=circle	coords=764,651,4	href="/dbget-bin/www_bget?C00084"	title="C00084 (Acetaldehyde)" />
<area shape=circle	coords=762,555,4	href="/dbget-bin/www_bget?C00033"	title="C00033 (Acetate)" />
<area shape=circle	coords=770,385,4	href="/dbget-bin/www_bget?C00186"	title="C00186 ((S)-Lactate)" />
<area shape=circle	coords=770,312,4	href="/dbget-bin/www_bget?C00256"	title="C00256 ((R)-Lactate)" />
<area shape=circle	coords=770,262,4	href="/dbget-bin/www_bget?C03451"	title="C03451 ((R)-S-Lactoylglutathione)" />
<area shape=circle	coords=770,205,4	href="/dbget-bin/www_bget?C00937"	title="C00937 ((R)-Lactaldehyde)" />
<area shape=circle	coords=770,162,4	href="/dbget-bin/www_bget?C00424"	title="C00424 ((S)-Lactaldehyde)" />
<area shape=circle	coords=665,162,4	href="/dbget-bin/www_bget?C00546"	title="C00546 (Methylglyoxal)" />
<area shape=circle	coords=470,450,4	href="/dbget-bin/www_bget?C00068"	title="C00068 (Thiamin diphosphate)" />
<area shape=rect	coords=409,482,455,499	href="/dbget-bin/www_bget?K00163+K00161+K00162+1.2.4.1+R03270"	title="K00163 (aceE), K00161 (PDHA), K00162 (PDHB), 1.2.4.1, R03270" />
<area shape=rect	coords=224,205,270,222	href="/dbget-bin/www_bget?K01595+4.1.1.31+R00345"	title="K01595 (E4.1.1.31), 4.1.1.31, R00345" />
<area shape=rect	coords=224,226,270,243	href="/dbget-bin/www_bget?K01596+4.1.1.32+R00431+R00726"	title="K01596 (E4.1.1.32), 4.1.1.32, R00431, R00726" />
<area shape=rect	coords=224,245,270,262	href="/dbget-bin/www_bget?4.1.1.38+R00346"	title="4.1.1.38, 4.1.1.38, R00346" />
<area shape=rect	coords=224,264,270,281	href="/dbget-bin/www_bget?K01610+4.1.1.49+R00341"	title="K01610 (E4.1.1.49), 4.1.1.49, R00341" />
<area shape=rect	coords=293,267,339,284	href="/dbget-bin/www_bget?K01006+2.7.9.1+R00206"	title="K01006 (ppdK), 2.7.9.1, R00206" />
<area shape=rect	coords=343,267,389,284	href="/dbget-bin/www_bget?K01007+2.7.9.2+R00199"	title="K01007 (E2.7.9.2), 2.7.9.2, R00199" />
<area shape=rect	coords=389,311,435,328	href="/dbget-bin/www_bget?K00873+K12406+2.7.1.40+R00200+R02320"	title="K00873 (PK), K12406 (PKLR), 2.7.1.40, R00200, R02320" />
<area shape=rect	coords=552,126,598,143	href="/dbget-bin/www_bget?K01734+4.2.3.3+R01016"	title="K01734 (E4.2.3.3), 4.2.3.3, R01016" />
<area shape=rect	coords=474,138,520,155	href="/dbget-bin/www_bget?K07248+1.2.1.22+R00203"	title="K07248 (aldA), 1.2.1.22, R00203" />
<area shape=rect	coords=474,157,520,174	href="/dbget-bin/www_bget?1.2.1.23+R00203"	title="1.2.1.23, 1.2.1.23, R00203" />
<area shape=rect	coords=644,114,690,131	href="/dbget-bin/www_bget?K00011+1.1.1.21+R02531"	title="K00011 (E1.1.1.21), 1.1.1.21, R02531" />
<area shape=rect	coords=692,73,738,90	href="/dbget-bin/www_bget?K00011+1.1.1.21+R02577"	title="K00011 (E1.1.1.21), 1.1.1.21, R02577" />
<area shape=rect	coords=747,114,793,131	href="/dbget-bin/www_bget?K00048+1.1.1.77+R02257"	title="K00048 (fucO), 1.1.1.77, R02257" />
<area shape=rect	coords=692,154,738,171	href="/dbget-bin/www_bget?1.2.1.49+R02260"	title="1.2.1.49, 1.2.1.49, R02260" />
<area shape=rect	coords=692,186,738,203	href="/dbget-bin/www_bget?1.1.1.78+R02527"	title="1.1.1.78, 1.1.1.78, R02527" />
<area shape=rect	coords=693,255,739,272	href="/dbget-bin/www_bget?K01759+4.4.1.5+R02530"	title="K01759 (E4.4.1.5), 4.4.1.5, R02530" />
<area shape=rect	coords=474,209,520,226	href="/dbget-bin/www_bget?4.1.1.78+R00218"	title="4.1.1.78, 4.1.1.78, R00218" />
<area shape=rect	coords=594,304,640,321	href="/dbget-bin/www_bget?K03777+K03778+1.1.1.28+R00704"	title="K03777 (dld), K03778 (ldhA), 1.1.1.28, R00704" />
<area shape=rect	coords=525,318,571,335	href="/dbget-bin/www_bget?K00102+1.1.2.4+R00197"	title="K00102 (E1.1.2.4), 1.1.2.4, R00197" />
<area shape=rect	coords=748,275,794,292	href="/dbget-bin/www_bget?K01069+3.1.2.6+R01736"	title="K01069 (E3.1.2.6), 3.1.2.6, R01736" />
<area shape=rect	coords=832,227,878,244	href="/dbget-bin/www_bget?1.2.1.23+R01735"	title="1.2.1.23, 1.2.1.23, R01735" />
<area shape=rect	coords=863,260,909,277	href="/dbget-bin/www_bget?K07248+1.2.1.22+R01446"	title="K07248 (aldA), 1.2.1.22, R01446" />
<area shape=rect	coords=748,342,794,359	href="/dbget-bin/www_bget?5.1.2.1+R01450"	title="5.1.2.1, 5.1.2.1, R01450" />
<area shape=rect	coords=135,423,181,440	href="/dbget-bin/www_bget?K01571+K01572+K01573+4.1.1.3+R00217"	title="K01571 (E4.1.1.3A), K01572 (E4.1.1.3B), K01573 (E4.1.1.3G), 4.1.1.3, R00217" />
<area shape=rect	coords=163,442,209,459	href="/dbget-bin/www_bget?K01958+K01959+K01960+6.4.1.1+R00344"	title="K01958 (PC), K01959 (E6.4.1.1A), K01960 (E6.4.1.1B), 6.4.1.1, R00344" />
<area shape=rect	coords=194,465,240,482	href="/dbget-bin/www_bget?K00027+1.1.1.38+R00214"	title="K00027 (E1.1.1.38), 1.1.1.38, R00214" />
<area shape=rect	coords=244,465,290,482	href="/dbget-bin/www_bget?K00028+1.1.1.39+R00214"	title="K00028 (E1.1.1.39), 1.1.1.39, R00214" />
<area shape=rect	coords=299,505,345,522	href="/dbget-bin/www_bget?K00656+2.3.1.54+R00212"	title="K00656 (E2.3.1.54), 2.3.1.54, R00212" />
<area shape=rect	coords=220,484,266,501	href="/dbget-bin/www_bget?K00029+1.1.1.40+R00216"	title="K00029 (E1.1.1.40), 1.1.1.40, R00216" />
<area shape=rect	coords=520,502,566,519	href="/dbget-bin/www_bget?1.2.3.6+R00211"	title="1.2.3.6, 1.2.3.6, R00211" />
<area shape=rect	coords=488,481,534,498	href="/dbget-bin/www_bget?K00169+K00170+K00172+K00171+1.2.7.1+R01196"	title="K00169 (porA), K00170 (porB), K00172 (porG), K00171 (porD), 1.2.7.1, R01196" />
<area shape=rect	coords=139,584,185,601	href="/dbget-bin/www_bget?K00025+K00026+K00024+1.1.1.37+R00342"	title="K00025 (MDH1), K00026 (MDH2), K00024 (mdh), 1.1.1.37, R00342" />
<area shape=rect	coords=189,584,235,601	href="/dbget-bin/www_bget?K00051+1.1.1.82+R00343"	title="K00051 (E1.1.1.82), 1.1.1.82, R00343" />
<area shape=rect	coords=164,603,210,620	href="/dbget-bin/www_bget?K00116+1.1.5.4+R01257"	title="K00116 (mqo), 1.1.5.4, R01257" />
<area shape=rect	coords=289,676,335,693	href="/dbget-bin/www_bget?K01638+2.3.3.9+R00472"	title="K01638 (E2.3.3.9), 2.3.3.9, R00472" />
<area shape=rect	coords=593,354,639,371	href="/dbget-bin/www_bget?K00101+1.1.2.3+R00196"	title="K00101 (E1.1.2.3), 1.1.2.3, R00196" />
<area shape=rect	coords=641,366,687,383	href="/dbget-bin/www_bget?K00016+1.1.1.27+R00703"	title="K00016 (LDH), 1.1.1.27, R00703" />
<area shape=rect	coords=641,387,687,404	href="/dbget-bin/www_bget?1.1.99.7+R01447"	title="1.1.99.7, 1.1.99.7, R01447" />
<area shape=rect	coords=642,417,688,434	href="/dbget-bin/www_bget?K00156+1.2.2.2+R03145"	title="K00156 (E1.2.2.2), 1.2.2.2, R03145" />
<area shape=rect	coords=589,454,635,471	href="/dbget-bin/www_bget?K00158+1.2.3.3+R00207"	title="K00158 (E1.2.3.3), 1.2.3.3, R00207" />
<area shape=rect	coords=577,502,623,519	href="/dbget-bin/www_bget?K13788+K00625+2.3.1.8+R00230"	title="K13788 (pta), K00625 (E2.3.1.8), 2.3.1.8, R00230" />
<area shape=rect	coords=518,627,564,644	href="/dbget-bin/www_bget?K01895+6.2.1.1+R00236"	title="K01895 (ACSS), 6.2.1.1, R00236" />
<area shape=rect	coords=691,547,737,564	href="/dbget-bin/www_bget?K01067+3.1.2.1+R00227"	title="K01067 (E3.1.2.1), 3.1.2.1, R00227" />
<area shape=rect	coords=691,587,737,604	href="/dbget-bin/www_bget?K01026+2.8.3.1+R00928"	title="K01026 (E2.8.3.1), 2.8.3.1, R00928" />
<area shape=rect	coords=691,608,737,625	href="/dbget-bin/www_bget?K01905+6.2.1.13+R00229"	title="K01905 (E6.2.1.13), 6.2.1.13, R00229" />
<area shape=rect	coords=691,450,737,467	href="/dbget-bin/www_bget?2.7.2.12+R00320"	title="2.7.2.12, 2.7.2.12, R00320" />
<area shape=rect	coords=691,627,737,644	href="/dbget-bin/www_bget?K01895+6.2.1.1+R00316"	title="K01895 (ACSS), 6.2.1.1, R00316" />
<area shape=rect	coords=804,576,850,593	href="/dbget-bin/www_bget?K00128+1.2.1.3+R00710+R00711"	title="K00128 (E1.2.1.3), 1.2.1.3, R00710, R00711" />
<area shape=rect	coords=779,595,825,612	href="/dbget-bin/www_bget?1.2.99.3+R01019"	title="1.2.99.3, 1.2.99.3, R01019" />
<area shape=rect	coords=829,595,875,612	href="/dbget-bin/www_bget?1.2.99.6+R00326"	title="1.2.99.6, 1.2.99.6, R00326" />
<area shape=rect	coords=590,644,636,661	href="/dbget-bin/www_bget?K00132+K04072+K04073+K04021+1.2.1.10+R00228"	title="K00132 (E1.2.1.10), K04072 (adhE), K04073 (mhpF), K04021 (eutE), 1.2.1.10, R00228" />
<area shape=rect	coords=351,736,397,753	href="/dbget-bin/www_bget?K00626+2.3.1.9+R00238"	title="K00626 (E2.3.1.9), 2.3.1.9, R00238" />
<area shape=rect	coords=468,709,514,726	href="/dbget-bin/www_bget?K01649+2.3.3.13+R01213"	title="K01649 (E2.3.3.13), 2.3.3.13, R01213" />
<area shape=rect	coords=351,709,397,726	href="/dbget-bin/www_bget?2.3.3.6+R00998"	title="2.3.3.6, 2.3.3.6, R00998" />
<area shape=rect	coords=351,775,397,792	href="/dbget-bin/www_bget?4.1.3.-+R05063"	title="4.1.3.-, 4.1.3.-, R05063" />
<area shape=rect	coords=468,746,514,763	href="/dbget-bin/www_bget?K01655+2.3.3.14+R00271"	title="K01655 (E2.3.3.14), 2.3.3.14, R00271" />
<area shape=rect	coords=468,775,514,792	href="/dbget-bin/www_bget?K01962+K02160+K01961+K01963+K11262+6.4.1.2+R00742"	title="K01962 (accA), K02160 (accB), K01961 (accC), K01963 (accD), K11262 (ACAC), 6.4.1.2, R00742" />
<area shape=rect	coords=544,237,590,254	href="/dbget-bin/www_bget?4.1.1.78+R04177"	title="4.1.1.78, 4.1.1.78, R04177" />
<area shape=rect	coords=473,266,519,283	href="/dbget-bin/www_bget?4.1.1.-+R00219"	title="4.1.1.-, 4.1.1.-, R00219" />
<area shape=rect	coords=692,207,738,224	href="/dbget-bin/www_bget?K00049+K12972+1.1.1.79+R02527"	title="K00049 (E1.1.1.79), K12972 (ghrA), 1.1.1.79, R02527" />
<area shape=rect	coords=408,422,454,439	href="/dbget-bin/www_bget?K00163+K00161+K00162+1.2.4.1+R00014"	title="K00163 (aceE), K00161 (PDHA), K00162 (PDHB), 1.2.4.1, R00014" />
<area shape=rect	coords=409,554,455,571	href="/dbget-bin/www_bget?K00627+2.3.1.12+R02569"	title="K00627 (DLAT), 2.3.1.12, R02569" />
<area shape=rect	coords=370,520,416,537	href="/dbget-bin/www_bget?K00382+1.8.1.4+R07618"	title="K00382 (DLD), 1.8.1.4, R07618" />
<area shape=rect	coords=474,176,520,193	href="/dbget-bin/www_bget?1.2.1.49+R00205"	title="1.2.1.49, 1.2.1.49, R00205" />
<area shape=rect	coords=525,339,571,356	href="/dbget-bin/www_bget?1.1.2.5+R00198"	title="1.1.2.5, 1.1.2.5, R00198" />
<area shape=rect	coords=111,603,157,620	href="/dbget-bin/www_bget?1.1.3.3+R00360"	title="1.1.3.3, 1.1.3.3, R00360" />
<area shape=rect	coords=691,471,737,488	href="/dbget-bin/www_bget?K00925+2.7.2.1+R00315"	title="K00925 (E2.7.2.1), 2.7.2.1, R00315" />
<area shape=rect	coords=691,499,737,516	href="/dbget-bin/www_bget?K01512+3.6.1.7+R00317"	title="K01512 (E3.6.1.7), 3.6.1.7, R00317" />
<area shape=rect	coords=747,403,793,420	href="/dbget-bin/www_bget?K00467+1.13.12.4+R00319"	title="K00467 (E1.13.12.4), 1.13.12.4, R00319" />
<area shape=rect	coords=863,475,909,492	href="/dbget-bin/www_bget?4.1.2.36+R00753"	title="4.1.2.36, 4.1.2.36, R00753" />
<area shape=rect	coords=635,521,681,538	href="/dbget-bin/www_bget?K04020+R00230"	title="K04020 (eutD), R00230" />
<area shape=rect	coords=122,299,274,334	href="/kegg-bin/show_pathway?map00760"	title="map00760: Nicotinate and nicotinamide metabolism" />
<area shape=rect	coords=83,694,157,720	href="/kegg-bin/show_pathway?map00020"	title="map00020: Citrate cycle (TCA cycle)" />
<area shape=rect	coords=415,64,531,99	href="/kegg-bin/show_pathway?map00260"	title="map00260: Glycine, serine and threonine metabolism" />
<area shape=rect	coords=396,128,465,154	href="/kegg-bin/show_pathway?map00010"	title="map00010: Glycolysis / Gluconeogenesis" />
<area shape=rect	coords=58,630,129,665	href="/kegg-bin/show_pathway?map00630"	title="map00630: Glyoxylate and dicarboxylate metabolism" />
<area shape=rect	coords=246,564,314,599	href="/kegg-bin/show_pathway?map00630"	title="map00630: Glyoxylate and dicarboxylate metabolism" />
<area shape=rect	coords=307,624,384,659	href="/kegg-bin/show_pathway?map00640"	title="map00640: Propanoate metabolism" />
<area shape=rect	coords=89,731,219,757	href="/kegg-bin/show_pathway?map00650"	title="map00650: Butanoate metabolism" />
<area shape=rect	coords=87,759,228,794	href="/kegg-bin/show_pathway?map00072"	title="map00072: Synthesis and degradation of ketone bodies" />
<area shape=rect	coords=674,705,794,731	href="/kegg-bin/show_pathway?map00290"	title="map00290: Valine, leucine and isoleucine biosynthesis" />
<area shape=rect	coords=674,742,789,768	href="/kegg-bin/show_pathway?map00300"	title="map00300: Lysine biosynthesis" />
<area shape=rect	coords=674,770,805,796	href="/kegg-bin/show_pathway?map00061"	title="map00061: Fatty acid biosynthesis" />
<area shape=rect	coords=40,45,237,71	href="/dbget-bin/www_bget?map00620"	title="map00620: Pyruvate metabolism" />
<area shape=rect	coords=123,336,256,371	href="/kegg-bin/show_pathway?map00290"	title="map00290: Valine, leucine and isoleucine biosynthesis" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_1_2_3 %}
    <div class="node_1_1_2_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_7_1 %}
    <div class="node_1_2_7_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_28 %}
    <div class="node_1_1_1_28_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_49 %}
    <div class="node_1_2_1_49_instance_0"></div>
    <div class="node_1_2_1_49_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_1_2_1 %}
    <div class="node_5_1_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_2_4 %}
    <div class="node_1_1_2_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_8_3_1 %}
    <div class="node_2_8_3_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_21 %}
    <div class="node_1_1_1_21_instance_0"></div>
    <div class="node_1_1_1_21_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_14 %}
    <div class="node_2_3_3_14_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_27 %}
    <div class="node_1_1_1_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_4_1_5 %}
    <div class="node_4_4_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_22 %}
    <div class="node_1_2_1_22_instance_0"></div>
    <div class="node_1_2_1_22_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_23 %}
    <div class="node_1_2_1_23_instance_0"></div>
    <div class="node_1_2_1_23_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_2_99_3 %}
    <div class="node_1_2_99_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_9_1 %}
    <div class="node_2_7_9_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_3_6 %}
    <div class="node_1_2_3_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_9_2 %}
    <div class="node_2_7_9_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_8_1_4 %}
    <div class="node_1_8_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_2_2 %}
    <div class="node_1_2_2_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_99_7 %}
    <div class="node_1_1_99_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_13_12_4 %}
    <div class="node_1_13_12_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_2_5 %}
    <div class="node_1_1_2_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_49 %}
    <div class="node_4_1_1_49_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_9 %}
    <div class="node_2_3_3_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_3_3 %}
    <div class="node_1_2_3_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_13 %}
    <div class="node_6_2_1_13_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_5_4 %}
    <div class="node_1_1_5_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_4_1 %}
    <div class="node_1_2_4_1_instance_0"></div>
    <div class="node_1_2_4_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.4_1_2_36 %}
    <div class="node_4_1_2_36_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_99_6 %}
    <div class="node_1_2_99_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_3 %}
    <div class="node_1_2_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_54 %}
    <div class="node_2_3_1_54_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_2_1 %}
    <div class="node_2_7_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_38 %}
    <div class="node_1_1_1_38_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_39 %}
    <div class="node_1_1_1_39_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_77 %}
    <div class="node_1_1_1_77_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_3__ %}
    <div class="node_4_1_3___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_13 %}
    <div class="node_2_3_3_13_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_12 %}
    <div class="node_2_3_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_78 %}
    <div class="node_1_1_1_78_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_79 %}
    <div class="node_1_1_1_79_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_2_12 %}
    <div class="node_2_7_2_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_37 %}
    <div class="node_1_1_1_37_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_1 %}
    <div class="node_3_1_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_10 %}
    <div class="node_1_2_1_10_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_6 %}
    <div class="node_3_1_2_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_40 %}
    <div class="node_2_7_1_40_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_3_3 %}
    <div class="node_1_1_3_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_3 %}
    <div class="node_4_1_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_9 %}
    <div class="node_2_3_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_8 %}
    <div class="node_2_3_1_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_1 %}
    <div class="node_6_4_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_1 %}
    <div class="node_6_2_1_1_instance_0"></div>
    <div class="node_6_2_1_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_6_1_7 %}
    <div class="node_3_6_1_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_3_3 %}
    <div class="node_4_2_3_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_78 %}
    <div class="node_4_1_1_78_instance_0"></div>
    <div class="node_4_1_1_78_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1__ %}
    <div class="node_4_1_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_6 %}
    <div class="node_2_3_3_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_32 %}
    <div class="node_4_1_1_32_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_31 %}
    <div class="node_4_1_1_31_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_82 %}
    <div class="node_1_1_1_82_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_2 %}
    <div class="node_6_4_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_38 %}
    <div class="node_4_1_1_38_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_40 %}
    <div class="node_1_1_1_40_instance_0"></div>
  {% endif %}
{% endblock %}
