{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_3_2_1_23_instance_0
    { position: absolute;
      left: 375px; top: 342px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_62_instance_0
    { position: absolute;
      left: 675px; top: 322px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_62_instance_1
    { position: absolute;
      left: 191px; top: 322px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_62_instance_2
    { position: absolute;
      left: 513px; top: 322px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_62_instance_3
    { position: absolute;
      left: 330px; top: 322px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_0
    { position: absolute;
      left: 462px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_1
    { position: absolute;
      left: 353px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_2
    { position: absolute;
      left: 191px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_3
    { position: absolute;
      left: 60px; top: 354px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_4
    { position: absolute;
      left: 127px; top: 272px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_5
    { position: absolute;
      left: 60px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_6
    { position: absolute;
      left: 62px; top: 661px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_7
    { position: absolute;
      left: 154px; top: 506px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_8
    { position: absolute;
      left: 675px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_9
    { position: absolute;
      left: 591px; top: 174px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_10
    { position: absolute;
      left: 513px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_11
    { position: absolute;
      left: 106px; top: 485px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_12
    { position: absolute;
      left: 106px; top: 506px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_13
    { position: absolute;
      left: 675px; top: 438px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_14
    { position: absolute;
      left: 302px; top: 551px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_7_instance_0
    { position: absolute;
      left: 154px; top: 485px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_4_instance_0
    { position: absolute;
      left: 513px; top: 438px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_4_instance_1
    { position: absolute;
      left: 191px; top: 438px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_4_instance_2
    { position: absolute;
      left: 353px; top: 438px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_0
    { position: absolute;
      left: 388px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_1
    { position: absolute;
      left: 388px; top: 381px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_2
    { position: absolute;
      left: 61px; top: 301px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_3
    { position: absolute;
      left: 224px; top: 492px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1___instance_0
    { position: absolute;
      left: 675px; top: 139px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1___instance_1
    { position: absolute;
      left: 513px; top: 139px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_52_instance_0
    { position: absolute;
      left: 375px; top: 236px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_92_instance_0
    { position: absolute;
      left: 513px; top: 215px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_92_instance_1
    { position: absolute;
      left: 191px; top: 215px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_92_instance_2
    { position: absolute;
      left: 330px; top: 215px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_92_instance_3
    { position: absolute;
      left: 675px; top: 215px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_8_instance_0
    { position: absolute;
      left: 425px; top: 162px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_8_instance_1
    { position: absolute;
      left: 591px; top: 153px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_9_instance_0
    { position: absolute;
      left: 264px; top: 162px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=83,703,4	href="/dbget-bin/www_bget?G00129"	title="G00129 (GQ1balpha)" />
<area shape=circle	coords=83,646,4	href="/dbget-bin/www_bget?G00128"	title="G00128 (GT1aalpha)" />
<area shape=circle	coords=83,504,4	href="/dbget-bin/www_bget?G00127"	title="G00127 (GD1a)" />
<area shape=circle	coords=83,394,4	href="/dbget-bin/www_bget?G00132"	title="G00132 (GD1beta)" />
<area shape=circle	coords=83,338,4	href="/dbget-bin/www_bget?G00131"	title="G00131 (GM1alpha)" />
<area shape=circle	coords=83,283,4	href="/dbget-bin/www_bget?G00130"	title="G00130 (GM2alpha)" />
<area shape=circle	coords=698,116,4	href="/dbget-bin/www_bget?G00170"	title="G00170 (9-O-Acetylated GT3)" />
<area shape=circle	coords=698,616,4	href="/dbget-bin/www_bget?G00122"	title="G00122 (GP1c)" />
<area shape=circle	coords=698,504,4	href="/dbget-bin/www_bget?G00121"	title="G00121 (GQ1c)" />
<area shape=circle	coords=698,394,4	href="/dbget-bin/www_bget?G00120"	title="G00120 (GT1c)" />
<area shape=circle	coords=698,283,4	href="/dbget-bin/www_bget?G00119"	title="G00119 (GT2)" />
<area shape=circle	coords=698,172,4	href="/dbget-bin/www_bget?G00118"	title="G00118 (GT3)" />
<area shape=circle	coords=537,116,4	href="/dbget-bin/www_bget?G00169"	title="G00169 (9-O-Acetylated GD3)" />
<area shape=circle	coords=461,505,4	href="/dbget-bin/www_bget?G00168"	title="G00168 (N-Acetylgalactosaminyl GD1a)" />
<area shape=circle	coords=461,394,4	href="/dbget-bin/www_bget?G00166"	title="G00166 (Fucosyl-GM1)" />
<area shape=circle	coords=214,615,4	href="/dbget-bin/www_bget?G00126"	title="G00126 (GD1c)" />
<area shape=circle	coords=301,504,4	href="/dbget-bin/www_bget?G00167"	title="G00167 (N-Acetylgalactosaminyl GM1b)" />
<area shape=circle	coords=214,504,4	href="/dbget-bin/www_bget?G00125"	title="G00125 (GM1b)" />
<area shape=circle	coords=537,394,4	href="/dbget-bin/www_bget?G00115"	title="G00115 (GD1b)" />
<area shape=circle	coords=214,172,4	href="/dbget-bin/www_bget?G00092"	title="G00092 (Lactosylceramide)" />
<area shape=circle	coords=214,283,4	href="/dbget-bin/www_bget?G00123"	title="G00123 (GA2)" />
<area shape=circle	coords=214,394,4	href="/dbget-bin/www_bget?G00124"	title="G00124 (GA1)" />
<area shape=circle	coords=375,617,4	href="/dbget-bin/www_bget?G00112"	title="G00112 (GT1a)" />
<area shape=circle	coords=375,504,4	href="/dbget-bin/www_bget?G00111"	title="G00111 (GD1a)" />
<area shape=circle	coords=375,394,4	href="/dbget-bin/www_bget?G00110"	title="G00110 (GM1)" />
<area shape=circle	coords=375,283,4	href="/dbget-bin/www_bget?G00109"	title="G00109 (GM2)" />
<area shape=circle	coords=375,172,4	href="/dbget-bin/www_bget?G00108"	title="G00108 (GM3)" />
<area shape=circle	coords=537,172,4	href="/dbget-bin/www_bget?G00113"	title="G00113 (GD3)" />
<area shape=circle	coords=537,283,4	href="/dbget-bin/www_bget?G00114"	title="G00114 (GD2)" />
<area shape=circle	coords=537,504,4	href="/dbget-bin/www_bget?G00116"	title="G00116 (GT1b)" />
<area shape=circle	coords=537,616,4	href="/dbget-bin/www_bget?G00117"	title="G00117 (GQ1b)" />
<area shape=rect	coords=513,438,559,455	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05949"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05949" />
<area shape=rect	coords=375,342,421,359	href="/dbget-bin/www_bget?K12309+3.2.1.23+R06010"	title="K12309 (GLB1), 3.2.1.23, R06010" />
<area shape=rect	coords=375,236,421,253	href="/dbget-bin/www_bget?K12373+3.2.1.52+R06004"	title="K12373 (HEX), 3.2.1.52, R06004" />
<area shape=rect	coords=591,153,637,170	href="/dbget-bin/www_bget?K03371+2.4.99.8+R05947"	title="K03371 (SIAT8A), 2.4.99.8, R05947" />
<area shape=rect	coords=591,174,637,191	href="/dbget-bin/www_bget?K03369+2.4.99.-+R05947"	title="K03369 (SIAT8E), 2.4.99.-, R05947" />
<area shape=rect	coords=675,139,721,156	href="/dbget-bin/www_bget?K03372+2.3.1.-"	title="K03372 (ACATN), 2.3.1.-" />
<area shape=rect	coords=675,322,721,339	href="/dbget-bin/www_bget?K00715+2.4.1.62+R05953"	title="K00715 (B3GALT4), 2.4.1.62, R05953" />
<area shape=rect	coords=675,215,721,232	href="/dbget-bin/www_bget?K00725+2.4.1.92+R05952"	title="K00725 (B4GALNT1), 2.4.1.92, R05952" />
<area shape=rect	coords=513,551,559,568	href="/dbget-bin/www_bget?K03369+2.4.99.-+R05950"	title="K03369 (SIAT8E), 2.4.99.-, R05950" />
<area shape=rect	coords=462,551,508,568	href="/dbget-bin/www_bget?K03376+2.4.99.-+R05951"	title="K03376 (SIAT7F), 2.4.99.-, R05951" />
<area shape=rect	coords=302,551,348,568	href="/dbget-bin/www_bget?K03376+2.4.99.-+R05945"	title="K03376 (SIAT7F), 2.4.99.-, R05945" />
<area shape=rect	coords=191,551,237,568	href="/dbget-bin/www_bget?K03369+2.4.99.-+R05958"	title="K03369 (SIAT8E), 2.4.99.-, R05958" />
<area shape=rect	coords=106,485,152,502	href="/dbget-bin/www_bget?K03373+2.4.99.-+R05959"	title="K03373 (SIAT7C), 2.4.99.-, R05959" />
<area shape=rect	coords=425,162,471,179	href="/dbget-bin/www_bget?K03371+2.4.99.8+R05940"	title="K03371 (SIAT8A), 2.4.99.8, R05940" />
<area shape=rect	coords=154,485,200,502	href="/dbget-bin/www_bget?K03374+2.4.99.7+R05959"	title="K03374 (SIAT7D), 2.4.99.7, R05959" />
<area shape=rect	coords=61,301,107,318	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=353,551,399,568	href="/dbget-bin/www_bget?K03369+2.4.99.-+R05943"	title="K03369 (SIAT8E), 2.4.99.-, R05943" />
<area shape=rect	coords=513,322,559,339	href="/dbget-bin/www_bget?K00715+2.4.1.62+R05948"	title="K00715 (B3GALT4), 2.4.1.62, R05948" />
<area shape=rect	coords=513,139,559,156	href="/dbget-bin/www_bget?K03372+2.3.1.-"	title="K03372 (ACATN), 2.3.1.-" />
<area shape=rect	coords=353,438,399,455	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05942"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05942" />
<area shape=rect	coords=264,162,310,179	href="/dbget-bin/www_bget?K03370+2.4.99.9+R05937"	title="K03370 (SIAT9), 2.4.99.9, R05937" />
<area shape=rect	coords=191,215,237,232	href="/dbget-bin/www_bget?K00725+2.4.1.92+R05938"	title="K00725 (B4GALNT1), 2.4.1.92, R05938" />
<area shape=rect	coords=675,551,721,568	href="/dbget-bin/www_bget?2.4.99.-+R05955"	title="2.4.99.-, 2.4.99.-, R05955" />
<area shape=rect	coords=191,322,237,339	href="/dbget-bin/www_bget?K00715+2.4.1.62+R05956"	title="K00715 (B3GALT4), 2.4.1.62, R05956" />
<area shape=rect	coords=62,661,108,678	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=60,354,106,371	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=224,492,270,509	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=330,322,376,339	href="/dbget-bin/www_bget?K00715+2.4.1.62+R05941"	title="K00715 (B3GALT4), 2.4.1.62, R05941" />
<area shape=rect	coords=388,492,434,509	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=675,438,721,455	href="/dbget-bin/www_bget?2.4.99.-+R05954"	title="2.4.99.-, 2.4.99.-, R05954" />
<area shape=rect	coords=330,215,376,232	href="/dbget-bin/www_bget?K00725+2.4.1.92+R05939"	title="K00725 (B4GALNT1), 2.4.1.92, R05939" />
<area shape=rect	coords=191,438,237,455	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05957"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05957" />
<area shape=rect	coords=513,215,559,232	href="/dbget-bin/www_bget?K00725+2.4.1.92+R05946"	title="K00725 (B4GALNT1), 2.4.1.92, R05946" />
<area shape=rect	coords=60,551,106,568	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=127,272,173,289	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=154,506,200,523	href="/dbget-bin/www_bget?K03376+2.4.99.-+R05959"	title="K03376 (SIAT7F), 2.4.99.-, R05959" />
<area shape=rect	coords=106,506,152,523	href="/dbget-bin/www_bget?K03375+2.4.99.-+R05959"	title="K03375 (SIAT7E), 2.4.99.-, R05959" />
<area shape=rect	coords=388,381,434,398	href="/dbget-bin/www_bget?2.4.1.-+R05944"	title="2.4.1.-, 2.4.1.-, R05944" />
<area shape=poly	coords=348,805,363,790,367,790,352,805	href="/dbget-bin/www_bget?K00715+2.4.1.62+R05956+R05941+R05948+R05953"	title="K00715 (B3GALT4), 2.4.1.62, R05956, R05941, R05948, R05953" />
<area shape=poly	coords=205,785,235,785,235,789,205,789	href="/dbget-bin/www_bget?K03369+2.4.99.-+R05958+R05943+R05950+R05955"	title="K03369 (SIAT8E), 2.4.99.-, R05958, R05943, R05950, R05955" />
<area shape=poly	coords=297,787,312,802,316,802,301,787	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05957+R05942+R05949+R05954"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05957, R05942, R05949, R05954" />
<area shape=poly	coords=257,756,287,756,287,760,257,760	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-" />
<area shape=poly	coords=349,760,364,775,368,775,353,760	href="/dbget-bin/www_bget?K03373+K03374+K03375+K03376+2.4.99.7+R05959+R05945+R05951"	title="K03373 (SIAT7C), K03374 (SIAT7D), K03375 (SIAT7E), K03376 (SIAT7F), 2.4.99.7, R05959, R05945, R05951" />
<area shape=poly	coords=237,856,267,856,267,860,237,860	href="/dbget-bin/www_bget?K03369+K03371+2.4.99.-+R05947"	title="K03369 (SIAT8E), K03371 (SIAT8A), 2.4.99.-, R05947" />
<area shape=poly	coords=331,856,361,856,361,860,331,860	href="/dbget-bin/www_bget?K03371+2.4.99.8+R05940"	title="K03371 (SIAT8A), 2.4.99.8, R05940" />
<area shape=poly	coords=418,791,438,811,442,811,422,791	href="/dbget-bin/www_bget?K00725+2.4.1.92+R05938+R05939+R05946+R05952"	title="K00725 (B4GALNT1), 2.4.1.92, R05938, R05939, R05946, R05952" />
<area shape=poly	coords=417,850,437,830,441,830,421,850	href="/dbget-bin/www_bget?K03370+2.4.99.9+R05937"	title="K03370 (SIAT9), 2.4.99.9, R05937" />
<area shape=poly	coords=296,830,311,815,315,815,300,830	href="/dbget-bin/www_bget?2.4.1.-+R05944"	title="2.4.1.-, 2.4.1.-, R05944" />
<area shape=rect	coords=58,155,135,190	href="/kegg-bin/show_pathway?map00600"	title="map00600: Sphingolipid metabolism" />
<area shape=rect	coords=40,45,444,71	href="/dbget-bin/www_bget?map00604"	title="map00604: Glycosphingolipid biosynthesis - ganglio series" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.3_2_1_23 %}
    <div class="node_3_2_1_23_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_62 %}
    <div class="node_2_4_1_62_instance_0"></div>
    <div class="node_2_4_1_62_instance_1"></div>
    <div class="node_2_4_1_62_instance_2"></div>
    <div class="node_2_4_1_62_instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99__ %}
    <div class="node_2_4_99___instance_0"></div>
    <div class="node_2_4_99___instance_1"></div>
    <div class="node_2_4_99___instance_2"></div>
    <div class="node_2_4_99___instance_3"></div>
    <div class="node_2_4_99___instance_4"></div>
    <div class="node_2_4_99___instance_5"></div>
    <div class="node_2_4_99___instance_6"></div>
    <div class="node_2_4_99___instance_7"></div>
    <div class="node_2_4_99___instance_8"></div>
    <div class="node_2_4_99___instance_9"></div>
    <div class="node_2_4_99___instance_10"></div>
    <div class="node_2_4_99___instance_11"></div>
    <div class="node_2_4_99___instance_12"></div>
    <div class="node_2_4_99___instance_13"></div>
    <div class="node_2_4_99___instance_14"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_7 %}
    <div class="node_2_4_99_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_4 %}
    <div class="node_2_4_99_4_instance_0"></div>
    <div class="node_2_4_99_4_instance_1"></div>
    <div class="node_2_4_99_4_instance_2"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1__ %}
    <div class="node_2_4_1___instance_0"></div>
    <div class="node_2_4_1___instance_1"></div>
    <div class="node_2_4_1___instance_2"></div>
    <div class="node_2_4_1___instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1__ %}
    <div class="node_2_3_1___instance_0"></div>
    <div class="node_2_3_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_52 %}
    <div class="node_3_2_1_52_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_92 %}
    <div class="node_2_4_1_92_instance_0"></div>
    <div class="node_2_4_1_92_instance_1"></div>
    <div class="node_2_4_1_92_instance_2"></div>
    <div class="node_2_4_1_92_instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_8 %}
    <div class="node_2_4_99_8_instance_0"></div>
    <div class="node_2_4_99_8_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_9 %}
    <div class="node_2_4_99_9_instance_0"></div>
  {% endif %}
{% endblock %}
