{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_4_1_1___instance_0
    { position: absolute;
      left: 233px; top: 452px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_14___instance_0
    { position: absolute;
      left: 457px; top: 452px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_2___instance_0
    { position: absolute;
      left: 776px; top: 330px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_____instance_0
    { position: absolute;
      left: 381px; top: 170px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3___instance_0
    { position: absolute;
      left: 776px; top: 391px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1___instance_0
    { position: absolute;
      left: 776px; top: 531px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1___instance_1
    { position: absolute;
      left: 552px; top: 269px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1___instance_0
    { position: absolute;
      left: 381px; top: 191px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1___instance_0
    { position: absolute;
      left: 125px; top: 452px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1___instance_1
    { position: absolute;
      left: 341px; top: 452px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_0
    { position: absolute;
      left: 269px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_1
    { position: absolute;
      left: 717px; top: 303px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_2
    { position: absolute;
      left: 776px; top: 655px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_3
    { position: absolute;
      left: 493px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_0
    { position: absolute;
      left: 552px; top: 209px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_1
    { position: absolute;
      left: 776px; top: 470px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_1_instance_0
    { position: absolute;
      left: 78px; top: 147px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_5_1_29_instance_0
    { position: absolute;
      left: 457px; top: 418px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_2_instance_0
    { position: absolute;
      left: 128px; top: 147px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_3___instance_0
    { position: absolute;
      left: 157px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_3___instance_0
    { position: absolute;
      left: 776px; top: 591px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_3___instance_1
    { position: absolute;
      left: 605px; top: 303px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_2___instance_0
    { position: absolute;
      left: 629px; top: 470px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_2___instance_1
    { position: absolute;
      left: 629px; top: 531px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=126,128,4	href="/dbget-bin/www_bget?C00031"	title="C00031 (D-Glucose)" />
<area shape=circle	coords=126,189,4	href="/dbget-bin/www_bget?C00092"	title="C00092 (D-Glucose 6-phosphate)" />
<area shape=circle	coords=238,189,4	href="/dbget-bin/www_bget?C17209"	title="C17209 (2-Deoxy-scyllo-inosose)" />
<area shape=circle	coords=350,189,4	href="/dbget-bin/www_bget?C17580"	title="C17580 (2-Deoxy-scyllo-inosamine)" />
<area shape=circle	coords=462,189,4	href="/dbget-bin/www_bget?C17581"	title="C17581 (3-Amino-2,3-dideoxy-scyllo-inosose)" />
<area shape=circle	coords=574,189,4	href="/dbget-bin/www_bget?C02627"	title="C02627 (2-Deoxystreptamine)" />
<area shape=circle	coords=574,250,4	href="/dbget-bin/www_bget?C17582"	title="C17582 (2'-N-Acetylparomamine)" />
<area shape=circle	coords=574,311,4	href="/dbget-bin/www_bget?C01743"	title="C01743 (Paromamine)" />
<area shape=circle	coords=686,311,4	href="/dbget-bin/www_bget?C17583"	title="C17583 (6'-Dehydro-6'-oxoparomamine)" />
<area shape=circle	coords=798,311,4	href="/dbget-bin/www_bget?C01441"	title="C01441 (Neamine)" />
<area shape=circle	coords=798,372,4	href="/dbget-bin/www_bget?C18004"	title="C18004 (5''-Phosphoribostamycin)" />
<area shape=circle	coords=798,433,4	href="/dbget-bin/www_bget?C01759"	title="C01759 (Ribostamycin)" />
<area shape=circle	coords=798,511,4	href="/dbget-bin/www_bget?C17587"	title="C17587 (2'''-N-Acetyl-6'''-deamino-6'''-hydroxyneomycin C)" />
<area shape=circle	coords=943,460,4	href="/dbget-bin/www_bget?C00043"	title="C00043 (UDP-N-acetyl-D-glucosamine)" />
<area shape=circle	coords=798,572,4	href="/dbget-bin/www_bget?C17588"	title="C17588 (6'''-Deamino-6'''-hydroxyneomycin C)" />
<area shape=circle	coords=798,633,4	href="/dbget-bin/www_bget?C17589"	title="C17589 (6'''-Deamino-6'''-dehydro-6'''-oxoneomycin C)" />
<area shape=circle	coords=798,694,4	href="/dbget-bin/www_bget?C15652"	title="C15652 (Neomycin C)" />
<area shape=circle	coords=798,755,4	href="/dbget-bin/www_bget?C01737"	title="C01737 (Neomycin B)" />
<area shape=circle	coords=651,511,4	href="/dbget-bin/www_bget?C18005"	title="C18005 (gamma-L-Glutamyl-butirosin B)" />
<area shape=circle	coords=651,572,4	href="/dbget-bin/www_bget?C17586"	title="C17586 (Butirosin B)" />
<area shape=circle	coords=651,633,4	href="/dbget-bin/www_bget?C17585"	title="C17585 (Butirosin A)" />
<area shape=circle	coords=90,460,4	href="/dbget-bin/www_bget?C00229"	title="C00229 (Acyl-carrier protein)" />
<area shape=circle	coords=114,397,4	href="/dbget-bin/www_bget?C00025"	title="C00025 (L-Glutamate)" />
<area shape=circle	coords=202,460,4	href="/dbget-bin/www_bget?C18006"	title="C18006 (gamma-L-Glutamyl-[acp])" />
<area shape=circle	coords=314,460,4	href="/dbget-bin/www_bget?C18007"	title="C18007 (4-Aminobutyryl-[acp])" />
<area shape=circle	coords=426,460,4	href="/dbget-bin/www_bget?C18008"	title="C18008 (gamma-L-Glutamyl-4-aminobutyryl-[acp])" />
<area shape=circle	coords=538,460,4	href="/dbget-bin/www_bget?C18009"	title="C18009 (gamma-L-Glutamyl-4-amino-2-hydroxybutyryl-[acp])" />
<area shape=circle	coords=438,426,4	href="/dbget-bin/www_bget?C01847"	title="C01847 (Reduced FMN)" />
<area shape=circle	coords=518,426,4	href="/dbget-bin/www_bget?C00061"	title="C00061 (FMN)" />
<area shape=poly	coords=649,577,649,627,653,627,653,577	href="/dbget-bin/www_bget?R08911"	title="R08911" />
<area shape=poly	coords=651,627,647,619,655,619	href="/dbget-bin/www_bget?R08911"	title="R08911" />
<area shape=rect	coords=78,147,124,164	href="/dbget-bin/www_bget?K00844+2.7.1.1+R00299"	title="K00844 (HK), 2.7.1.1, R00299" />
<area shape=rect	coords=128,147,174,164	href="/dbget-bin/www_bget?K12407+K00845+2.7.1.2+R00299"	title="K12407 (GCK), K00845 (glk), 2.7.1.2, R00299" />
<area shape=rect	coords=157,181,203,198	href="/dbget-bin/www_bget?K13546+4.2.3.-+R08617"	title="K13546 (btrC), 4.2.3.-, R08617" />
<area shape=rect	coords=269,181,315,198	href="/dbget-bin/www_bget?K13547+2.6.1.-+R08890"	title="K13547 (btrS), 2.6.1.-, R08890" />
<area shape=rect	coords=381,191,427,208	href="/dbget-bin/www_bget?K13548+1.1.1.-+R08892"	title="K13548 (neoE), 1.1.1.-, R08892" />
<area shape=rect	coords=493,181,539,198	href="/dbget-bin/www_bget?K13547+2.6.1.-+R08891"	title="K13547 (btrS), 2.6.1.-, R08891" />
<area shape=rect	coords=552,209,598,226	href="/dbget-bin/www_bget?K13550+2.4.1.-+R08894"	title="K13550 (btrM), 2.4.1.-, R08894" />
<area shape=rect	coords=552,269,598,286	href="/dbget-bin/www_bget?K13551+3.5.1.-+R08895"	title="K13551 (btrD), 3.5.1.-, R08895" />
<area shape=rect	coords=605,303,651,320	href="/dbget-bin/www_bget?K13552+1.1.3.-+R08896"	title="K13552 (btrQ), 1.1.3.-, R08896" />
<area shape=rect	coords=717,303,763,320	href="/dbget-bin/www_bget?K13553+2.6.1.-+R08897"	title="K13553 (btrB), 2.6.1.-, R08897" />
<area shape=rect	coords=776,330,822,347	href="/dbget-bin/www_bget?K13554+2.4.2.-+R08898"	title="K13554 (btrL), 2.4.2.-, R08898" />
<area shape=rect	coords=776,391,822,408	href="/dbget-bin/www_bget?K13555+3.1.3.-+R08899"	title="K13555 (btrP), 3.1.3.-, R08899" />
<area shape=rect	coords=125,452,171,469	href="/dbget-bin/www_bget?K13559+6.2.1.-+R08905"	title="K13559 (btrJ), 6.2.1.-, R08905" />
<area shape=rect	coords=233,452,279,469	href="/dbget-bin/www_bget?K13560+4.1.1.-+R08907"	title="K13560 (btrK), 4.1.1.-, R08907" />
<area shape=rect	coords=341,452,387,469	href="/dbget-bin/www_bget?K13559+6.2.1.-+R08906"	title="K13559 (btrJ), 6.2.1.-, R08906" />
<area shape=rect	coords=457,452,503,469	href="/dbget-bin/www_bget?K13561+1.14.14.-+R08908"	title="K13561 (btrO), 1.14.14.-, R08908" />
<area shape=rect	coords=629,470,675,487	href="/dbget-bin/www_bget?K13563+2.3.2.-+R08909"	title="K13563 (btrH), 2.3.2.-, R08909" />
<area shape=rect	coords=629,531,675,548	href="/dbget-bin/www_bget?K13564+2.3.2.-+R08910"	title="K13564 (btrG), 2.3.2.-, R08910" />
<area shape=rect	coords=776,470,822,487	href="/dbget-bin/www_bget?K13556+2.4.1.-+R08900"	title="K13556 (neoF), 2.4.1.-, R08900" />
<area shape=rect	coords=776,531,822,548	href="/dbget-bin/www_bget?K13551+3.5.1.-+R08901"	title="K13551 (btrD), 3.5.1.-, R08901" />
<area shape=rect	coords=776,655,822,672	href="/dbget-bin/www_bget?K13553+2.6.1.-+R08903"	title="K13553 (btrB), 2.6.1.-, R08903" />
<area shape=rect	coords=381,170,427,187	href="/dbget-bin/www_bget?K13549+1.1.-.-+R08893"	title="K13549 (btrN), 1.1.-.-, R08893" />
<area shape=rect	coords=457,418,503,435	href="/dbget-bin/www_bget?K13562+1.5.1.29+R05705+R05706"	title="K13562 (btrV), 1.5.1.29, R05705, R05706" />
<area shape=rect	coords=776,591,822,608	href="/dbget-bin/www_bget?K13552+1.1.3.-+R08902"	title="K13552 (btrQ), 1.1.3.-, R08902" />
<area shape=rect	coords=776,713,822,730	href="/dbget-bin/www_bget?K13557+R08904"	title="K13557 (neoN), R08904" />
<area shape=rect	coords=40,45,366,71	href="/dbget-bin/www_bget?map00524"	title="map00524: Butirosin and neomycin biosynthesis" />
<area shape=rect	coords=58,235,196,261	href="/kegg-bin/show_pathway?map00521"	title="map00521: Streptomycin biosynthesis" />
<area shape=rect	coords=1041,443,1190,478	href="/kegg-bin/show_pathway?map00520"	title="map00520: Amino sugar and nucleotide sugar metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.4_1_1__ %}
    <div class="node_4_1_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_14__ %}
    <div class="node_1_14_14___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_2__ %}
    <div class="node_2_4_2___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1____ %}
    <div class="node_1_1_____instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3__ %}
    <div class="node_3_1_3___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1__ %}
    <div class="node_3_5_1___instance_0"></div>
    <div class="node_3_5_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1__ %}
    <div class="node_1_1_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1__ %}
    <div class="node_6_2_1___instance_0"></div>
    <div class="node_6_2_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1__ %}
    <div class="node_2_6_1___instance_0"></div>
    <div class="node_2_6_1___instance_1"></div>
    <div class="node_2_6_1___instance_2"></div>
    <div class="node_2_6_1___instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1__ %}
    <div class="node_2_4_1___instance_0"></div>
    <div class="node_2_4_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_1 %}
    <div class="node_2_7_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_5_1_29 %}
    <div class="node_1_5_1_29_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_2 %}
    <div class="node_2_7_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_3__ %}
    <div class="node_4_2_3___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_3__ %}
    <div class="node_1_1_3___instance_0"></div>
    <div class="node_1_1_3___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_3_2__ %}
    <div class="node_2_3_2___instance_0"></div>
    <div class="node_2_3_2___instance_1"></div>
  {% endif %}
{% endblock %}
