{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_4_1_10_instance_0
    { position: absolute;
      left: 512px; top: 753px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_9_instance_0
    { position: absolute;
      left: 1064px; top: 944px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_8_25_instance_0
    { position: absolute;
      left: 407px; top: 1488px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_5_instance_0
    { position: absolute;
      left: 462px; top: 753px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_5_instance_1
    { position: absolute;
      left: 365px; top: 753px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_5_instance_2
    { position: absolute;
      left: 411px; top: 753px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_38_instance_0
    { position: absolute;
      left: 365px; top: 1665px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_1_2_instance_0
    { position: absolute;
      left: 928px; top: 851px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_2_6_instance_0
    { position: absolute;
      left: 928px; top: 500px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_1_instance_0
    { position: absolute;
      left: 365px; top: 182px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_3_1_instance_1
    { position: absolute;
      left: 365px; top: 136px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_7_61_instance_0
    { position: absolute;
      left: 365px; top: 1488px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_2_instance_0
    { position: absolute;
      left: 973px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_2_instance_1
    { position: absolute;
      left: 1019px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_2_instance_2
    { position: absolute;
      left: 928px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=719,953,4	href="/dbget-bin/www_bget?C00164"	title="C00164 (Acetoacetate)" />
<area shape=circle	coords=719,920,4	href="/dbget-bin/www_bget?C00038+C06696"	title="C00038 (Zinc), C06696 (Lead)" />
<area shape=circle	coords=719,148,4	href="/dbget-bin/www_bget?C00244+C00088"	title="C00244 (Nitrate), C00088 (Nitrite)" />
<area shape=circle	coords=677,300,4	href="/dbget-bin/www_bget?C00031"	title="C00031 (D-Glucose)" />
<area shape=circle	coords=152,239,4	href="/dbget-bin/www_bget?C11612"	title="C11612 (Polymyxin B)" />
<area shape=circle	coords=719,717,4	href="/dbget-bin/www_bget?C00007"	title="C00007 (Oxygen)" />
<area shape=circle	coords=719,875,4	href="/dbget-bin/www_bget?C00697"	title="C00697 (Nitrogen)" />
<area shape=circle	coords=676,228,4	href="/dbget-bin/www_bget?C00092"	title="C00092 (D-Glucose 6-phosphate)" />
<area shape=circle	coords=152,720,4	href="/dbget-bin/www_bget?C00007"	title="C00007 (Oxygen)" />
<area shape=circle	coords=152,620,4	href="/dbget-bin/www_bget?C01104"	title="C01104 (Trimethylamine N-oxide)" />
<area shape=circle	coords=152,503,4	href="/dbget-bin/www_bget?C00070"	title="C00070 (Copper)" />
<area shape=circle	coords=152,468,4	href="/dbget-bin/www_bget?C00023"	title="C00023 (Iron)" />
<area shape=circle	coords=152,271,4	href="/dbget-bin/www_bget?C00238"	title="C00238 (Potassium)" />
<area shape=circle	coords=152,216,4	href="/dbget-bin/www_bget?C00305"	title="C00305 (Magnesium)" />
<area shape=circle	coords=152,145,4	href="/dbget-bin/www_bget?C00009"	title="C00009 (Orthophosphate)" />
<area shape=circle	coords=152,1503,4	href="/dbget-bin/www_bget?C00158"	title="C00158 (Citrate)" />
<area shape=circle	coords=152,1547,4	href="/dbget-bin/www_bget?C00305+C00158"	title="C00305 (Magnesium), C00158 (Citrate)" />
<area shape=circle	coords=152,889,4	href="/dbget-bin/www_bget?C00007"	title="C00007 (Oxygen)" />
<area shape=circle	coords=153,958,4	href="/dbget-bin/www_bget?C00291"	title="C00291 (Nickel)" />
<area shape=circle	coords=152,190,4	href="/dbget-bin/www_bget?C00009"	title="C00009 (Orthophosphate)" />
<area shape=circle	coords=719,1051,4	href="/dbget-bin/www_bget?C00042+C00149+C00049+C00036"	title="C00042 (Succinate), C00149 ((S)-Malate), C00049 (L-Aspartate), C00036 (Oxaloacetate)" />
<area shape=circle	coords=932,1675,4	href="/dbget-bin/www_bget?C16463"	title="C16463 (3',5'-Cyclic diGMP)" />
<area shape=circle	coords=153,1014,4	href="/dbget-bin/www_bget?C00034"	title="C00034 (Manganese)" />
<area shape=circle	coords=719,642,4	href="/dbget-bin/www_bget?C01667+C06689"	title="C01667 (Bacitracin), C06689 (Vancomycin)" />
<area shape=circle	coords=152,1186,4	href="/dbget-bin/www_bget?C01667"	title="C01667 (Bacitracin)" />
<area shape=circle	coords=152,1581,4	href="/dbget-bin/www_bget?C00122"	title="C00122 (Fumarate)" />
<area shape=circle	coords=152,1616,4	href="/dbget-bin/www_bget?C00042+C00122"	title="C00042 (Succinate), C00122 (Fumarate)" />
<area shape=circle	coords=719,2066,4	href="/dbget-bin/www_bget?C00064"	title="C00064 (L-Glutamine)" />
<area shape=circle	coords=152,1674,4	href="/dbget-bin/www_bget?C00149"	title="C00149 ((S)-Malate)" />
<area shape=circle	coords=720,1872,4	href="/dbget-bin/www_bget?C00042+C00122"	title="C00042 (Succinate), C00122 (Fumarate)" />
<area shape=circle	coords=720,1904,4	href="/dbget-bin/www_bget?C02084"	title="C02084 (Tetrathionate)" />
<area shape=circle	coords=973,1525,4	href="/dbget-bin/www_bget?C16463"	title="C16463 (3',5'-Cyclic diGMP)" />
<area shape=circle	coords=719,2013,4	href="/dbget-bin/www_bget?C16665+C18206"	title="C16665 (12-Methyltetradecanoic acid), C18206 (cis-11-Methyl-2-dodecenoic acid)" />
<area shape=circle	coords=932,1984,4	href="/dbget-bin/www_bget?C16463"	title="C16463 (3',5'-Cyclic diGMP)" />
<area shape=rect	coords=1111,709,1157,726	href="/dbget-bin/www_bget?K00374"	title="K00374 (narI)" />
<area shape=rect	coords=1066,709,1112,726	href="/dbget-bin/www_bget?K00373"	title="K00373 (narJ)" />
<area shape=rect	coords=1020,709,1066,726	href="/dbget-bin/www_bget?K00371"	title="K00371 (narH)" />
<area shape=rect	coords=975,709,1021,726	href="/dbget-bin/www_bget?K00370"	title="K00370 (narG)" />
<area shape=rect	coords=757,1266,803,1283	href="/dbget-bin/www_bget?K03776+K05874+K05875+K05876+K05877+K03406"	title="K03776 (aer), K05874 (tsr), K05875 (tar), K05876 (trg), K05877 (tap), K03406 (mcp)" />
<area shape=rect	coords=976,1077,1022,1094	href="/dbget-bin/www_bget?K02650"	title="K02650 (pilA)" />
<area shape=rect	coords=891,1077,937,1094	href="/dbget-bin/www_bget?K03058"	title="K03058 (rpoN)" />
<area shape=rect	coords=757,1077,803,1094	href="/dbget-bin/www_bget?K02668"	title="K02668 (pilS)" />
<area shape=rect	coords=799,1353,845,1370	href="/dbget-bin/www_bget?K02659"	title="K02659 (pilI)" />
<area shape=rect	coords=799,1249,845,1266	href="/dbget-bin/www_bget?K03408"	title="K03408 (cheW)" />
<area shape=rect	coords=921,332,967,349	href="/dbget-bin/www_bget?K07782"	title="K07782 (sdiA)" />
<area shape=rect	coords=928,911,974,928	href="/dbget-bin/www_bget?K07803"	title="K07803 (zraP)" />
<area shape=rect	coords=407,1488,457,1505	href="/dbget-bin/www_bget?K05966+K13927"	title="K05966 (E2.7.8.25), K13927 (citXG)" />
<area shape=rect	coords=974,460,1020,477	href="/dbget-bin/www_bget?K07786"	title="K07786 (emrY)" />
<area shape=rect	coords=928,460,974,477	href="/dbget-bin/www_bget?K07797"	title="K07797 (emrK)" />
<area shape=rect	coords=110,1908,156,1925	href="/dbget-bin/www_bget?K07800"	title="K07800 (agrD)" />
<area shape=rect	coords=76,1874,122,1891	href="/dbget-bin/www_bget?K07813"	title="K07813 (agrB)" />
<area shape=rect	coords=411,1741,457,1758	href="/dbget-bin/www_bget?K05339"	title="K05339 (lrgB)" />
<area shape=rect	coords=365,1538,411,1555	href="/dbget-bin/www_bget?K11639"	title="K11639 (citM)" />
<area shape=rect	coords=365,1741,411,1758	href="/dbget-bin/www_bget?K05338"	title="K05338 (lrgA)" />
<area shape=rect	coords=365,1513,411,1530	href="/dbget-bin/www_bget?K07780"	title="K07780 (appY)" />
<area shape=rect	coords=457,1488,503,1505	href="/dbget-bin/www_bget?K09477"	title="K09477 (citT)" />
<area shape=rect	coords=365,1488,411,1505	href="/dbget-bin/www_bget?K05964+K13927"	title="K05964 (E2.7.7.61), K13927 (citXG)" />
<area shape=rect	coords=503,1471,549,1488	href="/dbget-bin/www_bget?K01643"	title="K01643 (citF)" />
<area shape=rect	coords=457,1471,503,1488	href="/dbget-bin/www_bget?K01644"	title="K01644 (citE)" />
<area shape=rect	coords=411,1471,457,1488	href="/dbget-bin/www_bget?K01646"	title="K01646 (citD)" />
<area shape=rect	coords=365,1471,411,1488	href="/dbget-bin/www_bget?K01910"	title="K01910 (citC)" />
<area shape=rect	coords=512,753,558,770	href="/dbget-bin/www_bget?K00692"	title="K00692 (E2.4.1.10)" />
<area shape=rect	coords=462,753,508,770	href="/dbget-bin/www_bget?K00689"	title="K00689 (E2.4.1.5)" />
<area shape=rect	coords=411,753,457,770	href="/dbget-bin/www_bget?K00689"	title="K00689 (E2.4.1.5)" />
<area shape=rect	coords=365,753,411,770	href="/dbget-bin/www_bget?K00689"	title="K00689 (E2.4.1.5)" />
<area shape=rect	coords=365,784,411,801	href="/dbget-bin/www_bget?K08372"	title="K08372 (pepD)" />
<area shape=rect	coords=411,679,457,696	href="/dbget-bin/www_bget?K07794"	title="K07794 (tctB)" />
<area shape=rect	coords=456,679,502,696	href="/dbget-bin/www_bget?K07795"	title="K07795 (tctC)" />
<area shape=rect	coords=365,679,411,696	href="/dbget-bin/www_bget?K07793"	title="K07793 (tctA)" />
<area shape=rect	coords=558,533,604,550	href="/dbget-bin/www_bget?K02556"	title="K02556 (motA)" />
<area shape=rect	coords=509,533,555,550	href="/dbget-bin/www_bget?K02405"	title="K02405 (fliA)" />
<area shape=rect	coords=460,533,506,550	href="/dbget-bin/www_bget?K02406"	title="K02406 (fliC)" />
<area shape=rect	coords=456,612,502,629	href="/dbget-bin/www_bget?K03533"	title="K03533 (torD)" />
<area shape=rect	coords=411,612,457,629	href="/dbget-bin/www_bget?K07811"	title="K07811 (torA)" />
<area shape=rect	coords=365,612,411,629	href="/dbget-bin/www_bget?K03532"	title="K03532 (torC)" />
<area shape=rect	coords=928,424,974,441	href="/dbget-bin/www_bget?K02252"	title="K02252 (comS)" />
<area shape=rect	coords=713,220,759,237	href="/dbget-bin/www_bget?K07783"	title="K07783 (uhpC)" />
<area shape=rect	coords=711,291,757,308	href="/dbget-bin/www_bget?K06080"	title="K06080 (rcsF)" />
<area shape=rect	coords=365,366,411,383	href="/dbget-bin/www_bget?K04771"	title="K04771 (degP)" />
<area shape=rect	coords=278,216,324,233	href="/dbget-bin/www_bget?K07660"	title="K07660 (phoP)" />
<area shape=rect	coords=606,216,652,233	href="/dbget-bin/www_bget?K09474"	title="K09474 (phoN)" />
<area shape=rect	coords=557,216,603,233	href="/dbget-bin/www_bget?K08477"	title="K08477 (pgtE)" />
<area shape=rect	coords=509,216,555,233	href="/dbget-bin/www_bget?K07801"	title="K07801 (pagK)" />
<area shape=rect	coords=461,216,507,233	href="/dbget-bin/www_bget?K07805"	title="K07805 (pagD)" />
<area shape=rect	coords=413,216,459,233	href="/dbget-bin/www_bget?K07790"	title="K07790 (pagO)" />
<area shape=rect	coords=365,216,411,233	href="/dbget-bin/www_bget?K07804"	title="K07804 (pagC)" />
<area shape=rect	coords=365,427,411,444	href="/dbget-bin/www_bget?K07799"	title="K07799 (mdtA)" />
<area shape=rect	coords=937,283,983,300	href="/dbget-bin/www_bget?K07781"	title="K07781 (rcsA)" />
<area shape=rect	coords=1066,684,1112,701	href="/dbget-bin/www_bget?K07696"	title="K07696 (nreC)" />
<area shape=rect	coords=1020,684,1066,701	href="/dbget-bin/www_bget?K07683"	title="K07683 (nreB)" />
<area shape=rect	coords=975,684,1021,701	href="/dbget-bin/www_bget?K10851"	title="K10851 (nreA)" />
<area shape=rect	coords=1011,361,1057,378	href="/dbget-bin/www_bget?K03563"	title="K03563 (csrA)" />
<area shape=rect	coords=678,424,724,441	href="/dbget-bin/www_bget?K02253"	title="K02253 (comX)" />
<area shape=rect	coords=1064,944,1110,961	href="/dbget-bin/www_bget?K00626"	title="K00626 (E2.3.1.9)" />
<area shape=rect	coords=1019,944,1065,961	href="/dbget-bin/www_bget?K02106"	title="K02106 (atoE)" />
<area shape=rect	coords=973,944,1019,961	href="/dbget-bin/www_bget?K01035"	title="K01035 (atoA)" />
<area shape=rect	coords=928,944,974,961	href="/dbget-bin/www_bget?K01034"	title="K01034 (atoD)" />
<area shape=rect	coords=928,851,974,868	href="/dbget-bin/www_bget?K01915"	title="K01915 (E6.3.1.2)" />
<area shape=rect	coords=997,794,1043,811	href="/dbget-bin/www_bget?K04751"	title="K04751 (glnB)" />
<area shape=rect	coords=928,794,974,811	href="/dbget-bin/www_bget?K00990"	title="K00990 (glnD)" />
<area shape=rect	coords=975,735,1021,752	href="/dbget-bin/www_bget?K10850"	title="K10850 (narT)" />
<area shape=rect	coords=928,565,974,582	href="/dbget-bin/www_bget?K10255"	title="K10255 (FAD6)" />
<area shape=rect	coords=928,500,974,517	href="/dbget-bin/www_bget?K01467"	title="K01467 (E3.5.2.6)" />
<area shape=rect	coords=365,460,411,477	href="/dbget-bin/www_bget?K07806"	title="K07806 (arnB)" />
<area shape=rect	coords=365,712,411,729	href="/dbget-bin/www_bget?K02259"	title="K02259 (COX15)" />
<area shape=rect	coords=928,241,974,258	href="/dbget-bin/www_bget?K07784"	title="K07784 (uhpT)" />
<area shape=rect	coords=1064,194,1110,211	href="/dbget-bin/www_bget?K00247"	title="K00247 (frdD)" />
<area shape=rect	coords=1019,194,1065,211	href="/dbget-bin/www_bget?K00246"	title="K00246 (frdC)" />
<area shape=rect	coords=973,194,1019,211	href="/dbget-bin/www_bget?K00245"	title="K00245 (frdB)" />
<area shape=rect	coords=928,194,974,211	href="/dbget-bin/www_bget?K00244"	title="K00244 (frdA)" />
<area shape=rect	coords=1019,161,1065,178	href="/dbget-bin/www_bget?K08350"	title="K08350 (E1.2.1.2NG)" />
<area shape=rect	coords=973,161,1019,178	href="/dbget-bin/www_bget?K08349"	title="K08349 (E1.2.1.2NB)" />
<area shape=rect	coords=928,161,974,178	href="/dbget-bin/www_bget?K08348"	title="K08348 (E1.2.1.2NA)" />
<area shape=rect	coords=1065,126,1111,143	href="/dbget-bin/www_bget?K00374"	title="K00374 (narI)" />
<area shape=rect	coords=1019,126,1065,143	href="/dbget-bin/www_bget?K00373"	title="K00373 (narJ)" />
<area shape=rect	coords=974,126,1020,143	href="/dbget-bin/www_bget?K00371"	title="K00371 (narH)" />
<area shape=rect	coords=928,126,974,143	href="/dbget-bin/www_bget?K00370"	title="K00370 (narG)" />
<area shape=rect	coords=365,826,411,843	href="/dbget-bin/www_bget?K02313"	title="K02313 (dnaA)" />
<area shape=rect	coords=365,333,411,350	href="/dbget-bin/www_bget?K04771"	title="K04771 (degP)" />
<area shape=rect	coords=456,571,502,588	href="/dbget-bin/www_bget?K01548"	title="K01548 (kdpC)" />
<area shape=rect	coords=411,571,457,588	href="/dbget-bin/www_bget?K01547"	title="K01547 (kdpB)" />
<area shape=rect	coords=365,571,411,588	href="/dbget-bin/www_bget?K01546"	title="K01546 (kdpA)" />
<area shape=rect	coords=411,533,457,550	href="/dbget-bin/www_bget?K02402"	title="K02402 (flhC)" />
<area shape=rect	coords=365,533,411,550	href="/dbget-bin/www_bget?K02403"	title="K02403 (flhD)" />
<area shape=rect	coords=456,427,502,444	href="/dbget-bin/www_bget?K07789"	title="K07789 (mdtC)" />
<area shape=rect	coords=411,427,457,444	href="/dbget-bin/www_bget?K07788"	title="K07788 (mdtB)" />
<area shape=rect	coords=365,279,411,296	href="/dbget-bin/www_bget?K09476"	title="K09476 (ompF)" />
<area shape=rect	coords=365,251,411,268	href="/dbget-bin/www_bget?K09475"	title="K09475 (ompC)" />
<area shape=rect	coords=365,136,411,153	href="/dbget-bin/www_bget?K01077"	title="K01077 (E3.1.3.1)" />
<area shape=rect	coords=846,2094,892,2111	href="/dbget-bin/www_bget?K07720"	title="K07720 (yesN)" />
<area shape=rect	coords=757,2094,803,2111	href="/dbget-bin/www_bget?K07718"	title="K07718 (yesM)" />
<area shape=rect	coords=846,2057,892,2074	href="/dbget-bin/www_bget?K07719"	title="K07719 (ycbB)" />
<area shape=rect	coords=757,2057,803,2074	href="/dbget-bin/www_bget?K07717"	title="K07717 (ycbA)" />
<area shape=rect	coords=846,1667,892,1684	href="/dbget-bin/www_bget?K02488"	title="K02488 (pleD)" />
<area shape=rect	coords=757,1666,803,1683	href="/dbget-bin/www_bget?K07716+K02489"	title="K07716 (pleC), K02489 (pleC1)" />
<area shape=rect	coords=887,1243,933,1260	href="/dbget-bin/www_bget?K03413"	title="K03413 (cheY)" />
<area shape=rect	coords=887,1288,933,1305	href="/dbget-bin/www_bget?K03412+K13924"	title="K03412 (cheB), K13924 (cheBR)" />
<area shape=rect	coords=887,1266,933,1283	href="/dbget-bin/www_bget?K03415"	title="K03415 (cheV)" />
<area shape=rect	coords=887,1347,933,1364	href="/dbget-bin/www_bget?K02657"	title="K02657 (pilG)" />
<area shape=rect	coords=887,1370,933,1387	href="/dbget-bin/www_bget?K02658"	title="K02658 (pilH)" />
<area shape=rect	coords=846,1077,892,1094	href="/dbget-bin/www_bget?K02667"	title="K02667 (pilR)" />
<area shape=rect	coords=757,1370,803,1387	href="/dbget-bin/www_bget?K02660"	title="K02660 (pilJ)" />
<area shape=rect	coords=802,1370,848,1387	href="/dbget-bin/www_bget?K06596+K02487"	title="K06596 (chpA), K02487 (pilL)" />
<area shape=rect	coords=802,1266,848,1283	href="/dbget-bin/www_bget?K03407"	title="K03407 (cheA)" />
<area shape=rect	coords=846,851,892,868	href="/dbget-bin/www_bget?K07712"	title="K07712 (glnG)" />
<area shape=rect	coords=846,911,892,928	href="/dbget-bin/www_bget?K07713"	title="K07713 (hydG)" />
<area shape=rect	coords=846,944,892,961	href="/dbget-bin/www_bget?K07714"	title="K07714 (atoC)" />
<area shape=rect	coords=846,1145,892,1162	href="/dbget-bin/www_bget?K07715"	title="K07715 (yfhA)" />
<area shape=rect	coords=757,1145,803,1162	href="/dbget-bin/www_bget?K07711"	title="K07711 (yfhK)" />
<area shape=rect	coords=757,944,803,961	href="/dbget-bin/www_bget?K07710"	title="K07710 (atoS)" />
<area shape=rect	coords=757,911,803,928	href="/dbget-bin/www_bget?K07709"	title="K07709 (hydH)" />
<area shape=rect	coords=757,851,803,868	href="/dbget-bin/www_bget?K07708"	title="K07708 (glnL)" />
<area shape=rect	coords=889,709,935,726	href="/dbget-bin/www_bget?K07696"	title="K07696 (nreC)" />
<area shape=rect	coords=846,679,892,696	href="/dbget-bin/www_bget?K07695"	title="K07695 (devR)" />
<area shape=rect	coords=846,596,892,613	href="/dbget-bin/www_bget?K07694"	title="K07694 (vraR)" />
<area shape=rect	coords=846,565,892,582	href="/dbget-bin/www_bget?K07693"	title="K07693 (desR)" />
<area shape=rect	coords=846,533,892,550	href="/dbget-bin/www_bget?K07692"	title="K07692 (degU)" />
<area shape=rect	coords=846,424,892,441	href="/dbget-bin/www_bget?K07691"	title="K07691 (comA)" />
<area shape=rect	coords=846,460,892,477	href="/dbget-bin/www_bget?K07690"	title="K07690 (evgA)" />
<area shape=rect	coords=846,361,892,378	href="/dbget-bin/www_bget?K07689"	title="K07689 (uvrY)" />
<area shape=rect	coords=846,500,892,517	href="/dbget-bin/www_bget?K07688"	title="K07688 (fimZ)" />
<area shape=rect	coords=937,300,983,317	href="/dbget-bin/www_bget?K07687"	title="K07687 (rcsB)" />
<area shape=rect	coords=846,241,892,258	href="/dbget-bin/www_bget?K07686"	title="K07686 (uhpA)" />
<area shape=rect	coords=846,155,892,172	href="/dbget-bin/www_bget?K07685"	title="K07685 (narP)" />
<area shape=rect	coords=800,709,846,726	href="/dbget-bin/www_bget?K07683"	title="K07683 (nreB)" />
<area shape=rect	coords=757,679,803,696	href="/dbget-bin/www_bget?K07682"	title="K07682 (devS)" />
<area shape=rect	coords=757,596,803,613	href="/dbget-bin/www_bget?K07681"	title="K07681 (vraS)" />
<area shape=rect	coords=757,565,803,582	href="/dbget-bin/www_bget?K07778"	title="K07778 (desK)" />
<area shape=rect	coords=757,533,803,550	href="/dbget-bin/www_bget?K07777"	title="K07777 (degS)" />
<area shape=rect	coords=757,424,803,441	href="/dbget-bin/www_bget?K07680"	title="K07680 (comP)" />
<area shape=rect	coords=757,460,803,477	href="/dbget-bin/www_bget?K07679"	title="K07679 (evgS)" />
<area shape=rect	coords=757,361,803,378	href="/dbget-bin/www_bget?K07678"	title="K07678 (barA)" />
<area shape=rect	coords=757,291,803,308	href="/dbget-bin/www_bget?K07677"	title="K07677 (rcsC)" />
<area shape=rect	coords=846,291,892,308	href="/dbget-bin/www_bget?K07676"	title="K07676 (rcsD)" />
<area shape=rect	coords=757,241,803,258	href="/dbget-bin/www_bget?K07675"	title="K07675 (uhpB)" />
<area shape=rect	coords=757,155,803,172	href="/dbget-bin/www_bget?K07674"	title="K07674 (narQ)" />
<area shape=rect	coords=846,126,892,143	href="/dbget-bin/www_bget?K07684"	title="K07684 (narL)" />
<area shape=rect	coords=757,126,803,143	href="/dbget-bin/www_bget?K07673"	title="K07673 (narX)" />
<area shape=rect	coords=278,1908,324,1925	href="/dbget-bin/www_bget?K07707"	title="K07707 (agrA)" />
<area shape=rect	coords=189,1908,235,1925	href="/dbget-bin/www_bget?K07706"	title="K07706 (agrC)" />
<area shape=rect	coords=278,1741,324,1758	href="/dbget-bin/www_bget?K07705"	title="K07705 (lytT)" />
<area shape=rect	coords=189,1741,235,1758	href="/dbget-bin/www_bget?K07704"	title="K07704 (lytS)" />
<area shape=rect	coords=278,1538,324,1555	href="/dbget-bin/www_bget?K11638"	title="K11638 (K11638)" />
<area shape=rect	coords=189,1538,235,1555	href="/dbget-bin/www_bget?K11637"	title="K11637 (citS)" />
<area shape=rect	coords=278,1493,324,1510	href="/dbget-bin/www_bget?K07702"	title="K07702 (dpiA)" />
<area shape=rect	coords=189,1493,235,1510	href="/dbget-bin/www_bget?K07700"	title="K07700 (dpiB)" />
<area shape=rect	coords=228,1343,274,1360	href="/dbget-bin/www_bget?K06347"	title="K06347 (kapB)" />
<area shape=rect	coords=450,1325,496,1342	href="/dbget-bin/www_bget?K07699"	title="K07699 (spo0A)" />
<area shape=rect	coords=376,1325,422,1342	href="/dbget-bin/www_bget?K06375"	title="K06375 (spo0B)" />
<area shape=rect	coords=302,1325,348,1342	href="/dbget-bin/www_bget?K02490"	title="K02490 (spo0F)" />
<area shape=rect	coords=229,1300,275,1317	href="/dbget-bin/www_bget?K02491"	title="K02491 (kinA)" />
<area shape=rect	coords=189,1366,235,1383	href="/dbget-bin/www_bget?K07698"	title="K07698 (kinC)" />
<area shape=rect	coords=189,1325,235,1342	href="/dbget-bin/www_bget?K07697"	title="K07697 (kinB)" />
<area shape=rect	coords=278,913,324,930	href="/dbget-bin/www_bget?K07672"	title="K07672 (trcR)" />
<area shape=rect	coords=278,881,324,898	href="/dbget-bin/www_bget?K07671"	title="K07671 (prrA)" />
<area shape=rect	coords=278,825,324,842	href="/dbget-bin/www_bget?K07670"	title="K07670 (mtrA)" />
<area shape=rect	coords=278,784,324,801	href="/dbget-bin/www_bget?K07669"	title="K07669 (mprA)" />
<area shape=rect	coords=278,753,324,770	href="/dbget-bin/www_bget?K07668"	title="K07668 (vicR)" />
<area shape=rect	coords=278,712,324,729	href="/dbget-bin/www_bget?K07775"	title="K07775 (resD)" />
<area shape=rect	coords=278,366,324,383	href="/dbget-bin/www_bget?K07770"	title="K07770 (cssR)" />
<area shape=rect	coords=278,679,324,696	href="/dbget-bin/www_bget?K07774"	title="K07774 (tctD)" />
<area shape=rect	coords=278,645,324,662	href="/dbget-bin/www_bget?K07773"	title="K07773 (arcA)" />
<area shape=rect	coords=278,612,324,629	href="/dbget-bin/www_bget?K07772"	title="K07772 (torR)" />
<area shape=rect	coords=278,571,324,588	href="/dbget-bin/www_bget?K07667"	title="K07667 (kdpE)" />
<area shape=rect	coords=278,533,324,550	href="/dbget-bin/www_bget?K07666"	title="K07666 (qseB)" />
<area shape=rect	coords=278,495,324,512	href="/dbget-bin/www_bget?K07665"	title="K07665 (cusR)" />
<area shape=rect	coords=278,460,324,477	href="/dbget-bin/www_bget?K07771"	title="K07771 (basR)" />
<area shape=rect	coords=278,427,324,444	href="/dbget-bin/www_bget?K07664"	title="K07664 (baeR)" />
<area shape=rect	coords=278,396,324,413	href="/dbget-bin/www_bget?K07663"	title="K07663 (creB)" />
<area shape=rect	coords=278,333,324,350	href="/dbget-bin/www_bget?K07662"	title="K07662 (cpxR)" />
<area shape=rect	coords=278,298,324,315	href="/dbget-bin/www_bget?K07661"	title="K07661 (rstA)" />
<area shape=rect	coords=278,263,324,280	href="/dbget-bin/www_bget?K07659"	title="K07659 (ompR)" />
<area shape=rect	coords=278,149,324,166	href="/dbget-bin/www_bget?K07658"	title="K07658 (phoB1)" />
<area shape=rect	coords=278,124,324,141	href="/dbget-bin/www_bget?K07657"	title="K07657 (phoB)" />
<area shape=rect	coords=189,913,235,930	href="/dbget-bin/www_bget?K07656"	title="K07656 (trcS)" />
<area shape=rect	coords=189,881,235,898	href="/dbget-bin/www_bget?K07655"	title="K07655 (prrB)" />
<area shape=rect	coords=189,825,235,842	href="/dbget-bin/www_bget?K07654"	title="K07654 (mtrB)" />
<area shape=rect	coords=189,784,235,801	href="/dbget-bin/www_bget?K07653"	title="K07653 (mprB)" />
<area shape=rect	coords=189,753,235,770	href="/dbget-bin/www_bget?K07652"	title="K07652 (vicK)" />
<area shape=rect	coords=189,712,235,729	href="/dbget-bin/www_bget?K07651"	title="K07651 (resE)" />
<area shape=rect	coords=189,366,235,383	href="/dbget-bin/www_bget?K07650"	title="K07650 (cssS)" />
<area shape=rect	coords=189,679,235,696	href="/dbget-bin/www_bget?K07649"	title="K07649 (tctE)" />
<area shape=rect	coords=189,645,235,662	href="/dbget-bin/www_bget?K07648"	title="K07648 (arcB)" />
<area shape=rect	coords=189,612,235,629	href="/dbget-bin/www_bget?K07647"	title="K07647 (torS)" />
<area shape=rect	coords=189,571,235,588	href="/dbget-bin/www_bget?K07646"	title="K07646 (kdpD)" />
<area shape=rect	coords=189,533,235,550	href="/dbget-bin/www_bget?K07645"	title="K07645 (qseC)" />
<area shape=rect	coords=189,495,235,512	href="/dbget-bin/www_bget?K07644"	title="K07644 (cusS)" />
<area shape=rect	coords=189,460,235,477	href="/dbget-bin/www_bget?K07643"	title="K07643 (basS)" />
<area shape=rect	coords=189,427,235,444	href="/dbget-bin/www_bget?K07642"	title="K07642 (baeS)" />
<area shape=rect	coords=189,396,235,413	href="/dbget-bin/www_bget?K07641"	title="K07641 (creC)" />
<area shape=rect	coords=189,333,235,350	href="/dbget-bin/www_bget?K07640"	title="K07640 (cpxA)" />
<area shape=rect	coords=189,298,235,315	href="/dbget-bin/www_bget?K07639"	title="K07639 (rstB)" />
<area shape=rect	coords=189,263,235,280	href="/dbget-bin/www_bget?K07638"	title="K07638 (envZ)" />
<area shape=rect	coords=189,216,235,233	href="/dbget-bin/www_bget?K07637"	title="K07637 (phoQ)" />
<area shape=rect	coords=189,137,235,154	href="/dbget-bin/www_bget?K07636"	title="K07636 (phoR)" />
<area shape=rect	coords=502,571,548,588	href="/dbget-bin/www_bget?K01545"	title="K01545 (kdpF)" />
<area shape=rect	coords=365,495,411,512	href="/dbget-bin/www_bget?K07796"	title="K07796 (cusC)" />
<area shape=rect	coords=411,495,457,512	href="/dbget-bin/www_bget?K07810"	title="K07810 (cusF)" />
<area shape=rect	coords=457,495,503,512	href="/dbget-bin/www_bget?K07798"	title="K07798 (cusB)" />
<area shape=rect	coords=503,495,549,512	href="/dbget-bin/www_bget?K07787"	title="K07787 (cusA)" />
<area shape=rect	coords=456,950,502,967	href="/dbget-bin/www_bget?K11331"	title="K11331 (nrsC)" />
<area shape=rect	coords=411,950,457,967	href="/dbget-bin/www_bget?K11326"	title="K11326 (nrsA)" />
<area shape=rect	coords=365,950,411,967	href="/dbget-bin/www_bget?K11327"	title="K11327 (nrsB)" />
<area shape=rect	coords=278,950,324,967	href="/dbget-bin/www_bget?K11330"	title="K11330 (nrsR)" />
<area shape=rect	coords=189,950,235,967	href="/dbget-bin/www_bget?K11328"	title="K11328 (nrsS)" />
<area shape=rect	coords=502,950,548,967	href="/dbget-bin/www_bget?K07785"	title="K07785 (nrsD)" />
<area shape=rect	coords=278,1085,324,1102	href="/dbget-bin/www_bget?K10697"	title="K10697 (rpaA)" />
<area shape=rect	coords=278,1111,324,1128	href="/dbget-bin/www_bget?K11329"	title="K11329 (rpaB)" />
<area shape=rect	coords=365,182,411,199	href="/dbget-bin/www_bget?K01077"	title="K01077 (E3.1.3.1)" />
<area shape=rect	coords=278,182,324,199	href="/dbget-bin/www_bget?K07776"	title="K07776 (regX3)" />
<area shape=rect	coords=189,182,235,199	href="/dbget-bin/www_bget?K07768"	title="K07768 (senX3)" />
<area shape=rect	coords=463,182,505,199	href="/dbget-bin/www_bget?K07768"	title="K07768 (senX3)" />
<area shape=rect	coords=414,182,460,199	href="/dbget-bin/www_bget?K02040"	title="K02040 (pstS)" />
<area shape=rect	coords=278,1047,324,1064	href="/dbget-bin/www_bget?K11332"	title="K11332 (nblR)" />
<area shape=rect	coords=189,1047,235,1064	href="/dbget-bin/www_bget?K07769"	title="K07769 (nblS)" />
<area shape=rect	coords=757,2127,803,2144	href="/dbget-bin/www_bget?K11356"	title="K11356 (cikA)" />
<area shape=rect	coords=846,1587,892,1604	href="/dbget-bin/www_bget?K11355"	title="K11355 (rcp1)" />
<area shape=rect	coords=757,1586,803,1603	href="/dbget-bin/www_bget?K11354"	title="K11354 (cph1)" />
<area shape=rect	coords=189,1085,235,1102	href="/dbget-bin/www_bget?K08479"	title="K08479 (sasA)" />
<area shape=rect	coords=928,1006,974,1023	href="/dbget-bin/www_bget?K11382"	title="K11382 (pgtP)" />
<area shape=rect	coords=734,974,780,991	href="/dbget-bin/www_bget?K08478"	title="K08478 (pgtC)" />
<area shape=rect	coords=846,1006,892,1023	href="/dbget-bin/www_bget?K08476"	title="K08476 (pgtA)" />
<area shape=rect	coords=757,1006,803,1023	href="/dbget-bin/www_bget?K08475"	title="K08475 (pgtB)" />
<area shape=rect	coords=928,1042,974,1059	href="/dbget-bin/www_bget?K11103"	title="K11103 (dctA)" />
<area shape=rect	coords=846,1042,892,1059	href="/dbget-bin/www_bget?K10126"	title="K10126 (dctD)" />
<area shape=rect	coords=757,1042,803,1059	href="/dbget-bin/www_bget?K10125"	title="K10125 (dctB)" />
<area shape=rect	coords=278,1141,324,1158	href="/dbget-bin/www_bget?K10682"	title="K10682 (saeR)" />
<area shape=rect	coords=189,1141,235,1158	href="/dbget-bin/www_bget?K10681"	title="K10681 (saeS)" />
<area shape=rect	coords=846,1111,892,1128	href="/dbget-bin/www_bget?K11384"	title="K11384 (algB)" />
<area shape=rect	coords=757,1111,803,1128	href="/dbget-bin/www_bget?K11383"	title="K11383 (kinB1)" />
<area shape=rect	coords=928,1111,974,1128	href="/dbget-bin/www_bget?K00066"	title="K00066 (algD)" />
<area shape=rect	coords=110,1141,156,1158	href="/dbget-bin/www_bget?K07707"	title="K07707 (agrA)" />
<area shape=rect	coords=278,1780,324,1797	href="/dbget-bin/www_bget?K08083"	title="K08083 (algR)" />
<area shape=rect	coords=189,1780,235,1797	href="/dbget-bin/www_bget?K08082"	title="K08082 (algZ)" />
<area shape=rect	coords=365,1780,411,1797	href="/dbget-bin/www_bget?K00066"	title="K00066 (algD)" />
<area shape=rect	coords=846,1731,892,1748	href="/dbget-bin/www_bget?K11443"	title="K11443 (divK)" />
<area shape=rect	coords=757,1730,803,1747	href="/dbget-bin/www_bget?K11357"	title="K11357 (divJ)" />
<area shape=rect	coords=887,1392,933,1409	href="/dbget-bin/www_bget?K06597"	title="K06597 (chpB)" />
<area shape=rect	coords=799,1332,845,1349	href="/dbget-bin/www_bget?K06598"	title="K06598 (chpC)" />
<area shape=rect	coords=802,1402,848,1419	href="/dbget-bin/www_bget?K02661"	title="K02661 (pilK)" />
<area shape=rect	coords=802,1298,848,1315	href="/dbget-bin/www_bget?K00575+K13924"	title="K00575 (cheR), K13924 (cheBR)" />
<area shape=rect	coords=799,1437,845,1454	href="/dbget-bin/www_bget?K11524"	title="K11524 (pixI)" />
<area shape=rect	coords=887,1443,933,1460	href="/dbget-bin/www_bget?K11522"	title="K11522 (pixG)" />
<area shape=rect	coords=887,1466,933,1483	href="/dbget-bin/www_bget?K11523"	title="K11523 (pixH)" />
<area shape=rect	coords=757,1454,803,1471	href="/dbget-bin/www_bget?K11525"	title="K11525 (pixJ)" />
<area shape=rect	coords=802,1454,848,1471	href="/dbget-bin/www_bget?K11526"	title="K11526 (pixL)" />
<area shape=rect	coords=456,1006,502,1023	href="/dbget-bin/www_bget?K11602"	title="K11602 (mntB)" />
<area shape=rect	coords=411,1006,457,1023	href="/dbget-bin/www_bget?K11603"	title="K11603 (mntA)" />
<area shape=rect	coords=365,1006,411,1023	href="/dbget-bin/www_bget?K11601"	title="K11601 (mntC)" />
<area shape=rect	coords=278,1006,324,1023	href="/dbget-bin/www_bget?K11521"	title="K11521 (K11521)" />
<area shape=rect	coords=189,1006,235,1023	href="/dbget-bin/www_bget?K11520"	title="K11520 (manS)" />
<area shape=rect	coords=846,634,892,651	href="/dbget-bin/www_bget?K11618"	title="K11618 (liaR)" />
<area shape=rect	coords=757,634,803,651	href="/dbget-bin/www_bget?K11617"	title="K11617 (liaS)" />
<area shape=rect	coords=1120,634,1166,651	href="/dbget-bin/www_bget?K11617"	title="K11617 (liaS)" />
<area shape=rect	coords=1024,634,1070,651	href="/dbget-bin/www_bget?K11621"	title="K11621 (liaG)" />
<area shape=rect	coords=976,634,1022,651	href="/dbget-bin/www_bget?K11620"	title="K11620 (liaH)" />
<area shape=rect	coords=928,634,974,651	href="/dbget-bin/www_bget?K11619"	title="K11619 (liaI)" />
<area shape=rect	coords=1168,634,1214,651	href="/dbget-bin/www_bget?K11618"	title="K11618 (liaR)" />
<area shape=rect	coords=928,759,974,776	href="/dbget-bin/www_bget?K11625"	title="K11625 (K11625)" />
<area shape=rect	coords=846,759,892,776	href="/dbget-bin/www_bget?K11624"	title="K11624 (ydfI)" />
<area shape=rect	coords=757,759,803,776	href="/dbget-bin/www_bget?K11623"	title="K11623 (ydfH)" />
<area shape=rect	coords=278,1178,324,1195	href="/dbget-bin/www_bget?K11630"	title="K11630 (bceR)" />
<area shape=rect	coords=189,1178,235,1195	href="/dbget-bin/www_bget?K11629"	title="K11629 (bceS)" />
<area shape=rect	coords=365,1178,411,1195	href="/dbget-bin/www_bget?K11631"	title="K11631 (bceA)" />
<area shape=rect	coords=411,1178,457,1195	href="/dbget-bin/www_bget?K11632"	title="K11632 (bceB)" />
<area shape=rect	coords=278,1216,324,1233	href="/dbget-bin/www_bget?K11634"	title="K11634 (yxdJ)" />
<area shape=rect	coords=189,1216,235,1233	href="/dbget-bin/www_bget?K11633"	title="K11633 (yxdK)" />
<area shape=rect	coords=365,1216,411,1233	href="/dbget-bin/www_bget?K11635"	title="K11635 (yxdL)" />
<area shape=rect	coords=411,1216,457,1233	href="/dbget-bin/www_bget?K11636"	title="K11636 (yxdM)" />
<area shape=rect	coords=365,1572,411,1589	href="/dbget-bin/www_bget?K07792"	title="K07792 (dcuB)" />
<area shape=rect	coords=278,1572,324,1589	href="/dbget-bin/www_bget?K07703"	title="K07703 (dcuR)" />
<area shape=rect	coords=189,1572,235,1589	href="/dbget-bin/www_bget?K07701"	title="K07701 (dcuS)" />
<area shape=rect	coords=365,1607,411,1624	href="/dbget-bin/www_bget?K11103"	title="K11103 (dctA)" />
<area shape=rect	coords=278,1607,324,1624	href="/dbget-bin/www_bget?K11692"	title="K11692 (K11692)" />
<area shape=rect	coords=189,1607,235,1624	href="/dbget-bin/www_bget?K11691"	title="K11691 (K11691)" />
<area shape=rect	coords=145,1640,191,1657	href="/dbget-bin/www_bget?K11688"	title="K11688 (dctP)" />
<area shape=rect	coords=278,1818,324,1835	href="/dbget-bin/www_bget?K11641"	title="K11641 (natR)" />
<area shape=rect	coords=189,1818,235,1835	href="/dbget-bin/www_bget?K11640"	title="K11640 (natK)" />
<area shape=rect	coords=365,1818,411,1835	href="/dbget-bin/www_bget?K09697"	title="K09697 (natA)" />
<area shape=rect	coords=411,1818,457,1835	href="/dbget-bin/www_bget?K09696"	title="K09696 (natB)" />
<area shape=rect	coords=976,2057,1022,2074	href="/dbget-bin/www_bget?K11626"	title="K11626 (glnT)" />
<area shape=rect	coords=928,2057,974,2074	href="/dbget-bin/www_bget?bsu:BSU02430+bay:RBAM_002800+bld:BLi00274+bli:BL01786+bcu:BCAH820_3164+bcg:BCG9842_B2097+bcb:BCB4264_A3142+btk:BT9727_2907+bce:BC3115+bcz:BCZK2857+bat:BAS2932+bar:GBAA3155+baa:BA_3658+btl:BALH_2817+bcr:BCAH187_A3171+bpu:BPUM_0244+bha:BH2717"	title="BSU02430, RBAM_002800, BLi00274, BL01786, BCAH820_3164, BCG9842_B2097, BCB4264_A3142, BT9727_2907, BC3115, BCZK2857, BAS2932, GBAA3155, BA_3658, BALH_2817, BCAH187_A3171, BPUM_0244, BH2717" />
<area shape=rect	coords=365,1665,411,1682	href="/dbget-bin/www_bget?K00027"	title="K00027 (E1.1.1.38)" />
<area shape=rect	coords=278,1665,324,1682	href="/dbget-bin/www_bget?K11615"	title="K11615 (malR)" />
<area shape=rect	coords=189,1665,235,1682	href="/dbget-bin/www_bget?K11614"	title="K11614 (yufL)" />
<area shape=rect	coords=413,1665,459,1682	href="/dbget-bin/www_bget?K11616"	title="K11616 (maeN)" />
<area shape=rect	coords=461,1665,507,1682	href="/dbget-bin/www_bget?bsu:BSU07570+bay:RBAM_007730+bld:BLi00780"	title="BSU07570, RBAM_007730, BLi00780" />
<area shape=rect	coords=1072,634,1118,651	href="/dbget-bin/www_bget?K11622"	title="K11622 (liaF)" />
<area shape=rect	coords=110,1993,156,2010	href="/dbget-bin/www_bget?K12415"	title="K12415 (K12415)" />
<area shape=rect	coords=76,1959,122,1976	href="/dbget-bin/www_bget?K12293"	title="K12293 (comB)" />
<area shape=rect	coords=278,1993,324,2010	href="/dbget-bin/www_bget?K12295"	title="K12295 (comE)" />
<area shape=rect	coords=189,1993,235,2010	href="/dbget-bin/www_bget?K12294"	title="K12294 (comD)" />
<area shape=rect	coords=411,1968,457,1985	href="/dbget-bin/www_bget?K12293"	title="K12293 (comB)" />
<area shape=rect	coords=413,1993,459,2010	href="/dbget-bin/www_bget?K12294"	title="K12294 (comD)" />
<area shape=rect	coords=365,1993,411,2010	href="/dbget-bin/www_bget?K12415"	title="K12415 (K12415)" />
<area shape=rect	coords=461,1993,507,2010	href="/dbget-bin/www_bget?K12295"	title="K12295 (comE)" />
<area shape=rect	coords=365,2017,411,2034	href="/dbget-bin/www_bget?K12296"	title="K12296 (comX1_2)" />
<area shape=rect	coords=30,1959,76,1976	href="/dbget-bin/www_bget?K12292"	title="K12292 (ABCC-BAC.COMA)" />
<area shape=rect	coords=365,1968,411,1985	href="/dbget-bin/www_bget?K12292"	title="K12292 (ABCC-BAC.COMA)" />
<area shape=rect	coords=928,1863,974,1880	href="/dbget-bin/www_bget?K11688"	title="K11688 (dctP)" />
<area shape=rect	coords=846,1863,892,1880	href="/dbget-bin/www_bget?K11712"	title="K11712 (dctR)" />
<area shape=rect	coords=757,1863,803,1880	href="/dbget-bin/www_bget?K11711"	title="K11711 (dctS)" />
<area shape=rect	coords=974,1863,1020,1880	href="/dbget-bin/www_bget?K11689"	title="K11689 (dctQ)" />
<area shape=rect	coords=1020,1863,1066,1880	href="/dbget-bin/www_bget?K11690"	title="K11690 (dctM)" />
<area shape=rect	coords=928,1895,974,1912	href="/dbget-bin/www_bget?K08357"	title="K08357 (ttrA)" />
<area shape=rect	coords=846,1895,892,1912	href="/dbget-bin/www_bget?K13041"	title="K13041 (ttrR)" />
<area shape=rect	coords=757,1895,803,1912	href="/dbget-bin/www_bget?K13040"	title="K13040 (ttrS)" />
<area shape=rect	coords=974,1895,1020,1912	href="/dbget-bin/www_bget?K08358"	title="K08358 (ttrB)" />
<area shape=rect	coords=1020,1895,1066,1912	href="/dbget-bin/www_bget?K08359"	title="K08359 (ttrC)" />
<area shape=rect	coords=757,1516,803,1533	href="/dbget-bin/www_bget?K13487"	title="K13487 (wspA)" />
<area shape=rect	coords=799,1497,842,1516	href="/dbget-bin/www_bget?K13488+K13489"	title="K13488 (wspB), K13489 (wspD)" />
<area shape=rect	coords=887,1538,933,1555	href="/dbget-bin/www_bget?K13491"	title="K13491 (wspF)" />
<area shape=rect	coords=887,1516,933,1533	href="/dbget-bin/www_bget?K11444"	title="K11444 (wspR)" />
<area shape=rect	coords=802,1516,848,1533	href="/dbget-bin/www_bget?K13490"	title="K13490 (wspE)" />
<area shape=rect	coords=802,1548,848,1565	href="/dbget-bin/www_bget?K13486"	title="K13486 (wspC)" />
<area shape=rect	coords=937,1792,983,1809	href="/dbget-bin/www_bget?K13589"	title="K13589 (cpdR)" />
<area shape=rect	coords=757,1782,803,1799	href="/dbget-bin/www_bget?K13587"	title="K13587 (cckA)" />
<area shape=rect	coords=846,1782,892,1799	href="/dbget-bin/www_bget?K13588"	title="K13588 (chpT)" />
<area shape=rect	coords=189,1388,235,1405	href="/dbget-bin/www_bget?K13532"	title="K13532 (kinD)" />
<area shape=rect	coords=189,1410,235,1427	href="/dbget-bin/www_bget?K13533"	title="K13533 (kinE)" />
<area shape=rect	coords=937,1771,983,1788	href="/dbget-bin/www_bget?K13584"	title="K13584 (ctrA)" />
<area shape=rect	coords=928,880,974,897	href="/dbget-bin/www_bget?K02584"	title="K02584 (nifA)" />
<area shape=rect	coords=846,880,892,897	href="/dbget-bin/www_bget?K13599"	title="K13599 (ntrX)" />
<area shape=rect	coords=757,880,803,897	href="/dbget-bin/www_bget?K13598"	title="K13598 (ntrY)" />
<area shape=rect	coords=846,1987,892,2004	href="/dbget-bin/www_bget?K13815"	title="K13815 (rpfG)" />
<area shape=rect	coords=757,2004,803,2021	href="/dbget-bin/www_bget?K10715"	title="K10715 (rpfC)" />
<area shape=rect	coords=972,1998,1018,2015	href="/dbget-bin/www_bget?K03092"	title="K03092 (SIG54)" />
<area shape=rect	coords=972,1976,1018,1993	href="/dbget-bin/www_bget?K10914"	title="K10914 (crp)" />
<area shape=rect	coords=846,2020,892,2037	href="/dbget-bin/www_bget?K13816"	title="K13816 (rpfF)" />
<area shape=rect	coords=810,1213,930,1235	href="/kegg-bin/show_pathway?map02030"	title="map02030: Bacterial chemotaxis" />
<area shape=rect	coords=366,878,456,902	href="/kegg-bin/show_pathway?map00195"	title="map00195: Photosynthesis" />
<area shape=rect	coords=1103,153,1177,185	href="/kegg-bin/show_pathway?map00910"	title="map00910: Nitrogen metabolism" />
<area shape=rect	coords=1050,589,1138,623	href="/kegg-bin/show_pathway?map00550"	title="map00550: Peptidoglycan biosynthesis" />
<area shape=rect	coords=985,846,1060,875	href="/kegg-bin/show_pathway?map00251"	title="map00251: Glutamate metabolism" />
<area shape=rect	coords=998,1270,1111,1292	href="/kegg-bin/show_pathway?map02040"	title="map02040: Flagellar assembly" />
<area shape=rect	coords=40,45,243,71	href="/dbget-bin/www_bget?map02020"	title="map02020: Two-component system" />
<area shape=rect	coords=1142,1730,1278,1752	href="/kegg-bin/show_pathway?map04112"	title="map04112: Cell cycle - Caulobacter" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_4_1_10 %}
    <div class="node_2_4_1_10_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_9 %}
    <div class="node_2_3_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_8_25 %}
    <div class="node_2_7_8_25_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_5 %}
    <div class="node_2_4_1_5_instance_0"></div>
    <div class="node_2_4_1_5_instance_1"></div>
    <div class="node_2_4_1_5_instance_2"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_38 %}
    <div class="node_1_1_1_38_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_3_1_2 %}
    <div class="node_6_3_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_2_6 %}
    <div class="node_3_5_2_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_3_1 %}
    <div class="node_3_1_3_1_instance_0"></div>
    <div class="node_3_1_3_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_7_7_61 %}
    <div class="node_2_7_7_61_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_2 %}
    <div class="node_1_2_1_2_instance_0"></div>
    <div class="node_1_2_1_2_instance_1"></div>
    <div class="node_1_2_1_2_instance_2"></div>
  {% endif %}
{% endblock %}
