{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_3_1_74_instance_0
    { position: absolute;
      left: 427px; top: 430px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=rect	coords=820,204,866,221	href="/dbget-bin/www_bget?K12128"	title="K12128 (APRR9)" />
<area shape=rect	coords=668,594,714,611	href="/dbget-bin/www_bget?K03097"	title="K03097 (CSNK2A)" />
<area shape=rect	coords=514,526,560,543	href="/dbget-bin/www_bget?K12135"	title="K12135 (CO)" />
<area shape=rect	coords=711,548,757,565	href="/dbget-bin/www_bget?K12133"	title="K12133 (LHY)" />
<area shape=rect	coords=653,476,699,493	href="/dbget-bin/www_bget?K12133"	title="K12133 (LHY)" />
<area shape=rect	coords=820,350,866,367	href="/dbget-bin/www_bget?K12131"	title="K12131 (APRR3)" />
<area shape=rect	coords=270,104,316,121	href="/dbget-bin/www_bget?K12116"	title="K12116 (FKF1)" />
<area shape=rect	coords=219,104,265,121	href="/dbget-bin/www_bget?K12115"	title="K12115 (ZTL)" />
<area shape=rect	coords=245,126,291,143	href="/dbget-bin/www_bget?K12117"	title="K12117 (LKP2)" />
<area shape=rect	coords=419,207,465,224	href="/dbget-bin/www_bget?K12124"	title="K12124 (GI)" />
<area shape=rect	coords=427,430,473,447	href="/dbget-bin/www_bget?K00660"	title="K00660 (E2.3.1.74)" />
<area shape=rect	coords=569,430,615,447	href="/dbget-bin/www_bget?ath:At3g16500"	title="At3g16500" />
<area shape=rect	coords=668,611,714,628	href="/dbget-bin/www_bget?K03115"	title="K03115 (CSNK2B)" />
<area shape=rect	coords=653,499,699,516	href="/dbget-bin/www_bget?K12134"	title="K12134 (CCA1)" />
<area shape=rect	coords=762,548,808,565	href="/dbget-bin/www_bget?K12134"	title="K12134 (CCA1)" />
<area shape=rect	coords=901,350,947,367	href="/dbget-bin/www_bget?K12132"	title="K12132 (WNK1)" />
<area shape=rect	coords=820,305,866,322	href="/dbget-bin/www_bget?K12130"	title="K12130 (APRR5)" />
<area shape=rect	coords=743,376,789,393	href="/dbget-bin/www_bget?K12127"	title="K12127 (TOC1)" />
<area shape=rect	coords=653,377,699,394	href="/dbget-bin/www_bget?K12127"	title="K12127 (TOC1)" />
<area shape=rect	coords=745,265,791,282	href="/dbget-bin/www_bget?K12126"	title="K12126 (PIF3)" />
<area shape=rect	coords=768,144,814,161	href="/dbget-bin/www_bget?K12126"	title="K12126 (PIF3)" />
<area shape=rect	coords=768,121,814,138	href="/dbget-bin/www_bget?K12126"	title="K12126 (PIF3)" />
<area shape=rect	coords=723,144,769,161	href="/dbget-bin/www_bget?K12121"	title="K12121 (PHYB)" />
<area shape=rect	coords=723,121,769,138	href="/dbget-bin/www_bget?K12120"	title="K12120 (PHYA)" />
<area shape=rect	coords=631,150,677,167	href="/dbget-bin/www_bget?K12121"	title="K12121 (PHYB)" />
<area shape=rect	coords=580,173,626,190	href="/dbget-bin/www_bget?K12120"	title="K12120 (PHYA)" />
<area shape=rect	coords=820,259,866,276	href="/dbget-bin/www_bget?K12129"	title="K12129 (APRR7)" />
<area shape=rect	coords=270,239,316,256	href="/dbget-bin/www_bget?K12119"	title="K12119 (CRY2)" />
<area shape=rect	coords=220,239,266,256	href="/dbget-bin/www_bget?K12118"	title="K12118 (CRY1)" />
<area shape=rect	coords=334,320,380,337	href="/dbget-bin/www_bget?K12123"	title="K12123 (PHYE)" />
<area shape=rect	coords=284,320,330,337	href="/dbget-bin/www_bget?K12122"	title="K12122 (PHYD)" />
<area shape=rect	coords=233,320,279,337	href="/dbget-bin/www_bget?K12121"	title="K12121 (PHYB)" />
<area shape=rect	coords=687,210,733,227	href="/dbget-bin/www_bget?K12125"	title="K12125 (ELF3)" />
<area shape=rect	coords=206,284,252,301	href="/dbget-bin/www_bget?K12120"	title="K12120 (PHYA)" />
<area shape=rect	coords=277,571,375,597	href="/kegg-bin/show_pathway?map00196"	title="map00196: Photosynthesis - antenna proteins" />
<area shape=rect	coords=40,45,261,71	href="/dbget-bin/www_bget?map04712"	title="map04712: Circadian rhythm - plant" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_3_1_74 %}
    <div class="node_2_3_1_74_instance_0"></div>
  {% endif %}
{% endblock %}
