{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_2_1_63_instance_0
    { position: absolute;
      left: 320px; top: 495px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13_22_instance_0
    { position: absolute;
      left: 295px; top: 303px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13_22_instance_1
    { position: absolute;
      left: 435px; top: 317px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99___instance_0
    { position: absolute;
      left: 296px; top: 633px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15___instance_0
    { position: absolute;
      left: 295px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_7_1___instance_0
    { position: absolute;
      left: 435px; top: 439px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1___instance_0
    { position: absolute;
      left: 177px; top: 235px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_2___instance_0
    { position: absolute;
      left: 556px; top: 466px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_245_instance_0
    { position: absolute;
      left: 320px; top: 235px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_0
    { position: absolute;
      left: 461px; top: 466px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_35_instance_0
    { position: absolute;
      left: 296px; top: 780px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_17_instance_0
    { position: absolute;
      left: 296px; top: 703px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_258_instance_0
    { position: absolute;
      left: 320px; top: 419px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_10_1_2_instance_0
    { position: absolute;
      left: 112px; top: 272px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_12_instance_0
    { position: absolute;
      left: 234px; top: 272px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_90_instance_0
    { position: absolute;
      left: 270px; top: 235px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_2_instance_0
    { position: absolute;
      left: 270px; top: 419px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1___instance_0
    { position: absolute;
      left: 296px; top: 558px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_103_instance_0
    { position: absolute;
      left: 177px; top: 161px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_4_instance_0
    { position: absolute;
      left: 270px; top: 495px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_174_instance_0
    { position: absolute;
      left: 489px; top: 342px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_174_instance_1
    { position: absolute;
      left: 435px; top: 375px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_1_17_instance_0
    { position: absolute;
      left: 295px; top: 358px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=318,830,4	href="/dbget-bin/www_bget?C02232"	title="C02232 (3-Oxoadipyl-CoA)" />
<area shape=circle	coords=318,756,4	href="/dbget-bin/www_bget?C14145"	title="C14145 ((3S)-3-Hydroxyadipyl-CoA)" />
<area shape=circle	coords=199,206,4	href="/dbget-bin/www_bget?C11519"	title="C11519 (N-Cyclohexylformamide)" />
<area shape=circle	coords=318,682,4	href="/dbget-bin/www_bget?C14144"	title="C14144 (5-Carboxy-2-pentenoyl-CoA)" />
<area shape=circle	coords=318,608,4	href="/dbget-bin/www_bget?C14143"	title="C14143 (Adipyl-CoA)" />
<area shape=circle	coords=199,280,4	href="/dbget-bin/www_bget?C00571"	title="C00571 (Cyclohexylamine)" />
<area shape=circle	coords=80,280,4	href="/dbget-bin/www_bget?C02824"	title="C02824 (Cyclohexylsulfamate)" />
<area shape=circle	coords=318,132,4	href="/dbget-bin/www_bget?C11249"	title="C11249 (Cyclohexane)" />
<area shape=circle	coords=199,132,4	href="/dbget-bin/www_bget?C11520"	title="C11520 (Cyclohexyl isocyanide)" />
<area shape=circle	coords=457,296,4	href="/dbget-bin/www_bget?C12314"	title="C12314 (1-Oxa-2-oxo-3-hydroxycycloheptane)" />
<area shape=circle	coords=572,347,4	href="/dbget-bin/www_bget?C12313"	title="C12313 (cis-Cyclohexane-1,2-diol)" />
<area shape=circle	coords=318,280,4	href="/dbget-bin/www_bget?C00414"	title="C00414 (Cyclohexanone)" />
<area shape=circle	coords=572,385,4	href="/dbget-bin/www_bget?C03739"	title="C03739 (trans-Cyclohexane-1,2-diol)" />
<area shape=circle	coords=318,402,4	href="/dbget-bin/www_bget?C06103"	title="C06103 (6-Hydroxyhexanoic acid)" />
<area shape=circle	coords=318,342,4	href="/dbget-bin/www_bget?C01880"	title="C01880 (6-Hexanolide)" />
<area shape=circle	coords=318,466,4	href="/dbget-bin/www_bget?C06102"	title="C06102 (Adipate semialdehyde)" />
<area shape=circle	coords=318,535,4	href="/dbget-bin/www_bget?C06104"	title="C06104 (Adipate)" />
<area shape=circle	coords=457,350,4	href="/dbget-bin/www_bget?C01147"	title="C01147 (2-Hydroxycyclohexan-1-one)" />
<area shape=circle	coords=621,474,4	href="/dbget-bin/www_bget?C06593"	title="C06593 (epsilon-Caprolactam)" />
<area shape=circle	coords=318,206,4	href="/dbget-bin/www_bget?C00854"	title="C00854 (Cyclohexanol)" />
<area shape=circle	coords=457,416,4	href="/dbget-bin/www_bget?C06105"	title="C06105 (Cyclohexane-1,2-dione)" />
<area shape=circle	coords=520,474,4	href="/dbget-bin/www_bget?C02378"	title="C02378 (6-Aminohexanoate)" />
<area shape=rect	coords=296,780,342,797	href="/dbget-bin/www_bget?K00022+K07514+K01825+K01782+1.1.1.35+R06941"	title="K00022 (HADH), K07514 (EHHADH), K01825 (fadB), K01782 (fadJ), 1.1.1.35, R06941" />
<area shape=rect	coords=296,703,342,720	href="/dbget-bin/www_bget?K01692+K01825+K01782+K07515+K07514+K07511+4.2.1.17+R06942"	title="K01692 (E4.2.1.17), K01825 (fadB), K01782 (fadJ), K07515 (HADHA), K07514 (EHHADH), K07511 (ECHS1), 4.2.1.17, R06942" />
<area shape=rect	coords=296,633,342,650	href="/dbget-bin/www_bget?K06446+1.3.99.-+R06943"	title="K06446 (DCAA), 1.3.99.-, R06943" />
<area shape=rect	coords=296,558,342,575	href="/dbget-bin/www_bget?K01913+6.2.1.-+R06944"	title="K01913 (E6.2.1.-), 6.2.1.-, R06944" />
<area shape=rect	coords=234,272,280,289	href="/dbget-bin/www_bget?1.4.3.12+R02233"	title="1.4.3.12, 1.4.3.12, R02233" />
<area shape=rect	coords=112,272,158,289	href="/dbget-bin/www_bget?3.10.1.2+R02564"	title="3.10.1.2, 3.10.1.2, R02564" />
<area shape=rect	coords=177,235,223,252	href="/dbget-bin/www_bget?3.5.1.-+R06940"	title="3.5.1.-, 3.5.1.-, R06940" />
<area shape=rect	coords=177,161,223,178	href="/dbget-bin/www_bget?4.2.1.103+R05771"	title="4.2.1.103, 4.2.1.103, R05771" />
<area shape=rect	coords=295,161,341,178	href="/dbget-bin/www_bget?1.14.15.-+R06945"	title="1.14.15.-, 1.14.15.-, R06945" />
<area shape=rect	coords=320,495,366,512	href="/dbget-bin/www_bget?1.2.1.63+R05099"	title="1.2.1.63, 1.2.1.63, R05099" />
<area shape=rect	coords=320,419,366,436	href="/dbget-bin/www_bget?1.1.1.258+R05283"	title="1.1.1.258, 1.1.1.258, R05283" />
<area shape=rect	coords=556,466,602,483	href="/dbget-bin/www_bget?3.5.2.-+R05356"	title="3.5.2.-, 3.5.2.-, R05356" />
<area shape=rect	coords=270,495,316,512	href="/dbget-bin/www_bget?1.2.1.4+R05099"	title="1.2.1.4, 1.2.1.4, R05099" />
<area shape=rect	coords=320,235,366,252	href="/dbget-bin/www_bget?1.1.1.245+R02229"	title="1.1.1.245, 1.1.1.245, R02229" />
<area shape=rect	coords=461,466,507,483	href="/dbget-bin/www_bget?2.6.1.-+R05507"	title="2.6.1.-, 2.6.1.-, R05507" />
<area shape=rect	coords=270,235,316,252	href="/dbget-bin/www_bget?K00055+1.1.1.90+R02229"	title="K00055 (E1.1.1.90), 1.1.1.90, R02229" />
<area shape=rect	coords=489,342,535,359	href="/dbget-bin/www_bget?1.1.1.174+R03279+R06621"	title="1.1.1.174, 1.1.1.174, R03279, R06621" />
<area shape=rect	coords=435,375,481,392	href="/dbget-bin/www_bget?1.1.1.174+R03278"	title="1.1.1.174, 1.1.1.174, R03278" />
<area shape=rect	coords=435,439,481,456	href="/dbget-bin/www_bget?K01559+3.7.1.-+R05100"	title="K01559 (E3.7.1.-), 3.7.1.-, R05100" />
<area shape=rect	coords=270,419,316,436	href="/dbget-bin/www_bget?K00002+1.1.1.2+R05231"	title="K00002 (E1.1.1.2), 1.1.1.2, R05231" />
<area shape=rect	coords=295,358,341,375	href="/dbget-bin/www_bget?K01053+3.1.1.17+R03751"	title="K01053 (E3.1.1.17), 3.1.1.17, R03751" />
<area shape=rect	coords=435,317,481,334	href="/dbget-bin/www_bget?K03379+1.14.13.22+R06622"	title="K03379 (E1.14.13.22), 1.14.13.22, R06622" />
<area shape=rect	coords=295,303,341,320	href="/dbget-bin/www_bget?K03379+1.14.13.22+R02231"	title="K03379 (E1.14.13.22), 1.14.13.22, R02231" />
<area shape=rect	coords=258,882,383,917	href="/kegg-bin/show_pathway?map00362"	title="map00362: Benzoate degradation via hydroxylation" />
<area shape=rect	coords=40,45,273,71	href="/dbget-bin/www_bget?map00930"	title="map00930: Caprolactam degradation" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_2_1_63 %}
    <div class="node_1_2_1_63_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_13_22 %}
    <div class="node_1_14_13_22_instance_0"></div>
    <div class="node_1_14_13_22_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99__ %}
    <div class="node_1_3_99___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_15__ %}
    <div class="node_1_14_15___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_7_1__ %}
    <div class="node_3_7_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1__ %}
    <div class="node_3_5_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_2__ %}
    <div class="node_3_5_2___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_245 %}
    <div class="node_1_1_1_245_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1__ %}
    <div class="node_2_6_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_35 %}
    <div class="node_1_1_1_35_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_17 %}
    <div class="node_4_2_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_258 %}
    <div class="node_1_1_1_258_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_10_1_2 %}
    <div class="node_3_10_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_3_12 %}
    <div class="node_1_4_3_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_90 %}
    <div class="node_1_1_1_90_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_2 %}
    <div class="node_1_1_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1__ %}
    <div class="node_6_2_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_103 %}
    <div class="node_4_2_1_103_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_4 %}
    <div class="node_1_2_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_174 %}
    <div class="node_1_1_1_174_instance_0"></div>
    <div class="node_1_1_1_174_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_1_1_17 %}
    <div class="node_3_1_1_17_instance_0"></div>
  {% endif %}
{% endblock %}
