{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_4_1_3_26_instance_0
    { position: absolute;
      left: 243px; top: 425px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1___instance_0
    { position: absolute;
      left: 175px; top: 233px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1___instance_1
    { position: absolute;
      left: 554px; top: 233px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99___instance_0
    { position: absolute;
      left: 243px; top: 517px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99___instance_1
    { position: absolute;
      left: 372px; top: 358px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_3_4_instance_0
    { position: absolute;
      left: 243px; top: 446px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_35_instance_0
    { position: absolute;
      left: 243px; top: 598px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_2_1___instance_0
    { position: absolute;
      left: 310px; top: 311px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_17_instance_0
    { position: absolute;
      left: 175px; top: 553px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_183_instance_0
    { position: absolute;
      left: 554px; top: 154px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_183_instance_1
    { position: absolute;
      left: 46px; top: 154px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_183_instance_2
    { position: absolute;
      left: 175px; top: 154px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_16_instance_0
    { position: absolute;
      left: 310px; top: 471px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_16_instance_1
    { position: absolute;
      left: 310px; top: 630px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3___instance_0
    { position: absolute;
      left: 243px; top: 278px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_57_instance_0
    { position: absolute;
      left: 174px; top: 392px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1___instance_0
    { position: absolute;
      left: 498px; top: 358px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_5_instance_0
    { position: absolute;
      left: 243px; top: 359px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=332,684,4	href="/dbget-bin/www_bget?C03069"	title="C03069 (3-Methylcrotonyl-CoA)" />
<area shape=circle	coords=332,606,4	href="/dbget-bin/www_bget?C16471"	title="C16471 (5-Methyl-3-oxo-4-hexenoyl-CoA)" />
<area shape=circle	coords=197,606,4	href="/dbget-bin/www_bget?C16469"	title="C16469 (3-Hydroxy-5-methylhex-4-enoyl-CoA)" />
<area shape=circle	coords=576,366,4	href="/dbget-bin/www_bget?C16462"	title="C16462 (Citronellate)" />
<area shape=circle	coords=332,366,4	href="/dbget-bin/www_bget?C01920"	title="C01920 (Geranoyl-CoA)" />
<area shape=circle	coords=447,366,4	href="/dbget-bin/www_bget?C16464"	title="C16464 (Citronellyl-CoA)" />
<area shape=circle	coords=332,287,4	href="/dbget-bin/www_bget?C16465"	title="C16465 (trans-Geranyl-CoA)" />
<area shape=circle	coords=576,208,4	href="/dbget-bin/www_bget?C09848+C11384"	title="C09848 ((R)-(+)-Citronellal), C11384 ((S)-(-)-Citronellal)" />
<area shape=circle	coords=332,525,4	href="/dbget-bin/www_bget?C16470"	title="C16470 (5-Methylhex-4-enoyl-CoA)" />
<area shape=circle	coords=197,444,4	href="/dbget-bin/www_bget?C04675"	title="C04675 (3-Hydroxy-3-(4-methylpent-3-en-1-yl)glutaryl-CoA)" />
<area shape=circle	coords=197,366,4	href="/dbget-bin/www_bget?C01291"	title="C01291 (3-(4-Methylpent-3-en-1-yl)pent-2-enedioyl-CoA)" />
<area shape=circle	coords=197,208,4	href="/dbget-bin/www_bget?C01499"	title="C01499 (Geranial)" />
<area shape=circle	coords=197,287,4	href="/dbget-bin/www_bget?C16461"	title="C16461 (Geranic acid)" />
<area shape=circle	coords=197,128,4	href="/dbget-bin/www_bget?C01500"	title="C01500 (Geraniol)" />
<area shape=circle	coords=68,128,4	href="/dbget-bin/www_bget?C09871"	title="C09871 (Nerol)" />
<area shape=circle	coords=332,444,4	href="/dbget-bin/www_bget?C16466"	title="C16466 (7-Methyl-3-oxo-6-octenoyl-CoA)" />
<area shape=circle	coords=68,208,4	href="/dbget-bin/www_bget?C09847"	title="C09847 (cis-Citral)" />
<area shape=circle	coords=576,128,4	href="/dbget-bin/www_bget?C09849+C11386"	title="C09849 (beta-Citronellol), C11386 ((-)-Citronellol)" />
<area shape=circle	coords=197,525,4	href="/dbget-bin/www_bget?C16468"	title="C16468 ((2E)-5-Methylhexa-2,4-dienoyl-CoA)" />
<area shape=poly	coords=70,206,191,206,191,210,70,210	href="/dbget-bin/www_bget?R08099"	title="R08099" />
<area shape=poly	coords=191,208,183,212,183,204	href="/dbget-bin/www_bget?R08099"	title="R08099" />
<area shape=rect	coords=310,630,356,647	href="/dbget-bin/www_bget?K00632+2.3.1.16+R08095"	title="K00632 (E2.3.1.16), 2.3.1.16, R08095" />
<area shape=rect	coords=243,598,289,615	href="/dbget-bin/www_bget?K00022+K01825+K01782+1.1.1.35+R08094"	title="K00022 (HADH), K01825 (fadB), K01782 (fadJ), 1.1.1.35, R08094" />
<area shape=rect	coords=243,359,289,376	href="/dbget-bin/www_bget?K13778+K13777+6.4.1.5+R03494"	title="K13778 (atuC), K13777 (atuF), 6.4.1.5, R03494" />
<area shape=rect	coords=174,392,220,409	href="/dbget-bin/www_bget?K13779+4.2.1.57+R03493"	title="K13779 (atuE), 4.2.1.57, R03493" />
<area shape=rect	coords=243,517,289,534	href="/dbget-bin/www_bget?K00257+1.3.99.-+R08092"	title="K00257 (E1.3.99.-), 1.3.99.-, R08092" />
<area shape=rect	coords=46,154,92,171	href="/dbget-bin/www_bget?1.1.1.183+R08083"	title="1.1.1.183, 1.1.1.183, R08083" />
<area shape=rect	coords=175,553,221,570	href="/dbget-bin/www_bget?K01692+K01825+K01782+4.2.1.17+R08093"	title="K01692 (E4.2.1.17), K01825 (fadB), K01782 (fadJ), 4.2.1.17, R08093" />
<area shape=rect	coords=175,154,221,171	href="/dbget-bin/www_bget?1.1.1.183+R03581"	title="1.1.1.183, 1.1.1.183, R03581" />
<area shape=rect	coords=554,154,600,171	href="/dbget-bin/www_bget?1.1.1.183+R08084+R08085"	title="1.1.1.183, 1.1.1.183, R08084, R08085" />
<area shape=rect	coords=243,425,289,442	href="/dbget-bin/www_bget?4.1.3.26+R08090"	title="4.1.3.26, 4.1.3.26, R08090" />
<area shape=rect	coords=554,233,600,250	href="/dbget-bin/www_bget?K00155+1.2.1.-+R08087+R08096"	title="K00155 (E1.2.1.-), 1.2.1.-, R08087, R08096" />
<area shape=rect	coords=310,311,356,328	href="/dbget-bin/www_bget?5.2.1.-+R08098"	title="5.2.1.-, 5.2.1.-, R08098" />
<area shape=rect	coords=372,358,418,375	href="/dbget-bin/www_bget?K11731+1.3.99.-+R08089"	title="K11731 (atuD), 1.3.99.-, R08089" />
<area shape=rect	coords=243,278,289,295	href="/dbget-bin/www_bget?K01041+2.8.3.-+R08097"	title="K01041 (E2.8.3.-), 2.8.3.-, R08097" />
<area shape=rect	coords=310,471,356,488	href="/dbget-bin/www_bget?K00632+2.3.1.16+R08091"	title="K00632 (E2.3.1.16), 2.3.1.16, R08091" />
<area shape=rect	coords=175,233,221,250	href="/dbget-bin/www_bget?K00155+1.2.1.-+R08086"	title="K00155 (E1.2.1.-), 1.2.1.-, R08086" />
<area shape=rect	coords=498,358,544,375	href="/dbget-bin/www_bget?K13776+6.2.1.-+R08088"	title="K13776 (atuH), 6.2.1.-, R08088" />
<area shape=rect	coords=528,252,574,269	href="/dbget-bin/www_bget?K13774+R08087+R08096"	title="K13774 (atuB), R08087, R08096" />
<area shape=rect	coords=578,252,624,269	href="/dbget-bin/www_bget?K13775+R08087+R08096"	title="K13775 (atuG), R08087, R08096" />
<area shape=rect	coords=528,173,574,190	href="/dbget-bin/www_bget?K13774+R08084+R08085"	title="K13774 (atuB), R08084, R08085" />
<area shape=rect	coords=578,173,624,190	href="/dbget-bin/www_bget?K13775+R08084+R08085"	title="K13775 (atuG), R08084, R08085" />
<area shape=rect	coords=243,446,289,463	href="/dbget-bin/www_bget?K01640+4.1.3.4+R08090"	title="K01640 (E4.1.3.4), 4.1.3.4, R08090" />
<area shape=rect	coords=267,731,398,766	href="/kegg-bin/show_pathway?map00280"	title="map00280: Valine, leucine and isoleucine degradation" />
<area shape=rect	coords=40,45,240,71	href="/dbget-bin/www_bget?map00281"	title="map00281: Geraniol degradation" />
<area shape=rect	coords=264,116,423,142	href="/kegg-bin/show_pathway?map00902"	title="map00902: Monoterpenoid biosynthesis" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.4_1_3_26 %}
    <div class="node_4_1_3_26_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1__ %}
    <div class="node_1_2_1___instance_0"></div>
    <div class="node_1_2_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99__ %}
    <div class="node_1_3_99___instance_0"></div>
    <div class="node_1_3_99___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.4_1_3_4 %}
    <div class="node_4_1_3_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_35 %}
    <div class="node_1_1_1_35_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_2_1__ %}
    <div class="node_5_2_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_17 %}
    <div class="node_4_2_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_183 %}
    <div class="node_1_1_1_183_instance_0"></div>
    <div class="node_1_1_1_183_instance_1"></div>
    <div class="node_1_1_1_183_instance_2"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_16 %}
    <div class="node_2_3_1_16_instance_0"></div>
    <div class="node_2_3_1_16_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_8_3__ %}
    <div class="node_2_8_3___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_57 %}
    <div class="node_4_2_1_57_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1__ %}
    <div class="node_6_2_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_5 %}
    <div class="node_6_4_1_5_instance_0"></div>
  {% endif %}
{% endblock %}
