{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_13_11_16_instance_0
    { position: absolute;
      left: 822px; top: 539px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_13_11_16_instance_1
    { position: absolute;
      left: 742px; top: 539px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_32_instance_0
    { position: absolute;
      left: 891px; top: 177px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_1_20_instance_0
    { position: absolute;
      left: 394px; top: 257px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_9_instance_0
    { position: absolute;
      left: 370px; top: 295px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_58_instance_0
    { position: absolute;
      left: 518px; top: 640px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_25_instance_0
    { position: absolute;
      left: 417px; top: 640px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_5_instance_0
    { position: absolute;
      left: 420px; top: 276px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_13_12_9_instance_0
    { position: absolute;
      left: 111px; top: 394px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_16_1_instance_0
    { position: absolute;
      left: 104px; top: 201px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_1_instance_0
    { position: absolute;
      left: 370px; top: 276px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1___instance_0
    { position: absolute;
      left: 871px; top: 101px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_99_1_instance_0
    { position: absolute;
      left: 551px; top: 280px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_1_11_instance_0
    { position: absolute;
      left: 503px; top: 209px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_57_instance_0
    { position: absolute;
      left: 420px; top: 295px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_99_4_instance_0
    { position: absolute;
      left: 272px; top: 392px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_30_instance_0
    { position: absolute;
      left: 252px; top: 598px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_101_instance_0
    { position: absolute;
      left: 1122px; top: 539px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_12_instance_0
    { position: absolute;
      left: 1122px; top: 295px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_43_instance_0
    { position: absolute;
      left: 310px; top: 371px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_17_5_1_instance_0
    { position: absolute;
      left: 321px; top: 640px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1_11_instance_0
    { position: absolute;
      left: 984px; top: 289px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1___instance_0
    { position: absolute;
      left: 742px; top: 449px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1___instance_1
    { position: absolute;
      left: 822px; top: 449px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1_31_instance_0
    { position: absolute;
      left: 822px; top: 291px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_3_39_instance_0
    { position: absolute;
      left: 822px; top: 747px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_14_instance_0
    { position: absolute;
      left: 251px; top: 697px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_3_1_24_instance_0
    { position: absolute;
      left: 689px; top: 166px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_3_1_25_instance_0
    { position: absolute;
      left: 689px; top: 187px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_13_instance_0
    { position: absolute;
      left: 202px; top: 697px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_13_11_27_instance_0
    { position: absolute;
      left: 395px; top: 419px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_36_instance_0
    { position: absolute;
      left: 614px; top: 210px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_5_instance_0
    { position: absolute;
      left: 246px; top: 481px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_12_19_instance_0
    { position: absolute;
      left: 742px; top: 363px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_12_19_instance_1
    { position: absolute;
      left: 822px; top: 363px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_237_instance_0
    { position: absolute;
      left: 509px; top: 401px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_39_instance_0
    { position: absolute;
      left: 299px; top: 481px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_2_instance_0
    { position: absolute;
      left: 473px; top: 280px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_71_instance_0
    { position: absolute;
      left: 987px; top: 177px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_3_2_1_instance_0
    { position: absolute;
      left: 562px; top: 386px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_90_instance_0
    { position: absolute;
      left: 352px; top: 457px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_4_instance_0
    { position: absolute;
      left: 246px; top: 373px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13___instance_0
    { position: absolute;
      left: 784px; top: 133px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13___instance_1
    { position: absolute;
      left: 917px; top: 429px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13___instance_2
    { position: absolute;
      left: 689px; top: 418px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13___instance_3
    { position: absolute;
      left: 1122px; top: 361px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13___instance_4
    { position: absolute;
      left: 334px; top: 528px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_28_instance_0
    { position: absolute;
      left: 222px; top: 273px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13_4_instance_0
    { position: absolute;
      left: 984px; top: 429px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_11_1_7_instance_0
    { position: absolute;
      left: 161px; top: 394px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_1_1_104_instance_0
    { position: absolute;
      left: 1122px; top: 445px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_2_41_instance_0
    { position: absolute;
      left: 1122px; top: 612px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_53_instance_0
    { position: absolute;
      left: 314px; top: 245px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_21_instance_0
    { position: absolute;
      left: 587px; top: 301px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13_14_instance_0
    { position: absolute;
      left: 910px; top: 261px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_7_1___instance_0
    { position: absolute;
      left: 822px; top: 603px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_7_1___instance_1
    { position: absolute;
      left: 742px; top: 603px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_53_instance_0
    { position: absolute;
      left: 272px; top: 273px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_21_instance_0
    { position: absolute;
      left: 222px; top: 392px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1___instance_0
    { position: absolute;
      left: 360px; top: 371px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_80_instance_0
    { position: absolute;
      left: 822px; top: 682px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_13_11_instance_0
    { position: absolute;
      left: 910px; top: 230px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_1_1___instance_0
    { position: absolute;
      left: 1088px; top: 101px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_1_1___instance_1
    { position: absolute;
      left: 1088px; top: 70px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_222_instance_0
    { position: absolute;
      left: 459px; top: 401px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_5_1_18_instance_0
    { position: absolute;
      left: 1201px; top: 101px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_4_instance_0
    { position: absolute;
      left: 189px; top: 525px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=712,370,4	href="/dbget-bin/www_bget?C12621"	title="C12621 (3-Coumaric acid)" />
<area shape=circle	coords=901,771,4	href="/dbget-bin/www_bget?C00084"	title="C00084 (Acetaldehyde)" />
<area shape=circle	coords=845,796,4	href="/dbget-bin/www_bget?C00022"	title="C00022 (Pyruvate)" />
<area shape=circle	coords=845,729,4	href="/dbget-bin/www_bget?C03589"	title="C03589 (4-Hydroxy-2-oxopentanoate)" />
<area shape=circle	coords=845,662,4	href="/dbget-bin/www_bget?C00596"	title="C00596 (2-Hydroxy-2,4-pentadienoate)" />
<area shape=circle	coords=765,694,4	href="/dbget-bin/www_bget?C00122"	title="C00122 (Fumarate)" />
<area shape=circle	coords=765,587,4	href="/dbget-bin/www_bget?C12624"	title="C12624 (2-Hydroxy-6-ketononatrienedioate)" />
<area shape=circle	coords=765,503,4	href="/dbget-bin/www_bget?C12623"	title="C12623 (trans-2,3-Dihydroxycinnamate)" />
<area shape=circle	coords=765,420,4	href="/dbget-bin/www_bget?C12622"	title="C12622 (cis-3-(3-Carboxyethenyl)-3,5-cyclohexadiene-1,2-diol)" />
<area shape=circle	coords=845,420,4	href="/dbget-bin/www_bget?C11588"	title="C11588 (cis-3-(Carboxy-ethyl)-3,5-cyclo-hexadiene-1,2-diol)" />
<area shape=circle	coords=377,495,4	href="/dbget-bin/www_bget?C05853"	title="C05853 (Phenylethyl alcohol)" />
<area shape=circle	coords=574,218,4	href="/dbget-bin/www_bget?C02265"	title="C02265 (D-Phenylalanine)" />
<area shape=circle	coords=685,218,4	href="/dbget-bin/www_bget?C05620"	title="C05620 (N-Acetyl-D-phenylalanine)" />
<area shape=circle	coords=586,436,4	href="/dbget-bin/www_bget?C02763"	title="C02763 (2-Hydroxy-3-phenylpropenoate)" />
<area shape=circle	coords=418,354,4	href="/dbget-bin/www_bget?C00166"	title="C00166 (Phenylpyruvate)" />
<area shape=circle	coords=1284,350,4	href="/dbget-bin/www_bget?C00156"	title="C00156 (4-Hydroxybenzoate)" />
<area shape=circle	coords=1144,278,4	href="/dbget-bin/www_bget?C00811"	title="C00811 (4-Coumarate)" />
<area shape=circle	coords=1007,268,4	href="/dbget-bin/www_bget?C01772"	title="C01772 (trans-2-Hydroxycinnamate)" />
<area shape=circle	coords=971,185,4	href="/dbget-bin/www_bget?C01586"	title="C01586 (Hippurate)" />
<area shape=circle	coords=845,503,4	href="/dbget-bin/www_bget?C04044"	title="C04044 (3-(2,3-Dihydroxyphenyl)propanoate)" />
<area shape=circle	coords=1074,185,4	href="/dbget-bin/www_bget?C00512"	title="C00512 (S-Benzoate coenzyme A)" />
<area shape=circle	coords=337,299,4	href="/dbget-bin/www_bget?C03519"	title="C03519 (N-Acetyl-L-phenylalanine)" />
<area shape=circle	coords=1007,334,4	href="/dbget-bin/www_bget?C01198"	title="C01198 (3-(2-Hydroxyphenyl)propanoate)" />
<area shape=circle	coords=845,338,4	href="/dbget-bin/www_bget?C05629"	title="C05629 (Phenylpropanoate)" />
<area shape=circle	coords=765,269,4	href="/dbget-bin/www_bget?C00423"	title="C00423 (trans-Cinnamate)" />
<area shape=circle	coords=846,185,4	href="/dbget-bin/www_bget?C00180"	title="C00180 (Benzoate)" />
<area shape=circle	coords=418,216,4	href="/dbget-bin/www_bget?C00079"	title="C00079 (L-Phenylalanine)" />
<area shape=circle	coords=507,456,4	href="/dbget-bin/www_bget?C05607"	title="C05607 (Phenyllactate)" />
<area shape=circle	coords=418,600,4	href="/dbget-bin/www_bget?C06207"	title="C06207 (2,6-Dihydroxyphenylacetate)" />
<area shape=circle	coords=418,536,4	href="/dbget-bin/www_bget?C05852"	title="C05852 (2-Hydroxyphenylacetate)" />
<area shape=circle	coords=274,749,4	href="/dbget-bin/www_bget?C04148"	title="C04148 (alpha-N-Phenylacetyl-L-glutamine)" />
<area shape=circle	coords=845,587,4	href="/dbget-bin/www_bget?C04479"	title="C04479 (2-Hydroxy-6-oxonona-2,4-diene-1,9-dioate)" />
<area shape=circle	coords=901,635,4	href="/dbget-bin/www_bget?C00042"	title="C00042 (Succinate)" />
<area shape=circle	coords=274,648,4	href="/dbget-bin/www_bget?C00582"	title="C00582 (Phenylacetyl-CoA)" />
<area shape=circle	coords=196,593,4	href="/dbget-bin/www_bget?C05593"	title="C05593 (3-Hydroxyphenylacetate)" />
<area shape=circle	coords=159,533,4	href="/dbget-bin/www_bget?C02505"	title="C02505 (2-Phenylacetamide)" />
<area shape=circle	coords=196,554,4	href="/dbget-bin/www_bget?C00642"	title="C00642 (4-Hydroxyphenylacetate)" />
<area shape=circle	coords=225,749,4	href="/dbget-bin/www_bget?C05598"	title="C05598 (Phenylacetylglycine)" />
<area shape=circle	coords=270,336,4	href="/dbget-bin/www_bget?C05332"	title="C05332 (Phenethylamine)" />
<area shape=circle	coords=270,533,4	href="/dbget-bin/www_bget?C07086"	title="C07086 (Phenylacetic acid)" />
<area shape=circle	coords=270,448,4	href="/dbget-bin/www_bget?C00601"	title="C00601 (Phenylacetaldehyde)" />
<area shape=circle	coords=939,343,4	href="/dbget-bin/www_bget?C11457"	title="C11457 (3-(3-Hydroxy-phenyl)-propanoic acid)" />
<area shape=circle	coords=758,140,4	href="/dbget-bin/www_bget?C00805"	title="C00805 (Salicylate)" />
<area shape=circle	coords=70,209,4	href="/dbget-bin/www_bget?C00082"	title="C00082 (L-Tyrosine)" />
<area shape=circle	coords=495,648,4	href="/dbget-bin/www_bget?C02137"	title="C02137 (alpha-Oxo-benzeneacetic acid)" />
<area shape=circle	coords=590,648,4	href="/dbget-bin/www_bget?C00512"	title="C00512 (S-Benzoate coenzyme A)" />
<area shape=circle	coords=395,648,4	href="/dbget-bin/www_bget?C15524"	title="C15524 (Phenylglyoxylyl-CoA)" />
<area shape=circle	coords=847,111,4	href="/dbget-bin/www_bget?C17268"	title="C17268 (Pyruvophenone)" />
<area shape=circle	coords=955,110,4	href="/dbget-bin/www_bget?C08301"	title="C08301 (D-Cathinone)" />
<area shape=circle	coords=1226,744,4	href="/dbget-bin/www_bget?C18202"	title="C18202 (8-Methyl-6-nonenoic acid)" />
<area shape=circle	coords=1144,729,4	href="/dbget-bin/www_bget?C16666"	title="C16666 (Vanillylamine)" />
<area shape=circle	coords=1226,626,4	href="/dbget-bin/www_bget?C00630"	title="C00630 (2-Methylpropanoyl-CoA)" />
<area shape=circle	coords=1144,420,4	href="/dbget-bin/www_bget?C00323"	title="C00323 (Caffeoyl-CoA)" />
<area shape=circle	coords=1144,338,4	href="/dbget-bin/www_bget?C00223"	title="C00223 (p-Coumaroyl-CoA)" />
<area shape=circle	coords=1144,662,4	href="/dbget-bin/www_bget?C00755"	title="C00755 (4-Hydroxy-3-methoxy-benzaldehyde)" />
<area shape=circle	coords=1063,79,4	href="/dbget-bin/www_bget?C08300"	title="C08300 (D-Cathine)" />
<area shape=circle	coords=1064,110,4	href="/dbget-bin/www_bget?C16719"	title="C16719 ((-)-Norephedrine)" />
<area shape=circle	coords=1144,796,4	href="/dbget-bin/www_bget?C06866"	title="C06866 (Capsaicin)" />
<area shape=circle	coords=1144,587,4	href="/dbget-bin/www_bget?C07303"	title="C07303 (4-Hydroxy-3-methoxyphenyl-beta-hydroxypropionyl-CoA)" />
<area shape=circle	coords=1173,110,4	href="/dbget-bin/www_bget?C01575"	title="C01575 (Ephedrine)" />
<area shape=circle	coords=1144,503,4	href="/dbget-bin/www_bget?C00406"	title="C00406 (Feruloyl-CoA)" />
<area shape=circle	coords=1172,79,4	href="/dbget-bin/www_bget?C02765"	title="C02765 ((+)-Pseudoephedrine)" />
<area shape=circle	coords=1266,675,4	href="/dbget-bin/www_bget?C00083"	title="C00083 (Malonyl-CoA)" />
<area shape=circle	coords=1274,110,4	href="/dbget-bin/www_bget?C04351"	title="C04351 ((R)-2-Methylimino-1-phenylpropan-1-ol)" />
<area shape=poly	coords=1224,630,1224,739,1228,739,1228,630	href="/dbget-bin/www_bget?R09090"	title="R09090" />
<area shape=poly	coords=1226,739,1222,730,1229,730	href="/dbget-bin/www_bget?R09090"	title="R09090" />
<area shape=poly	coords=1262,673,1235,673,1235,677,1262,677	href="/dbget-bin/www_bget?R09090"	title="R09090" />
<area shape=poly	coords=1235,673,1233,673,1231,674,1229,675,1228,676,1226,677,1225,678,1225,680,1224,682,1224,684,1228,684,1228,683,1229,682,1229,681,1230,680,1231,679,1232,678,1233,678,1234,677,1235,677	href="/dbget-bin/www_bget?R09090"	title="R09090" />
<area shape=poly	coords=1224,684,1224,688,1228,688,1228,684	href="/dbget-bin/www_bget?R09090"	title="R09090" />
<area shape=poly	coords=416,539,416,594,420,594,420,539	href="/dbget-bin/www_bget?R05001"	title="R05001" />
<area shape=poly	coords=418,594,414,585,421,585	href="/dbget-bin/www_bget?R05001"	title="R05001" />
<area shape=poly	coords=1282,345,1282,287,1286,287,1286,345	href="/dbget-bin/www_bget?R01308"	title="R01308" />
<area shape=poly	coords=1286,287,1286,285,1285,283,1285,281,1284,280,1282,278,1281,277,1279,277,1277,276,1275,276,1275,280,1276,280,1277,281,1278,281,1279,282,1280,283,1281,284,1281,285,1282,286,1282,287	href="/dbget-bin/www_bget?R01308"	title="R01308" />
<area shape=poly	coords=1275,276,1148,276,1148,280,1275,280	href="/dbget-bin/www_bget?R01308"	title="R01308" />
<area shape=poly	coords=1284,345,1280,336,1287,336	href="/dbget-bin/www_bget?R01308"	title="R01308" />
<area shape=rect	coords=822,747,868,764	href="/dbget-bin/www_bget?K01666+4.1.3.39+R00750"	title="K01666 (E4.1.3.39), 4.1.3.39, R00750" />
<area shape=rect	coords=689,187,735,204	href="/dbget-bin/www_bget?K13064+4.3.1.25+R00697"	title="K13064 (PTAL), 4.3.1.25, R00697" />
<area shape=rect	coords=246,481,292,498	href="/dbget-bin/www_bget?K00129+1.2.1.5+R02536+R02537"	title="K00129 (E1.2.1.5), 1.2.1.5, R02536, R02537" />
<area shape=rect	coords=252,598,298,615	href="/dbget-bin/www_bget?K01912+6.2.1.30+R02539"	title="K01912 (E6.2.1.30), 6.2.1.30, R02539" />
<area shape=rect	coords=251,697,297,714	href="/dbget-bin/www_bget?2.3.1.14+R02576"	title="2.3.1.14, 2.3.1.14, R02576" />
<area shape=rect	coords=202,697,248,714	href="/dbget-bin/www_bget?2.3.1.13+R05841"	title="2.3.1.13, 2.3.1.13, R05841" />
<area shape=rect	coords=822,682,868,699	href="/dbget-bin/www_bget?K02554+4.2.1.80+R02601"	title="K02554 (mhpD), 4.2.1.80, R02601" />
<area shape=rect	coords=822,603,868,620	href="/dbget-bin/www_bget?K05714+3.7.1.-+R02603"	title="K05714 (mhpC), 3.7.1.-, R02603" />
<area shape=rect	coords=742,603,788,620	href="/dbget-bin/www_bget?K05714+3.7.1.-+R06789"	title="K05714 (mhpC), 3.7.1.-, R06789" />
<area shape=rect	coords=822,539,868,556	href="/dbget-bin/www_bget?K05713+1.13.11.16+R04376"	title="K05713 (mhpB), 1.13.11.16, R04376" />
<area shape=rect	coords=742,539,788,556	href="/dbget-bin/www_bget?K05713+1.13.11.16+R06788"	title="K05713 (mhpB), 1.13.11.16, R06788" />
<area shape=rect	coords=689,166,735,183	href="/dbget-bin/www_bget?K10775+4.3.1.24+R00697"	title="K10775 (E4.3.1.24), 4.3.1.24, R00697" />
<area shape=rect	coords=689,418,735,435	href="/dbget-bin/www_bget?K05712+1.14.13.-+R06787"	title="K05712 (mhpA), 1.14.13.-, R06787" />
<area shape=rect	coords=222,273,268,290	href="/dbget-bin/www_bget?K01593+4.1.1.28+R00699"	title="K01593 (E4.1.1.28), 4.1.1.28, R00699" />
<area shape=rect	coords=272,273,318,290	href="/dbget-bin/www_bget?4.1.1.53+R00699"	title="4.1.1.53, 4.1.1.53, R00699" />
<area shape=rect	coords=272,392,318,409	href="/dbget-bin/www_bget?K13371+K13372+1.4.99.4+R02612"	title="K13371 (aauA), K13372 (aauB), 1.4.99.4, R02612" />
<area shape=rect	coords=222,392,268,409	href="/dbget-bin/www_bget?K00276+1.4.3.21+R02613"	title="K00276 (E1.4.3.21), 1.4.3.21, R02613" />
<area shape=rect	coords=246,373,292,390	href="/dbget-bin/www_bget?K00274+1.4.3.4+R02613"	title="K00274 (E1.4.3.4), 1.4.3.4, R02613" />
<area shape=rect	coords=395,419,441,436	href="/dbget-bin/www_bget?K00457+1.13.11.27+R01372"	title="K00457 (HPD), 1.13.11.27, R01372" />
<area shape=rect	coords=310,371,356,388	href="/dbget-bin/www_bget?4.1.1.43+R01377"	title="4.1.1.43, 4.1.1.43, R01377" />
<area shape=rect	coords=509,401,555,418	href="/dbget-bin/www_bget?1.1.1.237+R01370"	title="1.1.1.237, 1.1.1.237, R01370" />
<area shape=rect	coords=459,401,505,418	href="/dbget-bin/www_bget?1.1.1.222+R01370+R01371"	title="1.1.1.222, 1.1.1.222, R01370, R01371" />
<area shape=rect	coords=420,295,466,312	href="/dbget-bin/www_bget?K00832+K00838+K05821+2.6.1.57+R00694"	title="K00832 (tyrB), K00838 (ARO8), K05821 (ARO9), 2.6.1.57, R00694" />
<area shape=rect	coords=370,295,416,312	href="/dbget-bin/www_bget?K00817+2.6.1.9+R00694"	title="K00817 (hisC), 2.6.1.9, R00694" />
<area shape=rect	coords=420,276,466,293	href="/dbget-bin/www_bget?K00815+2.6.1.5+R00694"	title="K00815 (E2.6.1.5), 2.6.1.5, R00694" />
<area shape=rect	coords=370,276,416,293	href="/dbget-bin/www_bget?K00811+K00812+K00813+K11358+2.6.1.1+R00694"	title="K00811 (E2.6.1.1), K00812 (E2.6.1.1A), K00813 (E2.6.1.1B), K11358 (yhdR), 2.6.1.1, R00694" />
<area shape=rect	coords=394,257,440,274	href="/dbget-bin/www_bget?K00270+1.4.1.20+R00688"	title="K00270 (pdh), 1.4.1.20, R00688" />
<area shape=rect	coords=562,386,608,403	href="/dbget-bin/www_bget?K07253+5.3.2.1+R01378"	title="K07253 (MIF), 5.3.2.1, R01378" />
<area shape=rect	coords=587,301,633,318	href="/dbget-bin/www_bget?K00824+2.6.1.21+R01582"	title="K00824 (dat), 2.6.1.21, R01582" />
<area shape=rect	coords=551,280,597,297	href="/dbget-bin/www_bget?K00285+1.4.99.1+R01374"	title="K00285 (dadA), 1.4.99.1, R01374" />
<area shape=rect	coords=352,457,398,474	href="/dbget-bin/www_bget?K00055+1.1.1.90+R02611"	title="K00055 (E1.1.1.90), 1.1.1.90, R02611" />
<area shape=rect	coords=299,481,345,498	href="/dbget-bin/www_bget?K00146+1.2.1.39+R02536"	title="K00146 (feaB), 1.2.1.39, R02536" />
<area shape=rect	coords=189,525,235,542	href="/dbget-bin/www_bget?K01426+3.5.1.4+R02540"	title="K01426 (E3.5.1.4), 3.5.1.4, R02540" />
<area shape=rect	coords=614,210,660,227	href="/dbget-bin/www_bget?2.3.1.36+R03903"	title="2.3.1.36, 2.3.1.36, R03903" />
<area shape=rect	coords=473,280,519,297	href="/dbget-bin/www_bget?K03334+1.4.3.2+R00689"	title="K03334 (IL4I1), 1.4.3.2, R00689" />
<area shape=rect	coords=111,394,157,411	href="/dbget-bin/www_bget?1.13.12.9+R00690"	title="1.13.12.9, 1.13.12.9, R00690" />
<area shape=rect	coords=503,209,549,226	href="/dbget-bin/www_bget?5.1.1.11+R00686"	title="5.1.1.11, 5.1.1.11, R00686" />
<area shape=rect	coords=161,394,207,411	href="/dbget-bin/www_bget?K00430+K11188+K03782+1.11.1.7+R00698"	title="K00430 (E1.11.1.7), K11188 (PRDX6), K03782 (katG), 1.11.1.7, R00698" />
<area shape=rect	coords=314,245,360,262	href="/dbget-bin/www_bget?2.3.1.53+R00693"	title="2.3.1.53, 2.3.1.53, R00693" />
<area shape=rect	coords=742,363,788,380	href="/dbget-bin/www_bget?K05708+K05709+K05710+K00529+1.14.12.19+R06783"	title="K05708 (hcaA1), K05709 (hcaA2), K05710 (hcaC), K00529 (hcaD), 1.14.12.19, R06783" />
<area shape=rect	coords=742,449,788,466	href="/dbget-bin/www_bget?K05711+1.3.1.-+R06785"	title="K05711 (hcaB), 1.3.1.-, R06785" />
<area shape=rect	coords=984,429,1030,446	href="/dbget-bin/www_bget?1.14.13.4+R03369"	title="1.14.13.4, 1.14.13.4, R03369" />
<area shape=rect	coords=917,429,963,446	href="/dbget-bin/www_bget?K05712+1.14.13.-+R06786"	title="K05712 (mhpA), 1.14.13.-, R06786" />
<area shape=rect	coords=822,449,868,466	href="/dbget-bin/www_bget?K05711+1.3.1.-+R06784"	title="K05711 (hcaB), 1.3.1.-, R06784" />
<area shape=rect	coords=822,363,868,380	href="/dbget-bin/www_bget?K05708+K05709+K05710+K00529+1.14.12.19+R06782"	title="K05708 (hcaA1), K05709 (hcaA2), K05710 (hcaC), K00529 (hcaD), 1.14.12.19, R06782" />
<area shape=rect	coords=822,291,868,308	href="/dbget-bin/www_bget?K10797+1.3.1.31+R02252"	title="K10797 (enr), 1.3.1.31, R02252" />
<area shape=rect	coords=910,230,956,247	href="/dbget-bin/www_bget?K00487+1.14.13.11+R02253"	title="K00487 (CYP73A), 1.14.13.11, R02253" />
<area shape=rect	coords=891,177,937,194	href="/dbget-bin/www_bget?K01451+3.5.1.32+R01424"	title="K01451 (E3.5.1.32), 3.5.1.32, R01424" />
<area shape=rect	coords=987,177,1033,194	href="/dbget-bin/www_bget?2.3.1.71+R02452"	title="2.3.1.71, 2.3.1.71, R02452" />
<area shape=rect	coords=910,261,956,278	href="/dbget-bin/www_bget?1.14.13.14+R02254"	title="1.14.13.14, 1.14.13.14, R02254" />
<area shape=rect	coords=984,289,1030,306	href="/dbget-bin/www_bget?1.3.1.11+R03709"	title="1.3.1.11, 1.3.1.11, R03709" />
<area shape=poly	coords=1001,332,852,332,852,336,1001,336	href="/dbget-bin/www_bget?R04899"	title="R04899" />
<area shape=poly	coords=1001,334,992,337,992,330	href="/dbget-bin/www_bget?R04899"	title="R04899" />
<area shape=poly	coords=933,340,852,340,852,344,933,344	href="/dbget-bin/www_bget?R06780"	title="R06780" />
<area shape=poly	coords=933,342,924,345,924,338	href="/dbget-bin/www_bget?R06780"	title="R06780" />
<area shape=poly	coords=763,263,763,194,767,194,767,263	href="/dbget-bin/www_bget?R01426"	title="R01426" />
<area shape=poly	coords=763,194,763,192,764,190,765,188,766,187,767,186,768,185,770,184,772,183,774,183,774,187,773,187,772,188,771,188,770,189,769,190,768,191,768,192,767,193,767,194	href="/dbget-bin/www_bget?R01426"	title="R01426" />
<area shape=poly	coords=774,183,840,183,840,187,774,187	href="/dbget-bin/www_bget?R01426"	title="R01426" />
<area shape=poly	coords=840,185,831,188,831,181	href="/dbget-bin/www_bget?R01426"	title="R01426" />
<area shape=poly	coords=264,539,264,545,268,545,268,539	href="/dbget-bin/www_bget?R06790"	title="R06790" />
<area shape=poly	coords=264,545,264,546,263,547,263,548,262,549,261,550,260,551,259,551,258,552,257,552,257,556,259,556,261,555,263,555,264,554,266,552,267,551,267,549,268,547,268,545	href="/dbget-bin/www_bget?R06790"	title="R06790" />
<area shape=poly	coords=257,552,202,552,202,556,257,556	href="/dbget-bin/www_bget?R06790"	title="R06790" />
<area shape=poly	coords=202,554,210,550,210,557	href="/dbget-bin/www_bget?R06790"	title="R06790" />
<area shape=poly	coords=759,271,721,271,721,275,759,275	href="/dbget-bin/www_bget?R06781"	title="R06781" />
<area shape=poly	coords=721,271,719,271,717,272,715,273,714,274,712,275,711,276,711,278,710,280,710,282,714,282,714,281,715,280,715,279,716,278,717,277,718,276,719,276,720,275,721,275	href="/dbget-bin/www_bget?R06781"	title="R06781" />
<area shape=poly	coords=710,282,710,364,714,364,714,282	href="/dbget-bin/www_bget?R06781"	title="R06781" />
<area shape=poly	coords=711,364,708,355,715,355	href="/dbget-bin/www_bget?R06781"	title="R06781" />
<area shape=rect	coords=784,133,830,150	href="/dbget-bin/www_bget?1.14.13.-+R08838"	title="1.14.13.-, 1.14.13.-, R08838" />
<area shape=rect	coords=104,201,150,218	href="/dbget-bin/www_bget?K00500+1.14.16.1+R01795"	title="K00500 (phhA), 1.14.16.1, R01795" />
<area shape=poly	coords=268,539,268,584,272,584,272,539	href="/dbget-bin/www_bget?R06791"	title="R06791" />
<area shape=poly	coords=268,584,268,585,267,586,267,587,266,588,265,589,264,590,263,590,262,591,261,591,261,595,263,595,265,594,267,593,268,592,270,591,271,590,271,588,272,586,272,584	href="/dbget-bin/www_bget?R06791"	title="R06791" />
<area shape=poly	coords=261,591,202,591,202,595,261,595	href="/dbget-bin/www_bget?R06791"	title="R06791" />
<area shape=poly	coords=201,592,210,589,210,596	href="/dbget-bin/www_bget?R06791"	title="R06791" />
<area shape=rect	coords=360,371,406,388	href="/dbget-bin/www_bget?K12732+4.1.1.-+R01377"	title="K12732 (ARO10), 4.1.1.-, R01377" />
<area shape=rect	coords=321,640,367,657	href="/dbget-bin/www_bget?1.17.5.1+R07222"	title="1.17.5.1, 1.17.5.1, R07222" />
<area shape=rect	coords=518,640,564,657	href="/dbget-bin/www_bget?1.2.1.58+R02450"	title="1.2.1.58, 1.2.1.58, R02450" />
<area shape=rect	coords=417,640,463,657	href="/dbget-bin/www_bget?3.1.2.25+R07294"	title="3.1.2.25, 3.1.2.25, R07294" />
<area shape=rect	coords=334,528,380,545	href="/dbget-bin/www_bget?K10437+1.14.13.-+R05487"	title="K10437 (PHACA), 1.14.13.-, R05487" />
<area shape=poly	coords=953,106,953,88,957,88,957,106	href="/dbget-bin/www_bget?R08464"	title="R08464" />
<area shape=poly	coords=953,88,953,86,954,84,955,82,956,81,957,80,958,79,960,78,962,77,964,77,964,81,963,81,962,82,961,82,960,83,959,84,958,85,958,86,957,87,957,88	href="/dbget-bin/www_bget?R08464"	title="R08464" />
<area shape=poly	coords=964,77,1058,77,1058,81,964,81	href="/dbget-bin/www_bget?R08464"	title="R08464" />
<area shape=poly	coords=1057,79,1049,82,1049,75	href="/dbget-bin/www_bget?R08464"	title="R08464" />
<area shape=poly	coords=959,108,1059,108,1059,112,959,112	href="/dbget-bin/www_bget?R08466"	title="R08466" />
<area shape=poly	coords=1059,110,1050,113,1050,106	href="/dbget-bin/www_bget?R08466"	title="R08466" />
<area shape=poly	coords=845,179,845,116,849,116,849,179	href="/dbget-bin/www_bget?R09088"	title="R09088" />
<area shape=poly	coords=847,116,850,124,843,124	href="/dbget-bin/www_bget?R09088"	title="R09088" />
<area shape=poly	coords=1142,666,1142,724,1146,724,1146,666	href="/dbget-bin/www_bget?R08461"	title="R08461" />
<area shape=poly	coords=1144,724,1140,715,1147,715	href="/dbget-bin/www_bget?R08461"	title="R08461" />
<area shape=rect	coords=1122,295,1168,312	href="/dbget-bin/www_bget?K01904+6.2.1.12+R01616"	title="K01904 (E6.2.1.12), 6.2.1.12, R01616" />
<area shape=rect	coords=1122,361,1168,378	href="/dbget-bin/www_bget?K09754+1.14.13.-+R07436"	title="K09754 (CYP98A), 1.14.13.-, R07436" />
<area shape=rect	coords=1122,539,1168,556	href="/dbget-bin/www_bget?4.2.1.101+R05772"	title="4.2.1.101, 4.2.1.101, R05772" />
<area shape=rect	coords=1088,70,1134,87	href="/dbget-bin/www_bget?2.1.1.-+R08465"	title="2.1.1.-, 2.1.1.-, R08465" />
<area shape=rect	coords=1088,101,1134,118	href="/dbget-bin/www_bget?2.1.1.-+R08467"	title="2.1.1.-, 2.1.1.-, R08467" />
<area shape=rect	coords=1122,445,1168,462	href="/dbget-bin/www_bget?K00588+2.1.1.104+R01942"	title="K00588 (E2.1.1.104), 2.1.1.104, R01942" />
<area shape=rect	coords=1122,612,1168,629	href="/dbget-bin/www_bget?4.1.2.41+R05773"	title="4.1.2.41, 4.1.2.41, R05773" />
<area shape=rect	coords=1122,754,1168,771	href="/dbget-bin/www_bget?K13817+R09091"	title="K13817 (CSY1), R09091" />
<area shape=rect	coords=871,101,917,118	href="/dbget-bin/www_bget?2.6.1.-+R09089"	title="2.6.1.-, 2.6.1.-, R09089" />
<area shape=rect	coords=1201,101,1247,118	href="/dbget-bin/www_bget?1.5.1.18+R03614"	title="1.5.1.18, 1.5.1.18, R03614" />
<area shape=rect	coords=164,155,325,190	href="/kegg-bin/show_pathway?map00960"	title="map00960: Tropane, piperidine and pyridine alkaloid biosynthesis" />
<area shape=rect	coords=966,754,1041,789	href="/kegg-bin/show_pathway?map00620"	title="map00620: Pyruvate metabolism" />
<area shape=rect	coords=811,832,880,859	href="/kegg-bin/show_pathway?map00010"	title="map00010: Glycolysis / Gluconeogenesis" />
<area shape=rect	coords=966,622,1040,648	href="/kegg-bin/show_pathway?map00020"	title="map00020: Citrate cycle (TCA cycle)" />
<area shape=rect	coords=40,45,277,71	href="/dbget-bin/www_bget?map00360"	title="map00360: Phenylalanine metabolism" />
<area shape=rect	coords=341,110,496,145	href="/kegg-bin/show_pathway?map00400"	title="map00400: Phenylalanine, tyrosine and tryptophan biosynthesis" />
<area shape=rect	coords=1230,439,1356,474	href="/kegg-bin/show_pathway?map00362"	title="map00362: Benzoate degradation via hydroxylation" />
<area shape=rect	coords=729,760,803,786	href="/kegg-bin/show_pathway?map00020"	title="map00020: Citrate cycle (TCA cycle)" />
<area shape=rect	coords=1157,167,1278,202	href="/kegg-bin/show_pathway?map00632"	title="map00632: Benzoate degradation via CoA ligation" />
<area shape=rect	coords=36,284,109,319	href="/kegg-bin/show_pathway?map00350"	title="map00350: Tyrosine metabolism" />
<area shape=rect	coords=528,753,649,788	href="/kegg-bin/show_pathway?map00632"	title="map00632: Benzoate degradation via CoA ligation" />
<area shape=rect	coords=505,524,617,550	href="/kegg-bin/show_pathway?map00643"	title="map00643: Styrene degradation" />
<area shape=rect	coords=1207,522,1357,557	href="/kegg-bin/show_pathway?map00280"	title="map00280: Valine, leucine and isoleucine degradation" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_13_11_16 %}
    <div class="node_1_13_11_16_instance_0"></div>
    <div class="node_1_13_11_16_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_32 %}
    <div class="node_3_5_1_32_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_1_20 %}
    <div class="node_1_4_1_20_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_9 %}
    <div class="node_2_6_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_58 %}
    <div class="node_1_2_1_58_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_25 %}
    <div class="node_3_1_2_25_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_5 %}
    <div class="node_2_6_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_13_12_9 %}
    <div class="node_1_13_12_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_16_1 %}
    <div class="node_1_14_16_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_1 %}
    <div class="node_2_6_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1__ %}
    <div class="node_2_6_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_99_1 %}
    <div class="node_1_4_99_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_1_1_11 %}
    <div class="node_5_1_1_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_57 %}
    <div class="node_2_6_1_57_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_99_4 %}
    <div class="node_1_4_99_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_30 %}
    <div class="node_6_2_1_30_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_101 %}
    <div class="node_4_2_1_101_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_12 %}
    <div class="node_6_2_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_43 %}
    <div class="node_4_1_1_43_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_17_5_1 %}
    <div class="node_1_17_5_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1_11 %}
    <div class="node_1_3_1_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1__ %}
    <div class="node_1_3_1___instance_0"></div>
    <div class="node_1_3_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1_31 %}
    <div class="node_1_3_1_31_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_3_39 %}
    <div class="node_4_1_3_39_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_14 %}
    <div class="node_2_3_1_14_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_3_1_24 %}
    <div class="node_4_3_1_24_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_3_1_25 %}
    <div class="node_4_3_1_25_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_13 %}
    <div class="node_2_3_1_13_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_13_11_27 %}
    <div class="node_1_13_11_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_36 %}
    <div class="node_2_3_1_36_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_5 %}
    <div class="node_1_2_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_12_19 %}
    <div class="node_1_14_12_19_instance_0"></div>
    <div class="node_1_14_12_19_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_237 %}
    <div class="node_1_1_1_237_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_39 %}
    <div class="node_1_2_1_39_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_3_2 %}
    <div class="node_1_4_3_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_71 %}
    <div class="node_2_3_1_71_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_3_2_1 %}
    <div class="node_5_3_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_90 %}
    <div class="node_1_1_1_90_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_3_4 %}
    <div class="node_1_4_3_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_13__ %}
    <div class="node_1_14_13___instance_0"></div>
    <div class="node_1_14_13___instance_1"></div>
    <div class="node_1_14_13___instance_2"></div>
    <div class="node_1_14_13___instance_3"></div>
    <div class="node_1_14_13___instance_4"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_28 %}
    <div class="node_4_1_1_28_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_13_4 %}
    <div class="node_1_14_13_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_11_1_7 %}
    <div class="node_1_11_1_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_1_1_104 %}
    <div class="node_2_1_1_104_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_2_41 %}
    <div class="node_4_1_2_41_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_53 %}
    <div class="node_2_3_1_53_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_21 %}
    <div class="node_2_6_1_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_13_14 %}
    <div class="node_1_14_13_14_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_7_1__ %}
    <div class="node_3_7_1___instance_0"></div>
    <div class="node_3_7_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_53 %}
    <div class="node_4_1_1_53_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_3_21 %}
    <div class="node_1_4_3_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1__ %}
    <div class="node_4_1_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_80 %}
    <div class="node_4_2_1_80_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_13_11 %}
    <div class="node_1_14_13_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_1_1__ %}
    <div class="node_2_1_1___instance_0"></div>
    <div class="node_2_1_1___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_222 %}
    <div class="node_1_1_1_222_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_5_1_18 %}
    <div class="node_1_5_1_18_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_4 %}
    <div class="node_3_5_1_4_instance_0"></div>
  {% endif %}
{% endblock %}
