{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_3_5_99_3_instance_0
    { position: absolute;
      left: 255px; top: 142px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99_3_instance_1
    { position: absolute;
      left: 388px; top: 316px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_84_instance_0
    { position: absolute;
      left: 614px; top: 142px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15___instance_0
    { position: absolute;
      left: 65px; top: 286px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15___instance_1
    { position: absolute;
      left: 159px; top: 317px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15___instance_2
    { position: absolute;
      left: 207px; top: 286px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_14_15___instance_3
    { position: absolute;
      left: 105px; top: 229px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_4___instance_0
    { position: absolute;
      left: 700px; top: 243px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_4___instance_1
    { position: absolute;
      left: 505px; top: 244px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_4___instance_2
    { position: absolute;
      left: 600px; top: 243px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99_4_instance_0
    { position: absolute;
      left: 380px; top: 142px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99_4_instance_1
    { position: absolute;
      left: 453px; top: 272px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_8_1___instance_0
    { position: absolute;
      left: 206px; top: 228px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_2_15_instance_0
    { position: absolute;
      left: 508px; top: 143px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_5_instance_0
    { position: absolute;
      left: 795px; top: 108px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_54_instance_0
    { position: absolute;
      left: 730px; top: 143px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_69_instance_0
    { position: absolute;
      left: 731px; top: 81px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_8_1_8_instance_0
    { position: absolute;
      left: 128px; top: 142px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99___instance_0
    { position: absolute;
      left: 312px; top: 228px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99___instance_1
    { position: absolute;
      left: 519px; top: 316px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99___instance_2
    { position: absolute;
      left: 407px; top: 228px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=702,90,4	href="/dbget-bin/www_bget?C01566"	title="C01566 (Cyanamide)" />
<area shape=circle	coords=702,325,4	href="/dbget-bin/www_bget?C08737"	title="C08737 (Melamine)" />
<area shape=circle	coords=591,325,4	href="/dbget-bin/www_bget?C08733"	title="C08733 (2-Hydroxy-4,6-diamino-1,3,5-triazine)" />
<area shape=circle	coords=475,325,4	href="/dbget-bin/www_bget?C08734"	title="C08734 (2,4-Dihydroxy-6-amino-1,3,5-triazine)" />
<area shape=circle	coords=565,251,4	href="/dbget-bin/www_bget?C14149"	title="C14149 (N-Cyclopropylammelide)" />
<area shape=circle	coords=668,251,4	href="/dbget-bin/www_bget?C14148"	title="C14148 (N-Cyclopropylammeline)" />
<area shape=circle	coords=765,251,4	href="/dbget-bin/www_bget?C14147"	title="C14147 (Cyromazine)" />
<area shape=circle	coords=817,151,4	href="/dbget-bin/www_bget?C00011"	title="C00011 (CO2)" />
<area shape=circle	coords=700,151,4	href="/dbget-bin/www_bget?C01010"	title="C01010 (Urea-1-carboxylate)" />
<area shape=circle	coords=346,151,4	href="/dbget-bin/www_bget?C06553"	title="C06553 (N-Isopropylammelide)" />
<area shape=circle	coords=388,237,4	href="/dbget-bin/www_bget?C06558"	title="C06558 (N-Ethylammelide)" />
<area shape=circle	coords=817,90,4	href="/dbget-bin/www_bget?C00086"	title="C00086 (Urea)" />
<area shape=circle	coords=172,237,4	href="/dbget-bin/www_bget?C06556"	title="C06556 (Deisopropylatrazine)" />
<area shape=circle	coords=144,325,4	href="/dbget-bin/www_bget?C06559"	title="C06559 (Deethylatrazine)" />
<area shape=circle	coords=585,151,4	href="/dbget-bin/www_bget?C06555"	title="C06555 (Biuret)" />
<area shape=circle	coords=352,325,4	href="/dbget-bin/www_bget?C08735"	title="C08735 (2-Chloro-4-hydroxy-6-amino-1,3,5-triazine)" />
<area shape=circle	coords=219,151,4	href="/dbget-bin/www_bget?C06552"	title="C06552 (Hydroxyatrazine)" />
<area shape=circle	coords=475,151,4	href="/dbget-bin/www_bget?C06554"	title="C06554 (Cyanuric acid)" />
<area shape=circle	coords=90,151,4	href="/dbget-bin/www_bget?C06551"	title="C06551 (Atrazine)" />
<area shape=circle	coords=292,237,4	href="/dbget-bin/www_bget?C06557"	title="C06557 (Deisopropylhydroxyatrazine)" />
<area shape=circle	coords=230,325,4	href="/dbget-bin/www_bget?C06560"	title="C06560 (Deisopropyldeethylatrazine)" />
<area shape=rect	coords=731,81,777,98	href="/dbget-bin/www_bget?K06035+4.2.1.69+R00778"	title="K06035 (E4.2.1.69), 4.2.1.69, R00778" />
<area shape=rect	coords=630,316,676,333	href="/dbget-bin/www_bget?up:Q9EYU0+R06968"	title="Q9EYU0, R06968" />
<area shape=rect	coords=519,316,565,333	href="/dbget-bin/www_bget?3.5.99.-+R06969"	title="3.5.99.-, 3.5.99.-, R06969" />
<area shape=rect	coords=700,243,746,260	href="/dbget-bin/www_bget?K01500+3.5.4.-+R06970"	title="K01500 (E3.5.4.-), 3.5.4.-, R06970" />
<area shape=rect	coords=600,243,646,260	href="/dbget-bin/www_bget?K01500+3.5.4.-+R06971"	title="K01500 (E3.5.4.-), 3.5.4.-, R06971" />
<area shape=rect	coords=505,244,551,261	href="/dbget-bin/www_bget?K01500+3.5.4.-+R06972"	title="K01500 (E3.5.4.-), 3.5.4.-, R06972" />
<area shape=rect	coords=453,272,499,289	href="/dbget-bin/www_bget?K08710+3.5.99.4+R06967"	title="K08710 (E3.5.99.4), 3.5.99.4, R06967" />
<area shape=rect	coords=388,316,434,333	href="/dbget-bin/www_bget?K03382+3.5.99.3+R06966"	title="K03382 (E3.5.99.3), 3.5.99.3, R06966" />
<area shape=rect	coords=255,142,301,159	href="/dbget-bin/www_bget?K03382+3.5.99.3+R05559"	title="K03382 (E3.5.99.3), 3.5.99.3, R05559" />
<area shape=rect	coords=730,143,776,160	href="/dbget-bin/www_bget?K01457+3.5.1.54+R00005"	title="K01457 (E3.5.1.54), 3.5.1.54, R00005" />
<area shape=rect	coords=105,229,151,246	href="/dbget-bin/www_bget?1.14.15.-+R05564"	title="1.14.15.-, 1.14.15.-, R05564" />
<area shape=rect	coords=207,286,253,303	href="/dbget-bin/www_bget?1.14.15.-+R05567"	title="1.14.15.-, 1.14.15.-, R05567" />
<area shape=rect	coords=264,316,310,333	href="/dbget-bin/www_bget?up:Q9EYU0+R05569"	title="Q9EYU0, R05569" />
<area shape=rect	coords=407,228,453,245	href="/dbget-bin/www_bget?3.5.99.-+R05573"	title="3.5.99.-, 3.5.99.-, R05573" />
<area shape=rect	coords=508,143,554,160	href="/dbget-bin/www_bget?K03383+3.5.2.15+R05561"	title="K03383 (E3.5.2.15), 3.5.2.15, R05561" />
<area shape=rect	coords=159,317,205,334	href="/dbget-bin/www_bget?1.14.15.-+R05568"	title="1.14.15.-, 1.14.15.-, R05568" />
<area shape=rect	coords=380,142,426,159	href="/dbget-bin/www_bget?K08710+3.5.99.4+R05560"	title="K08710 (E3.5.99.4), 3.5.99.4, R05560" />
<area shape=rect	coords=128,142,174,159	href="/dbget-bin/www_bget?K05394+3.8.1.8+R05558"	title="K05394 (E3.8.1.8), 3.8.1.8, R05558" />
<area shape=rect	coords=206,228,252,245	href="/dbget-bin/www_bget?K01564+3.8.1.-+R05572"	title="K01564 (E3.8.1.-), 3.8.1.-, R05572" />
<area shape=rect	coords=795,108,841,125	href="/dbget-bin/www_bget?K01427+K01428+K01429+K01430+3.5.1.5+R00131"	title="K01427 (URE), K01428 (ureC), K01429 (ureB), K01430 (ureA), 3.5.1.5, R00131" />
<area shape=rect	coords=65,286,111,303	href="/dbget-bin/www_bget?1.14.15.-+R05565"	title="1.14.15.-, 1.14.15.-, R05565" />
<area shape=rect	coords=614,142,660,159	href="/dbget-bin/www_bget?3.5.1.84+R05563"	title="3.5.1.84, 3.5.1.84, R05563" />
<area shape=rect	coords=312,228,358,245	href="/dbget-bin/www_bget?3.5.99.-+R05574"	title="3.5.99.-, 3.5.99.-, R05574" />
<area shape=rect	coords=781,207,855,242	href="/kegg-bin/show_pathway?map00790"	title="map00790: Folate biosynthesis" />
<area shape=rect	coords=40,45,241,70	href="/dbget-bin/www_bget?map00791"	title="map00791: Atrazine degradation" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.3_5_99_3 %}
    <div class="node_3_5_99_3_instance_0"></div>
    <div class="node_3_5_99_3_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_84 %}
    <div class="node_3_5_1_84_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_14_15__ %}
    <div class="node_1_14_15___instance_0"></div>
    <div class="node_1_14_15___instance_1"></div>
    <div class="node_1_14_15___instance_2"></div>
    <div class="node_1_14_15___instance_3"></div>
  {% endif %}
  {% if nodes_to_color.3_5_4__ %}
    <div class="node_3_5_4___instance_0"></div>
    <div class="node_3_5_4___instance_1"></div>
    <div class="node_3_5_4___instance_2"></div>
  {% endif %}
  {% if nodes_to_color.3_5_99_4 %}
    <div class="node_3_5_99_4_instance_0"></div>
    <div class="node_3_5_99_4_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.3_8_1__ %}
    <div class="node_3_8_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_2_15 %}
    <div class="node_3_5_2_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_5 %}
    <div class="node_3_5_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_54 %}
    <div class="node_3_5_1_54_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_69 %}
    <div class="node_4_2_1_69_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_8_1_8 %}
    <div class="node_3_8_1_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_99__ %}
    <div class="node_3_5_99___instance_0"></div>
    <div class="node_3_5_99___instance_1"></div>
    <div class="node_3_5_99___instance_2"></div>
  {% endif %}
{% endblock %}
