{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_3_5_1_21_instance_0
    { position: absolute;
      left: 481px; top: 88px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_27_instance_0
    { position: absolute;
      left: 310px; top: 593px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3_3_instance_0
    { position: absolute;
      left: 91px; top: 523px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_5_1_16_instance_0
    { position: absolute;
      left: 804px; top: 232px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_55_instance_0
    { position: absolute;
      left: 261px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_18_instance_0
    { position: absolute;
      left: 310px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_19_instance_0
    { position: absolute;
      left: 211px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_59_instance_0
    { position: absolute;
      left: 384px; top: 555px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1_2_instance_0
    { position: absolute;
      left: 118px; top: 222px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1_1_instance_0
    { position: absolute;
      left: 118px; top: 200px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_4_13_5_instance_0
    { position: absolute;
      left: 572px; top: 157px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_4_13_4_instance_0
    { position: absolute;
      left: 516px; top: 430px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_4_13_4_instance_1
    { position: absolute;
      left: 516px; top: 457px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_3_instance_0
    { position: absolute;
      left: 462px; top: 243px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99_3_instance_0
    { position: absolute;
      left: 784px; top: 555px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_5_99_6_instance_0
    { position: absolute;
      left: 689px; top: 243px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_2_11_instance_0
    { position: absolute;
      left: 572px; top: 201px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_2_11_instance_1
    { position: absolute;
      left: 516px; top: 378px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_2_11_instance_2
    { position: absolute;
      left: 516px; top: 352px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_2_11_instance_3
    { position: absolute;
      left: 516px; top: 404px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_5_1_22_instance_0
    { position: absolute;
      left: 804px; top: 253px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_17_instance_0
    { position: absolute;
      left: 654px; top: 555px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_3_2_1_instance_0
    { position: absolute;
      left: 359px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_9_instance_0
    { position: absolute;
      left: 140px; top: 483px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_4_instance_0
    { position: absolute;
      left: 523px; top: 555px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_15_instance_0
    { position: absolute;
      left: 154px; top: 562px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_3_1_6_instance_0
    { position: absolute;
      left: 719px; top: 591px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_19_instance_0
    { position: absolute;
      left: 696px; top: 283px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_18_instance_0
    { position: absolute;
      left: 198px; top: 524px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_4_13_20_instance_0
    { position: absolute;
      left: 572px; top: 178px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_11_instance_0
    { position: absolute;
      left: 572px; top: 111px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_4_13_3_instance_0
    { position: absolute;
      left: 516px; top: 327px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_4_3_21_instance_0
    { position: absolute;
      left: 572px; top: 243px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_15_instance_0
    { position: absolute;
      left: 572px; top: 132px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_2_2_instance_0
    { position: absolute;
      left: 219px; top: 211px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_1_6_instance_0
    { position: absolute;
      left: 335px; top: 211px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=89,219,4	href="/dbget-bin/www_bget?C00106"	title="C00106 (Uracil)" />
<area shape=circle	coords=192,219,4	href="/dbget-bin/www_bget?C00429"	title="C00429 (5,6-Dihydrouracil)" />
<area shape=circle	coords=294,219,4	href="/dbget-bin/www_bget?C02642"	title="C02642 (3-Ureidopropionate)" />
<area shape=circle	coords=420,251,4	href="/dbget-bin/www_bget?C00099"	title="C00099 (beta-Alanine)" />
<area shape=circle	coords=113,491,4	href="/dbget-bin/www_bget?C00083"	title="C00083 (Malonyl-CoA)" />
<area shape=circle	coords=221,491,4	href="/dbget-bin/www_bget?C00024"	title="C00024 (Acetyl-CoA)" />
<area shape=circle	coords=113,570,4	href="/dbget-bin/www_bget?C00383"	title="C00383 (Malonate)" />
<area shape=circle	coords=587,54,4	href="/dbget-bin/www_bget?C05669"	title="C05669 (beta-Nitropropanoate)" />
<area shape=circle	coords=587,75,4	href="/dbget-bin/www_bget?C05670"	title="C05670 (beta-Aminopropionitrile)" />
<area shape=circle	coords=587,96,4	href="/dbget-bin/www_bget?C01073"	title="C01073 (N-Acetyl-beta-alanine)" />
<area shape=circle	coords=537,251,4	href="/dbget-bin/www_bget?C05665"	title="C05665 (3-Aminopropanal)" />
<area shape=circle	coords=652,251,4	href="/dbget-bin/www_bget?C00986"	title="C00986 (1,3-Diaminopropane)" />
<area shape=circle	coords=767,251,4	href="/dbget-bin/www_bget?C00315"	title="C00315 (Spermidine)" />
<area shape=circle	coords=767,130,4	href="/dbget-bin/www_bget?C00049"	title="C00049 (L-Aspartate)" />
<area shape=circle	coords=882,251,4	href="/dbget-bin/www_bget?C00750"	title="C00750 (Spermine)" />
<area shape=circle	coords=381,524,4	href="/dbget-bin/www_bget?C00864"	title="C00864 (Pantothenate)" />
<area shape=circle	coords=332,563,4	href="/dbget-bin/www_bget?C00222"	title="C00222 (3-Oxopropanoate)" />
<area shape=circle	coords=480,563,4	href="/dbget-bin/www_bget?C01013"	title="C01013 (3-Hydroxypropanoate)" />
<area shape=circle	coords=611,563,4	href="/dbget-bin/www_bget?C05668"	title="C05668 (3-Hydroxypropionyl-CoA)" />
<area shape=circle	coords=742,563,4	href="/dbget-bin/www_bget?C00894"	title="C00894 (Propenoyl-CoA)" />
<area shape=circle	coords=873,563,4	href="/dbget-bin/www_bget?C00100"	title="C00100 (Propanoyl-CoA)" />
<area shape=circle	coords=742,636,4	href="/dbget-bin/www_bget?C02335"	title="C02335 (beta-Alanyl-CoA)" />
<area shape=circle	coords=652,335,4	href="/dbget-bin/www_bget?C00386"	title="C00386 (Carnosine)" />
<area shape=circle	coords=505,299,4	href="/dbget-bin/www_bget?C00135"	title="C00135 (L-Histidine)" />
<area shape=circle	coords=767,386,4	href="/dbget-bin/www_bget?C05340"	title="C05340 (beta-Alanyl-L-arginine)" />
<area shape=circle	coords=652,438,4	href="/dbget-bin/www_bget?C05341"	title="C05341 (beta-Alanyl-L-lysine)" />
<area shape=circle	coords=767,491,4	href="/dbget-bin/www_bget?C03722"	title="C03722 (Pyridine-2,3-dicarboxylate)" />
<area shape=circle	coords=332,636,4	href="/dbget-bin/www_bget?C00804"	title="C00804 (Propynoate)" />
<area shape=circle	coords=677,292,4	href="/dbget-bin/www_bget?C00555"	title="C00555 (4-Aminobutyraldehyde)" />
<area shape=circle	coords=767,292,4	href="/dbget-bin/www_bget?C00334"	title="C00334 (4-Aminobutanoate)" />
<area shape=circle	coords=767,176,4	href="/dbget-bin/www_bget?C01262"	title="C01262 (beta-Alanyl-N(pi)-methyl-L-histidine)" />
<area shape=rect	coords=719,591,765,608	href="/dbget-bin/www_bget?4.3.1.6+R03046"	title="4.3.1.6, 4.3.1.6, R03046" />
<area shape=rect	coords=784,555,830,572	href="/dbget-bin/www_bget?K00249+1.3.99.3+R00924"	title="K00249 (E1.3.99.3), 1.3.99.3, R00924" />
<area shape=rect	coords=654,555,700,572	href="/dbget-bin/www_bget?K01692+K01825+K01782+K07515+K07514+K07511+4.2.1.17+R03045"	title="K01692 (E4.2.1.17), K01825 (fadB), K01782 (fadJ), K07515 (HADHA), K07514 (EHHADH), K07511 (ECHS1), 4.2.1.17, R03045" />
<area shape=rect	coords=523,555,569,572	href="/dbget-bin/www_bget?K05605+3.1.2.4+R03158"	title="K05605 (E3.1.2.4), 3.1.2.4, R03158" />
<area shape=rect	coords=384,555,430,572	href="/dbget-bin/www_bget?1.1.1.59+R01608"	title="1.1.1.59, 1.1.1.59, R01608" />
<area shape=rect	coords=154,562,200,579	href="/dbget-bin/www_bget?1.2.1.15+R01604+R01607"	title="1.2.1.15, 1.2.1.15, R01604, R01607" />
<area shape=rect	coords=91,523,137,540	href="/dbget-bin/www_bget?2.8.3.3+R00743"	title="2.8.3.3, 2.8.3.3, R00743" />
<area shape=rect	coords=140,483,186,500	href="/dbget-bin/www_bget?K01578+4.1.1.9+R00233"	title="K01578 (E4.1.1.9), 4.1.1.9, R00233" />
<area shape=rect	coords=198,524,244,541	href="/dbget-bin/www_bget?K00136+1.2.1.18+R00705+R00706"	title="K00136 (E1.2.1.18), 1.2.1.18, R00705, R00706" />
<area shape=rect	coords=310,593,356,610	href="/dbget-bin/www_bget?4.2.1.27+R01611"	title="4.2.1.27, 4.2.1.27, R01611" />
<area shape=rect	coords=310,382,356,399	href="/dbget-bin/www_bget?K00822+2.6.1.18+R00907"	title="K00822 (E2.6.1.18), 2.6.1.18, R00907" />
<area shape=rect	coords=261,382,307,399	href="/dbget-bin/www_bget?2.6.1.55+R00908"	title="2.6.1.55, 2.6.1.55, R00908" />
<area shape=rect	coords=211,382,257,399	href="/dbget-bin/www_bget?K13524+K07250+K00823+2.6.1.19+R00908"	title="K13524 (ABAT), K07250 (gabT), K00823 (puuE), 2.6.1.19, R00908" />
<area shape=rect	coords=359,382,405,399	href="/dbget-bin/www_bget?K01918+K13799+6.3.2.1+R02473"	title="K01918 (panC), K13799 (panC-cmk), 6.3.2.1, R02473" />
<area shape=rect	coords=516,430,562,447	href="/dbget-bin/www_bget?3.4.13.4+R00911"	title="3.4.13.4, 3.4.13.4, R00911" />
<area shape=rect	coords=516,378,562,395	href="/dbget-bin/www_bget?6.3.2.11+R00912"	title="6.3.2.11, 6.3.2.11, R00912" />
<area shape=rect	coords=572,132,618,149	href="/dbget-bin/www_bget?K01580+4.1.1.15+R00489"	title="K01580 (E4.1.1.15), 4.1.1.15, R00489" />
<area shape=rect	coords=572,111,618,128	href="/dbget-bin/www_bget?K01579+4.1.1.11+R00489"	title="K01579 (panD), 4.1.1.11, R00489" />
<area shape=rect	coords=481,88,527,105	href="/dbget-bin/www_bget?3.5.1.21+R00909"	title="3.5.1.21, 3.5.1.21, R00909" />
<area shape=rect	coords=804,253,850,270	href="/dbget-bin/www_bget?K00802+2.5.1.22+R02869"	title="K00802 (E2.5.1.22), 2.5.1.22, R02869" />
<area shape=rect	coords=804,232,850,249	href="/dbget-bin/www_bget?K00797+2.5.1.16+R02869"	title="K00797 (E2.5.1.16), 2.5.1.16, R02869" />
<area shape=rect	coords=689,243,735,260	href="/dbget-bin/www_bget?K00316+1.5.99.6+R01914"	title="K00316 (E1.5.99.6), 1.5.99.6, R01914" />
<area shape=rect	coords=696,283,742,300	href="/dbget-bin/www_bget?K00137+1.2.1.19+R02549"	title="K00137 (E1.2.1.19), 1.2.1.19, R02549" />
<area shape=rect	coords=572,243,618,260	href="/dbget-bin/www_bget?K00276+1.4.3.21+R03139"	title="K00276 (E1.4.3.21), 1.4.3.21, R03139" />
<area shape=rect	coords=462,243,508,260	href="/dbget-bin/www_bget?K00128+1.2.1.3+R00904"	title="K00128 (E1.2.1.3), 1.2.1.3, R00904" />
<area shape=rect	coords=335,211,381,228	href="/dbget-bin/www_bget?K01431+3.5.1.6+R00905"	title="K01431 (E3.5.1.6), 3.5.1.6, R00905" />
<area shape=rect	coords=219,211,265,228	href="/dbget-bin/www_bget?K01464+3.5.2.2+R02269"	title="K01464 (E3.5.2.2), 3.5.2.2, R02269" />
<area shape=rect	coords=118,222,164,239	href="/dbget-bin/www_bget?K00207+1.3.1.2+R00978"	title="K00207 (E1.3.1.2), 1.3.1.2, R00978" />
<area shape=rect	coords=118,200,164,217	href="/dbget-bin/www_bget?1.3.1.1+R00977"	title="1.3.1.1, 1.3.1.1, R00977" />
<area shape=rect	coords=516,352,562,369	href="/dbget-bin/www_bget?6.3.2.11+R01164"	title="6.3.2.11, 6.3.2.11, R01164" />
<area shape=rect	coords=516,404,562,421	href="/dbget-bin/www_bget?6.3.2.11+R00910"	title="6.3.2.11, 6.3.2.11, R00910" />
<area shape=rect	coords=516,327,562,344	href="/dbget-bin/www_bget?K01270+3.4.13.3+R01166"	title="K01270 (E3.4.13.3), 3.4.13.3, R01166" />
<area shape=rect	coords=572,157,618,174	href="/dbget-bin/www_bget?3.4.13.5+R03288"	title="3.4.13.5, 3.4.13.5, R03288" />
<area shape=rect	coords=572,201,618,218	href="/dbget-bin/www_bget?6.3.2.11+R03286"	title="6.3.2.11, 6.3.2.11, R03286" />
<area shape=rect	coords=516,457,562,474	href="/dbget-bin/www_bget?3.4.13.4+R03935"	title="3.4.13.4, 3.4.13.4, R03935" />
<area shape=rect	coords=572,178,618,195	href="/dbget-bin/www_bget?K05604+3.4.13.20+R03288"	title="K05604 (CNDP1), 3.4.13.20, R03288" />
<area shape=rect	coords=40,45,247,71	href="/dbget-bin/www_bget?map00410"	title="map00410: beta-Alanine metabolism" />
<area shape=rect	coords=837,611,912,646	href="/kegg-bin/show_pathway?map00640"	title="map00640: Propanoate metabolism" />
<area shape=rect	coords=73,400,155,435	href="/kegg-bin/show_pathway?map00061"	title="map00061: Fatty acid biosynthesis" />
<area shape=rect	coords=500,507,604,542	href="/kegg-bin/show_pathway?map00770"	title="map00770: Pantothenate and CoA biosynthesis" />
<area shape=rect	coords=53,270,128,305	href="/kegg-bin/show_pathway?map00240"	title="map00240: Pyrimidine metabolism" />
<area shape=rect	coords=824,169,944,204	href="/kegg-bin/show_pathway?map00330"	title="map00330: Arginine and proline metabolism" />
<area shape=rect	coords=718,32,819,67	href="/kegg-bin/show_pathway?map00460"	title="map00460: Cyanoamino acid metabolism" />
<area shape=rect	coords=824,113,946,148	href="/kegg-bin/show_pathway?map00250"	title="map00250: Alanine, aspartate and glutamate metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.3_5_1_21 %}
    <div class="node_3_5_1_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_27 %}
    <div class="node_4_2_1_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_8_3_3 %}
    <div class="node_2_8_3_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_5_1_16 %}
    <div class="node_2_5_1_16_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_55 %}
    <div class="node_2_6_1_55_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_18 %}
    <div class="node_2_6_1_18_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_19 %}
    <div class="node_2_6_1_19_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_59 %}
    <div class="node_1_1_1_59_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1_2 %}
    <div class="node_1_3_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1_1 %}
    <div class="node_1_3_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_4_13_5 %}
    <div class="node_3_4_13_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_4_13_4 %}
    <div class="node_3_4_13_4_instance_0"></div>
    <div class="node_3_4_13_4_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_3 %}
    <div class="node_1_2_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99_3 %}
    <div class="node_1_3_99_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_5_99_6 %}
    <div class="node_1_5_99_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_3_2_11 %}
    <div class="node_6_3_2_11_instance_0"></div>
    <div class="node_6_3_2_11_instance_1"></div>
    <div class="node_6_3_2_11_instance_2"></div>
    <div class="node_6_3_2_11_instance_3"></div>
  {% endif %}
  {% if nodes_to_color.2_5_1_22 %}
    <div class="node_2_5_1_22_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_17 %}
    <div class="node_4_2_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_3_2_1 %}
    <div class="node_6_3_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_9 %}
    <div class="node_4_1_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_4 %}
    <div class="node_3_1_2_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_15 %}
    <div class="node_1_2_1_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_3_1_6 %}
    <div class="node_4_3_1_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_19 %}
    <div class="node_1_2_1_19_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_18 %}
    <div class="node_1_2_1_18_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_4_13_20 %}
    <div class="node_3_4_13_20_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_11 %}
    <div class="node_4_1_1_11_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_4_13_3 %}
    <div class="node_3_4_13_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_4_3_21 %}
    <div class="node_1_4_3_21_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_15 %}
    <div class="node_4_1_1_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_2_2 %}
    <div class="node_3_5_2_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_1_6 %}
    <div class="node_3_5_1_6_instance_0"></div>
  {% endif %}
{% endblock %}
