{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_4_1_88_instance_0
    { position: absolute;
      left: 139px; top: 285px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_22_instance_0
    { position: absolute;
      left: 139px; top: 223px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_79_instance_0
    { position: absolute;
      left: 220px; top: 227px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_228_instance_0
    { position: absolute;
      left: 139px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_69_instance_0
    { position: absolute;
      left: 139px; top: 366px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_0
    { position: absolute;
      left: 139px; top: 457px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99___instance_1
    { position: absolute;
      left: 251px; top: 457px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_4_instance_0
    { position: absolute;
      left: 198px; top: 411px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_0
    { position: absolute;
      left: 251px; top: 367px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_1
    { position: absolute;
      left: 363px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_2
    { position: absolute;
      left: 251px; top: 275px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_3
    { position: absolute;
      left: 473px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_4
    { position: absolute;
      left: 251px; top: 181px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_5
    { position: absolute;
      left: 199px; top: 322px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1___instance_6
    { position: absolute;
      left: 363px; top: 367px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_47_instance_0
    { position: absolute;
      left: 139px; top: 202px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_52_instance_0
    { position: absolute;
      left: 175px; top: 246px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_2_1_49_instance_0
    { position: absolute;
      left: 139px; top: 266px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_1_152_instance_0
    { position: absolute;
      left: 473px; top: 366px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_4_99_8_instance_0
    { position: absolute;
      left: 199px; top: 504px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=108,466,4	href="/dbget-bin/www_bget?G00181"	title="G00181 (Disialosylglobopentaosylceramide)" />
<area shape=circle	coords=556,190,4	href="/dbget-bin/www_bget?G00107"	title="G00107" />
<area shape=circle	coords=333,284,4	href="/dbget-bin/www_bget?G00096"	title="G00096 (IV3GalNAcb-Gb4Cer)" />
<area shape=circle	coords=108,376,4	href="/dbget-bin/www_bget?G00099"	title="G00099 (Globo-H)" />
<area shape=circle	coords=221,557,4	href="/dbget-bin/www_bget?G00100"	title="G00100 (V3(NeuAc)2-Gb5Cer)" />
<area shape=circle	coords=333,466,4	href="/dbget-bin/www_bget?G00101"	title="G00101" />
<area shape=circle	coords=221,466,4	href="/dbget-bin/www_bget?G00098"	title="G00098 (Monosialylgalactosylgloboside)" />
<area shape=circle	coords=221,376,4	href="/dbget-bin/www_bget?G00097"	title="G00097 (Galactosylgloboside)" />
<area shape=circle	coords=556,376,4	href="/dbget-bin/www_bget?G00104"	title="G00104" />
<area shape=circle	coords=445,376,4	href="/dbget-bin/www_bget?G00103"	title="G00103" />
<area shape=circle	coords=333,376,4	href="/dbget-bin/www_bget?G00102"	title="G00102" />
<area shape=circle	coords=445,190,4	href="/dbget-bin/www_bget?G00106"	title="G00106" />
<area shape=circle	coords=333,190,4	href="/dbget-bin/www_bget?G00105"	title="G00105 (GalGb3Cer)" />
<area shape=circle	coords=221,284,4	href="/dbget-bin/www_bget?G00094"	title="G00094 (Globoside)" />
<area shape=circle	coords=108,284,4	href="/dbget-bin/www_bget?G00095"	title="G00095 (IV3GalNAca-Gb4Cer)" />
<area shape=circle	coords=221,190,4	href="/dbget-bin/www_bget?G00093"	title="G00093 (Globotriaosylceramide)" />
<area shape=circle	coords=108,190,4	href="/dbget-bin/www_bget?G00092"	title="G00092 (Lactosylceramide)" />
<area shape=rect	coords=198,411,244,428	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05967"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05967" />
<area shape=rect	coords=251,457,297,474	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=199,322,245,339	href="/dbget-bin/www_bget?K03877+2.4.1.-+R05964"	title="K03877 (B3GALT5), 2.4.1.-, R05964" />
<area shape=rect	coords=363,367,409,384	href="/dbget-bin/www_bget?2.4.1.-+R05903"	title="2.4.1.-, 2.4.1.-, R05903" />
<area shape=rect	coords=363,181,409,198	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=139,266,185,283	href="/dbget-bin/www_bget?K01204+3.2.1.49+R05966"	title="K01204 (NAGA), 3.2.1.49, R05966" />
<area shape=rect	coords=139,181,185,198	href="/dbget-bin/www_bget?K01988+2.4.1.228+R05960"	title="K01988 (A4GALT), 2.4.1.228, R05960" />
<area shape=rect	coords=473,181,519,198	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=175,246,221,263	href="/dbget-bin/www_bget?K12373+3.2.1.52+R05963"	title="K12373 (HEX), 3.2.1.52, R05963" />
<area shape=rect	coords=251,181,297,198	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=251,367,297,384	href="/dbget-bin/www_bget?2.4.1.-+R05902"	title="2.4.1.-, 2.4.1.-, R05902" />
<area shape=rect	coords=139,457,185,474	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=rect	coords=199,504,245,521	href="/dbget-bin/www_bget?K03371+2.4.99.8"	title="K03371 (SIAT8A), 2.4.99.8" />
<area shape=rect	coords=251,275,297,292	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=rect	coords=473,366,519,383	href="/dbget-bin/www_bget?K03663+2.4.1.152+R05904"	title="K03663 (FUT9), 2.4.1.152, R05904" />
<area shape=rect	coords=139,366,185,383	href="/dbget-bin/www_bget?K00718+2.4.1.69+R05968"	title="K00718 (FUT1_2), 2.4.1.69, R05968" />
<area shape=rect	coords=139,223,185,240	href="/dbget-bin/www_bget?K01189+K07406+K07407+3.2.1.22+R05961"	title="K01189 (GLA), K07406 (E3.2.1.22A), K07407 (E3.2.1.22B), 3.2.1.22, R05961" />
<area shape=rect	coords=220,227,266,244	href="/dbget-bin/www_bget?K00719+2.4.1.79+R05962"	title="K00719 (B3GALNT1), 2.4.1.79, R05962" />
<area shape=rect	coords=139,285,185,302	href="/dbget-bin/www_bget?K00722+2.4.1.88+R05965"	title="K00722 (GBGT1), 2.4.1.88, R05965" />
<area shape=poly	coords=62,699,92,699,92,703,62,703	href="/dbget-bin/www_bget?K03371+2.4.99.8"	title="K03371 (SIAT8A), 2.4.99.8" />
<area shape=poly	coords=172,729,187,714,191,714,176,729	href="/dbget-bin/www_bget?K00718+2.4.1.69+R05968"	title="K00718 (FUT1_2), 2.4.1.69, R05968" />
<area shape=poly	coords=172,674,187,689,191,689,176,674	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=poly	coords=219,649,249,649,249,653,219,653	href="/dbget-bin/www_bget?K00722+2.4.1.88+R05965"	title="K00722 (GBGT1), 2.4.1.88, R05965" />
<area shape=poly	coords=280,696,280,666,284,666,284,696	href="/dbget-bin/www_bget?2.4.1.-"	title="2.4.1.-, 2.4.1.-" />
<area shape=poly	coords=218,693,248,663,252,663,222,693	href="/dbget-bin/www_bget?K03877+2.4.1.-+R05964"	title="K03877 (B3GALT5), 2.4.1.-, R05964" />
<area shape=poly	coords=377,649,407,649,407,653,377,653	href="/dbget-bin/www_bget?K01988+2.4.1.228+R05960"	title="K01988 (A4GALT), 2.4.1.228, R05960" />
<area shape=poly	coords=157,699,187,699,187,703,157,703	href="/dbget-bin/www_bget?K00780+K03368+2.4.99.4+R05967"	title="K00780 (SIAT4A), K03368 (SIAT4B), 2.4.99.4, R05967" />
<area shape=poly	coords=306,649,336,649,336,653,306,653	href="/dbget-bin/www_bget?K00719+2.4.1.179+R05962"	title="K00719 (B3GALNT1), 2.4.1.179, R05962" />
<area shape=poly	coords=279,605,279,635,283,635,283,605	href="/dbget-bin/www_bget?2.4.99.-"	title="2.4.99.-, 2.4.99.-" />
<area shape=poly	coords=219,606,249,636,253,636,223,606	href="/dbget-bin/www_bget?2.4.1.-+R05902"	title="2.4.1.-, 2.4.1.-, R05902" />
<area shape=poly	coords=152,577,167,592,171,592,156,577	href="/dbget-bin/www_bget?2.4.1.-+R05903"	title="2.4.1.-, 2.4.1.-, R05903" />
<area shape=poly	coords=150,622,165,607,169,607,154,622	href="/dbget-bin/www_bget?K03663+2.4.1.152+R05904"	title="K03663 (FUT9), 2.4.1.152, R05904" />
<area shape=rect	coords=139,202,185,219	href="/dbget-bin/www_bget?3.2.1.47+R05961"	title="3.2.1.47, 3.2.1.47, R05961" />
<area shape=rect	coords=40,45,416,71	href="/dbget-bin/www_bget?map00603"	title="map00603: Glycosphingolipid biosynthesis - globo series" />
<area shape=rect	coords=71,107,149,142	href="/kegg-bin/show_pathway?map00600"	title="map00600: Sphingolipid metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_4_1_88 %}
    <div class="node_2_4_1_88_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_22 %}
    <div class="node_3_2_1_22_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_79 %}
    <div class="node_2_4_1_79_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_228 %}
    <div class="node_2_4_1_228_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_69 %}
    <div class="node_2_4_1_69_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99__ %}
    <div class="node_2_4_99___instance_0"></div>
    <div class="node_2_4_99___instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_4 %}
    <div class="node_2_4_99_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1__ %}
    <div class="node_2_4_1___instance_0"></div>
    <div class="node_2_4_1___instance_1"></div>
    <div class="node_2_4_1___instance_2"></div>
    <div class="node_2_4_1___instance_3"></div>
    <div class="node_2_4_1___instance_4"></div>
    <div class="node_2_4_1___instance_5"></div>
    <div class="node_2_4_1___instance_6"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_47 %}
    <div class="node_3_2_1_47_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_52 %}
    <div class="node_3_2_1_52_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_2_1_49 %}
    <div class="node_3_2_1_49_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_1_152 %}
    <div class="node_2_4_1_152_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_4_99_8 %}
    <div class="node_2_4_99_8_instance_0"></div>
  {% endif %}
{% endblock %}
