{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_3_1_3_67_instance_0
    { position: absolute;
      left: 406px; top: 274px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_1_153_instance_0
    { position: absolute;
      left: 379px; top: 227px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=458,235,4	href="/dbget-bin/www_bget?C05981"	title="C05981 (Phosphatidylinositol-3,4,5-trisphosphate)" />
<area shape=rect	coords=379,122,425,139	href="/dbget-bin/www_bget?K04365"	title="K04365 (BRAF)" />
<area shape=rect	coords=203,501,249,518	href="/dbget-bin/www_bget?K05689"	title="K05689 (CDHE)" />
<area shape=rect	coords=777,538,823,555	href="/dbget-bin/www_bget?K04451"	title="K04451 (TP53)" />
<area shape=rect	coords=279,419,325,436	href="/dbget-bin/www_bget?K07828"	title="K07828 (NRAS)" />
<area shape=rect	coords=813,166,859,183	href="/dbget-bin/www_bget?K02089"	title="K02089 (CDK4)" />
<area shape=rect	coords=813,142,859,159	href="/dbget-bin/www_bget?K04503"	title="K04503 (CCND1)" />
<area shape=rect	coords=725,593,771,610	href="/dbget-bin/www_bget?K09455"	title="K09455 (MITF)" />
<area shape=rect	coords=406,274,452,291	href="/dbget-bin/www_bget?K01110"	title="K01110 (E3.1.3.67)" />
<area shape=rect	coords=203,189,249,206	href="/dbget-bin/www_bget?K04361+K04362+K04363+K05087+K05089+K05099"	title="K04361 (EGFR), K04362 (FGFR1), K04363 (PDGFRA), K05087 (IGF1R), K05089 (PDGFRB), K05099 (MET)" />
<area shape=rect	coords=125,189,171,206	href="/dbget-bin/www_bget?K04357+K04358+K04359+K05450+K05459+K05460"	title="K04357 (EGF), K04358 (FGF), K04359 (PDGFA_B), K05450 (PDGFC_D), K05459 (IGF1), K05460 (HGF)" />
<area shape=rect	coords=563,254,609,271	href="/dbget-bin/www_bget?K02158"	title="K02158 (BAD)" />
<area shape=rect	coords=854,285,900,302	href="/dbget-bin/www_bget?K06621"	title="K06621 (CDKN2A)" />
<area shape=rect	coords=725,384,771,401	href="/dbget-bin/www_bget?K06625"	title="K06625 (CDKN1A)" />
<area shape=rect	coords=773,285,819,302	href="/dbget-bin/www_bget?K06643"	title="K06643 (MDM2)" />
<area shape=rect	coords=726,314,772,331	href="/dbget-bin/www_bget?K04451"	title="K04451 (TP53)" />
<area shape=rect	coords=872,457,918,474	href="/dbget-bin/www_bget?K06620+K09389"	title="K06620 (E2F1_3), K09389 (E2F2)" />
<area shape=rect	coords=872,420,918,437	href="/dbget-bin/www_bget?K06618"	title="K06618 (RB1)" />
<area shape=rect	coords=789,427,835,444	href="/dbget-bin/www_bget?K02089+K02091"	title="K02089 (CDK4), K02091 (CDK6)" />
<area shape=rect	coords=789,410,835,427	href="/dbget-bin/www_bget?K04503"	title="K04503 (CCND1)" />
<area shape=rect	coords=485,226,531,243	href="/dbget-bin/www_bget?K04456"	title="K04456 (AKT)" />
<area shape=rect	coords=379,227,425,244	href="/dbget-bin/www_bget?K00922+K02649"	title="K00922 (E2.7.1.153), K02649 (PIK3R)" />
<area shape=rect	coords=726,452,772,469	href="/dbget-bin/www_bget?K06621"	title="K06621 (CDKN2A)" />
<area shape=rect	coords=539,154,585,171	href="/dbget-bin/www_bget?K04371"	title="K04371 (ERK1_2)" />
<area shape=rect	coords=460,154,506,171	href="/dbget-bin/www_bget?K04368+K04369"	title="K04368 (MAP2K1), K04369 (MAP2K2)" />
<area shape=rect	coords=379,154,425,171	href="/dbget-bin/www_bget?K04365+K04366+K08845"	title="K04365 (BRAF), K04366 (RAF1), K08845 (ARAF)" />
<area shape=rect	coords=286,189,332,206	href="/dbget-bin/www_bget?K02833+K07827+K07828"	title="K02833 (HRAS), K07827 (KRAS), K07828 (NRAS)" />
<area shape=rect	coords=566,528,669,563	href="/kegg-bin/show_pathway?map04115"	title="map04115: p53 signaling pathway" />
<area shape=rect	coords=566,584,669,619	href="/kegg-bin/show_pathway?map04916"	title="map04916: Melanogenesis" />
<area shape=rect	coords=260,534,363,569	href="/kegg-bin/show_pathway?map04520"	title="map04520: Adherens junction" />
<area shape=rect	coords=540,287,643,322	href="/kegg-bin/show_pathway?map04210"	title="map04210: Apoptosis" />
<area shape=rect	coords=478,102,581,137	href="/kegg-bin/show_pathway?map04010"	title="map04010: MAPK signaling pathway" />
<area shape=rect	coords=40,45,147,71	href="/dbget-bin/www_bget?map05218"	title="map05218: Melanoma" />
<area shape=rect	coords=841,342,944,377	href="/kegg-bin/show_pathway?map04110"	title="map04110: Cell cycle" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.3_1_3_67 %}
    <div class="node_3_1_3_67_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_1_153 %}
    <div class="node_2_7_1_153_instance_0"></div>
  {% endif %}
{% endblock %}
