{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_1_3_1_43_instance_0
    { position: absolute;
      left: 155px; top: 229px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_9_instance_0
    { position: absolute;
      left: 197px; top: 184px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_5_instance_0
    { position: absolute;
      left: 247px; top: 165px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1_12_instance_0
    { position: absolute;
      left: 155px; top: 208px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_1_instance_0
    { position: absolute;
      left: 197px; top: 165px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_57_instance_0
    { position: absolute;
      left: 247px; top: 184px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=898,496,4	href="/dbget-bin/www_bget?C03319"	title="C03319 (dTDP-6-deoxy-L-mannose)" />
<area shape=circle	coords=806,261,4	href="/dbget-bin/www_bget?C12477"	title="C12477 (3-Methylpyrrole-2,4-dicarboxylic acid)" />
<area shape=circle	coords=694,656,4	href="/dbget-bin/www_bget?C12483"	title="C12483 (Pyrrole-2-carboxyl-[pcp])" />
<area shape=circle	coords=806,551,4	href="/dbget-bin/www_bget?C12479"	title="C12479 (Coumermic acid)" />
<area shape=circle	coords=992,818,4	href="/dbget-bin/www_bget?C05080"	title="C05080 (Novobiocin)" />
<area shape=circle	coords=245,139,4	href="/dbget-bin/www_bget?C00082"	title="C00082 (L-Tyrosine)" />
<area shape=circle	coords=436,139,4	href="/dbget-bin/www_bget?C12462"	title="C12462 (beta-Hydroxy-L-tyrosyl-[pcp])" />
<area shape=circle	coords=568,223,4	href="/dbget-bin/www_bget?C12467"	title="C12467 (2-Hydroxy-beta-keto-L-tyrosyl-[pcp])" />
<area shape=circle	coords=245,227,4	href="/dbget-bin/www_bget?C01179"	title="C01179 (3-(4-Hydroxyphenyl)pyruvate)" />
<area shape=circle	coords=123,227,4	href="/dbget-bin/www_bget?C00254"	title="C00254 (Prephenate)" />
<area shape=circle	coords=245,319,4	href="/dbget-bin/www_bget?C12456"	title="C12456 (3-Dimethylallyl-4-hydroxyphenylpyruvate)" />
<area shape=circle	coords=568,816,4	href="/dbget-bin/www_bget?C12032"	title="C12032 (Clorobiocin)" />
<area shape=circle	coords=898,572,4	href="/dbget-bin/www_bget?C12481"	title="C12481 (dTDP-5-dimethyl-L-lyxose)" />
<area shape=circle	coords=436,233,4	href="/dbget-bin/www_bget?C12460"	title="C12460 (3-Dimethylallyl-beta-hydroxy-L-tyrosyl-[pcp])" />
<area shape=circle	coords=694,742,4	href="/dbget-bin/www_bget?C12484"	title="C12484 (5-Methyl-pyrrole-2-carboxyl-[pcp])" />
<area shape=circle	coords=806,820,4	href="/dbget-bin/www_bget?C05073"	title="C05073 (Coumermycin A1)" />
<area shape=circle	coords=992,718,4	href="/dbget-bin/www_bget?C12476"	title="C12476 (Descarbamoylnovobiocin)" />
<area shape=circle	coords=992,645,4	href="/dbget-bin/www_bget?C12475"	title="C12475 (Desmethyldescarbamoylnovobiocin)" />
<area shape=circle	coords=568,308,4	href="/dbget-bin/www_bget?C12468"	title="C12468 (3-Amino-4,7-dihydroxycoumarin)" />
<area shape=circle	coords=245,434,4	href="/dbget-bin/www_bget?C12457"	title="C12457 (3-Dimethylallyl-4-hydroxymandelic acid)" />
<area shape=circle	coords=694,484,4	href="/dbget-bin/www_bget?C12470"	title="C12470 (L-Prolyl-[pcp])" />
<area shape=circle	coords=992,411,4	href="/dbget-bin/www_bget?C12466"	title="C12466 (3-Amino-4,7-dihydroxy-8-methylcoumarin)" />
<area shape=circle	coords=806,383,4	href="/dbget-bin/www_bget?C12478"	title="C12478 (Coumeroic acid)" />
<area shape=circle	coords=568,411,4	href="/dbget-bin/www_bget?C12469"	title="C12469 (3-Amino-4,7-dihydroxy-8-chlorocoumarin)" />
<area shape=circle	coords=436,434,4	href="/dbget-bin/www_bget?C12458"	title="C12458 (3-Dimethylallyl-4-hydroxybenzoate)" />
<area shape=circle	coords=992,258,4	href="/dbget-bin/www_bget?C12465"	title="C12465 (2-Hydroxy-3-methyl-beta-keto-L-tyrosyl-[pcp])" />
<area shape=circle	coords=568,139,4	href="/dbget-bin/www_bget?C12463"	title="C12463 (beta-Keto-L-tyrosyl-[pcp])" />
<area shape=circle	coords=436,319,4	href="/dbget-bin/www_bget?C12459"	title="C12459 (3-Dimethylallyl-4-hydroxybenzaldehyde)" />
<area shape=circle	coords=992,139,4	href="/dbget-bin/www_bget?C12464"	title="C12464 (3-Methyl-beta-keto-L-tyrosyl-[pcp])" />
<area shape=circle	coords=485,658,4	href="/dbget-bin/www_bget?C03319"	title="C03319 (dTDP-6-deoxy-L-mannose)" />
<area shape=circle	coords=694,384,4	href="/dbget-bin/www_bget?C00148"	title="C00148 (L-Proline)" />
<area shape=circle	coords=568,549,4	href="/dbget-bin/www_bget?C12471"	title="C12471 (Chlorobiocic acid)" />
<area shape=circle	coords=485,573,4	href="/dbget-bin/www_bget?C12481"	title="C12481 (dTDP-5-dimethyl-L-lyxose)" />
<area shape=circle	coords=568,645,4	href="/dbget-bin/www_bget?C12472"	title="C12472 (Novclobiocin 105)" />
<area shape=circle	coords=992,551,4	href="/dbget-bin/www_bget?C12474"	title="C12474 (Novobiocic acid)" />
<area shape=circle	coords=806,721,4	href="/dbget-bin/www_bget?C12480"	title="C12480 (Coumermycin D)" />
<area shape=circle	coords=568,720,4	href="/dbget-bin/www_bget?C12473"	title="C12473 (Novclobiocin 104)" />
<area shape=circle	coords=339,139,4	href="/dbget-bin/www_bget?C12461"	title="C12461 (L-Tyrosyl-[pcp])" />
<area shape=circle	coords=694,570,4	href="/dbget-bin/www_bget?C12482"	title="C12482 (2-Pyrroline-2-carboxyl-[pcp])" />
<area shape=poly	coords=434,323,434,428,438,428,438,323	href="/dbget-bin/www_bget?R06763"	title="R06763" />
<area shape=poly	coords=436,428,432,420,440,420	href="/dbget-bin/www_bget?R06763"	title="R06763" />
<area shape=rect	coords=876,520,922,537	href="/dbget-bin/www_bget?K12710+R06750"	title="K12710 (novU), R06750" />
<area shape=rect	coords=784,762,830,779	href="/dbget-bin/www_bget?K12728+R06768"	title="K12728 (couN2), R06768" />
<area shape=rect	coords=785,666,831,683	href="/dbget-bin/www_bget?K12727+R06767"	title="K12727 (couP), R06767" />
<area shape=rect	coords=783,595,829,612	href="/dbget-bin/www_bget?K12726+R06767"	title="K12726 (couM), R06767" />
<area shape=rect	coords=784,497,830,514	href="/dbget-bin/www_bget?K12725+R06778"	title="K12725 (couL), R06778" />
<area shape=rect	coords=785,320,831,337	href="/dbget-bin/www_bget?K12725+R06777"	title="K12725 (couL), R06777" />
<area shape=rect	coords=672,686,718,703	href="/dbget-bin/www_bget?K12722+R06749"	title="K12722 (cloN6), R06749" />
<area shape=rect	coords=694,429,740,446	href="/dbget-bin/www_bget?K12720+R06746"	title="K12720 (cloN5), R06746" />
<area shape=rect	coords=648,429,694,446	href="/dbget-bin/www_bget?K12719+R06746"	title="K12719 (cloN4), R06746" />
<area shape=rect	coords=671,513,717,530	href="/dbget-bin/www_bget?K12721+R06747"	title="K12721 (cloN3), R06747" />
<area shape=rect	coords=567,762,613,779	href="/dbget-bin/www_bget?K12724+R06775"	title="K12724 (cloN7), R06775" />
<area shape=rect	coords=522,762,568,779	href="/dbget-bin/www_bget?K12723+R06775"	title="K12723 (cloN2), R06775" />
<area shape=rect	coords=546,668,592,685	href="/dbget-bin/www_bget?K12718+R06774"	title="K12718 (cloP), R06774" />
<area shape=rect	coords=546,595,592,612	href="/dbget-bin/www_bget?K12717+R06773"	title="K12717 (cloM), R06773" />
<area shape=rect	coords=546,497,592,514	href="/dbget-bin/www_bget?K12715+R06776"	title="K12715 (cloL), R06776" />
<area shape=rect	coords=546,346,592,363	href="/dbget-bin/www_bget?K12714+R06766"	title="K12714 (clohal), R06766" />
<area shape=rect	coords=463,612,509,629	href="/dbget-bin/www_bget?K12716+R06750"	title="K12716 (cloU), R06750" />
<area shape=rect	coords=970,762,1016,779	href="/dbget-bin/www_bget?K12713+R06772"	title="K12713 (novN), R06772" />
<area shape=rect	coords=969,666,1015,683	href="/dbget-bin/www_bget?K12712+R06771"	title="K12712 (novP), R06771" />
<area shape=rect	coords=969,595,1015,612	href="/dbget-bin/www_bget?K12711+R06770"	title="K12711 (novM), R06770" />
<area shape=rect	coords=969,497,1015,514	href="/dbget-bin/www_bget?K12709+R06769"	title="K12709 (novL), R06769" />
<area shape=rect	coords=969,186,1015,203	href="/dbget-bin/www_bget?K12706+R06755"	title="K12706 (novC), R06755" />
<area shape=rect	coords=764,132,810,149	href="/dbget-bin/www_bget?K12705+R06754"	title="K12705 (novO), R06754" />
<area shape=rect	coords=490,139,536,156	href="/dbget-bin/www_bget?K12704+R06753"	title="K12704 (novK), R06753" />
<area shape=rect	coords=490,122,536,139	href="/dbget-bin/www_bget?K12703+R06753"	title="K12703 (novJ), R06753" />
<area shape=rect	coords=359,130,405,147	href="/dbget-bin/www_bget?K12702+R06752"	title="K12702 (novI), R06752" />
<area shape=rect	coords=263,130,309,147	href="/dbget-bin/www_bget?K12701+R06751"	title="K12701 (novH), R06751" />
<area shape=rect	coords=317,424,363,441	href="/dbget-bin/www_bget?K12708+R06759"	title="K12708 (novR), R06759" />
<area shape=rect	coords=223,366,269,383	href="/dbget-bin/www_bget?K12708+R06758"	title="K12708 (novR), R06758" />
<area shape=rect	coords=247,184,293,201	href="/dbget-bin/www_bget?K00832+2.6.1.57+R00734"	title="K00832 (tyrB), 2.6.1.57, R00734" />
<area shape=rect	coords=247,165,293,182	href="/dbget-bin/www_bget?K00815+2.6.1.5+R00734"	title="K00815 (E2.6.1.5), 2.6.1.5, R00734" />
<area shape=rect	coords=197,184,243,201	href="/dbget-bin/www_bget?K00817+2.6.1.9+R00734"	title="K00817 (hisC), 2.6.1.9, R00734" />
<area shape=rect	coords=155,229,201,246	href="/dbget-bin/www_bget?K00220+1.3.1.43+R01728"	title="K00220 (E1.3.1.43), 1.3.1.43, R01728" />
<area shape=rect	coords=155,208,201,225	href="/dbget-bin/www_bget?K00210+K04517+1.3.1.12+R01728"	title="K00210 (E1.3.1.12), K04517 (TYRA2), 1.3.1.12, R01728" />
<area shape=rect	coords=197,165,243,182	href="/dbget-bin/www_bget?K00811+K00812+K00813+K11358+2.6.1.1+R00734"	title="K00811 (E2.6.1.1), K00812 (E2.6.1.1A), K00813 (E2.6.1.1B), K11358 (yhdR), 2.6.1.1, R00734" />
<area shape=rect	coords=222,259,268,276	href="/dbget-bin/www_bget?K12707+R06757"	title="K12707 (novQ), R06757" />
<area shape=poly	coords=430,317,250,317,250,321,430,321	href="/dbget-bin/www_bget?R06762"	title="R06762" />
<area shape=poly	coords=430,319,422,323,422,315	href="/dbget-bin/www_bget?R06762"	title="R06762" />
<area shape=poly	coords=434,144,434,227,438,227,438,144	href="/dbget-bin/www_bget?R06760"	title="R06760" />
<area shape=poly	coords=436,227,432,219,440,219	href="/dbget-bin/www_bget?R06760"	title="R06760" />
<area shape=poly	coords=434,238,434,312,438,312,438,238	href="/dbget-bin/www_bget?R06761"	title="R06761" />
<area shape=poly	coords=436,312,432,304,440,304	href="/dbget-bin/www_bget?R06761"	title="R06761" />
<area shape=poly	coords=566,144,566,218,570,218,570,144	href="/dbget-bin/www_bget?R06764"	title="R06764" />
<area shape=poly	coords=568,218,564,210,572,210	href="/dbget-bin/www_bget?R06764"	title="R06764" />
<area shape=poly	coords=566,228,566,302,570,302,570,228	href="/dbget-bin/www_bget?R06765"	title="R06765" />
<area shape=poly	coords=568,302,564,294,572,294	href="/dbget-bin/www_bget?R06765"	title="R06765" />
<area shape=poly	coords=990,262,990,405,994,405,994,262	href="/dbget-bin/www_bget?R06756"	title="R06756" />
<area shape=poly	coords=992,405,988,397,996,397	href="/dbget-bin/www_bget?R06756"	title="R06756" />
<area shape=rect	coords=665,603,727,617	href="/dbget-bin/www_bget?R06748"	title="R06748" />
<area shape=rect	coords=446,698,552,733	href="/kegg-bin/show_pathway?map00523"	title="map00523: Polyketide sugar unit biosynthesis" />
<area shape=rect	coords=845,420,951,455	href="/kegg-bin/show_pathway?map00523"	title="map00523: Polyketide sugar unit biosynthesis" />
<area shape=rect	coords=637,269,757,304	href="/kegg-bin/show_pathway?map00330"	title="map00330: Arginine and proline metabolism" />
<area shape=rect	coords=40,45,260,71	href="/dbget-bin/www_bget?map00401"	title="map00401: Novobiocin biosynthesis" />
<area shape=rect	coords=37,123,189,158	href="/kegg-bin/show_pathway?map00400"	title="map00400: Phenylalanine, tyrosine and tryptophan biosynthesis" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.1_3_1_43 %}
    <div class="node_1_3_1_43_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_9 %}
    <div class="node_2_6_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_5 %}
    <div class="node_2_6_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1_12 %}
    <div class="node_1_3_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_1 %}
    <div class="node_2_6_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_57 %}
    <div class="node_2_6_1_57_instance_0"></div>
  {% endif %}
{% endblock %}
