{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_3_1_61_instance_0
    { position: absolute;
      left: 359px; top: 565px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_8_1_4_instance_0
    { position: absolute;
      left: 423px; top: 609px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_8_1_4_instance_1
    { position: absolute;
      left: 485px; top: 276px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_49_instance_0
    { position: absolute;
      left: 327px; top: 129px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_5_1_instance_0
    { position: absolute;
      left: 171px; top: 521px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_2_instance_0
    { position: absolute;
      left: 617px; top: 565px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_2_instance_1
    { position: absolute;
      left: 486px; top: 566px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_12_instance_0
    { position: absolute;
      left: 420px; top: 233px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99_1_instance_0
    { position: absolute;
      left: 121px; top: 521px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_7_1_instance_0
    { position: absolute;
      left: 496px; top: 170px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_7_3_instance_0
    { position: absolute;
      left: 482px; top: 640px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_1_instance_0
    { position: absolute;
      left: 538px; top: 232px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_4_1_instance_1
    { position: absolute;
      left: 642px; top: 232px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_37_instance_0
    { position: absolute;
      left: 209px; top: 336px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_2_instance_0
    { position: absolute;
      left: 145px; top: 427px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_3_instance_0
    { position: absolute;
      left: 626px; top: 336px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_3_instance_1
    { position: absolute;
      left: 527px; top: 336px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_4_instance_0
    { position: absolute;
      left: 216px; top: 555px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_5_instance_0
    { position: absolute;
      left: 216px; top: 576px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_3_6_instance_0
    { position: absolute;
      left: 390px; top: 371px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_32_instance_0
    { position: absolute;
      left: 327px; top: 108px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_8_instance_0
    { position: absolute;
      left: 390px; top: 346px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_1_instance_0
    { position: absolute;
      left: 390px; top: 325px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_1_instance_0
    { position: absolute;
      left: 692px; top: 269px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_41_instance_0
    { position: absolute;
      left: 732px; top: 449px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_42_instance_0
    { position: absolute;
      left: 674px; top: 391px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_42_instance_1
    { position: absolute;
      left: 674px; top: 496px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=716,241,4	href="/dbget-bin/www_bget?C00022"	title="C00022 (Pyruvate)" />
<area shape=circle	coords=169,481,4	href="/dbget-bin/www_bget?C00122"	title="C00122 (Fumarate)" />
<area shape=circle	coords=299,344,4	href="/dbget-bin/www_bget?C00036"	title="C00036 (Oxaloacetate)" />
<area shape=circle	coords=697,453,4	href="/dbget-bin/www_bget?C05379"	title="C05379 (Oxalosuccinate)" />
<area shape=circle	coords=379,241,4	href="/dbget-bin/www_bget?C00024"	title="C00024 (Acetyl-CoA)" />
<area shape=circle	coords=169,393,4	href="/dbget-bin/www_bget?C00149"	title="C00149 ((S)-Malate)" />
<area shape=circle	coords=697,344,4	href="/dbget-bin/www_bget?C00311"	title="C00311 (Isocitrate)" />
<area shape=circle	coords=600,344,4	href="/dbget-bin/www_bget?C00417"	title="C00417 (cis-Aconitate)" />
<area shape=circle	coords=169,574,4	href="/dbget-bin/www_bget?C00042"	title="C00042 (Succinate)" />
<area shape=circle	coords=501,344,4	href="/dbget-bin/www_bget?C00158"	title="C00158 (Citrate)" />
<area shape=circle	coords=501,617,4	href="/dbget-bin/www_bget?C15972"	title="C15972 (Enzyme N6-(lipoyl)lysine)" />
<area shape=circle	coords=568,530,4	href="/dbget-bin/www_bget?C00068"	title="C00068 (Thiamin diphosphate)" />
<area shape=circle	coords=441,573,4	href="/dbget-bin/www_bget?C16254"	title="C16254 ([Dihydrolipoyllysine-residue succinyltransferase] S-succinyldihydrolipoyllysine)" />
<area shape=circle	coords=387,617,4	href="/dbget-bin/www_bget?C15973"	title="C15973 (Enzyme N6-(dihydrolipoyl)lysine)" />
<area shape=circle	coords=313,574,4	href="/dbget-bin/www_bget?C00091"	title="C00091 (Succinyl-CoA)" />
<area shape=circle	coords=697,573,4	href="/dbget-bin/www_bget?C00026"	title="C00026 (2-Oxoglutarate)" />
<area shape=circle	coords=572,573,4	href="/dbget-bin/www_bget?C05381"	title="C05381 (3-Carboxy-1-hydroxypropyl-ThPP)" />
<area shape=circle	coords=610,241,4	href="/dbget-bin/www_bget?C05125"	title="C05125 (2-(alpha-Hydroxyethyl)thiamine diphosphate)" />
<area shape=circle	coords=610,198,4	href="/dbget-bin/www_bget?C00068"	title="C00068 (Thiamin diphosphate)" />
<area shape=circle	coords=559,284,4	href="/dbget-bin/www_bget?C15972"	title="C15972 (Enzyme N6-(lipoyl)lysine)" />
<area shape=circle	coords=496,241,4	href="/dbget-bin/www_bget?C16255"	title="C16255 ([Dihydrolipoyllysine-residue acetyltransferase] S-acetyldihydrolipoyllysine)" />
<area shape=circle	coords=457,284,4	href="/dbget-bin/www_bget?C15973"	title="C15973 (Enzyme N6-(dihydrolipoyl)lysine)" />
<area shape=circle	coords=450,127,4	href="/dbget-bin/www_bget?C00074"	title="C00074 (Phosphoenolpyruvate)" />
<area shape=rect	coords=121,521,167,538	href="/dbget-bin/www_bget?K00239+K00240+K00241+K00242+K00244+K00245+K00246+K00247+1.3.99.1+R00412"	title="K00239 (sdhA), K00240 (sdhB), K00241 (sdhC), K00242 (sdhD), K00244 (frdA), K00245 (frdB), K00246 (frdC), K00247 (frdD), 1.3.99.1, R00412" />
<area shape=rect	coords=482,640,528,657	href="/dbget-bin/www_bget?K00174+K00175+K00177+K00176+1.2.7.3+R01197"	title="K00174 (korA), K00175 (korB), K00177 (korG), K00176 (korD), 1.2.7.3, R01197" />
<area shape=rect	coords=423,609,469,626	href="/dbget-bin/www_bget?K00382+1.8.1.4+R07618"	title="K00382 (DLD), 1.8.1.4, R07618" />
<area shape=rect	coords=617,565,663,582	href="/dbget-bin/www_bget?K00164+1.2.4.2+R00621"	title="K00164 (OGDH), 1.2.4.2, R00621" />
<area shape=rect	coords=486,566,532,583	href="/dbget-bin/www_bget?K00164+1.2.4.2+R03316"	title="K00164 (OGDH), 1.2.4.2, R03316" />
<area shape=rect	coords=359,565,405,582	href="/dbget-bin/www_bget?K00658+2.3.1.61+R02570"	title="K00658 (DLST), 2.3.1.61, R02570" />
<area shape=rect	coords=216,576,262,593	href="/dbget-bin/www_bget?K01902+K01903+K01899+K01900+6.2.1.5+R00405"	title="K01902 (sucD), K01903 (sucC), K01899 (LSC1), K01900 (LSC2), 6.2.1.5, R00405" />
<area shape=rect	coords=216,555,262,572	href="/dbget-bin/www_bget?K01899+K01900+6.2.1.4+R00432+R00727"	title="K01899 (LSC1), K01900 (LSC2), 6.2.1.4, R00432, R00727" />
<area shape=rect	coords=674,496,720,513	href="/dbget-bin/www_bget?K00031+1.1.1.42+R00268"	title="K00031 (IDH1), 1.1.1.42, R00268" />
<area shape=rect	coords=732,449,778,466	href="/dbget-bin/www_bget?K00030+1.1.1.41+R00709"	title="K00030 (IDH3), 1.1.1.41, R00709" />
<area shape=rect	coords=674,391,720,408	href="/dbget-bin/www_bget?K00031+1.1.1.42+R01899"	title="K00031 (IDH1), 1.1.1.42, R01899" />
<area shape=rect	coords=390,346,436,363	href="/dbget-bin/www_bget?K01648+2.3.3.8+R00352"	title="K01648 (ACLY), 2.3.3.8, R00352" />
<area shape=rect	coords=171,521,217,538	href="/dbget-bin/www_bget?K00234+K00235+K00236+K00237+1.3.5.1+R02164"	title="K00234 (SDHA), K00235 (SDHB), K00236 (SDHC), K00237 (SDHD), 1.3.5.1, R02164" />
<area shape=rect	coords=145,427,191,444	href="/dbget-bin/www_bget?K01676+K01677+K01678+K01679+4.2.1.2+R01082"	title="K01676 (E4.2.1.2A), K01677 (E4.2.1.2AA), K01678 (E4.2.1.2AB), K01679 (E4.2.1.2B), 4.2.1.2, R01082" />
<area shape=rect	coords=626,336,672,353	href="/dbget-bin/www_bget?K01681+K01682+4.2.1.3+R01900"	title="K01681 (ACO), K01682 (acnB), 4.2.1.3, R01900" />
<area shape=rect	coords=527,336,573,353	href="/dbget-bin/www_bget?K01681+K01682+4.2.1.3+R01325"	title="K01681 (ACO), K01682 (acnB), 4.2.1.3, R01325" />
<area shape=rect	coords=390,325,436,342	href="/dbget-bin/www_bget?K01647+2.3.3.1+R00351"	title="K01647 (CS), 2.3.3.1, R00351" />
<area shape=rect	coords=209,336,255,353	href="/dbget-bin/www_bget?K00025+K00026+K00024+1.1.1.37+R00342"	title="K00025 (MDH1), K00026 (MDH2), K00024 (mdh), 1.1.1.37, R00342" />
<area shape=rect	coords=692,269,738,286	href="/dbget-bin/www_bget?K01958+K01959+K01960+6.4.1.1+R00344"	title="K01958 (PC), K01959 (E6.4.1.1A), K01960 (E6.4.1.1B), 6.4.1.1, R00344" />
<area shape=rect	coords=642,232,688,249	href="/dbget-bin/www_bget?K00163+K00161+K00162+1.2.4.1+R00014"	title="K00163 (aceE), K00161 (PDHA), K00162 (PDHB), 1.2.4.1, R00014" />
<area shape=rect	coords=538,232,584,249	href="/dbget-bin/www_bget?K00163+K00161+K00162+1.2.4.1+R03270"	title="K00163 (aceE), K00161 (PDHA), K00162 (PDHB), 1.2.4.1, R03270" />
<area shape=rect	coords=485,276,531,293	href="/dbget-bin/www_bget?K00382+1.8.1.4+R07618"	title="K00382 (DLD), 1.8.1.4, R07618" />
<area shape=rect	coords=420,233,466,250	href="/dbget-bin/www_bget?K00627+2.3.1.12+R02569"	title="K00627 (DLAT), 2.3.1.12, R02569" />
<area shape=rect	coords=496,170,542,187	href="/dbget-bin/www_bget?K00169+K00170+K00172+K00171+1.2.7.1+R01196"	title="K00169 (porA), K00170 (porB), K00172 (porG), K00171 (porD), 1.2.7.1, R01196" />
<area shape=rect	coords=390,371,436,388	href="/dbget-bin/www_bget?K01643+K01644+K01646+4.1.3.6+R00362"	title="K01643 (citF), K01644 (citE), K01646 (citD), 4.1.3.6, R00362" />
<area shape=rect	coords=327,129,373,146	href="/dbget-bin/www_bget?K01610+4.1.1.49+R00341"	title="K01610 (E4.1.1.49), 4.1.1.49, R00341" />
<area shape=rect	coords=327,108,373,125	href="/dbget-bin/www_bget?K01596+4.1.1.32+R00431+R00726"	title="K01596 (E4.1.1.32), 4.1.1.32, R00431, R00726" />
<area shape=rect	coords=49,295,208,330	href="/kegg-bin/show_pathway?map00630"	title="map00630: Glyoxylate and dicarboxylate metabolism" />
<area shape=rect	coords=563,104,780,151	href="/kegg-bin/show_pathway?map00010"	title="map00010: Glycolysis / Gluconeogenesis" />
<area shape=rect	coords=79,140,206,166	href="/kegg-bin/show_pathway?map00061"	title="map00061: Fatty acid biosynthesis" />
<area shape=rect	coords=11,168,206,194	href="/kegg-bin/show_pathway?map00062"	title="map00062: Fatty acid elongation in mitochondria" />
<area shape=rect	coords=84,226,206,252	href="/kegg-bin/show_pathway?map00071"	title="map00071: Fatty acid metabolism" />
<area shape=rect	coords=772,585,899,620	href="/kegg-bin/show_pathway?map00053"	title="map00053: Ascorbate and aldarate metabolism" />
<area shape=rect	coords=774,622,896,657	href="/kegg-bin/show_pathway?map00250"	title="map00250: Alanine, aspartate and glutamate metabolism" />
<area shape=rect	coords=40,45,270,71	href="/dbget-bin/www_bget?map00020"	title="map00020: Citrate cycle (TCA cycle)" />
<area shape=rect	coords=43,426,120,461	href="/kegg-bin/show_pathway?map00350"	title="map00350: Tyrosine metabolism" />
<area shape=rect	coords=202,610,288,645	href="/kegg-bin/show_pathway?map00280"	title="map00280: Valine, leucine and isoleucine degradation" />
<area shape=rect	coords=85,258,207,293	href="/kegg-bin/show_pathway?map00250"	title="map00250: Alanine, aspartate and glutamate metabolism" />
<area shape=rect	coords=10,463,123,498	href="/kegg-bin/show_pathway?map00330"	title="map00330: Arginine and proline metabolism" />
<area shape=rect	coords=774,659,927,685	href="/kegg-bin/show_pathway?map00471"	title="map00471: D-Glutamine and D-glutamate metabolism" />
<area shape=rect	coords=61,198,206,224	href="/kegg-bin/show_pathway?map00280"	title="map00280: Valine, leucine and isoleucine degradation" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_3_1_61 %}
    <div class="node_2_3_1_61_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_8_1_4 %}
    <div class="node_1_8_1_4_instance_0"></div>
    <div class="node_1_8_1_4_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_49 %}
    <div class="node_4_1_1_49_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_5_1 %}
    <div class="node_1_3_5_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_4_2 %}
    <div class="node_1_2_4_2_instance_0"></div>
    <div class="node_1_2_4_2_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_12 %}
    <div class="node_2_3_1_12_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99_1 %}
    <div class="node_1_3_99_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_7_1 %}
    <div class="node_1_2_7_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_7_3 %}
    <div class="node_1_2_7_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_4_1 %}
    <div class="node_1_2_4_1_instance_0"></div>
    <div class="node_1_2_4_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_37 %}
    <div class="node_1_1_1_37_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_2 %}
    <div class="node_4_2_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_3 %}
    <div class="node_4_2_1_3_instance_0"></div>
    <div class="node_4_2_1_3_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_4 %}
    <div class="node_6_2_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_5 %}
    <div class="node_6_2_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_3_6 %}
    <div class="node_4_1_3_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_32 %}
    <div class="node_4_1_1_32_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_8 %}
    <div class="node_2_3_3_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_1 %}
    <div class="node_2_3_3_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_1 %}
    <div class="node_6_4_1_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_41 %}
    <div class="node_1_1_1_41_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_42 %}
    <div class="node_1_1_1_42_instance_0"></div>
    <div class="node_1_1_1_42_instance_1"></div>
  {% endif %}
{% endblock %}
