{% extends "kegg/map_base.html" %}

{% block node_overlay %}
  .node_2_8_3_8_instance_0
    { position: absolute;
      left: 106px; top: 382px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_7_1_instance_0
    { position: absolute;
      left: 657px; top: 171px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_27_instance_0
    { position: absolute;
      left: 237px; top: 454px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3_1_instance_0
    { position: absolute;
      left: 522px; top: 214px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3_1_instance_1
    { position: absolute;
      left: 788px; top: 256px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_8_3_3_instance_0
    { position: absolute;
      left: 267px; top: 236px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_27_instance_0
    { position: absolute;
      left: 576px; top: 108px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_27_instance_0
    { position: absolute;
      left: 913px; top: 421px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_4_instance_0
    { position: absolute;
      left: 106px; top: 452px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_17_instance_0
    { position: absolute;
      left: 773px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_17_instance_1
    { position: absolute;
      left: 773px; top: 214px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_99_3_instance_0
    { position: absolute;
      left: 212px; top: 518px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_13_instance_0
    { position: absolute;
      left: 838px; top: 256px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_41_instance_0
    { position: absolute;
      left: 776px; top: 451px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_5_99_7_instance_0
    { position: absolute;
      left: 576px; top: 81px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_1___instance_0
    { position: absolute;
      left: 599px; top: 335px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_99_8_instance_0
    { position: absolute;
      left: 238px; top: 585px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_18_instance_0
    { position: absolute;
      left: 290px; top: 431px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_6_1_19_instance_0
    { position: absolute;
      left: 290px; top: 410px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_79_instance_0
    { position: absolute;
      left: 624px; top: 451px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_3_30_instance_0
    { position: absolute;
      left: 526px; top: 517px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_3_instance_0
    { position: absolute;
      left: 262px; top: 518px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_54_instance_0
    { position: absolute;
      left: 627px; top: 256px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_54_instance_0
    { position: absolute;
      left: 522px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_9_instance_0
    { position: absolute;
      left: 106px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_7_2_instance_0
    { position: absolute;
      left: 707px; top: 171px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_5_instance_0
    { position: absolute;
      left: 576px; top: 557px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_2_15_instance_0
    { position: absolute;
      left: 773px; top: 145px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_17_instance_0
    { position: absolute;
      left: 477px; top: 345px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_3_1_6_instance_0
    { position: absolute;
      left: 477px; top: 421px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_1_1_9_instance_0
    { position: absolute;
      left: 267px; top: 215px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_4_instance_0
    { position: absolute;
      left: 389px; top: 356px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_4_2_1_99_instance_0
    { position: absolute;
      left: 576px; top: 485px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_1_3_1_instance_0
    { position: absolute;
      left: 727px; top: 451px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_1_3_1_instance_1
    { position: absolute;
      left: 267px; top: 277px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_1_99_1_instance_0
    { position: absolute;
      left: 750px; top: 516px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_18_instance_0
    { position: absolute;
      left: 184px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_18_instance_1
    { position: absolute;
      left: 290px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_2_1_18_instance_2
    { position: absolute;
      left: 867px; top: 600px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_59_instance_0
    { position: absolute;
      left: 290px; top: 345px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_4_instance_0
    { position: absolute;
      left: 576px; top: 536px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_1_8_instance_0
    { position: absolute;
      left: 869px; top: 171px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_1_instance_0
    { position: absolute;
      left: 723px; top: 214px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1_1_instance_1
    { position: absolute;
      left: 723px; top: 300px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_1_1_80_instance_0
    { position: absolute;
      left: 106px; top: 520px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_2_1___instance_0
    { position: absolute;
      left: 389px; top: 335px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_1_3_99_3_instance_0
    { position: absolute;
      left: 599px; top: 356px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_2_instance_0
    { position: absolute;
      left: 267px; top: 256px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_6_4_1_3_instance_0
    { position: absolute;
      left: 829px; top: 421px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_3_1_2_17_instance_0
    { position: absolute;
      left: 867px; top: 548px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_7_2_1_instance_0
    { position: absolute;
      left: 723px; top: 145px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_5_4_99_2_instance_0
    { position: absolute;
      left: 690px; top: 547px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
  .node_2_3_3_5_instance_0
    { position: absolute;
      left: 690px; top: 421px;
      width: 46px; height: 17px; z-index:1; opacity:0.5; background: #0000FF;
    }
{% endblock %}
{% block mapdata %}
<area shape=circle	coords=646,495,4	href="/dbget-bin/www_bget?C04225"	title="C04225 ((Z)-But-2-ene-1,2,3-tricarboxylate)" />
<area shape=circle	coords=551,143,4	href="/dbget-bin/www_bget?C02614"	title="C02614 ((S)-2-Methylmalate)" />
<area shape=circle	coords=646,118,4	href="/dbget-bin/www_bget?C00109"	title="C00109 (2-Oxobutanoate)" />
<area shape=circle	coords=771,115,4	href="/dbget-bin/www_bget?C02876"	title="C02876 (Propanoyl phosphate)" />
<area shape=circle	coords=771,184,4	href="/dbget-bin/www_bget?C00163"	title="C00163 (Propanoate)" />
<area shape=circle	coords=551,90,4	href="/dbget-bin/www_bget?C01234"	title="C01234 (1-Aminocyclopropane-1-carboxylate)" />
<area shape=circle	coords=545,184,4	href="/dbget-bin/www_bget?C00186"	title="C00186 ((S)-Lactate)" />
<area shape=circle	coords=545,255,4	href="/dbget-bin/www_bget?C00827"	title="C00827 (Lactoyl-CoA)" />
<area shape=circle	coords=545,354,4	href="/dbget-bin/www_bget?C00894"	title="C00894 (Propenoyl-CoA)" />
<area shape=circle	coords=771,351,4	href="/dbget-bin/www_bget?C00100"	title="C00100 (Propanoyl-CoA)" />
<area shape=circle	coords=774,495,4	href="/dbget-bin/www_bget?C00683"	title="C00683 ((S)-Methylmalonyl-CoA)" />
<area shape=circle	coords=1013,493,4	href="/dbget-bin/www_bget?C00183"	title="C00183 (L-Valine)" />
<area shape=circle	coords=936,555,4	href="/dbget-bin/www_bget?C02170"	title="C02170 (Methylmalonate)" />
<area shape=circle	coords=646,555,4	href="/dbget-bin/www_bget?C00091"	title="C00091 (Succinyl-CoA)" />
<area shape=circle	coords=549,555,4	href="/dbget-bin/www_bget?C00042"	title="C00042 (Succinate)" />
<area shape=circle	coords=549,495,4	href="/dbget-bin/www_bget?C04593"	title="C04593 ((2S,3R)-3-Hydroxybutane-1,2,3-tricarboxylate)" />
<area shape=circle	coords=646,429,4	href="/dbget-bin/www_bget?C02225"	title="C02225 (2-Methylcitrate)" />
<area shape=circle	coords=129,557,4	href="/dbget-bin/www_bget?C01845"	title="C01845 (Propan-2-ol)" />
<area shape=circle	coords=129,495,4	href="/dbget-bin/www_bget?C00207"	title="C00207 (Acetone)" />
<area shape=circle	coords=129,429,4	href="/dbget-bin/www_bget?C00164"	title="C00164 (Acetoacetate)" />
<area shape=circle	coords=129,354,4	href="/dbget-bin/www_bget?C00332"	title="C00332 (Acetoacetyl-CoA)" />
<area shape=circle	coords=262,354,4	href="/dbget-bin/www_bget?C00222"	title="C00222 (3-Oxopropanoate)" />
<area shape=circle	coords=260,495,4	href="/dbget-bin/www_bget?C00804"	title="C00804 (Propynoate)" />
<area shape=circle	coords=209,255,4	href="/dbget-bin/www_bget?C00024"	title="C00024 (Acetyl-CoA)" />
<area shape=circle	coords=361,354,4	href="/dbget-bin/www_bget?C01013"	title="C01013 (3-Hydroxypropanoate)" />
<area shape=circle	coords=362,429,4	href="/dbget-bin/www_bget?C00099"	title="C00099 (beta-Alanine)" />
<area shape=circle	coords=458,429,4	href="/dbget-bin/www_bget?C02335"	title="C02335 (beta-Alanyl-CoA)" />
<area shape=circle	coords=457,354,4	href="/dbget-bin/www_bget?C05668"	title="C05668 (3-Hydroxypropionyl-CoA)" />
<area shape=circle	coords=369,255,4	href="/dbget-bin/www_bget?C00083"	title="C00083 (Malonyl-CoA)" />
<area shape=circle	coords=551,118,4	href="/dbget-bin/www_bget?C05984"	title="C05984 (2-Hydroxybutanoic acid)" />
<area shape=circle	coords=457,255,4	href="/dbget-bin/www_bget?C05989"	title="C05989 (3-Oxopropionyl-CoA)" />
<area shape=circle	coords=261,555,4	href="/dbget-bin/www_bget?C05985"	title="C05985 (2-Propyn-1-al)" />
<area shape=circle	coords=261,620,4	href="/dbget-bin/www_bget?C05986"	title="C05986 (2-Propyn-1-ol)" />
<area shape=circle	coords=771,255,4	href="/dbget-bin/www_bget?C05983"	title="C05983 (Propionyladenylate)" />
<area shape=circle	coords=936,495,4	href="/dbget-bin/www_bget?C06002"	title="C06002 ((S)-Methylmalonate semialdehyde)" />
<area shape=circle	coords=774,555,4	href="/dbget-bin/www_bget?C01213"	title="C01213 ((R)-Methylmalonyl-CoA)" />
<area shape=poly	coords=653,113,765,113,765,117,653,117	href="/dbget-bin/www_bget?R00993"	title="R00993" />
<area shape=poly	coords=765,115,756,118,756,111	href="/dbget-bin/www_bget?R00993"	title="R00993" />
<area shape=poly	coords=934,501,934,549,938,549,938,501	href="/dbget-bin/www_bget?R03872"	title="R03872" />
<area shape=poly	coords=936,549,932,540,939,540	href="/dbget-bin/www_bget?R03872"	title="R03872" />
<area shape=rect	coords=869,171,915,188	href="/dbget-bin/www_bget?K13788+K00625+2.3.1.8+R00921"	title="K13788 (pta), K00625 (E2.3.1.8), 2.3.1.8, R00921" />
<area shape=rect	coords=627,256,673,273	href="/dbget-bin/www_bget?K00656+2.3.1.54+R06987"	title="K00656 (E2.3.1.54), 2.3.1.54, R06987" />
<area shape=rect	coords=773,145,819,162	href="/dbget-bin/www_bget?K00932+2.7.2.15+R01353"	title="K00932 (E2.7.2.15), 2.7.2.15, R01353" />
<area shape=rect	coords=624,451,670,468	href="/dbget-bin/www_bget?K01720+4.2.1.79+R04424"	title="K01720 (E4.2.1.79), 4.2.1.79, R04424" />
<area shape=rect	coords=576,485,622,502	href="/dbget-bin/www_bget?K05608+4.2.1.99+R04425"	title="K05608 (E4.2.1.99), 4.2.1.99, R04425" />
<area shape=rect	coords=913,421,959,438	href="/dbget-bin/www_bget?K00140+1.2.1.27+R00935"	title="K00140 (E1.2.1.27), 1.2.1.27, R00935" />
<area shape=rect	coords=867,600,913,617	href="/dbget-bin/www_bget?K00136+1.2.1.18+R03381"	title="K00136 (E1.2.1.18), 1.2.1.18, R03381" />
<area shape=rect	coords=867,548,913,565	href="/dbget-bin/www_bget?3.1.2.17+R02764"	title="3.1.2.17, 3.1.2.17, R02764" />
<area shape=rect	coords=750,516,796,533	href="/dbget-bin/www_bget?K05606+5.1.99.1+R02765"	title="K05606 (E5.1.99.1), 5.1.99.1, R02765" />
<area shape=rect	coords=829,421,875,438	href="/dbget-bin/www_bget?K01965+K01966+6.4.1.3+R01859"	title="K01965 (E6.4.1.3A), K01966 (E6.4.1.3B), 6.4.1.3, R01859" />
<area shape=rect	coords=727,451,773,468	href="/dbget-bin/www_bget?K03416+2.1.3.1+R00930"	title="K03416 (E2.1.3.1), 2.1.3.1, R00930" />
<area shape=rect	coords=776,451,822,468	href="/dbget-bin/www_bget?K01604+K01605+K01606+K11264+4.1.1.41+R00923"	title="K01604 (mmdA), K01605 (mmdB), K01606 (mmdC), K11264 (mmcD), 4.1.1.41, R00923" />
<area shape=rect	coords=788,256,834,273	href="/dbget-bin/www_bget?K01026+2.8.3.1+R00928"	title="K01026 (E2.8.3.1), 2.8.3.1, R00928" />
<area shape=rect	coords=773,300,819,317	href="/dbget-bin/www_bget?K01908+6.2.1.17+R00926"	title="K01908 (E6.2.1.17), 6.2.1.17, R00926" />
<area shape=rect	coords=773,214,819,231	href="/dbget-bin/www_bget?K01908+6.2.1.17+R01354"	title="K01908 (E6.2.1.17), 6.2.1.17, R01354" />
<area shape=rect	coords=838,256,884,273	href="/dbget-bin/www_bget?K01905+6.2.1.13+R00920"	title="K01905 (E6.2.1.13), 6.2.1.13, R00920" />
<area shape=rect	coords=723,300,769,317	href="/dbget-bin/www_bget?K01895+6.2.1.1+R00926"	title="K01895 (ACSS), 6.2.1.1, R00926" />
<area shape=rect	coords=723,214,769,231	href="/dbget-bin/www_bget?K01895+6.2.1.1+R01354"	title="K01895 (ACSS), 6.2.1.1, R01354" />
<area shape=rect	coords=723,145,769,162	href="/dbget-bin/www_bget?K00925+2.7.2.1+R01353"	title="K00925 (E2.7.2.1), 2.7.2.1, R01353" />
<area shape=rect	coords=690,547,736,564	href="/dbget-bin/www_bget?K01847+K01849+K01848+K11942+5.4.99.2+R00833"	title="K01847 (MUT), K01849 (E5.4.99.2B), K01848 (E5.4.99.2A), K11942 (E5.4.99.2), 5.4.99.2, R00833" />
<area shape=rect	coords=576,557,622,574	href="/dbget-bin/www_bget?K01902+K01903+K01899+K01900+6.2.1.5+R00405"	title="K01902 (sucD), K01903 (sucC), K01899 (LSC1), K01900 (LSC2), 6.2.1.5, R00405" />
<area shape=rect	coords=576,536,622,553	href="/dbget-bin/www_bget?K01899+K01900+6.2.1.4+R00432"	title="K01899 (LSC1), K01900 (LSC2), 6.2.1.4, R00432" />
<area shape=rect	coords=526,517,572,534	href="/dbget-bin/www_bget?K03417+4.1.3.30+R00409"	title="K03417 (E4.1.3.30), 4.1.3.30, R00409" />
<area shape=rect	coords=690,421,736,438	href="/dbget-bin/www_bget?K01659+2.3.3.5+R00931"	title="K01659 (E2.3.3.5), 2.3.3.5, R00931" />
<area shape=rect	coords=599,356,645,373	href="/dbget-bin/www_bget?K00249+1.3.99.3+R04432"	title="K00249 (E1.3.99.3), 1.3.99.3, R04432" />
<area shape=rect	coords=522,300,568,317	href="/dbget-bin/www_bget?4.2.1.54+R02963"	title="4.2.1.54, 4.2.1.54, R02963" />
<area shape=rect	coords=522,214,568,231	href="/dbget-bin/www_bget?K01026+2.8.3.1+R01449"	title="K01026 (E2.8.3.1), 2.8.3.1, R01449" />
<area shape=rect	coords=707,171,753,188	href="/dbget-bin/www_bget?1.2.7.2+R01199"	title="1.2.7.2, 1.2.7.2, R01199" />
<area shape=rect	coords=657,171,703,188	href="/dbget-bin/www_bget?K00169+K00170+K00172+K00171+1.2.7.1+R01199"	title="K00169 (porA), K00170 (porB), K00172 (porG), K00171 (porD), 1.2.7.1, R01199" />
<area shape=rect	coords=389,356,435,373	href="/dbget-bin/www_bget?K05605+3.1.2.4+R03157+R03158"	title="K05605 (E3.1.2.4), 3.1.2.4, R03157, R03158" />
<area shape=rect	coords=290,431,336,448	href="/dbget-bin/www_bget?K00822+2.6.1.18+R00907"	title="K00822 (E2.6.1.18), 2.6.1.18, R00907" />
<area shape=rect	coords=290,410,336,427	href="/dbget-bin/www_bget?K13524+K07250+K00823+2.6.1.19+R00908"	title="K13524 (ABAT), K07250 (gabT), K00823 (puuE), 2.6.1.19, R00908" />
<area shape=rect	coords=290,345,336,362	href="/dbget-bin/www_bget?1.1.1.59+R01608"	title="1.1.1.59, 1.1.1.59, R01608" />
<area shape=rect	coords=238,585,284,602	href="/dbget-bin/www_bget?K00114+1.1.99.8+R05062"	title="K00114 (E1.1.99.8), 1.1.99.8, R05062" />
<area shape=rect	coords=262,518,308,535	href="/dbget-bin/www_bget?K00128+1.2.1.3+R02940"	title="K00128 (E1.2.1.3), 1.2.1.3, R02940" />
<area shape=rect	coords=212,518,258,535	href="/dbget-bin/www_bget?1.2.99.3+R03535"	title="1.2.99.3, 1.2.99.3, R03535" />
<area shape=rect	coords=237,454,283,471	href="/dbget-bin/www_bget?4.2.1.27+R01611"	title="4.2.1.27, 4.2.1.27, R01611" />
<area shape=rect	coords=184,300,230,317	href="/dbget-bin/www_bget?K00136+1.2.1.18+R00705+R00706"	title="K00136 (E1.2.1.18), 1.2.1.18, R00705, R00706" />
<area shape=rect	coords=106,520,152,537	href="/dbget-bin/www_bget?1.1.1.80+R01550"	title="1.1.1.80, 1.1.1.80, R01550" />
<area shape=rect	coords=106,452,152,469	href="/dbget-bin/www_bget?K01574+4.1.1.4+R01366"	title="K01574 (E4.1.1.4), 4.1.1.4, R01366" />
<area shape=rect	coords=106,382,152,399	href="/dbget-bin/www_bget?K01034+K01035+2.8.3.8+R01359"	title="K01034 (atoD), K01035 (atoA), 2.8.3.8, R01359" />
<area shape=rect	coords=106,300,152,317	href="/dbget-bin/www_bget?K00626+2.3.1.9+R00238"	title="K00626 (E2.3.1.9), 2.3.1.9, R00238" />
<area shape=rect	coords=267,277,313,294	href="/dbget-bin/www_bget?K03416+2.1.3.1+R00353"	title="K03416 (E2.1.3.1), 2.1.3.1, R00353" />
<area shape=rect	coords=267,256,313,273	href="/dbget-bin/www_bget?K01962+K02160+K01961+K01963+K11262+6.4.1.2+R00742"	title="K01962 (accA), K02160 (accB), K01961 (accC), K01963 (accD), K11262 (ACAC), 6.4.1.2, R00742" />
<area shape=rect	coords=267,236,313,253	href="/dbget-bin/www_bget?2.8.3.3+R00743"	title="2.8.3.3, 2.8.3.3, R00743" />
<area shape=rect	coords=267,215,313,232	href="/dbget-bin/www_bget?K01578+4.1.1.9+R00233"	title="K01578 (E4.1.1.9), 4.1.1.9, R00233" />
<area shape=rect	coords=576,81,622,98	href="/dbget-bin/www_bget?K01505+3.5.99.7+R00997"	title="K01505 (E3.5.99.7), 3.5.99.7, R00997" />
<area shape=rect	coords=576,108,622,125	href="/dbget-bin/www_bget?K00016+1.1.1.27+R01000"	title="K00016 (LDH), 1.1.1.27, R01000" />
<area shape=rect	coords=477,421,523,438	href="/dbget-bin/www_bget?4.3.1.6+R03046"	title="4.3.1.6, 4.3.1.6, R03046" />
<area shape=rect	coords=290,300,336,317	href="/dbget-bin/www_bget?K00136+1.2.1.18+R00740"	title="K00136 (E1.2.1.18), 1.2.1.18, R00740" />
<area shape=rect	coords=477,345,523,362	href="/dbget-bin/www_bget?K01692+K01825+K01782+K07515+K07514+K07511+4.2.1.17+R03045"	title="K01692 (E4.2.1.17), K01825 (fadB), K01782 (fadJ), K07515 (HADHA), K07514 (EHHADH), K07511 (ECHS1), 4.2.1.17, R03045" />
<area shape=rect	coords=389,335,435,352	href="/dbget-bin/www_bget?K01913+6.2.1.-+R03157"	title="K01913 (E6.2.1.-), 6.2.1.-, R03157" />
<area shape=rect	coords=599,335,645,352	href="/dbget-bin/www_bget?K00224+1.3.1.-+R00919"	title="K00224 (E1.3.1.-), 1.3.1.-, R00919" />
<area shape=poly	coords=375,252,451,252,451,256,375,256	href="/dbget-bin/www_bget?R00744"	title="R00744" />
<area shape=poly	coords=451,254,442,257,442,250	href="/dbget-bin/www_bget?R00744"	title="R00744" />
<area shape=poly	coords=375,254,383,250,383,257	href="/dbget-bin/www_bget?R00744"	title="R00744" />
<area shape=poly	coords=368,427,452,427,452,431,368,431	href="/dbget-bin/www_bget?R00914"	title="R00914" />
<area shape=poly	coords=452,429,443,432,443,425	href="/dbget-bin/www_bget?R00914"	title="R00914" />
<area shape=poly	coords=368,429,376,425,376,432	href="/dbget-bin/www_bget?R00914"	title="R00914" />
<area shape=poly	coords=455,260,455,349,459,349,459,260	href="/dbget-bin/www_bget?R04919"	title="R04919" />
<area shape=poly	coords=457,349,453,340,460,340	href="/dbget-bin/www_bget?R04919"	title="R04919" />
<area shape=poly	coords=457,260,460,268,453,268	href="/dbget-bin/www_bget?R04919"	title="R04919" />
<area shape=poly	coords=1009,491,943,491,943,495,1009,495	href="/dbget-bin/www_bget?R01438"	title="R01438" />
<area shape=poly	coords=943,493,951,489,951,496	href="/dbget-bin/www_bget?R01438"	title="R01438" />
<area shape=rect	coords=900,196,946,213	href="/dbget-bin/www_bget?K13923+R00921"	title="K13923 (pduL), R00921" />
<area shape=rect	coords=106,127,226,162	href="/kegg-bin/show_pathway?map00641"	title="map00641: 3-Chloroacrylic acid degradation" />
<area shape=rect	coords=174,167,245,202	href="/kegg-bin/show_pathway?map00620"	title="map00620: Pyruvate metabolism" />
<area shape=rect	coords=433,171,501,197	href="/kegg-bin/show_pathway?map00010"	title="map00010: Glycolysis / Gluconeogenesis" />
<area shape=rect	coords=610,598,684,624	href="/kegg-bin/show_pathway?map00020"	title="map00020: Citrate cycle (TCA cycle)" />
<area shape=rect	coords=986,290,1112,325	href="/kegg-bin/show_pathway?map00280"	title="map00280: Valine, leucine and isoleucine degradation" />
<area shape=rect	coords=986,329,1066,375	href="/kegg-bin/show_pathway?map00660"	title="map00660: C5-Branched dibasic acid metabolism" />
<area shape=rect	coords=40,45,252,71	href="/dbget-bin/www_bget?map00640"	title="map00640: Propanoate metabolism" />
<area shape=rect	coords=312,578,415,613	href="/kegg-bin/show_pathway?map00770"	title="map00770: Pantothenate and CoA biosynthesis" />
<area shape=rect	coords=986,261,1110,287	href="/kegg-bin/show_pathway?map00410"	title="map00410: beta-Alanine metabolism" />
<area shape=rect	coords=689,55,826,90	href="/kegg-bin/show_pathway?map00270"	title="map00270: Cysteine and methionine metabolism" />
{% endblock %}
{% block color_nodes %}
  {% if nodes_to_color.2_8_3_8 %}
    <div class="node_2_8_3_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_7_1 %}
    <div class="node_1_2_7_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_27 %}
    <div class="node_4_2_1_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_8_3_1 %}
    <div class="node_2_8_3_1_instance_0"></div>
    <div class="node_2_8_3_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.2_8_3_3 %}
    <div class="node_2_8_3_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_27 %}
    <div class="node_1_1_1_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_27 %}
    <div class="node_1_2_1_27_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_4 %}
    <div class="node_4_1_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_17 %}
    <div class="node_6_2_1_17_instance_0"></div>
    <div class="node_6_2_1_17_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_2_99_3 %}
    <div class="node_1_2_99_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_13 %}
    <div class="node_6_2_1_13_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_41 %}
    <div class="node_4_1_1_41_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_5_99_7 %}
    <div class="node_3_5_99_7_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_1__ %}
    <div class="node_1_3_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_1_99_8 %}
    <div class="node_1_1_99_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_18 %}
    <div class="node_2_6_1_18_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_6_1_19 %}
    <div class="node_2_6_1_19_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_79 %}
    <div class="node_4_2_1_79_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_3_30 %}
    <div class="node_4_1_3_30_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_3 %}
    <div class="node_1_2_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_54 %}
    <div class="node_2_3_1_54_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_54 %}
    <div class="node_4_2_1_54_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_9 %}
    <div class="node_2_3_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_7_2 %}
    <div class="node_1_2_7_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_5 %}
    <div class="node_6_2_1_5_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_2_15 %}
    <div class="node_2_7_2_15_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_17 %}
    <div class="node_4_2_1_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_3_1_6 %}
    <div class="node_4_3_1_6_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_1_1_9 %}
    <div class="node_4_1_1_9_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_4 %}
    <div class="node_3_1_2_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.4_2_1_99 %}
    <div class="node_4_2_1_99_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_1_3_1 %}
    <div class="node_2_1_3_1_instance_0"></div>
    <div class="node_2_1_3_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.5_1_99_1 %}
    <div class="node_5_1_99_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_2_1_18 %}
    <div class="node_1_2_1_18_instance_0"></div>
    <div class="node_1_2_1_18_instance_1"></div>
    <div class="node_1_2_1_18_instance_2"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_59 %}
    <div class="node_1_1_1_59_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_4 %}
    <div class="node_6_2_1_4_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_1_8 %}
    <div class="node_2_3_1_8_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1_1 %}
    <div class="node_6_2_1_1_instance_0"></div>
    <div class="node_6_2_1_1_instance_1"></div>
  {% endif %}
  {% if nodes_to_color.1_1_1_80 %}
    <div class="node_1_1_1_80_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_2_1__ %}
    <div class="node_6_2_1___instance_0"></div>
  {% endif %}
  {% if nodes_to_color.1_3_99_3 %}
    <div class="node_1_3_99_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_2 %}
    <div class="node_6_4_1_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.6_4_1_3 %}
    <div class="node_6_4_1_3_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.3_1_2_17 %}
    <div class="node_3_1_2_17_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_7_2_1 %}
    <div class="node_2_7_2_1_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.5_4_99_2 %}
    <div class="node_5_4_99_2_instance_0"></div>
  {% endif %}
  {% if nodes_to_color.2_3_3_5 %}
    <div class="node_2_3_3_5_instance_0"></div>
  {% endif %}
{% endblock %}
