@charset "UTF-8";
/* CSS Document */

body {
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 200px;
  padding: 0 0 0 0;
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 15px;
}

.alignment {
  font-size: 12px;
  font-family: 'Courier New', Courier, monospace;
}

.alignment_title {
  font-size: 14px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

div.acknowledgment {
  font-size:13px;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

div.code {
  font-family:"Courier New", Courier, monospace;
}

div.contactlink {
  margin-top: 60px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

div.content {
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gray {
  color: #444444;
}
  
.lt_gray {
  background-color: #F2F2F2;
}

.text_abstract {
  font-size: 12px;
  margin-left: 50px;
  margin-right: 50px;
}

.text_table {
  font-size: 12px;
}

.text_legend {
  font-size: 12px;
}

.text_section_heading {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
}

div.content p {
}

div.logo_credit {
  font-size: 7px;
  line-height: 7px;
  text-align: center;
  width: 120px;
}

div.logo_credit a {
  color: #444444;
  text-decoration: none;
}

div.logo_credit a:hover {
  color: #0000FF;
  text-decoration: underline;
}

div.inset {
  margin-left: 50px;
  margin-right: 50px;
}

div.large_inset {
  margin-left: 100px;
  margin-right: 100px;
}

div.page_heading {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}

div.page_subheading {
  font-size: 18px;
  font-weight: bold;
}

div.text_section {
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
}

img.icon {
  border: 0;
  margin-left: 0;
  margin-right: auto;
}

img.icon_centered {
  border: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

p.text_section_heading {
  margin-top: 2em;
  font-weight: bold;
}

p.text_section_body {
}

table.attributes td {
  font-size: 12px;
}

p.menu {
  color: 'green';
  font-size: 8pt;
  margin-top: 6px;
  font-family: Geneva, Verdana, Arial, Tahoma; 
  text-align: center;
}

table.attributes td.heading {
  color: #444444;
  font-size: 18px;
  font-weight: bold;
}

table.attributes a {
  text-decoration: none;
}

table.attributes a:hover {
  text-decoration: underline;
}

ul.list li {
  margin-top: 0.5em;
}

.linklike {
  color: #0000FF;
  text-decoration: underline;
}

.linklike:hover {
  cursor:pointer;
}

.errorlist {
  color: #FF0000;
  font-size: 14px;
  font-weight: bold;
}

.smalltext {
  font-size: 13px;
}

.microtext {
  font-size: 12px;
}

td.navtop {
  color: #666666;
  font-size: 10px;
  line-height: 26px;
}

.navlinks {
  color: #666666;
  font-size: 10px;
  line-height: 26px;
}

a.navtoplink {
  color: #666666;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  font-weight: bold;
}

a.navtoplink:hover {
  color: #2222BB;
  text-decoration: underline;
  font-weight: bold;
}

a.navtoplinkon {
  color: #8888FF;
  padding-left: 8px;
  padding-right: 8px;
  text-decoration: none;
  font-weight: bold;
}

a.navtoplinkon:hover {
  color: #2222BB;
  text-decoration: underline;
  font-weight: bold;
}


/* Left navigation bar */

div.nav_left {
  font-size: 12px;
  position: absolute;
  left: 0px;
  top: 170px;
  padding-left: 15px;
  overflow: auto;
}
    
div.nav_sub {
  width: 85px;
  margin-left: 5px;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  border-style: solid;
  border-width: thin;
  border-color: #8CCCEF;
}

a.nav_cell {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}

a.nav_cell:hover {
  color: #0000FF;
  text-decoration: underline;
}

a.nav_cell2 {
  color: #666666;
  text-decoration: none;
}

a.nav_cell2:hover {
  color: #0000FF;
  text-decoration: underline;
}
