{% extends "common/legacy_base.html" %}


{% block content %}
<h2><b>Ouch!</b> This wasn't supposed to happen...</h2>

<p>
We apologize! There was a server error. Our pagers are going off and we're
rushing to fix it. If you wish to share any more information about the problem,
please feel free to <a
href="mailto:phylofacts.webmaster@gmail.com">email
the system administrators</a> sharing any information that you think would be
helpful.
</p>

<p>
Some helpful information includes:
</p>
<ul>
<li>What page you were on</li>
<li>What you were trying to do</li>
<li>Any input or parameters you may have been using on the site.</li>
</ul>

<p>
Thank you again for using PhyloFacts. We'll get this situation fixed as soon as we can.
</p>

<p>
Sincerely,
<br />
<br />
The PhyloFacts Administrators
</p>
{% endblock %}
