{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}

<h2>Kimmen Sj&ouml;lander</h2> 
<h3>Departmental and graduate group affiliations</h3> 
Professor, <a href="http://bioeng.berkeley.edu">Department of Bioengineering</a> and <a href="http://plantbio.berkeley.edu">Department of Plant and Microbial Biology</a>, <a href="http://www.berkeley.edu">University of California, Berkeley</a> 
<br>Faculty Scientist, <a href="http://www.lbl.gov/LBL-Programs/pbd/">Physical Biosciences</a>, <a href="http://www.lbl.gov">Lawrence Berkeley National Laboratory</a> 
<br>Member, <a href="http://bioeng.berkeley.edu/graduate/index.html">UCSF-UCB Joint Graduate Group in Bioengineering</a> 
<br>Member, <a href="http://computationalbiology.berkeley.edu">Graduate Program in Computational and Genomic Biology</A>.  
<br>Member, <a href="http://www.qb3.org/">QB3 California Institute for Quantitative Biomedical Research</A>. 
<br> 
<br> 
<br><b>Presidential Early Career Award in Science and Engineering </b> 
<li><a href="http://www.whitehouse.gov/news/releases/2004/09/20040909-9.html">White House press release</a>.
<li><a href="http://www.nsf.gov/news/news_summ.jsp?cntn_id=100436&org=NSF&from=news">National Science Foundation Press Release</a>.
<p> 
<a href="/static/doc/kimmen_sjolander_2pg_cv_jan_2013.pdf">Curriculum vitae</a>.<p> 
 
<br> 
 
<p> 
Back to <a href="/">the Berkeley Phylogenomics Group home page</a>.
<body></html> 
 
{% endblock %}

