{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
<UL> 
 
 
 
<H1>California Pictures </H1> 
 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/ggb_sunset_oct5.jpg", width="1000" height="410"><br><p><p> 
<P>Sunset over the hills of Marin, seen from Grizzly Peak Blvd, in the Berkeley Hills. October 5, 2006.
<p> 
<p> 
<hr> 
<p><IMG SRC="/static/img/members/kimmen_personal/sunburst-over-marin.jpg",width ="800" height="300"><P><P> 
<br>About two minutes earlier.
<p> 
<hr> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/seagull.jpg"><br> 
Seagull waiting for breakfast at La Jolla Shores.
<p> 

{% endblock %}

