

{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}

<p>Cabbage white butterflies; Culross, Scotland
<p> 
<IMG SRC="/static/img/members/kimmen_personal/cropped-butterfly2.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/cropped-butterfly.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/butterfly2.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/butterfly3.jpg"> 
<p> 
 



{% endblock %}
