

{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
 
<H1>Devon</H1> 
 
<IMG SRC="/static/img/members/kimmen_personal/sheep.jpg"> 
<p>Sheep in Exmoor. They're apparently everwhere in England (except London, maybe).
<p> 
<IMG SRC="/static/img/members/kimmen_personal/dartmoor.coast.jpg"> 
<p>On a walk to Lynmouth, it almost felt like we were back in northern California...
<p> 
<IMG SRC="/static/img/members/kimmen_personal/exmoor.coast.jpg"> 
<p>Still walking to Lynmouth, the coast reminded me of Point Reyes, or even Big Sur. Just greener (there's got to be some advantage to the English weather!).
<p> 
<IMG SRC="/static/img/members/kimmen_personal/lynmouth.jpg"> 
<p>Lynmouth is the town at bottom, at the mouth of the river Lyn. Lynton is above.
They're both really nice towns to visit. But the walk there was the real treat.
<p> 

{% endblock %}

