
{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
<H1>Flora</H1> 
 
 
<IMG SRC="/static/img/members/kimmen_personal/orange.flower.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/yellow.flower.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/pink.flower.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/pink.plant.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/orange.small.jpg"> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/flower1.gif"> 
<p>Foxglove 

{% endblock %}

