{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}


<h1>Selected Grooks, by Piet Hein</h1> 
 
<p> 
Piet Hein (1905-1996) was a Danish poet and scientist. Read on.
See <A HREF="http://hjem.get2net.dk/san/grooks.html"> this website for more grooks</A>, with Hein's own illustrations! <p> 
 
<pre> 
 
On Problems 
 
Our choicest plans
  have fallen through
our airiest castles
  tumbled over
because of lines
  we neatly drew
and later neatly
  stumbled over.
 
 
 
WISDOM IS
 
Wisdom is
the booby prize
given when you've been
unwise.
 
 
 
WHAT LOVE IS LIKE 
 
Love is like 
a pineapple, 
sweet and 
undefinable. 
 
 
 
VITA BREVIS
 
A lifetime
is more
than 
sufficiently long
for people to get
what there is of it wrong.
 
 
 
T.T.T
 
Put up in a place
where it's easy to see
the cryptic admonishment
  T.T.T.
 
When you feel how depressingly
slowly you climb,
it's well to remember that
  Things Take Time.
 
 
 
NAIVE
 
Naive you are
if you believe
life favours those
who aren't naive.
 
 
 
ARS BREVIS
 
There is
one art,
no more,
no less:
to do
all things
with art-
lessness
 
 
 
PROBLEMS
 
Problems worthy
  of attack
prove their worth
  by hitting back.
 
 
 
 
AN ETHICAL GROOK
 
 
I see
   and I hear
      and I speak no evil;
I carry
   no malice
      within my breast;
yet quite without
   wishing
      a man to the Devil
one may be
   permitted
      to hope for the best.
 
 
 
THE ROAD TO WISDOM
 
The road to wisdom? - Well, it's plain
and simple to express:
  Err
  and err
  and err again
  but less
  and less
  and less.
 
 
 
 
A PSYCHOLOGICAL TIP
 
Whenever you're called on to make up your mind,
  and you're hampered by not having any,
the best way to solve the dilemma, you'll find,
  is simply by spinning a penny.
 
No - not so that chance shall decide the affair
  while you're passively standing there moping;
but the moment the penny is up in the air,
  you suddenly know what you're hoping.
 
 
 
 
A WORD TO THE WISE
 
Let the world pass in its time-ridden race;
  never get caught in its snare.
Remember, the only acceptable case
for being in any particular place
  is having no business there.
 
 
 
 
MEETING THE EYE
 
You'll probably find
  that it suits your book
to be a bit cleverer
  than you look.
 
Observe that the easiest
  method by far
is to look a bit stupider
  than you are.
 
 
 
 
LIVING IS -
 
Living is
  a thing you do
now or never -
  which do you?
</pre> 


{% endblock %}
