{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}

<H1>Italy 2005</H1> 
 
<h1>Rome</h1> 
We were, as it turned out, too busy exploring the streets and having amazing meals in the great restaurants, and visiting the Vatican museum and old churches to take many pictures. A few survived; here's one.
<p> 
<IMG src="/static/img/members/kimmen_personal/trevi.jpg", HEIGHT=600, WIDTH=800> 
<p>Trevi Fountain, Rome.
<p> 
<IMG src="/static/img/members/kimmen_personal/coliseum_geom.jpg", HEIGHT=600, WIDTH=400> 
<p>The Coliseum.
<hr> 
<h1>Sicily</h1> 
<IMG src="/static/img/members/kimmen_personal/segesta.jpg", HEIGHT=600, WIDTH=1400> 
<p>The Temple at Segesta, Sicily.  One of my many favorite places in Sicily.  Unlike Agrigento ("The Valley of the Temples") this temple is secluded in a beautiful, pristine, natural setting, has very few visitors (besides the lizards) and is filled with peace.
<p> 
<IMG src="/static/img/members/kimmen_personal/sicily_lizard.jpg"> 
<IMG src="/static/img/members/kimmen_personal/sicily_lizard2.jpg",HEIGHT=800, WIDTH=1000> 
<p>The temple at Segesta had these brilliant emerald-green lizards everywhere.
<p> 
<IMG src="/static/img/members/kimmen_personal/sicily_flowers.jpg"> 
<p>Flowers on a hillside above San Vito Lo Capo, Sicily.
<p> 
<IMG src="/static/img/members/kimmen_personal/isolabella.jpg", HEIGHT=600, WIDTH=1200> 
<p>The view of Isola Bella from the path leading from the beach back toward town, to catch the funivare (funicular) up to Taormina.  We stayed at the Hotel la Plage, adjacent to Isola Bella (just to the left of the spit of beach connecting the island to the rest of Sicily). 
<p> 
<IMG src="/static/img/members/kimmen_personal/taormina_greek.jpg"> 
<p>The Greek theatre at Taormina.
<p> 
<p> 
<IMG src="/static/img/members/kimmen_personal/lamadonie.jpg"> 
<p>A hill town in the La Madonie mountains in the northern section of Sicily.  This area is amazing, reminding Nigel and me of Yosemite in grandeur, yet you meet sheepherders on the side of the road, and there's very little evidence of any change in their way of life over the last 200 years. 
<p> 
<IMG SRC="madonie.hilltown.jpg", HEIGHT=800,WIDTH=600> 
<p>Another view of a hilltown in the Madonie mountains.
<hr> 
<h1>Venice</h1> 
Venice was a great surprise. What fun to turn a corner and cross another bridge and discover yet another enchanting little courtyard, with people carrying on their daily lives in this totally unique place.  You can get lost so easily but never in a dangerous spot, and however lost you may be, you'll find cafes serving excellent espresso, fascinating architecture, and interesting shops to browse with Venetian glass, masks, bookstores, open-air markets selling all sorts of fish from the lagoon, and many expensive restaurants. 
<p> 
<IMG src="/static/img/members/kimmen_personal/venice_ref_cropped.jpg"> 
<p>Just one of a million amazing canal views in Venice.
<p> 
<IMG src="/static/img/members/kimmen_personal/venice_ref2.jpg"> 
<p>Another Venice canal view.
<p> 
<IMG src="/static/img/members/kimmen_personal/nigel.jpg"> 
<p>Nigel sitting in the window seat overlooking the canal, at Ca'Angeli.
 
<p> 
<hr> 
<h1>Florence and Tuscany</h1> 
Tuscany was beguiling, even more than the beauty of Sicily. We think it may be something about the quality of the light: it wraps over the hills like a light gauze. Of course, the great food doesn't hurt.  We stayed in Certaldo Alto and in Pienza, and visited Montepulciano, Montalcino, Greve in Chianti and other small towns.
<IMG src="/static/img/members/kimmen_personal/tuscany.jpg"> 
<p> 
<IMG src="/static/img/members/kimmen_personal/montichiello.jpg"> 
<p>A view of the countryside from Montichiello.
<IMG src="/static/img/members/kimmen_personal/florence_fiesole.jpg"> 
<p>View of Florence from Fiesole.
<p> 
<IMG src="/static/img/members/kimmen_personal/florence_courtyard.jpg"> 
<p>The courtyard of a museum we passed by in Florence. Not enough time to see everything, alas.
<p> 
<IMG src="/static/img/members/kimmen_personal/pienza_kitty.jpg"> 
<p>Kitten in window at Pienza.
<p> 
<IMG src="/static/img/members/kimmen_personal/pienza_door.jpg"> 
<p>A typical doorway in the lovely town of Pienza: flowers, laundry, ancient grey stone and brick. 
<p> 
 
<p> 
 

{% endblock %}

