{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}

<H1>Kauai</H1> 
 
<IMG SRC="/static/img/members/kimmen_personal/hanalei.jpg"> 
<p>Hanalei bay at sunset.
<IMG SRC="/static/img/members/kimmen_personal/polihale.jpg"> 
<p> 
Aviva at Polihale, at sunset. When we took the kids to Kauai, we hit the
worst weather in months -- it was almost constantly rainy.
Polihale, on the west (windward) side of the island was the only
part to be reliably sunny. It's an amazing stretch of deserted beach
that goes on forever. There's a substantial undertow, so it's not a great
beach for swimming. But it's wonderful for just relaxing and enjoying
some solitude (and building sand castles).
<p> 
<IMG SRC="/static/img/members/kimmen_personal/makana.jpg"> 
<p>The beginning of the Na Pali coast, viewed from Princeville. The triangular
mountain jutting out into the sea is Makana, called Bali Hai by some,
and featured in the movie South Pacific. This is my favorite part of the island.
<p> 
<IMG SRC="/static/img/members/kimmen_personal/opaekaa.jpg"> 
<p>This is from the center of the island, a view of Opaekaa falls. In the morning we watched egrets flying over the valley, with the mist rising up from the falls. 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/pihea.jpg"> 
<p>This is a view of the Na Pali coast from the west side of the island, along the Pihea trail. This trail descends into the Alakai swamp -- an amazing hike! Be sure to bring mosquito repellant. There are clumps of wild ginger (awapuhi) throughout, scenting the air, (cold) freshwater swimming holes, and lots of mud to get totally childish in. So much fun!
<p> 
Here's a <A HREF="http://www.hawaiitrails.org/island.asp?island=Kauai">great guide to some trails on the island.</A> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/beach-all.gif"> 
<p>Jeremy, Nigel, me, Shira, and Aviva, just after Nigel and I got married, on one of the beaches along the north shore, near Makana.
 
<p> 
 
 

{% endblock %}
