{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}


<H1>Selected poems by  the Chinese poet Li Po</H1> 
<p> 
<h3>About Tu Fu</h3> 
<p> 
 
I met Tu Fu on a mountaintop
<br>in August when the sun was hot.
<p> 
Under the shade of his big straw hat
<br>his face was sad--
<p> 
in the years since we last parted,
<br>he'd grown wan, exhausted.
<p> 
Poor old Tu Fu, I thought then,
<br>he must be agonizing over poetry again.
<p> 
(transl. Hamil)
 
<p> 
<h3> To Tu Fu from Shantung</h3> 
<p> 
You ask how I spend my time--
<br>I nestle against a treetrunk
<br>and listen to autumn winds
<br>in the pines all night and day.
 
<p>Shantung wine can't get me drunk.
<br>The local poets bore me.
<br>My thoughts remain with you,
<br>like the Wen River, endlessly flowing.
<p> 
(tr. Hamil)
 
<p> 
 
<h3> Chuang Tzu and the Butterfly</h3> 
<p> 
Chuang Tzu in dream became a butterfly,
<br>And the butterfly became Chuang Tzu at waking.
<br>Which was the real--the butterfly or the man ?
<br>Who can tell the end of the endless changes of things?
<br>The water that flows into the depth of the distant sea
<br>Returns anon to the shallows of a transparent stream.
<br>The man, raising melons outside the green gate of the city,
<br>Was once the Prince of the East Hill.
<br>So must rank and riches vanish.
<br>You know it, still you toil and toil -- what for?
 
 
{% endblock %}
