
{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
<UL> 
 
 
 
<H1>The kids</H1> 
 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/prom.jpg"><br>Aviva and Jeremy at the prom.
<p> 
<IMG SRC="/static/img/members/kimmen_personal/kids.jpg"> 
<p> 
The kids and me in Kauai.
<p> 
<IMG SRC="/static/img/members/kimmen_personal/vv.jr.gif"> 
<p> 
Aviva and Jeremy (aka the twins) back around 1992, in family student housing at UC Santa Cruz.
Can you figure out which legs are Aviva's and which are Jeremy's?<p> 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/shira.grad.jpg"> 
<p>Shira, at her high school graduation party (Photoshop used to mimic Renoir).
<p> 
 
 
 
 
</UL> 
 
{% endblock %}

