{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}

<H1>Joan Nelson Warnow Blewett (1931-2006)</H1> 
 
<IMG SRC="/static/img/members/kimmen_personal/mormor.jpg", width="1000" height="710"> 
<br>Left: Joan as a toddler (age 1?) with elder sister Greta (Anderson).
<br>Right: Joan age 3 (?), with family. Clockwise, starting with Joan (lower right): Joan, Edith (Phipps), Greta (Anderson), father David Nelson, Elaine (Hofert), mother Edith (nee Sjolander), Elvie.
<p> 
<IMG SRC="static/img/members/kimmen_personal/mormor_AIP.jpg"> 
<p>Joan Blewett, in the Niels Bohr Library at the American Institute of Physics, where
she was an archivist of 20th century physics (see <a href="http://www.aip.org/history/historymatters/warnow.htm">this short review of her work)</a>.  (<i>Photo credit: AIP Emilio Segre Visual Archives.</i>)
<p> 
<IMG SRC="/static/img/members/kimmen_personal/mom1.jpg"> 
<p>My mom as a young woman. Both of my mom's parents came over from Sweden in the early 1900s. My grandfather thought it made more sense to buy a boat ticket to cross the Atlantic and come to the US than to pay the Swedish taxes... 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/mom.sailboat.jpg"> 
<p>On our sailboat.
 
<p> 
<IMG SRC="/static/img/members/kimmen_personal/mormor.jpeg"> 
<p>With me, summer 2002, in Lafayette, California.
<p> 
 
{% endblock %}

