{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}


<H1>Selected poems by Pablo Neruda</H1> 
 
<p> 
The <A HREF="http://www.nobel.se/literature/laureates/1971/neruda-bio.html">Nobel website biography of Neruda</A>.
 
 
 
 
 
<p> 
<h2>From 100 Love Sonnets</h2> 
<p> 
<h3>XVII </h3> 
 <p> 
 
 
No te amo como si fueras rosa de sal, topacio 
<br>o flecha de claveles que propagan el fuego: 
 <br> 
 
te amo como se aman ciertas cosas oscuras, 
 <br> 
 
secretamente, entre la sombra y el alma. 
 <br> 
 
Te amo como la planta que no florece y lleva 
 <br> 
 
dentro de si, escondida, la luz de aquellas flores, 
 <br> 
 
y gracias a tu amor vive oscuro en mi cuerpo 
 <br> 
 
el apretado aroma que ascendio de la tierra. 
 <p> 
 
Te amo sin saber como, ni cuando, ni de donde, 
 <br> 
 
te amo directamente sin problemas ni orgullo: 
 <br> 
 
asi te amo porque no se amar de otra manera, 
 <p> 
 
sino asi de este modo en que no soy ni eres, 
 <br> 
 
tan cerca que tu mano sobre mi pecho es mia, 
 <br> 
 
tan cerca que se cierran tus ojos con mi sueno.
<br> 
 
<h4>Translated by Stephen Mitchell</h4> 
<pre> 
I don't love you as if you were the salt-rose, topaz
or arrow of carnations that propagate fire:
I love you as certain dark things are loved,
secretly, between the shadow and the soul. 
I love you as the plant that doesn't bloom and carries 
hidden within itself the light of those flowers,
and thanks to your love, darkly in my body
lives the dense fragrance that rises from the earth. 
 
I love you without knowing how, or when, or from where,
I love you simply, without problems or pride:
I love you in this way because I don't know any other way of loving 
 
but this, in which there is no I or you,
so intimate that your hand upon my chest is my hand,
so intimate that when I fall asleep it is your eyes that close.
</pre> 
 
 
 
<p><p><p> 
 
 
<h3>XX</h3> 
<p> 
 
 
<P>Puedo escribir los versos m&aacute;s tristes esta noche.<br> 
 
<P>Escribir, por ejemplo: "La noche est&aacute; estrellada,<br> 
y tiritan, azules, los astros, a lo lejos."<br> 
 
<P>El viento de la noche gira en el cielo y canta.<br> 
 
<P>Puedo escribir los versos m&aacute;s tristes esta noche.<br> 
Yo la quise, y a veces ella tambi&eacute;n me quiso.<br> 
 
<P>En las noches como esta la tuve entre mis brazos.<br> 
La bes&eacute; tantas veces bajo el cielo infinito.<br> 
 
<P>Ella me quiso, a veces yo tambi&eacute;n la quer&iacute;a.<br> 
C&oacute;mo no haber amado sus grandes ojos fijos.<br> 
 
<P>Puedo escribir los versos m&aacute;s tristes esta noche.<br> 
Pensar que no la tengo. Sentir que la he perdido.<br> 
 
<P>Oir la noche inmensa, m&aacute;s inmensa sin ella.<br> 
Y el verso cae al alma como al pasto el roc&iacute;o.<br> 
 
<P>Qu&eacute; importa que mi amor no pudiera guardarla.<br> 
La noche esta estrellada y ella no est&aacute; conmigo.<br> 
 
<P>Eso es todo. A lo lejos alguien canta. A lo lejos.<br> 
Mi alma no se contenta con haberla perdido.<br> 
 
<P>Como para acercarla mi mirada la busca.<br> 
Mi coraz&oacute;n la busca, y ella no est&aacute; conmigo.<br> 
 
<P>La misma noche que hace blanquear los mismos &aacute;rboles.<br> 
Nosotros, los de entonces, ya no somos los mismos.<br> 
 
<P>Ya no la quiero, es cierto, pero cu&aacute;nto la quise.<br> 
Mi voz buscaba el viento para tocar su o&iacute;do.<br> 
 
<P>De otro. Ser&aacute; de otro. Como antes de mis besos.<br> 
Su voz, su cuerpo claro. Sus ojos infinitos.<br> 
 
<P>Ya no la quiero, es cierto, pero tal vez la quiero.<br> 
Es tan corto el amor, y es tan largo el olvido.<br> 
 
<P>Porque en noches como esta la tuve entre mis brazos,<br> 
mi alma no se contenta con haberla perdido.<br> 
 
<P>Aunque este sea el ultimo dolor que ella me causa,<br> 
y estos sean los ultimos versos que yo le escribo.<br> 
</cite> 
 
 
<p> 
<br> 
<h3>XX Translated by Charles W. Johnson</h3> 
 
<br>Tonight I can write the most sorrowful lines.
<br> 
<br>I can write, for example: "The night is star-filled
<br>and the blue stars are shivering in the distance."
<br> 
<br>The night wind turns in the sky and sings.
<br> 
<br>Tonight I can write the most sorrowful lines.
<br>I loved her then, and sometimes she loved me back.
<br> 
<br>Through nights like tonight I held her in my arms.
<br>I kissed her and kissed her under endless skies.
<br> 
<br>She loved me then, and sometimes I loved her back.
<br>How could I not love her giant, still eyes?
<br> 
<br>Tonight I can write the most sorrowful lines.
<br>I can think I'm not holding her. I can regret that I lost her.
<br> 
<br>I can hear the vast night, still vaster without her.
<br>And the words settle on my soul like dew on the pasture.
<br> 
<br>It doesn't matter that my love couldn't keep her.
<br>The night is star-filled and she is not with me.
 
<br> 
<br>That's all that matters. Someone is singing far away. Far away.
<br>My soul cannot be content, because I have lost her.
 
<br> 
<br>As if they could bring her near, my eyes try to find her.
<br>My heart searches for her, and she is not with me.
<br> 
 
<br>The same nightfall whitening the same trees.
<br>But we have both changed so much since that night.
<br> 
 
<br>Surely I no longer love her, but how I once loved her.
<br>My voice sought the wind to touch her hearing.
 
<br> 
<br>Another's. She will be another's. As before I had kissed her.
<br>Her voice, her pale body. Her endless eyes.
<br> 
 
<br>Surely I no longer love her, but maybe I love her.
<br>Love is so short; memories last so long.
<br> 
 
<br>Because through nights like tonight I held her in my arms,
<br>my soul cannot be content, because I have lost her.
<br> 
 
<br>Even if this is the last pain she makes me suffer,
<br>and this is the last poem that I write for her.
 
<h3>Here I Love You</h3> 
 
<pre> 
Here I love you
In the dark pines the wind disentangles itself.
The moon glows like phosphorous on the vagrant waters
Days, all one kind, go chasing each other
 
The snow unfurls in dancing figures.
A silver gull slips down from the west.
sometimes a sail. High, high stars.
 
Oh the black cross of a ship.
Alone.
Sometimes I get up early and even my soul is wet.
Far away the sea sounds and resounds.
This is a port.
Here I love you.
 
Here I love you and the horizon hides you in vain.
I love you still among these cold things.
Sometimes my kisses go on those heavy vessels
that cross the sea towards no arrival.
I see myself forgotten like those old anchors.
The piers sadden when the afternoon moors there.
My life grows tired, hungry to no purpose.
I love what I do not have. You are so far.
My loathing wrestles with the slow twilights.
But night comes and starts to sing to me.
The moon turns its clockwork dream.
 
The biggest stars look at me with your eyes.
And as I love you, the pines in the wind
want to sing your name with their leaves of wire.
 
</pre> 
{% endblock %}
