{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
<H1>Kimmen Sj&ouml;lander's Personal Home Page</H1> 
 
<IMG SRC="/static/img/members/kimmen_personal/ks.gif"> 
<EM></EM> 
<HR> 
You've reached my <i>personal</i> home page. <br> 
My <b>official Berkeley page</b> is <a href="/members/kimmen/">here</a>.
<p> 
The 
<A HREF="/phylofacts/">PhyloFacts Phylogenomic Encyclopedia</A> contains over 42K protein superfamilies and over 1.3M  hidden Markov models; it's funded by the National Institutes of Health and the National Science Foundation to improve the functional annotation of genes across the Tree of Life. 
<p>My lab, the <a href="/">Berkeley Phylogenomics Group</a> focuses on research at the intersection of computer science and biology,
with a particular emphasis on problems in computational structural biology. We use hidden Markov models (HMMs) for
remote homology detection (and fold prediction), and develop new methods for multiple sequence alignment, phylogenetic tree construction, subfamily identification, active site prediction, and other related tasks.
<p> 
Before joining the faculty at Berkeley, I worked at Celera Genomics, and directed the functional annotation  
of the
newly sequenced human genome, published in
 
 
</BODY> 
<A HREF="http://www.sciencemag.org/cgi/content/abstract/291/5507/1304">Science</A>. <p> 
 
<p><p><a href="../about.html">Curriculum vitae and other miscellaneous items</a>.
<p> 
I have an <a href="http://www.oakland.edu/enp/">Erd&ouml;s number</a> of 3, by way of  David Haussler, Noga Alon,  Erd&ouml;s.
 
<p> 
Photos of favorite places and people:
<li><A HREF="../monkeys.html">My monkeys</A> 
<li><a href="../bayarea.html">California</a> 
<li><A HREF="../mormor.html">My mother, Joan Blewett (died, May 30, 2006)</A>.
<li><a href="../italy.html">Italy (2005).</a> 
<li> <A HREF="../england.html"> England, </A> 
<li> <A HREF="../kauai.html"> Kauai (Hawaii)</A> 
<li><A HREF="../amsterdam.html">Amsterdam canals at night </A>.
<li><A HREF="../butterflies.html">Butterflies</A>.
<li><A HREF="../flowers.html">Flora</A>.
<li><A HREF="../deck.html">My home office</A>.
<p> 
I got my interest in science (and also my name) from my <A HREF="mormor.html">mother, Joan Blewett</A>. 
Before she became an archivist of 20th century physics, she was a comparative literature major. I was named after 
<A HREF="http://ancienthistory.about.com/homework/ancienthistory/library/bl/bl_text_plutarch_comp_luculluscimon.htm">Cimon</A>, (a rather interesting character from Plutarch's Lives). But she changed the spelling to Kimmen, giving me an
authentic Swedish name -- a nickname for men named Joakim! My guess is she heard this name from her parents, who would speak Swedish when they didn't want the kids to understand what they were saying... 
John Blewett, my stepfather, a noted accelerator physicist, and discoverer of
synchrotron radiation.
<p> 
On my father's side are a bunch of very creative artistic types, including  my great uncle, <A HREF="http://www.raymondscott.com/"> Raymond Scott</A>, a jazz composer whose music features prominently on Looney Tunes. (We never knew this when we were kids watching Bugs Bunny!) My grandfather, Mark Warnow, was the bandleader for the <A HREF="http://64.33.34.112/.HITS/"> Lucky Strike Hit Parade Radio Show</A>. My father, Morton Warnow, was a prisoner of war in WWII and a writer and inventor.
 
<p> 
 
For poetry lovers, here are <A HREF="../poetry2.html">a few of my favorites</A>.
<p> 
My <a href="cartoons.html">favorite cartoons</a>.
<p> 
 
One of my favorite artists: <a href="../chihuly.html">Dale Chihuly</a>.
<p> 
I grew up in a village built to house the permanent staff of the United Nations, called Parkway Village. There was nothing like it. <a href="http://www.house.gov/ackerman/press/queens.htm">Ackerma column on the "Great Borough of Queens"</a>.
<p> 
Kimmen Sj&ouml;lander<br> 
Department of Bioengineering<br> 
308C Stanley  Hall #1762<br> 
University of California<br> 
Berkeley, CA 94720 <br> 
<br>OFFICE: (510) 642-9932<br> 
FAX: (510) 642-5835
<br> 
EMAIL:  kimmen 'at' berkeley.edu<br> 
 


{% endblock %}

