{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}
<H1>Some of my favorite poets</H1> 
 
<A HREF="../grooks.html">Piet Hein's fabulous 'Grooks'-- pithy, delightful, and wise</A>.
<p> 
<A HREF="../neruda.html">Pablo Neruda (Winner of the 1971 Nobel Prize in literature)</A>. <br> 
<p> 
<A HREF="../tu_fu.html">Tu Fu (Chinese Taoist poet)</A>.
<br> 
<A HREF="../li_po.html">Li Po -- another great Chinese poet, and contemporary of Tu Fu's</A>.
<p> 
<A HREF="../yeats.html">William Yeats</A>.
{% endblock %}
