{% extends "common/base.html" %}

{% block extrastyle %}
{% endblock %}
{% block extrascripts %}{% endblock %}


{% block toplinks %}
{% include "snippets/menu.html" %}
{% endblock %}

{% block content %}


<H1>Selected poems by  the Chinese poet Tu Fu (712-770)</H1> 
 
<p> 
<h3>Morning Rain </h3> 
<p> 
 
 
<p> 
A slight rain comes, bathed in dawn light.
<br> 
I hear it among treetop leaves before mist
<br> 
Arrives. Soon it sprinkles the soil and,
<br> 
Windblown, follows clouds away. Deepened
<p> 
 
Colors grace thatch homes for a moment.
<br> 
Flocks and herds of things wild glisten
<br> 
Faintly. Then the scent of musk opens across
<br> 
Half a mountain -- and lingers on past noon.
 
<p> 
<h3>Dreaming of Li Po</h3> 
<p> 
 
(1) 
 
<br>Separation by death must finally be choked down,
<br>but separation in life is a long anguish, 
<br> 
<br> Chiang-nan is a pestilential land;
<br>no word from you there in exile. 
<br> 
<br>You have been in my dreams, old friend,
<br>as if knowing how much I miss you.  
<br> 
<br>Caught in a net,
<br>how is it you still have wings? 
<br> 
<br>I fear you are no longer mortal;
<br>the distance to here is enormous. 
<br> 
<br>When your spirit came, the maples were green;
<br>when it went, the passes were black. 
<br> 
<br>The setting moon spills light on the rafters;
<br>for a moment I think it's your face. 
<br> 
<br>The waters are deep, the waves wide;
<br>don't let the river gods take you. 
<br> 
<br>(2) 
 
<br>Clouds drifting the whole day;
<br>a traveler traveling who never arrives. 
<br> 
<br>Three nights you have been in my dreams;
<br>as your friend, I knew your mind. 
<br> 
<br>You say your return is always harrowing;
<br>your coming, a hard coming; 
<br> 
<br>Rivers, lakes, so many waves;
<br>in your boat you fear overturning. 
<br> 
<br>Going out the door, you scratch your white head
<br>as if the purpose of your whole life was ruined, 
<br> 
<br>The rich and high positioned fill the Capital,
<br>while you, alone, are careworn and dejected. 
<br> 
<br>Who says the net of heaven is cast wide?
<br>Growing older, you only grow more preyed upon. 
<br> 
<br>One thousand autumns, ten thousand years of fame,
<br>are nothing after death. 
 
 
{% endblock %}
