<table class='distant-clades-table table table-bordered'>
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th colspan='2'>PhyloFacts Family</th>
            <th colspan='8'>Top-scoring Subtree Information</th>
        </tr>
        <tr>
            <th>&nbsp;</th>
            <th>Family</th>
            <th>Type</th>
            <th>Description</th>
            <th>Taxonomic<br />Range</th>
            <th>E-val</th>
            <th>Q-HMM %ID</th>
            <th>Q-Cov %</th>
            <th>H-Cov %</th>
            <th>Region<br />Aligned</th>
            <th>Support</th>
        </tr>
    </thead>
</table>
