<table class='enclosing-clades-table table table-bordered'>
    <thead>
        <tr>
            <th colspan='2'>PhyloFacts Family</th>
            <th>Enclosing Clade Data</th>
            <th colspan='7'>Top-Scoring Subtree Data</th>
        </tr>
        <tr>
            <th>Family</th>
            <th>Type</th>
            <th>Description</th>
            <th>Taxonomic<br />Range</th>
            <th>Q-HMM<br />% ID</th>
            <th>Q-Cov %</th>
            <th>H-Cov %</th>
            <th>Region Aligned</th>
            <th>E-val</th>
            <th>Support</th>
        </tr>
    </thead>
</table>
