{% extends "common/base.html" %}
{% block extrastyle %}
<style type='text/css'>
.alignment {
    border: 0;
}
</style>
{% endblock %}
{% block content %}
<h2>Pairwise BLAST alignment</h2>
{% if error_message %}
<br /><h3>{{ error_message }}</h3>
{% else %}
<table border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td align="right" valign="top">Query:&nbsp;</td>
    <td>&nbsp;</td>
    <td class="alignment_title">{{ query_title }}{% if query_length %}, &nbsp;Length: {{ query_length }}aa{% endif %}</td>
  </tr>
  <tr>
    <td colspan="3" height="5"></td>
  </tr>
  <tr>
    <td align="right" valign="top">Subject:&nbsp;</td>
    <td>&nbsp;</td>
    <td class="alignment_title">{{ subject_title }},&nbsp;&nbsp; {{ subject_description }},&nbsp;&nbsp; {{ subject_species}}{% if subject_length %},&nbsp;&nbsp; Length: {{ subject_length }}aa{% endif %}</td>
  </tr>
  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td colspan="3">Alignment statistics:</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;&nbsp;BLAST&nbsp;E-value:&nbsp; <span class="alignment_title">{{ e_value }}</span></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;&nbsp;BLAST&nbsp;Score:&nbsp; <span class="alignment_title">{{ score }}</span></td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;&nbsp;Identity:&nbsp; {{ identities }}</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;&nbsp;Positive:&nbsp; {{ positives }}</td>
  </tr>
  <tr>
    <td colspan="3">&nbsp;&nbsp;Aligned Region:&nbsp; Query [{{ query_region }}], Subject [{{ subject_region }}]</td>
  </tr>
  <tr>
    <td colspan="3" height="20"></td>
  </tr>
  <tr>
    <td align="right">Query:&nbsp;</td>
    <td>&nbsp;</td>
    <td class="alignment"><nobr>{{ query_seq }}&nbsp;&nbsp;&nbsp;&nbsp;</nobr></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td class="alignment"><nobr>{{ consensus_seq }}&nbsp;&nbsp;&nbsp;&nbsp;</nobr></td>
  </tr>
  <tr>
    <td align="right">Subject:&nbsp;</td>
    <td>&nbsp;</td>
    <td class="alignment"><nobr>{{ subject_seq }}&nbsp;&nbsp;&nbsp;&nbsp;</nobr></td>
  </tr>
  <tr>
    <td colspan="3" height="20"></td>
  </tr>
</table>
{% endif %}
{% endblock %}
