{% extends "phog/phog_base.html" %}

{% block content %}
<div class="large_inset">
<h1>Berkeley PHOG: PhyloFacts Orthology Group Prediction Web Server</h2>

<p><a href="/static/apps/phog/docs/PHOGv1S1.pdf">Supplement 1: Detailed Description of the Algorithm</a></p>

<p><a href="/static/apps/phog/docs/PHOGv1S2.pdf">Supplement 2: Detailed Description of the Experiments</a></p>

<p><a href="/static/apps/phog/docs/PHOGv1S3.xls">Supplement 3: Statistics from the Experiments</a></p>

<p><a href="/static/apps/phog/docs/PHOGv1S4.txt">Supplement 4: Predictions on TreeFam-A Dataset By InParanoid, OrthoMCL, SCI-PHY and Selected PHOG Variants</a></p>

</div>
{% endblock %}
