{% extends "common/base.html" %}
{% block extrastyle %}<style type="text/css">
  .bold-name {font-style: bold; font-weight: bold;}
  .journal {font-style: italic;}
  .comment {font-style: italic;}
  .author {}
  .pub_title {}
</style>
{% endblock %}

{% block title %}Contact us at BPG{% endblock %}

{% block content %}
<br />

<h2>Contact the Berkeley Phylogenomics Group</h2>
<p>
The Berkeley Phylogenomics Group is located at UC Berkeley, in 324 Stanley Hall. <br />
Professor Sj&ouml;lander's office is at 308C Stanley Hall. 
<br />
A map of the campus is located <a href="http://www.berkeley.edu/map/3dmap/3dmap.shtml">here</a>. 
<br />
Parking information is available <a href="http://pt.berkeley.edu/park/public">here</a>.
</p>

<p>
<h3>Email addresses:</h3>
For help with PhyloFacts web servers and databases, or to report bugs, please send an email to "phylofacts" dot "webmaster" at "gmail.com".
<br />Professor Sj&ouml;lander can be reached at "kimmen" at "berkeley.edu".
</p>
<br />
<p>
<h3>Phone numbers:</h3>
Lab:                       (510) 643-7474<br />
Professor Sj&ouml;lander:  (510) 642-9932<br />
Fax:                       (510) 642-5835<br />
</p>

<br />
<br />

{% endblock %}
