{% extends 'common/base.html' %}

{% block title %}Citing PhyloFacts{% endblock %}

{% block content %}

<h2>Citing PhyloFacts</h2>

<p>If you have used PhyloFacts, we would appreciate your citing the resource in publications making use of PhyloFacts data. Papers listed below describe different aspects of the PhyloFacts database and webservers.</p>

<p>Nandini Krishnamurthy, Duncan Brown, Dan Kirshner and Kimmen Sjölander, "PhyloFacts: An online structural phylogenomic encyclopedia for protein functional and structural classification,"<a href="http://genomebiology.com/2006/7/9/R83">Genome Biology 2006, 7:R83</a></p>

<p>Ruchira S. Datta, Christopher Meacham, Bushra Samad, Christoph Neyer and Kimmen Sjölander "Berkeley PHOG: PhyloFacts Orthology Group Prediction Web Server," <a href="http://nar.oxfordjournals.org/content/37/suppl_2/W84.full?keytype=ref&ijkey=KU8e1DWUbzb70Yz">Nucleic Acids Research 2009; doi: 10.1093/nar/gkp373</a></p>

<p>Jake Gunn Glanville, Dan Kirshner, Nandini Krishnamurthy and Kimmen Sjölander, "Berkeley Phylogenomics Group web servers: resources for structural phylogenomic analysis" <a href="http://nar.oxfordjournals.org/content/35/suppl_2/W27.full?keytype=ref&ijkey=aO7i3BIaubALiyA">Nucleic Acids Research 2007; doi:10.1093/nar/gkm325</a></p>

{% endblock %}
