<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>{% block title %}BPG PhyloFacts Phylogenomic Encyclopaedia{% endblock %}</title>
    <script type="text/javascript" src="/static/js/autocomplete/jquery_autocomplete.js"></script>

    <script type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js">
    </script>
  <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/demo/main.css" type="text/css" />
  <link rel="stylesheet" href="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.css" type="text/css">
  <!--script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.bgiframe.min.js"></script-->
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/lib/jquery.dimensions.js"></script>
  <script type="text/javascript" src="http://dev.jquery.com/view/trunk/plugins/autocomplete/jquery.autocomplete.js"></script>
    <link type="text/css" href="/static/js/jquery_ui/css/bpg_theme/jquery-ui-1.7.2.custom.css" rel="Stylesheet" />
    <script type="text/javascript"
     src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js">
    </script>
    <script type="text/javascript"
     src="/static/js/expandable.js">
    </script>

    
<script type='text/javascript' src='/static/apps/satchmo/js/form.js'></script>
<script type='text/javascript'>
$(document).ready(function(){
    // Crude demo
    var data = "Core Selectors Attributes Traversing Manipulation CSS Events Effects Ajax Utilities".split(" ");
    $("#example").autocomplete(data);
});
</script>

    <link rel="stylesheet"
          href="/static/css/bpg_base.css" 
          type="text/css" />

</head>
<body>
    <div style="margin-left: 50px;">

    <!-- header info -->

    <b>DEMONSTRATION/PROOF OF CONCEPT ONLY.</b>
    <br>
    <br>
    This is more of a test of the technology than it is a representation of what the database query will look like.

    {{taxa_form}}
    <br />
    Second (core/not db) example: <input id="example" /> (try "C" or "E")

</body>
</html>
