{% extends 'common/base.html' %}

{% block title %}File Downloads for Families in PhyloFacts 3.0{% endblock %}

{% block content %}

<br />
<br />
<br />

<h3>Release 1: August 1, 2011  (Full release)</h3>
Hidden Markov models (HMMs) <a
href="http://makana-static.berkeley.edu/phylofacts3/hmms/phylofacts3_hmms.tar.gz">(4.6GB tarred gzipped file)</a>
<br />
Multiple sequence alignments <a
href="http://makana-static.berkeley.edu/phylofacts3/alignments/phylofacts_alignments.bz2">(1.8GB bzipped file)</a>
<br />
Phylogenetic Trees <a
href="http://makana-static.berkeley.edu/phylofacts3/trees/phylofacts_trees.bz2">(306MB bzipped file)</a>
<br />
Summary data <a
href="http://makana-static.berkeley.edu/phylofacts3/summaries/phylofacts_summaries.bz2">(114MB bzipped file)</a>
<br />
<br />
<h3>Release 2: Sept 08, 2011 (Incremental release)</h3>
Hidden Markov models (HMMs) <a
href="http://makana-static.berkeley.edu/phylofacts3/hmms/phylofacts_incremental_090811.hmms.bz2">(541MB bzipped file)</a>
<br />
Multiple sequence alignments <a
href="http://makana-static.berkeley.edu/phylofacts3/alignments/phylofacts_incremental_090811.alignments.bz2">(304MB bzipped file)</a>
<br />
Phylogenetic Trees <a
href="http://makana-static.berkeley.edu/phylofacts3/trees/phylofacts_incremental_090811.trees.bz2">(31MB bzipped file)</a>
<br />
Summary data <a
href="http://makana-static.berkeley.edu/phylofacts3/summaries/phylofacts_incremental_090811.summaries.bz2">(25MB bzipped file)</a>
<br />
<br />
<p>A zip file with scripts for extracting multiple sequence alignments, hidden Markov models, phylogenetic trees, and summary data are available <a href="http://makana-static.berkeley.edu/phylofacts3/code/python_scripts.zip">here</a>. Please read the README file for usage instructions.
<br />
<p>To download files pertaining to an individual PhyloFacts 3.0 family, please visit the corresponding family webpage.
</p>
{% endblock %}
