{% extends 'common/base_new.html' %}

{% block title %}FAT-CAT Supplementary Materials{% endblock %}

{% block content %}
<div id="maincontent" style="margin-left:4em">
<h2>FAT-CAT  Supplementary Materials</h2>
<ol>
<li><h4><a href="/phylofacts/fatcat/benchmarking.pdf">Comparing the FAT-CAT webserver against other orthology prediction web servers</a></h4></li>
<li><h4><a href="/static/doc/subtree_hmm_benchmarking.pdf">Evaluating ortholog identification accuracy using leave-one-out experiments</a></h4>
</ol>
</div>
{% endblock %}
