{% extends 'common/base_new.html' %}

{% block title %}FAT-CAT Help{% endblock %}

{% block content %}
<div id="maincontent" style="margin-left:4em">
<h2>FAT-CAT Online Help</h2>
<ol>
<li><h4 href="">Using FAT-CAT</h4>
</li>
<ol> 
<li><h5><a href="">Quick-Start Guide</a></h5>
</li>
<li><h5><a href="">Input Form</a></h5>
</li>
<li><h5><a href="">Setting parameters</a></h5>
</li>
<li><h5><a href="">Interpreting results</a></h5>
</li>
</ol>

<li><h4 href="">Details in the FAT-CAT pipeline</h4>
</li>
<ol>
<li><h5><a href="">Pipeline</a></h5>
</li>
<li><h5><a href="">Differences between FAT-CAT and FAST-CAT</a></h5>
</li>
</ol>

<li><h4 href="">FAQs</h4>
</li>
<ol>
<li><h5><a href="">Usage restrictions</a></h5>
</li>
<li><h5><a href="">Interpreting results</a></h5>
</li>
</ol>
</ol>
</div>
{% endblock %}
