{% extends 'common/base_new.html' %}

{% block title %}PhyloFacts password reset{% endblock %}

{% block extrastyle %}
<style>

</style>
{% endblock %}

{% block extrascripts %}
<script type="text/javascript">
$j(document).ready(function() {
    $j('.btn-primary').click(function() {
        $j('.btn-primary').attr('disabled','disabled');
        $j.post('/api/password_reset/', {'email': $j('#email-input').val()}, function(data) {
            if (data.error) {
                $j('.control-group').removeClass('success').addClass('error');
                $j('.help-inline').html(data.message);
            }
            else {
                $j('.control-group').removeClass('error').addClass('success');
                $j('.help-inline').html(data.message);
            }
        });
        $j('.btn-primary').removeAttr('disabled');
    });
});
</script>
{% endblock %}

{% block content %}
<div style="font-family:Verdana; margin-left:15px; margin-right:15px;">
    <h3>PhyloFacts password reset</h3>
    <p>Enter your email address and click the reset button, and a new password will be emailed to you.</p>
    <div class="control-group">
        <label class="control-label" for "email-input">Email Address:</label>
        <div class="controls">
            <input type="text" id="email-input">
            <span class="help-inline"></span>
        </div>
    </div>
    <p><button class="btn btn-primary">Reset</button></p>
</div>
        
{% endblock %}
