      <div id="navbar" class="column">
        <ul>
          <li><a href="/">HOME</a>&nbsp;&nbsp;</li>
          <li><a class="here" href="/">HOME</a>&nbsp;|&nbsp;</li>
          <li><a href="/phylofacts/search/">SEARCH</a>&nbsp;|&nbsp;</li>
          <li><a href="/phylofacts/browse/">BROWSE</a>&nbsp;|&nbsp;</li>
          <li><a href="/">WEBSERVERS</a>&nbsp;|&nbsp;</li>
          <li><a href="/downloads">DOWNLOADS</a>&nbsp;|&nbsp;</li>
          <li><a href="/about">ABOUT</a></li>
        </ul>
      </div>

