{% extends "common/index_base.html" %}

{% block title %}DISCERN Catalytic Site Prediction{% endblock %}

{% block appicon %}/static/img/logos/intrepid.jpg{% endblock %}

{% block apptitle %}DISCERN 1.0 (May 2009){% endblock %}

{% block appdesc %}
    DISCERN (...) is designed to predict catalytic sites in an enzyme...
    <a href="/static/apps/discern/html/about.html">more</a>
{% endblock %}

{% block appname %}DISCERN{% endblock %}
            
{% block citations %}
    <li style="font-size: 10pt;">
        DISCERN... 
        <a href="http://...">REF</a>.
    </li>
{% endblock %}

{% block funding %}
    <li style="font-size: 10pt;">
        The National Human Genome Research Institute, R01,
        <q>High throughput phylogenomic analysis of animal proteins.</q>
    </li>
    <li style="font-size: 10pt;">
        The National Science Foundation, Microbial Genome Sequencing,
        <q>The PhyloFacts phylogenomic encyclopaedia of microbial protein
        families.</q>
    </li>
{% endblock %}

