{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
An example where varying the evolutionary distance parameter yields different results.  (TIM50_HUMAN, distant)
</strong>
</p>
<hr>
<p>
Next select the evoltionary distance to be "distant" from the drop-down menu, and then click the search button.
</p>
<p>
The result now includes a PHOG and table of predicted orthologs (now with 95 orthologs as a result of relaxing the threshold).
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

