{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
Entering a protein sequence in FASTA format.
</strong>
</p>
<hr>
<p>
To enter a query using a FASTA formatted <font size=+1><b>protein sequence</b></font>, type or paste it into the FASTA format entry box.  You can also find an example FASTA formatted sequence by clicking the "FASTA format" link.
</p>
<p>
Click the "Search" button adjacent to the FASTA sequence entry box to initiate the BLAST search for matching proteins.
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

