{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
When you do not have an allowed ID/accession.
</strong>
</p>
<hr>
<p>
In the case that you do not have an allowed ID/accession for your query sequence, you can either search for an allowed ID/accession for the sequence, or you can enter the sequence itself (as described later) in FASTA format.
</p>
<p>
We will use GenBank accession DAA01234 for our example.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

