{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
You can specify a query protein sequence with its ID/accession or in FASTA sequence format.
</strong>
</p>
<hr>
<p>
The query protein sequence can be specified using certain allowed protein IDs/accessions or by entering a sequence in FASTA format.
</p>
<p>
<font color="red">[1]</font> To see which ID/accession types are currently allowed, hover your mouse cursor over the link adjacent to the ID/accession entry box, or click  <a href="/phog/orthologs/faq/#input_types">here</a>.
</p>
<p>
<font color="red">[2]</font> To learn about the FASTA format, click the associated link next to the FASTA format entry box, or click <a href="http://en.wikipedia.org/wiki/Fasta_format" target="_blank">here</a>.  
</p>
<p>
Later in the tutorial, we say more about retrieving a FASTA sequence in the event your sequence ID/accession is not an allowed type.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

