{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
An example where varying the evolutionary distance parameter yields different results.
</strong>
</p>
<hr>
<p>
Using the identifier TIM50_HUMAN as an example, we see that with the evolutionary distance parameter set at 0.0 (so that we are searching for super orthologs), we get the result that TIM50_HUMAN is not contained in any PHOG.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

