{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
This tutorial describes how to use the PhyloFacts Orthology Group Web Server
at the Berkeley Phylogenomics Group.
</strong>
</p>
<hr>
<p>
Navigate the tutorial using the <q><u>Next</u> ></q> and <q>< <u>Previous</u></q> links at the top or bottom of the page.
</p>
<p>
Each page of the tutorial includes a relevant screen shot.  You can view the full size screen shot in a new browser window by clicking on the image.
<p>
If you are interested in learning the ideas and algorithms underlying our
Orthology Group Web Server, please visit the
<a href="/phog/orthologs/faq/">PHOG FAQ</a> page.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>
