{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
Searching UniProt for an allowed ID/accession.
</strong>
</p>
<hr>
<p>
For our example (GenBank accession DAA01234, which is not an allowed identifier for a PHOG search), we mention a couple options for how to proceed.
</p>
<p>
One option is to search UniProt for an allowed ID/accession (<a href="http://www.uniprot.org">http://www.uniprot.org</a>).
</p>
<p>
Just enter the identifier in the UniProt search box and click the search button.
</p>
<p>
This example yields identifiers that are allowed for a PHOG query.  Either the UniProt Accession or ID ("Entry name" on the UniProt web page shown here) can be used to initiate a PHOG search as previously described.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

