{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
Searching for the sequence in FASTA format.
</strong>
</p>
<hr>
<p>
Again using the GenBank accession DAA01234 as an example, you can search for the actual sequence itself.  
</p>
<p>
At the NCBI web site, enter the accession in the search box and select "Protein" from the drop-down menu. 
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>


<html>
<head>
	<title>Quick-start guide to using PHOG</title>
	<link rel="stylesheet" href="phylofacts_help_style.css">
</head>
<body>

<table width="100%">
<tr>
		<td><a href="./page-08.html"><img src="./page-10.png" height=100></a></td>
		<td><center><h1>Quick-start guide to using PHOG</h1></center></td>
		<td><a href="./page-08.html"><img src="./page-10.png" height=100></a></td>
	</tr>
	<tr>
		<td><center> < <a href="./page-08.html">previous</a></center></td>
		<td></td>
		<td><center><a href="./page-10.html">next</a> > </center></td>
	</tr>
</table>
	
<hr>	
<p><a href="./page-09.png" target="_blank"><img src="./page-09.png"  width=600 align="left"/></a></p>
<p><br />
<strong>Searching for the sequence in FASTA format.
  </strong></p>
<p>
<br />
<hr>
Again using the GenBank accession U49845 as an example, you can search for the actual sequence itself.  
</p>
<p>
At the NCBI web site, enter the accession in the search box and select "Nucleotide" from the drop-down menu.  (This accession is for a nucleotide sequence, but searching under "Protein" from the drop-down will still get you link to the proper page.)
</p>
</p>
<hr>
<p>
< <a href="./page-08.html">previous</a> 
<a href="./page-01.html"> 1</a>
<a href="./page-02.html"> 2</a>
<a href="./page-03.html"> 3</a>
<a href="./page-04.html"> 4</a>
<a href="./page-05.html"> 5</a>
<a href="./page-06.html"> 6</a>
<a href="./page-07.html"> 7</a>
<a href="./page-08.html"> 8</a>
9
<a href="./page-10.html"> 10</a>
<a href="./page-11.html"> 11</a>
<a href="./page-10.html"> next</a> >
</p>

</body>
</html>
