{% extends "phog/tutorial/tutorial_bottompagenav.html" %}

{% block content %}
<td>
<p>
<strong>
Selecting the evolutionary distance and initiating the ortholog search.
</strong>
</p>
<hr>
<p>
 <font color="red">[1]</font> You can select the evolutionary distance threshold value by either selecting a pre-loaded value from the drop-down box or by entering a custom value in the threshold entry box. (<font color="red">[2]</font> Click the "evolutionary distance" link to see a description of the pre-loaded values.)  We give an example of results dependant on the evolutionary distance parameter later (jump to <a href="/phog/orthologs/tutorial/?page=9">page 9</a>).
<p>
<font color="red">[3]</font> To initiate the ortholog search, click the "Search" button adjacent to the ID/accession entry box. <font color="red">[4]</font> When you click the "Search" button, you will notice a graphic indicating the search is ongoing.  Once the search is complete, the page will refresh with the results listed below the data entry area.
</p>
<p>
Results based on input IDs/accessions are displayed in two tables, one describing the PHOGs which contain the query sequence and the other describing the sequences predicted to be orthologs or in-species paralogs.
</p>
</td>
</tr>
</table>
<br />
<hr>

{% endblock %}

</body>
</html>

